					
<div class="col-xs-12" style="height: 100%; background-color: #fff; box-shadow: 3px 3px 3px #888888; margin-bottom: 5px; overflow-y: hidden;
padding: 0; display: block; border-radius: 0 13px 13px 13px; min-width: 550px;">

	<div id="tableBody" class="constrained" style="height: calc(100% - 30px); overflow-y: auto; padding: 10px;">

		<table class="table dataTable table-hover" style="margin-bottom: 0;">
			
			<div class="show-on-hover-parent" style="overflow: hidden;" ng-repeat="callReport in $ctrl.callReports | commaDelimitedFilter:$ctrl.textFilter | orderBy:['-callReport.callDate','-callReport.modifyDateTime'] as filteredCallReportList">
				
				<div style="border-top: 1px dashed #ccc; border-bottom: 1px dashed #ccc; margin-top: 5px; padding-left: 15px; margin-right: 10px; display: flex; background-color: #fff" class="show-on-hover-parent">
					<div style="width: 500px; display: inline-block;">
						<div style="margin-top: 10px; margin-bottom: 10px; white-space: nowrap;">
							<b style="font-size: large">Customer: </b>
							<a ng-click="$ctrl.goToPlan(callReport.callReport.planId)" style="font-size: large" class="cursor-pointer" uib-tooltip="Go To Plan" tooltip-append-to-body="true">
								{{callReport.customerName}}</b>
							</a>	
						</div>
						<div style="margin-top: 10px; margin-bottom: 10px; white-space: nowrap;">
							<a ng-click="$ctrl.openCallReport(callReport.callReport.callReportId, callReport.callReport.planId)" style="border-bottom: 2px solid black;" class="cursor-pointer" uib-tooltip="Open Call Report" tooltip-append-to-body="true">
								<b>{{callReport.callReport.callDate | date:'fullDate'}}</b> visit by <b>{{callReport.callReport.reporter}}</b>
							</a>	
						</div>
						<div style="width: 200px; display: inline-block"><b style="padding-right: 10px;">Topic:</b>
							{{callReport.callReport.topic}}
							<span ng-if="!callReport.callReport.topic">None</span>	
						</div>
						<div style="width: 100px; display: inline-block; vertical-align: top"><b style="padding-right: 10px;">Strategy: </b>{{callReport.callReport.strategy.strategy}}</div>
						<div style="margin-top: 10px; margin-bottom: 10px">
							<div style="width: 200px; display: inline-block">
								<b style="padding-right: 10px;">Participants:</b>{{callReport.participants.length}}
							</div>
							<div style="width: 200px; display: inline-block">
								<b style="padding-right: 10px;">Action Items:</b>{{callReport.actionItems.length}}
							</div>
						</div>
						<div style="margin-bottom: 10px">
							<b style="padding-right: 10px;">Attachments:</b>
							<span ng-repeat="document in callReport.documentList track by $index">
								<a class="cursor-pointer" style="font-weight: bold; white-space: nowrap" ng-click="$ctrl.downloadDocument(document, callReport.callReport.planId)">
									{{document.documentName}}.{{document.documentExt}}</a><span ng-if="callReport.documentList.length > 1 && $index !== callReport.documentList.length - 1">, </span>
							</span>
							<span ng-if="!callReport.documentList">None</span>
						</div>
					</div>
					<div style="width: calc(100% - 500px); display: inline-block; vertical-align: top; word-break: break-word; position: relative">
						<div style="padding-right: 22px; padding-top: 10px; padding-bottom: 15px; max-height: 110px; overflow-y: hidden;">
							<span ng-if="callReport.callReport.notes.length < 400" style="font-style: italic; white-space: pre-line">{{callReport.callReport.notes}}</span>
							<span ng-if="!(callReport.callReport.notes.length < 400)" style="font-style: italic">{{callReport.callReport.notes | truncate:false:395:'...'}}</span>
						</div>
						<span ng-if="$ctrl.isAdmin() || $ctrl.isReporter(callReport.callReport)" ng-click="$ctrl.deleteCallReport(callReport.callReport.callReportId, callReport.callReport.planId)" class="show-on-hover text-danger cursor-pointer" style="position: absolute; right: 5px; top: 5px;" uib-tooltip="Discard Report" tooltip-append-to-body="true">
							<i class="far fa-trash-alt"></i>
						</span>
						<div style="position: absolute; right: 0; bottom: 0; font-style: italic; padding-right: 10px;">&mdash;Modified by {{callReport.callReport.modifiedBy}} on {{callReport.callReport.modifyDateTime | date:'short'}}</div>
					</div>
				</div>
			</div>
			<div ng-if="$ctrl.callReports && filteredCallReportList.length == 0 && $ctrl.textFilter != '' && $ctrl.textFilter != null" style="display: flex; flex-direction: column; flex: 1; height: 100%; width: 100%; justify-content: center; align-content: center; align-items: center; text-align: center">
				<span style="font-size: x-large; align-self: center; text-align: center" > No {{$ctrl.isDrafts ? 'Call Report Drafts ' : 'Submitted Call Reports '}} Satisfy Search Criteria:</span>
				<span style="font-size: x-large; align-self: center; text-align: center" >"{{$ctrl.textFilter}}"</span>
			</div>
			<div ng-if="$ctrl.callReports && filteredCallReportList.length == 0 && $ctrl.textFilter == '' || $ctrl.textFilter == null" style="display: flex; flex-direction: column; flex: 1; height: 100%; width: 100%; justify-content: center; align-content: center; align-items: center; text-align: center">
				<span style="font-size: x-large; align-self: center; text-align: center">You Have No {{$ctrl.isDrafts ? 'Call Report Drafts Available' : 'Submitted Call Reports'}}</span>
				<span style="font-size: x-large; align-self: center; text-align: center">Click The Phone Button In The Top Right To Begin A New Call Report</span>
			</div>
			<div ng-if="!$ctrl.callReports" style="display: flex; flex-direction: column; flex: 1; height: 100%; width: 100%; justify-content: center; align-content: center; align-items: center; text-align: center">
				<div class="cssload-loader">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
			</div>
		</table>
	</div>

	<div style="margin-bottom: 5px; font-size: 13px; padding-top: 5px" class="table-footer">
		<span class="pull-left" style="margin-right: 5px; padding-left: 15px;">{{$ctrl.callReports.length}} {{$ctrl.isDrafts? 'Drafts': 'Call Reports'}}&nbsp;&nbsp;-&nbsp;&nbsp;Filtered By:</span>
		<span ng-if="$ctrl.searchCriteria.showMine" class="badge">
			Mine Only
		</span>
		<span style="display: inline-block; white-space: nowrap" ng-if="!$ctrl.searchCriteria.showMine">
			<span ng-if="$ctrl.searchCriteria.planId" class="badge">
				{{$ctrl.searchCriteria.customerName}}&nbsp;
			</span>
			<span ng-if="!$ctrl.searchCriteria.fullName && $ctrl.searchCriteria.selectedBranches && $ctrl.searchCriteria.selectedBranches.length > 0" class="badge">
				{{$ctrl.searchCriteria.selectedBranches[0]}}
			</span>
			<span ng-if="!$ctrl.searchCriteria.fullName && $ctrl.searchCriteria.selectedCorpId" class="badge">
				{{$ctrl.searchCriteria.selectedCorpId.corpId}} | {{$ctrl.searchCriteria.selectedCorpId.customerName}}
			</span>
			<span ng-if="$ctrl.searchCriteria.fullName" class="badge">
				{{$ctrl.searchCriteria.fullName}}
			</span>
		</span>
		<span ng-if="$ctrl.searchCriteria.startDate || $ctrl.searchCriteria.endDate" class="badge">
			{{$ctrl.searchCriteria.startDate? ($ctrl.searchCriteria.startDate | date:'MM/dd/yy') : 'Dawn of Time' }} - {{$ctrl.searchCriteria.endDate? ($ctrl.searchCriteria.endDate | date:'MM/dd/yy') : 'Present'}}&nbsp;
		</span>
		<span ng-if="$ctrl.textFilter !== ''" class="badge client-filter">
			"{{$ctrl.textFilter}}"&nbsp;
			<span uib-tooltip="Remove Filter" tooltip-append-to-body="true" ng-click="$ctrl.textFilter = ''; $ctrl.saveFilterText()" class="cursor-pointer">
				<i class="fas fa-times-circle"></i>
			</span>
		</span>
	</div>

</div>

<!-- 
<div id="tableFooter" ng-if="!$ctrl.isFSR() && $ctrl.callReports.length > 0">
	<table class="table" style="margin-bottom: 0; width: 100%; table-layout: fixed;">
		<tfoot class="table-footer">
			<tr>
				<td style="text-align: left">Call Reports:&nbsp;&nbsp;
					<span ng-if="!$ctrl.callReports || $ctrl.callReports.length == 0">None</span>
					<span ng-if="$ctrl.callReports && $ctrl.callReports.length > 0">{{$ctrl.callReports.length}}</span>
				</td>
			</tr>
		</tfoot>
	</table>
</div>
 -->

<style>
.flex-custom-full {
	height: 100%;
	width: 100%;
	display: flex;
	flex:1;
	flex-direction: column;
}

#loadingMessage {
	min-width: 220px;
	margin-left: -125px;
	background-color: #337AB7;
	color: white;
	font-size: 16px;
	text-align: center;
	border-radius: 10px;
	padding: 12px;
	position: fixed;
	z-index: 1000;
	left: 50%;
	bottom: 0px;
	opacity: 0;
	-webkit-transition: all 0.2s linear;
	   transition: all 0.2s linear;
}

#loadingMessage.show {
	bottom: 30px;
	opacity: 1;
}
	
.tooltip-350width > .tooltip-inner {
	max-width: 350px !important;
	white-space: pre-wrap;
}
	</style>