	<table style="margin-top: 10px; margin-bottom: 10px; table-layout: fixed; width: 100%">
		<tbody>
			<tr>
				<td style="width: 10%; text-align: left">
					{{$ctrl.callReport.callReport.reporter}}
				</td>
				<td style="width: 20%; text-align: left">
					<a ng-click="$ctrl.goToPlan($ctrl.callReport.callReport.planId)" style="" class="cursor-pointer" uib-tooltip="Go To Plan" tooltip-append-to-body="true">
						{{$ctrl.callReport.customerName}}</b>
					</a>	
				</td>
				<td style="width: 5%; text-align: left">
					<b>{{$ctrl.callReport.callReport.callDate | date:'shortDate'}}</b>
				</td>
				<td style="width: 30%; text-align: left; padding-left: 10px">
					<a ng-click="$ctrl.openCallReport($ctrl.callReport.callReport.callReportId, $ctrl.callReport.callReport.planId)" style="" class="cursor-pointer" uib-tooltip="Open Call Report" tooltip-append-to-body="true">
						<b>{{$ctrl.callReport.callReport.topic}}
						<span ng-if="!$ctrl.callReport.callReport.topic">None</span></b>
					</a>	

				</td>
				<td style="text-align: center; padding-left: 10px">
					{{$ctrl.callReport.callReport.strategy.strategy}}
				</td>
				<td style="text-align: center">
					{{$ctrl.callReport.participants.length}}
				</td>
				<td style="text-align: center">
					{{$ctrl.callReport.actionItems.length}}				
				</td>
				<td style="text-align: center; padding-left: 6px">
					<span ng-if="$ctrl.callReport.documentList && $ctrl.callReport.documentList.length > 0">{{$ctrl.callReport.documentList.length}}</span>
					<span ng-if="!$ctrl.callReport.documentList || $ctrl.callReport.documentList <= 0">None</span>
				</td>
			</tr>
		</tbody>
	</table>







<script type="text/ng-template" id="multipleIsrList.html">
	<div>
	<span style="display: block" ng-repeat="isr in tmwItem.insideSalesPersonList">{{isr | titlecase}}</span>
	</div>
</script>


<script>
	function openNav() {
		document.getElementById("notesPanel").style.width = "400px";
		document.getElementById("main").style.marginRight = "330px";
	}

	function closeNav() {
		document.getElementById("notesPanel").style.width = "50px";
		document.getElementById("main").style.marginRight = "0";
	}
</script>

<style>
	.branch-selector>.dropdown-menu {
		max-height: 400px;
		overflow-y: auto;
	}
	
lookup-user>input {
	margin-bottom: 2px;
}

	.notesPanel {
		height: 100%;
		width: 0px;
		position: relative;
		z-index: 0;
		background-color: transparent;
		overflow-x: hidden;
		transition: 0.5s;
		margin-top: 15px;
		margin-right: -32px;
		margin-left: 0px;
		overflow-y: hidden;
	}

	#tmw-table {
		transition: margin-right .5s;
	}

	tfoot>tr>td {
		padding-bottom: 0px !important;
	}

	td>.form-control {
		height: 25px;
		width: 50px;
		margin: 0;
		padding-right: 5px;
		padding-left: 5px;
		padding-top: 0px;
		padding-bottom: 0px;
	}

	#snackbar {
		visibility: hidden;
		min-width: 250px;
		margin-left: -125px;
		background-color: #337AB7;
		color: white;
		font-size: 16px;
		text-align: center;
		border-radius: 10px;
		padding: 16px;
		position: fixed;
		z-index: 1000;
		left: 50%;
		bottom: 30px;
	}

	#snackbar.show {
		visibility: visible;
		-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
		animation: fadein 0.5s, fadeout 0.5s 2.5s;
	}

	/* Animations to fade the snackbar in and out */
	@-webkit-keyframes fadein {
		from {
			bottom: 0;
			opacity: 0;
		}

		to {
			bottom: 30px;
			opacity: 1;
		}
	}

	@keyframes fadein {
		from {
			bottom: 0;
			opacity: 0;
		}

		to {
			bottom: 30px;
			opacity: 1;
		}
	}

	@-webkit-keyframes fadeout {
		from {
			bottom: 30px;
			opacity: 1;
		}

		to {
			bottom: 0;
			opacity: 0;
		}
	}

	@keyframes fadeout {
		from {
			bottom: 30px;
			opacity: 1;
		}

		to {
			bottom: 0;
			opacity: 0;
		}
	}
</style>
