
<div class="flex-custom-full" style="flex:1;display:flex;">

	<div class="row hidden-print">
		<div class="col-lg-12 col-md-12 col-sm-12">	
			<div class="page-nav" bs-affix data-offset-top="50" style="display: flex; flex-direction: row; justify-content: space-between; padding-left: 15px">
				
				<div style="flex:1">
					<span class="page-nav-brand">
						Call Reports
					</span>
				</div>
				
				<div style="flex:1; flex-direction: row; display: flex; justify-content: center">
			
				<div class="input-group" style="width: 100%; min-width: 250px; max-width: 400px; padding-top: 17px; position: relative !important">
					<input ng-model="$ctrl.textFilter" ng-model-options="{debounce: 300}" ng-change="$ctrl.saveFilterText();" placeholder="Filter Call Reports..." class="form-control"/>
					<span class="input-group-addon cursor-pointer" style="padding: 6px 7px !important;"
					 uib-tooltip="This field supports comma-delimited filters.&#13;&#10; e.g. &quot;filter 1, filter 2, filter 3&quot;"
					 tooltip-append-to-body="true" tooltip-class="tooltip-350width">
						<i class="fas fa-info-circle fa-lg"></i>
					</span>
				</div>
	
				</div>
	
				<div id="btn-call-report-add" style="justify-content: center; align-self: flex-end; flex:1; text-align: right; height: 100%">
					<div style="right: 30px; top: 0; position: absolute;">
	           			<a ng-click="$ctrl.openCallReport()" class="cursor-pointer" style="margin-right: 15px" uib-tooltip="Create Call Report" tooltip-placement="left" tooltip-append-to-body="true"> 
							<i class="fas fa-phone-plus fa-2x" style="vertical-align: middle"></i>
						</a>
	           			<button ng-click="$ctrl.searchCallReports()" class="btn btn-primary" style="vertical-align: top; margin-top: 17px; margin-left: 15px">Search&nbsp;&nbsp;<i class="far fa-search"></i></button>
           		    </div>
				</div>
	
	
			</div>
		</div>
	</div>

	<div class="row" style="margin: 20px 0px 0 0px; height: calc(100% - 146px); position: relative;">
		
			<uib-tabset class="flex-custom-full" style="width:100%; padding-left:0; padding-right:0" active="$ctrl.activeTabIndex">
				
				<uib-tab index="0" style="text-align: center" ng-click="$ctrl.selectTab('drafts');">
					<uib-tab-heading style="font-weight: 500">
						Drafts
					</uib-tab-heading>
					<call-report-list
						class="flex-custom-full" 
						is-drafts=true 
						text-filter="$ctrl.textFilter" 
						call-reports="$ctrl.callReportDrafts" 
						search-criteria="$ctrl.searchCriteria"
					/>     
				</uib-tab>

				<uib-tab index="1" style="text-align: center" ng-click="$ctrl.selectTab('submitted');">
					<uib-tab-heading style="font-weight: 500">
						Submitted
					</uib-tab-heading>
					<call-report-list 
						class="flex-custom-full" 
						is-drafts=false
						text-filter="$ctrl.textFilter" 
						call-reports="$ctrl.submittedCallReports"
						search-criteria="$ctrl.searchCriteria"
					/>     
				</uib-tab>

			</uib-tabset>

	</div>

</div>

<style>

	.flex-custom-full {
		height: 100%;
		width: 100%;
		display: flex;
		flex:1;
		flex-direction: column;
	}

	.tab-content {
		height: 100%;
	}
	.tab-pane {
		height: 100%;
	}
	
	#loadingMessage {
		min-width: 220px;
		margin-left: -125px;
		background-color: #337AB7;
		color: white;
		font-size: 16px;
		text-align: center;
		border-radius: 10px;
		padding: 12px;
		position: fixed;
		z-index: 1000;
		left: 50%;
		bottom: 0px;
		opacity: 0;
		-webkit-transition: all 0.2s linear;
		   transition: all 0.2s linear;
	}
	
	#loadingMessage.show {
		bottom: 30px;
		opacity: 1;
	}
	
	
	</style>