<div class="modal-header bg-primary wrapper-sm text-center">
	<button class="close pull-right" type="button" ng-click="$ctrl.cancel()">&times;</button>
	<p class="modal-title">{{$ctrl.title}}</p>
</div>
<div class="modal-body">
	<error-modal ng-model="$ctrl.clientError"></error-modal>
	<div ng-show="!$ctrl.clientError.message" style="margin-bottom: 15px;">
		<form name="$ctrl.customerForm" novalidate>
			<fieldset>							
				<div class="form-group col-sm-12">
					<label>Customer Name:</label>
					<input autocomplete="off" type="text" id="customerNameInput" ng-model="$ctrl.pendingCustomer.customerName"
					  char-limit-label limit="50" show-on-focus="true" class="form-control" required />
				</div>
				
				<div class="form-group col-sm-12">
					<label>City:</label>
					<input autocomplete="off" type="text" ng-model="$ctrl.pendingCustomer.city" class="form-control"
					 char-limit-label limit="50" show-on-focus="true"/>
				</div>
				
				<div class="form-group col-sm-6">
					<label>State:</label>
					<input autocomplete="off" type="text" ng-model="$ctrl.pendingCustomer.state" class="form-control"
					 char-limit-label limit="40" show-on-focus="true"/>
				</div>
				
				<div class="form-group col-sm-6">
					<label>Country:</label>
					<input autocomplete="off" type="text" ng-model="$ctrl.pendingCustomer.country" class="form-control"
					 char-limit-label limit="40" show-on-focus="true"/>
				</div>

				<div class="form-group col-sm-12">
					<label>Postal Code</ label>&nbsp;&nbsp;
					<label style="font-weight: 400; font-style: italic">(XXXXX or XXXXX-XXXX):</label>
					<input autocomplete="off" type="text" ng-model="$ctrl.pendingCustomer.postalCode" class="form-control"
					 style="width: 50%" maxlength="10" ng-pattern="/^(\d{5}(-\d{4})?|[A-Z]\d[A-Z] *\d[A-Z]\d)$/" show-on-focus="true"/>
				</div>

				<div class="form-group col-sm-6">
					<label>Branch:</label>
					<select name="branch" ng-model="$ctrl.pendingCustomer.branch" class="form-control"
					 ng-options="' (' + branch.branch + ' | ' + branch.entity + ') ' + branch.branchName for branch in $ctrl.branches track by branch.branchID"
					 required></select>	
				</div>
				
				<div class="form-group col-sm-6">
					<label>Market Segment:</label>
					<select name="marketSegment" ng-model="$ctrl.pendingCustomer.marketSegment" class="form-control"
				     ng-options="marketSegment.marketSegment + ' (' + marketSegment.marketSegmentCode + ')' for marketSegment in $ctrl.marketSegments track by marketSegment.marketSegmentID"
				     required></select>
				</div>

			</fieldset>
		</form>
	</div>

</div>
<div class="modal-footer" style="margin-top: 0;">
	<button class="btn btn-primary" ng-click="$ctrl.submit()" ng-disabled="$ctrl.customerForm.$invalid">		
		Submit
	</button>
	<button class="btn btn-default" ng-click="$ctrl.cancel()">
		Cancel
	</button>
</div>