<form id="newCommentForm" name="$ctrl.newCommentForm">
	<div class="row" style="margin-top: 0;">
		<div class="col-lg-6">
			<div class="form-group" style="position: relative;">
				<textarea placeholder="Enter comment here..." 
					wrap="soft" rows="5" ng-model="$ctrl.ngModel.newsFeed"
					class="form-control" ng-blur="$ctrl.changes()"
					char-limit-label limit="4000">
				</textarea>
			</div>	
		</div>
		
		<div class="col-lg-5" ng-if="$ctrl.showDocumentPanel">
			<div class="form-group">
				<drag-drop level="$ctrl.level" on-drop="$ctrl.addFile(file)"></drag-drop>
				<upload-file style="margin-top: 5px;"></upload-file>
			</div>
		</div>
		<div class="col-lg-1" style="padding-left: 0;">
			<button class="btn btn-primary btn-sm" style="width: 100%;" ng-click="$ctrl.save($ctrl.ngModel)" ng-disabled="$ctrl.disableSave() || !$ctrl.newCommentForm.$valid">
				Save
			</button>
			<button class="btn btn-default btn-sm" style="margin-top: 10px; width: 100%; padding-left: 0; padding-right: 0;" ng-click="$ctrl.cancel()">
				Cancel
			</button>
			
		</div>
	</div> 						
</form>