<div class="modal-header bg-primary wrapper-sm text-center">
	<button class="close pull-right" type="button" ng-click="$ctrl.cancel()">&times;</button>
	<p class="modal-title">Add Business Partner</p>
</div>
<div class="modal-body">
	<error-modal ng-model="$ctrl.clientError"></error-modal>
	<div ng-show="!$ctrl.clientError.message">
		<form name="$ctrl.newBusinessPartner">
			<fieldset>							
				<div class="form-group" style="margin: 0;">
<!-- 					<label for="acctCorpId">Partner:</label> -->
					<lookup-plan ng-model="$ctrl.businessPartner.customerName" min-length="3" input-id="'businessPartnerLookup'" business-partners="true" lookup-placeholder="'Search by Name or Acct. #'" tooltip-text="'Search customers by Name or Acct #'" on-select="$ctrl.selectBusinessPartner($item)"></lookup-plan>
				</div>
			</fieldset>
		</form>
		<span style="display: inline-block; width: 100%; font-size: 13px; text-align: right">
			<a class="cursor-pointer" ng-click="$ctrl.createNewCustomer()">Submit New Customer...</a>
		</span>
<!-- 		<label ng-if="$ctrl.familyList.length > 1" style="margin-right: 10px; margin-top: 18px;">Do you know the Branch?</label> -->
<!-- 		<div ng-if="$ctrl.familyList.length > 1" style="display: inline-block;" id="scrollable-dropdown-menu" uib-dropdown> -->
<!-- 			<button type="button" class="btn btn-default" uib-dropdown-toggle> -->
<!-- 	        	{{$ctrl.businessPartner.branch}}<span style="margin-left: 8px;" class="caret"></span> -->
<!-- 	      	</button> -->
	      	
<!-- 	      	<ul class="dropdown-menu" id="family-button" uib-dropdown-menu style="width: 300px;">				      	 -->
<!-- 	        	<li ng-repeat="family in $ctrl.familyList" aria-labelledby="family-button" style="padding: 0; border-bottom: 1px dashed #ccc;"> -->
<!-- 	        		<a ng-href class="cursor-pointer" ng-click="$ctrl.selectPartnerPlan(family)" style="padding: 3px 5px;"> -->
<!-- 	        			<h5 style="margin-top: 0;"> -->
<!-- 	        				<span ng-if="family.planTypeId === 0 || family.planTypeId === 1"> -->
<!-- 								<i class="fa fa-globe"></i>				 -->
<!-- 								- {{family.customerName}} -->
<!-- 							</span> -->
<!-- 							<span ng-if="family.planTypeId === 2">				 -->
<!-- 								<strong>NDC</strong> - {{family.customerName}} -->
<!-- 							</span> -->
<!-- 							<span ng-if="family.planTypeId === 3">				 -->
<!-- 								<strong>EDC</strong> - {{family.customerName}} -->
<!-- 							</span> -->
<!-- 							<span ng-if="family.planTypeId === 4">				 -->
<!-- 								<strong>ADC</strong> - {{family.customerName}} -->
<!-- 							</span> -->
<!-- 							<span ng-if="family.planTypeId === 5"> -->
<!-- 								<strong>{{family.branch}}</strong> -->
<!-- 								- {{family.customerName}} -->
<!-- 							</span> -->
<!-- 	        			</h5> -->
<!-- 	        			<h6 style="margin-bottom: 0;">				        				   -->
<!-- 							Owner: {{family.owner | titlecase}} <br> -->
<!-- 							Run Rate: {{family.totalRunRate | currency:'$':0}} -->
<!-- 	        			</h6> -->
<!-- 	        		</a> -->
<!-- 	        	</li> -->
<!-- 	      	</ul> -->
<!-- 		</div>	 -->
	</div>
</div>
<div class="modal-footer" style="margin-top: 0;">
	<button class="btn btn-primary" ng-disabled="$ctrl.businessPartner.partnerPlan === undefined" ng-click="$ctrl.add()">		
		Add
	</button>
	<button class="btn btn-default" ng-click="$ctrl.cancel()">
		Cancel
	</button>
</div>
