<div id="snackbar"><b>Changes Saved.</b></div>
<div class="row">
	<div class="col-xs-12">
		<div class="page-nav" bs-affix data-offset-top="50" ng-switch="$ctrl.search">
			<span class="page-nav-brand">
				Territory Management Worksheet
			</span>
			<div ng-switch-when="true" style="float: left; height: 100%; width: 200px; white-space: nowrap">
				<lookup-user style="width: 100%; display: inline-block; vertical-align: middle" ng-model="$ctrl.osrSelected"
				 min-length="2" osr="true" placeholder="'Search OSR by last name...'" on-select="$ctrl.selectFsr($item.fullName, $item.branchLocation)"></lookup-user>
			</div>
			<div ng-if="$ctrl.branchList && $ctrl.branchList.length > 1" style="float: left; margin-right: 10px;">
				<form ng-submit="$ctrl.selectBranch($ctrl.inputBranch)">
					<div style="height: wrap;" class="btn-group branch-selector" uib-dropdown>
						<input id="branchSelector" type="text" maxlength="2" autocomplete="off" style="text-transform:uppercase; width: 50px;"
						 ng-model="$ctrl.inputBranch" class="form-control" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
						 uib-dropdown-toggle placeholder="{{$ctrl.selectedBranch}}" ng-click="$ctrl.inputBranch = '';">
						<ul uib-dropdown-menu ng-show="filtered.length > 0">
							<li ng-repeat="branch in $ctrl.branchList | filter:$ctrl.inputBranch:startsWith | orderBy:'toString()' as filtered" ng-click="$ctrl.selectBranch(branch, true); $ctrl.selectedFsr.name = 'Select FSR'"><a>{{branch}}</a></li>
						</ul>
					</div>
				</form>
			</div>
			<div style="display: inline-block; float: left; padding-right: 10px;" ng-if="$ctrl.corpIdList.length === 1">
				<label>Corp ID: </label><span>&nbsp;&nbsp;{{$ctrl.inputCorpId}}&nbsp;&nbsp;</span>
			</div>
			<div style="display: inline-block; float: left; padding-right: 10px;" ng-if="$ctrl.corpIdList.length > 1">
				<div style="height: wrap;" class="btn-group branch-selector" uib-dropdown>
					<input id="corpIdSelector" type="text"  autocomplete="off" style="text-transform:uppercase; width: 200px;"
					 ng-model="$ctrl.inputCorpId" class="form-control" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
					 uib-dropdown-toggle placeholder="{{$ctrl.selectedCorpId.corpId}} | {{$ctrl.selectedCorpId.customerName}}" ng-click="$ctrl.inputCorpId = '';">
					<ul uib-dropdown-menu ng-show="filtered.length > 0" style="max-height: 300px; overflow-y: auto">
						<li ng-repeat="corpId in $ctrl.corpIdList | filter:$ctrl.inputCorpId as filtered" ng-click="$ctrl.selectCorpId(corpId, true);"><a>{{corpId.corpId}} | {{corpId.customerName}}</a></li>
					</ul>
				</div>
			</div>
			<div ng-switch-when="false" ng-if="!$ctrl.isFSR()" style="float: left">
				<div ng-if="$ctrl.fsrList.length > 0" style="height: wrap;" class="btn-group" uib-dropdown>
					<button class="form-control" id="fsrDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
					 uib-dropdown-toggle>
						{{$ctrl.selectedFsr.name | titlecase}}
						<span class="caret"></span>
					</button>
					<ul uib-dropdown-menu>
						<li ng-repeat="fsr in $ctrl.fsrList | orderBy:'toString()'" ng-click="$ctrl.selectFsr(fsr, null)" ng-if="fsr !== $ctrl.selectedFsr.name"><a>{{fsr | titlecase}}</a></li>
					</ul>
				</div>
				<div ng-if="$ctrl.fsrList.length === 0" style="height: wrap;">
					No FSRs available at selected {{$ctrl.selectedCorpId? 'Corp ID' : 'branch'}}.
				</div>
			</div>
			<div style="float: left; margin-left: 10px;">
				<div ng-if="$ctrl.quarters.length > 1" style="height: wrap;" class="btn-group" uib-dropdown>
					<button class="form-control" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" uib-dropdown-toggle>
						Q{{$ctrl.selectedQuarter.quarter}} | {{$ctrl.selectedQuarter.year}}
						<span class="caret"></span>
					</button>
					<ul uib-dropdown-menu>
						<li ng-repeat="quarter in $ctrl.quarters" ng-click="$ctrl.selectQuarter(quarter.year, quarter.quarter)" ng-if="quarter.quarter !== $ctrl.selectedQuarter.quarter"><a>Q{{quarter.quarter}} | {{quarter.year}}</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<form name="$ctrl.TMWForm" confirm-on-exit>
	<div class="row hidden-print" style="margin-top: 15px;">
		<div class="col-xs-12">
			<div class="page-nav-btn-group">
				<button id="btn-edit" ng-disabled="!$ctrl.TMWForm.$dirty" class="btn btn-default" ng-click="$ctrl.reset()">Reset</button>
				<button id="btn-update" class="btn btn-success" ng-click="$ctrl.saveTmw();" ng-disabled="!$ctrl.TMWForm.$dirty || !$ctrl.TMWForm.$valid">Save
					Changes</button>
			</div>
			<div ng-if="$ctrl.tmwItems.length > 0" class="pull-right">
				<button class="btn btn-primary" style="margin-right: 20px" ng-click="$ctrl.notesOpen = !$ctrl.notesOpen; $ctrl.toggleNotes()">
					Notes <i class="far fa-edit fa-1x"></i>
				</button>
			</div>
		</div>
	</div>

	<div id="tmw-table" ng-style="{'margin-right': $ctrl.pageMargin + 'px'}">
		<div class="col-lg-12 rounded-corners bg-white" style="margin-top: 15px; padding-top: 15px; padding-bottom: 5px; float: left">
			<table class="table" style="margin-bottom: 0px; table-layout: fixed; width:100%">
				<thead>
					<tr class="table-header plans-header hidden-print">
						<th style="width: 5%; border-bottom: 0px;"></th>
						<th style="width: 3%; border-bottom: 0px;"></th>
						<th style="width: 3%; border-bottom: 0px;"></th>
						<th style="width: 3%; border-bottom: 0px;"></th>
						<th style="width: 7.5%; border-bottom: 0px;"></th>
						<th style="width: 5.5%; border-bottom: 0px;"></th>
						<th style="width: 4.5%; border-bottom: 0px;"></th>
						<th colspan="2" style="width: 9%; text-align: center; border-left: 1px solid #ccc; border-right: 1px solid #ccc; border-bottom: 0px;">Market
							Share</th>
						<th style="width: 4%; border-bottom: 0px;"></th>
						<th colspan="4" style="width: 12.5%; text-align: center; border-left: 1px solid #ccc; border-bottom: 0px;">Quarterly
							Customer Visits</th>
					</tr>
					<tr class="table-header plans-header hidden-print">
						<th style="width: 5%;">
							<a style="cursor:pointer; margin-left: 20px" ng-click="$ctrl.sort.order('insideSalesPerson',!$ctrl.sort.reverse)">ISR</a>
							<span class="sortorder" ng-show="$ctrl.sort.type === 'insideSalesPerson'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
						</th>
						<th style="width: 3%; text-align:center">
							<a style="cursor:pointer;" ng-click="$ctrl.sort.order('marketSegmentCode',!$ctrl.sort.reverse)">M/S</a>
							<span class="sortorder" ng-show="$ctrl.sort.type === 'marketSegmentCode'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
						</th>
						<th style="width: 3%; text-align:center">
							<a style="cursor:pointer;" ng-click="$ctrl.sort.order('customerPosition',!$ctrl.sort.reverse)">D-E-R</a>
							<span class="sortorder" ng-show="$ctrl.sort.type === 'customerPosition'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
						</th>
						<th style="width: 3%; text-align:center">
							<a style="cursor:pointer;" ng-click="$ctrl.sort.order('customerBondIndicator',!$ctrl.sort.reverse)">AIM</a>
							<span class="sortorder" ng-show="$ctrl.sort.type === 'customerBondIndicator'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
						</th>
						<th style="width: 7.5%;">
							<a style="cursor:pointer;" ng-click="$ctrl.sort.order('customerName',!$ctrl.sort.reverse)">Customer Name</a>
							<span class="sortorder" ng-show="$ctrl.sort.type === 'customerName'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
						</th>
						<th style="width: 5.5%; text-align:right; padding-right: 15px">
							<a style="cursor:pointer;" ng-click="$ctrl.sort.order('dsam',!$ctrl.sort.reverse)">DSAM</a>
							<span class="sortorder" ng-show="$ctrl.sort.type === 'dsam'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
						</th>
						<th style="width: 4.5%; text-align:right; padding-right: 15px">
							<a style="cursor:pointer;" ng-click="$ctrl.sort.order('totalRunRate',!$ctrl.sort.reverse)">Run Rate</a>
							<span class="sortorder" ng-show="$ctrl.sort.type === 'totalRunRate'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
						</th>
						<th style="width: 4.5%; border-left: 1px solid #ccc; text-align:center;">
							<a style="cursor:pointer;" ng-click="$ctrl.sort.order('marketShare',!$ctrl.sort.reverse)">Current Qtr</a>
							<span class="sortorder" ng-show="$ctrl.sort.type === 'marketShare'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
						</th>
						<th style="width: 4.5%; border-right: 1px solid #ccc; text-align:center;">
							<a style="cursor:pointer;  text-align:center" ng-click="$ctrl.sort.order('prevQuarterMS',!$ctrl.sort.reverse)">Previous
								Qtr</a>
							<span class="sortorder" ng-show="$ctrl.sort.type === 'prevQuarterMS'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
						</th>
						<th style="width: 4%; text-align:center">
							<a style="cursor:pointer;" ng-click="$ctrl.sort.order('dregCount',!$ctrl.sort.reverse)">#Dregs</a>
							<span class="sortorder" ng-show="$ctrl.sort.type === 'dregCount'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
						</th>
						<th style="width: 3%; text-align:center; border-left: 1px solid #ccc; padding-right: 10px;">
							<a style="cursor:pointer;" ng-click="$ctrl.sort.order('monthOneVisits',!$ctrl.sort.reverse)">{{$ctrl.monthOne}}</a>
							<span class="sortorder" ng-show="$ctrl.sort.type === 'monthOneVisits'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
						</th>
						<th style="width: 3%; text-align:center; padding-right: 15px;">
							<a style="cursor:pointer;" ng-click="$ctrl.sort.order('monthTwoVisits',!$ctrl.sort.reverse)">{{$ctrl.monthTwo}}</a>
							<span class="sortorder" ng-show="$ctrl.sort.type === 'monthTwoVisits'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
						</th>
						<th style="width: 3%; text-align:center; padding-right: 25px;">
							<a style="cursor:pointer;" ng-click="$ctrl.sort.order('monthThreeVisits',!$ctrl.sort.reverse)">{{$ctrl.monthThree}}</a>
							<span class="sortorder" ng-show="$ctrl.sort.type === 'monthThreeVisits'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
						</th>
						<th style="width: 3.5%; text-align:left; padding-left: 5px">
							<a style="cursor:pointer;" ng-click="$ctrl.sort.order('totalVisits',!$ctrl.sort.reverse)">Target</a>
							<span class="sortorder" ng-show="$ctrl.sort.type === 'totalVisits'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
						</th>
					</tr>
				</thead>
			</table>
			<div style="height: 485px; overflow-y: scroll; overflow-x: hidden;">
				<table class="table table-hover" style="margin: 0; table-layout: fixed; width:100%">
					<tbody>
						<tr class="no-hover-muted" ng-if="!$ctrl.tmwItems">
							<td colspan=14>
								<div class="cssload-loader">
									<div></div>
									<div></div>
									<div></div>
									<div></div>
									<div></div>
									<div></div>
									<div></div>
									<div></div>
								</div>
							</td>
						</tr>
						<tr class="hidden-print no-hover-muted" ng-if="$ctrl.tmwItems.length === 0">
							<td style="padding-top: 160px;" colspan="14" class="text-center text-muted">
								<span ng-if="$ctrl.selectedFsr.name !== 'Select FSR'">
									<span>
										<i class="fal fa-frown fa-4x"></i>
									</span>
									<span style="font-size: xx-large; display: block;">
										No TMW Plans to Show
									</span>
								</span>
								<span ng-if="$ctrl.selectedFsr.name === 'Select FSR'">
									<span>
										<i class="fas fa-user-tie fa-5x"></i>
									</span>
									<span style="font-size: xx-large; display: block;">
										Please Select a Sales Representative.
									</span>
								</span>
							</td>
						</tr>
						<tr ng-repeat="tmwItem in $ctrl.tmwItems | orderBy: $ctrl.sort.type : $ctrl.sort.reverse">
							<td style="width: 5%; word-break: break-word;" ng-show="!tmwItem.$dirty()">
								<span ng-if="tmwItem.insideSalesPersonList.length === 1">{{tmwItem.insideSalesPerson | titlecase}}</span>
								<span ng-if="tmwItem.insideSalesPersonList.length > 1" uib-popover-template="$ctrl.isrPopover[0].templateUrl"
								 popover-trigger="'mouseenter'" class="cursor-pointer">
									Multiple ISR
								</span>
							</td>
							<td style="width: 3%; text-align:center;">{{tmwItem.marketSegmentCode}}</td>
							<td style="width: 3%; text-align:center;">
								<span ng-class="$ctrl.positionLabel(tmwItem.customerPosition)" uib-tooltip="{{tmwItem.customerPosition}}">{{tmwItem.customerPosition.substring(0,1)}}</span>
							</td>
							<td style="width: 3%; text-align:center; padding-left: 15px;">{{tmwItem.customerBondIndicator}}</td>
							<td style="width: 7.5%; word-break: break-word"><a ui-sref="businessPlan({planId: tmwItem.planId})" style="cursor:pointer;">{{tmwItem.customerName}}</a></td>
							<td style="width: 5.5%; text-align: right;">{{tmwItem.dsam | currency:"$":0}}</td>
							<td style="width: 4.5%; text-align: right;">{{tmwItem.totalRunRate | currency:"$":0}}</td>
							<td style="width: 3.5%; text-align: right; white-space: nowrap; padding-right: 0px;">
								<span style="margin-right: 3px;">
									{{tmwItem.marketShare | number:0}}%
								</span>
							</td>
							<td style="width: 1%; text-align: left; padding-left: 0px;">
								<i ng-if="Math.round(tmwItem.marketShare) > Math.round(tmwItem.prevQuarterMarketShare)" style="color: #5cb85c" class="fas fa-caret-up"></i>
								<i ng-if="Math.round(tmwItem.marketShare) < Math.round(tmwItem.prevQuarterMarketShare)" style="color: red" class="fas fa-caret-down"></i>
							</td>
							<td style="width: 4.5%; text-align: center; padding-left: 25px">{{tmwItem.prevQuarterMarketShare| number:0}}%</td>
							<td style="width: 4%; text-align: center; padding-left: 35px">{{tmwItem.dregCount | number}}</td>
							<td style="width: 3%; text-align: right; padding-right: 0px;">
								<span style="margin-right: 15px;" tooltip-enable="tmwItem.monthOneLastUpdate" uib-tooltip="Modified: {{tmwItem.monthOneLastUpdate | date}}"
								 tooltip-placement="above" tooltip-append-to-body="true">{{tmwItem.monthOneVisits}}</span>
<!-- 								<input class="form-control pull-right" onclick="select()" type="number" min="0" max="99" tooltip-enable="tmwItem.monthOneLastUpdate" -->
<!-- 								 uib-tooltip="Last Modified: {{tmwItem.monthOneLastUpdate | date}}" tooltip-placement="above" -->
<!-- 								 tooltip-append-to-body="true" ng-if="$ctrl.canEdit() && !$ctrl.isBeta()" ng-change="tmwItem.monthOneLastUpdate = $ctrl.getDate(); $ctrl.updateYTD(tmwItem); tmwItem.changed = true;" -->
<!-- 								 ng-model="tmwItem.monthOneVisits" ng-style="{ 'background' : (tmwItem.monthOneVisits >= 0 && tmwItem.monthOneVisits < 100 && tmwItem.monthOneVisits != null) ? 'white' : '#ff9999' }"> -->
							</td>
							<td style="width: 3%; text-align: right; padding-right: 0px;">
								<span style="margin-right: 15px;" tooltip-enable="tmwItem.monthTwoLastUpdate" uib-tooltip="Modified: {{tmwItem.monthTwoLastUpdate | date}}"
								 tooltip-placement="above" tooltip-append-to-body="true">{{tmwItem.monthTwoVisits}}</span>
<!-- 								<input class="form-control pull-right" onclick="select()" type="number" min="0" max="99" tooltip-enable="tmwItem.monthTwoLastUpdate" -->
<!-- 								 uib-tooltip="Last Modified: {{tmwItem.monthTwoLastUpdate | date}}" tooltip-placement="above" -->
<!-- 								 tooltip-append-to-body="true" ng-if="$ctrl.canEdit() && !$ctrl.isBeta()" ng-change="tmwItem.monthTwoLastUpdate = $ctrl.getDate(); $ctrl.updateYTD(tmwItem); tmwItem.changed = true;" -->
<!-- 								 ng-model="tmwItem.monthTwoVisits" ng-style="{ 'background' : (tmwItem.monthTwoVisits >= 0 && tmwItem.monthTwoVisits < 100 && tmwItem.monthTwoVisits != null) ? 'white' : '#ff9999' }"> -->
							</td>
							<td style="width: 3%; text-align: right; padding-right: 0px;">
								<span style="margin-right: 15px;" tooltip-enable="tmwItem.monthThreeLastUpdate" uib-tooltip="Modified: {{tmwItem.monthThreeLastUpdate | date}}"
								 tooltip-placement="above" tooltip-append-to-body="true">{{tmwItem.monthThreeVisits}}</span>
<!-- 								<input class="form-control pull-right" onclick="select()" type="number" min="0" max="99" tooltip-enable="tmwItem.monthThreeLastUpdate" -->
<!-- 								 uib-tooltip="Last Modified: {{tmwItem.monthThreeLastUpdate | date}}" tooltip-placement="above" -->
<!-- 								 tooltip-append-to-body="true" ng-if="$ctrl.canEdit() && !$ctrl.isBeta()" ng-change="tmwItem.monthThreeLastUpdate = $ctrl.getDate(); $ctrl.updateYTD(tmwItem); tmwItem.changed = true;" -->
<!-- 								 ng-model="tmwItem.monthThreeVisits" ng-style="{ 'background' : (tmwItem.monthThreeVisits >= 0 && tmwItem.monthThreeVisits < 100 && tmwItem.monthThreeVisits != null) ? 'white' : '#ff9999' }"> -->
							</td>
							<td style="width: 3.5%; text-align: center; padding-right: 0px;">
								<span style="margin-left: 10px" tooltip-enable="tmwItem.totalVisitsLastUpdate" uib-tooltip="Modified: {{tmwItem.totalVisitsLastUpdate | date}}"
								 tooltip-placement="above" tooltip-append-to-body="true" ng-if="!$ctrl.canEditTarget">{{tmwItem.totalVisits}}</span>
								<input class="form-control" style="margin: auto;" onclick="select()" type="number" min="0" max="99"
								 tooltip-enable="tmwItem.totalVisitsLastUpdate" uib-tooltip="Last Modified: {{tmwItem.totalVisitsLastUpdate | date}}"
								 tooltip-placement="above" tooltip-append-to-body="true" ng-if="$ctrl.canEditTarget" ng-change="tmwItem.totalVisitsLastUpdate = $ctrl.getDate(); tmwItem.changed = true;"
								 ng-model="tmwItem.totalVisits" ng-style="{ 'background' : (tmwItem.totalVisits >= 0 && tmwItem.totalVisits < 100 && tmwItem.totalVisits != null) ? 'white' : '#ff9999' }">
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div id="tableFooter">
				<table class="table" style="margin-bottom: 0; width: 100%; table-layout: fixed;">
					<tfoot class="table-footer">
						<tr>
							<td style="width: 7.5%; text-align: center">Customers:&nbsp;&nbsp;{{$ctrl.tmwItems.length}}</td>
							<td style="width: 4.5%; text-align: right">{{$ctrl.defendTotal}} | Defend</td>
							<td style="width: 5.0%; text-align: center">{{$ctrl.expandTotal}} | Expand</td>
							<td style="width: 4.5%; text-align: left">{{$ctrl.reviewTotal}} | Review</td>
							<td style="width: 5.5%; text-align: right; padding-right: 15px">{{$ctrl.getPropertyTotal($ctrl.tmwItems,
								'dsam') | currency:"$":0}}</td>
							<td style="width: 4.5%; text-align: right; padding-right: 15px">{{$ctrl.getPropertyTotal($ctrl.tmwItems,
								'totalRunRate') | currency:"$":0}}</td>
							<td style="width: 4.0%; text-align: right">{{$ctrl.currentQtrAvg | number : 0}}% Avg.</td>
							<td style="width: 0.5%;"></td>
							<td style="width: 4.5%; text-align: center">{{$ctrl.previousQtrAvg | number : 0}}% Avg.</td>
							<td style="width: 4%; text-align: center">{{$ctrl.getPropertyTotal($ctrl.tmwItems, 'dregCount') | number}} Dregs</td>
							<td style="width: 3%; text-align: center">{{$ctrl.getPropertyTotal($ctrl.tmwItems, 'monthOneVisits') | number}}</td>
							<td style="width: 3%; text-align: center">{{$ctrl.getPropertyTotal($ctrl.tmwItems, 'monthTwoVisits') | number}}</td>
							<td style="width: 3%; text-align: center">{{$ctrl.getPropertyTotal($ctrl.tmwItems, 'monthThreeVisits') |
								number}}</td>
							<td style="width: 3.5%; text-align: center; padding-right: 25px;">{{$ctrl.getPropertyTotal($ctrl.tmwItems, 'totalVisits') | number}}</td>
						</tr>
						<tr>
							<td colspan="10" style="width: 40.5%; text-align: center; border-top: 0px; padding-top: 0px" style="padding-bottom: 0px !important;"></td>
							<td colspan="4" style="width: 12.5%; text-align: center; padding-top: 3px;">Customer Visit Totals</td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
	<div id="notesPanel" class="notesPanel" style="float: right; overflow-x: hidden;" ng-style="{'width': $ctrl.notesWidth + 'px'}">
		<div class="col-xs-12" style="padding: 0px; overflow-x: hidden">
			<div class="panel panel-info" style="width: 350px;">
				<div class="panel-heading">
					<h3 class="panel-title">
						Notes
						<span ng-if="$ctrl.tmwNotes.createDateTime" style="font-size: small; font-style: italic; overflow: hidden; float: right; white-space: nowrap; padding-right: 2px;">Updated:
							{{$ctrl.tmwNotes.createDateTime | date:'shortDate'}} by {{$ctrl.tmwNotes.createUser}}
						</span>
					</h3>
				</div>
				<div class="panel-body">
					<form name="$ctrl.TMWForm">
						<textarea class="form-control" style="width: 100%; max-width: 100%; min-width: 300px; min-height: 30px; height: 545px"
						 ng-model="$ctrl.tmwNotes.notes" char-limit-label limit="4000" show-on-focus="true"></textarea>
						<!-- <div class="pull-right" style="white-space: nowrap;">
								<button class="btn btn-default" ng-click="$ctrl.form.resetNotes()" ng-disabled="!$ctrl.notesForm.$dirty">
									Reset
								</button>
								<button class="btn btn-primary" ng-click="$ctrl.form.saveNotes()" ng-disabled="!$ctrl.notesForm.$dirty">
									Save Changes
								</button>
							</div> -->
					</form>
				</div>
			</div>
		</div>
	</div>
</Form>


<script type="text/ng-template" id="multipleIsrList.html">
	<div>
	<span style="display: block" ng-repeat="isr in tmwItem.insideSalesPersonList">{{isr | titlecase}}</span>
	</div>
</script>


<script>
	function openNav() {
		document.getElementById("notesPanel").style.width = "400px";
		document.getElementById("main").style.marginRight = "330px";
	}

	function closeNav() {
		document.getElementById("notesPanel").style.width = "50px";
		document.getElementById("main").style.marginRight = "0";
	}
</script>

<style>
	.branch-selector>.dropdown-menu {
		max-height: 400px;
		overflow-y: auto;
	}
	
lookup-user>input {
	margin-bottom: 2px;
}

	.notesPanel {
		height: 100%;
		width: 0px;
		position: relative;
		z-index: 0;
		background-color: transparent;
		overflow-x: hidden;
		transition: 0.5s;
		margin-top: 15px;
		margin-right: -32px;
		margin-left: 0px;
		overflow-y: hidden;
	}

	#tmw-table {
		transition: margin-right .5s;
	}

	tfoot>tr>td {
		padding-bottom: 0px !important;
	}

	td>.form-control {
		height: 25px;
		width: 50px;
		margin: 0;
		padding-right: 5px;
		padding-left: 5px;
		padding-top: 0px;
		padding-bottom: 0px;
	}

	#snackbar {
		visibility: hidden;
		min-width: 250px;
		margin-left: -125px;
		background-color: #337AB7;
		color: white;
		font-size: 16px;
		text-align: center;
		border-radius: 10px;
		padding: 16px;
		position: fixed;
		z-index: 1000;
		left: 50%;
		bottom: 30px;
	}

	#snackbar.show {
		visibility: visible;
		-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
		animation: fadein 0.5s, fadeout 0.5s 2.5s;
	}

	/* Animations to fade the snackbar in and out */
	@-webkit-keyframes fadein {
		from {
			bottom: 0;
			opacity: 0;
		}

		to {
			bottom: 30px;
			opacity: 1;
		}
	}

	@keyframes fadein {
		from {
			bottom: 0;
			opacity: 0;
		}

		to {
			bottom: 30px;
			opacity: 1;
		}
	}

	@-webkit-keyframes fadeout {
		from {
			bottom: 30px;
			opacity: 1;
		}

		to {
			bottom: 0;
			opacity: 0;
		}
	}

	@keyframes fadeout {
		from {
			bottom: 30px;
			opacity: 1;
		}

		to {
			bottom: 0;
			opacity: 0;
		}
	}
</style>