<div class="row rounded-corners" style="background-color: #fff; margin: 0 15px; padding: 0;" ng-if="$ctrl.ngModel.message">
	<div class="col-sm-12">
	    <div style="padding-left: 20px;">
		    <h1 style="font-weight: bold;
		    font-size: 36px;
		    margin-top: 0;
		    color: #D16A4C;">Oops</h1>    
		    
		    <p>
		        It looks like an error has occurred.        
		    </p>
		    <p>
		        Here are a few options to find what you are looking for:        
		    </p>
		    <ol>
		        <li>Double check that the information entered is correct.</li>
		        <li>Head back to the home page.</li>
		        <li>Contact the Service Desk for further assistance.</li>
		    </ol>	    
	    </div>    
	</div>
<div class="col-sm-12">
	<uib-accordion>
        <div uib-accordion-group heading="Error Detail" class="panel-danger" is-open="true">
            <p>
                <strong>{{$ctrl.ngModel.message.data.code}}</strong> <span class="text-danger">{{$ctrl.ngModel.message.status}} ({{$ctrl.ngModel.message.statusText}})</span>
            </p>        
            <p>
                {{$ctrl.ngModel.message.data.detail}}
            </p>
            
            <p>
                <strong>Detail:</strong>
            </p>
            <p>
                {{$ctrl.ngModel.message.data.stackTrace}}
            </p>
        </div>
    </uib-accordion> 
</div>
<div class="col-sm-1"></div>
</div>