<!-- <page-header active-page="'contacts'" plan="$ctrl.plan"></page-header> -->

<div ng-include="pageIncludes.clientErrorTemplate"></div>

<div class="row">
	<div class="col-sm-12" style="min-width: 1180px;">
		<uib-tabset active="$ctrl.activeTabIndex"  vertical="true" type="pills" class="vertical">
			<uib-tab index="0" heading="Customer" ng-click="$ctrl.selectTab('customers')">
				<customers ng-model="$ctrl.customers" plan="$ctrl.plan"></customers>
			</uib-tab>
			<uib-tab index="1" heading="Suppliers" ng-click="$ctrl.selectTab('suppliers')">
				<suppliers ng-model="$ctrl.suppliers" plan="$ctrl.plan"></suppliers>				
			</uib-tab>	
			<uib-tab index="2" heading="TTI" ng-click="$ctrl.selectTab('tti')">
				<participants ng-model="$ctrl.participants" plan="$ctrl.plan"></participants>				
			</uib-tab>
		</uib-tabset>
	</div>	
</div>

<style>
.nav>li>a:focus {
	background: white;
}
.uib-tab>a:focus, .uib-tab>a{
	background: white;
}
</style>