<div class="modal-header bg-primary wrapper-sm text-center">
	<button class="close pull-right" type="button" ng-click="$ctrl.cancel()">&times;</button>
	<p class="modal-title">Discard Pending Customer</p>
</div>
<div class="modal-body">
	<div style="width: 100%; overflow: hidden; margin-bottom: 15px;" class="alert alert-warning">
		<div class="text-center">
			You are about to discard the pending customer, <b>{{$ctrl.pendingCustomer.customerName}}</b>.<br> Please explain your decision below.
		</div>
	</div>
	<textarea ng-model="$ctrl.reason" id="rejectReasonInput" class="form-control" style="width: 100%; height: 150px;"
	 char-limit-label limit="200" show-on-focus="true"></textarea>
</div>
<div class="modal-footer" style="margin-top: 0;">
	<button class="btn btn-danger" ng-disabled="$ctrl.reason.length === 0 || $ctrl.reason.length > 200" ng-click="$ctrl.discard()">		
		Reject
	</button>
	<button class="btn btn-default" ng-click="$ctrl.cancel()">
		Cancel
	</button>
</div>
