<div class="row" style="margin-top: 0;">
	<div class="col-lg-12">
		<ng-form name="$ctrl.designSummaryForm"  confirm-on-exit>
			<table class="table table-hover" style="margin-bottom: 0;">
				<thead class="table-header">
					<tr>
						<th></th>
						<th></th>
						<th></th>
						<th style="text-align: center; border-left: 1px solid #ccc; border-right: 1px solid #ccc;">
							Impact
						</th>
						<th>
						
						</th>
						<th colspan="3" style="text-align: center; border-left: 1px solid #ccc; border-right: 1px solid #ccc;">
							Time & Volume
						</th>
						<th colspan="2" style="text-align: center;">
							EMS Involvement
						</th>
					</tr>
					<tr>
						<th style="width: 1%;"></th>
						<th style="width: 2%;"></th>
						<th style="width: 13%;">Type</th>
						<th style="width: 17%; border-left: 1px solid #ccc; border-right: 1px solid #ccc;">
							Product Replacement
						</th>
						<th style="width: 17%; border-right: 1px solid #ccc;">
							Project Name
						</th>
						<th style="width: 10%;">Prototype Date</th>
						<th style="width: 10%;">Production Date</th>
						<th style="width: 10%;">EAU</th>
						<th style="width: 20%; border-left: 1px solid #ccc;">CM Name</th>
<!-- 						<th>Manufacturer Location</th> -->
					</tr>					
				</thead>
				<tbody>
					<tr style="background-color: cornsilk;" ng-cloak ng-repeat-start="item in $ctrl.project.data" ng-click="$ctrl.project.selectRow($index)">
						<td ng-class="{'vbs-highlight-modified': item.changedValue == true, 'vbs-highlight-saved': item.saved == true}">
							
						</td>
						<td style="padding-bottom: 0;">
							<span ng-show="$index === $ctrl.project.index && $ctrl.permissions.validated('add')">
								<span class="text-success cursor-pointer"
									  ng-click="$ctrl.project.save(item)">
									<i class="fas fa-save"></i>
								</span>
								<span class="text-danger cursor-pointer" 
								      ng-click="$ctrl.project.removeRow(item)">
									<i class="fas fa-trash-alt"></i>
								</span>
							</span>
						</td>
						<td style="border-right: 1px solid #ccc; padding-bottom: 0;">					
							<select class="form-control" style="width: 100%;" ng-model="item.selectedProjectType" ng-change="$ctrl.project.typeChanged(item)" 
								ng-options="projectType.display for projectType in $ctrl.project.projectTypes track by projectType.value">								
							</select>
						</td>
						<td style="border-right: 1px solid #ccc; padding-bottom: 0;">
							<input ng-show="item.showImpact" class="form-control" type="text" ng-model="item.impact" ng-blur="$ctrl.project.changed(item)" />
						</td>
						<td style="border-right: 1px solid #ccc; padding-bottom: 0;">
							<input class="form-control" type="text" ng-model="item.projectName" ng-blur="$ctrl.project.changed(item)" />
						</td>
						<td style="padding-bottom: 0;">
							<p class="input-group">
			                    <input type="text" 
			                           class="form-control" 
			                           uib-datepicker-popup="MM/dd/yyyy" 
			                           ng-model="item.prototypeDate" 
			                           is-open="item.protoTypeCalendarOpen" 
			                           datepicker-options="dateOptions"                            
			                           close-text="Close"	
			                           ng-blur="$ctrl.project.changed(item)" 		                           
			                           >
			                    <span class="input-group-btn">
				                    <button type="button" class="btn btn-default" ng-click="$ctrl.project.protoTypeCalendarOpen($index, $event)">
				                        <i id="calendar" class="far fa-calendar-alt"></i>
				                    </button>
			                    </span>
							</p>
						</td>
						<td style="padding-bottom: 0;">
							<p class="input-group">
								
			                    <input type="text" 
			                           class="form-control" 
			                           uib-datepicker-popup="MM/dd/yyyy" 
			                           ng-model="item.productionDate" 
			                           is-open="item.productionCalendarOpen" 
			                           datepicker-options="dateOptions"                            
			                           close-text="Close"	
			                           ng-blur="$ctrl.project.changed(item)" 		                           
			                           />
			                    
			                    <span class="input-group-btn">
				                    <button type="button" class="btn btn-default" ng-click="$ctrl.project.productionCalendarOpen($index, $event)">
				                        <i id="calendar" class="far fa-calendar-alt"></i>
				                    </button>
			                    </span>
							</p>
						</td>
						<td style="border-right: 1px solid #ccc; padding-bottom: 0;">
							<input class="form-control" type="number" ng-model="item.eau" ng-blur="$ctrl.project.changed(item)" />
						</td>
						<td style="padding-bottom: 0;">
							<div class="input-group">		
									<div id="scrollable-dropdown-menu">						
		              				<input type="text" name="planToSearch" ng-model="item.cmName"
												   autocomplete="off"
							                       placeholder="Find Plan..."
							                       uib-typeahead="search.customerName for search in $ctrl.project.searched.findCM($viewValue)" 
							                       typeahead-min-length="2"
							                       typeahead-loading="loadingNames" 
							                       typeahead-no-results="noResults"
							                       typeahead-on-select="$ctrl.project.searched.setSelected($item)"
							                       typeahead-wait-ms="250"
							                       ng-keyup="evalNoResults($event)"
							                       class="hideclose form-control" autofocus
							                       typeahead-template-url="customTemplate.html"
							                       ng-blur="$ctrl.project.changed(item)">
							         </div>
		                    	<span class="input-group-btn" >
		                    		<button ng-show="item.cmPlanID" 
		                    				class="btn btn-default" 
		                    				ng-click="$ctrl.project.loadCmPlan(item)" uib-tooltip="View Plan" tooltip-append-to-body="true">
		                    			<i class="fa fa-eye"></i>
		                    		</button>		                    		
		                        	<button ng-show="!item.cmPlanID"
		                        			class="btn btn-default" 
		                        			uib-tooltip="Create Plan" tooltip-append-to-body="true"
		                        			ng-disabled="true">
		                        			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		                        	</button>	                        	                       
		                    	</span>
		                	</div>
						</td>
<!-- 						<td style="padding-bottom: 0;"> -->
<!-- 							<div class="input-group">								 -->
<!-- 		              				<input type="text" name="planToSearch" ng-model="item.locationName" -->
<!-- 												   autocomplete="off" -->
<!-- 							                       placeholder="Find Plan..." -->
<!-- 							                       uib-typeahead="search.customerName for search in searched.findPlan($viewValue)"  -->
<!-- 							                       typeahead-min-length="2" -->
<!-- 							                       typeahead-loading="loadingNames"  -->
<!-- 							                       typeahead-no-results="noResults" -->
<!-- 							                       typeahead-on-select="searched.setSelectedPlan($item)" -->
<!-- 							                       typeahead-wait-ms="250" -->
<!-- 							                       ng-keyup="evalNoResults($event)" -->
<!-- 							                       class="hideclose form-control" autofocus -->
<!-- 							                       typeahead-template-url="customTemplate.html" -->
<!-- 							                       ng-blur="designSummaryOverview.project.changed(item)"> -->
<!-- 		                    	<span class="input-group-btn" > -->
<!-- 		                    		<button ng-show="item.locationPlanID"  -->
<!-- 		                    				class="btn btn-default"  -->
<!-- 		                    				ng-click="designSummaryOverview.project.loadLocationPlan(item)" uib-tooltip="View Plan" tooltip-append-to-body="true"> -->
<!-- 		                    			<i class="fa fa-eye"></i> -->
<!-- 		                    		</button>		                    		 -->
<!-- 		                        	<button ng-show="!item.locationPlanID" -->
<!-- 		                        			class="btn btn-default"  -->
<!-- 		                        			uib-tooltip="Create Plan" tooltip-append-to-body="true" -->
<!-- 		                        			ng-disabled="true"> -->
<!-- 		                        			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
<!-- 		                        	</button>	                        	                        -->
<!-- 		                    	</span> -->
<!-- 		                	</div> -->
<!-- 						</td> -->
					</tr>
					<tr ng-repeat-end="">
						<td colspan="9" style="padding: 0; border-left: 1px solid #ccc; border-bottom: 3px solid #F68A20; border-right: 1px solid #ccc;">
							<div>
<!-- 							<ng-form name="designSummaryProductForm"  confirm-on-exit> -->
								<table class="table table-hover table-condensed" style="margin-bottom: 0;">
									<thead class="table-header">
										<tr>
											<th style="width: 1%;"></th>
											<th style="width: 2%;"></th>
											<th style="border-right: 1px solid #ccc; width: 17%;">Product</th>
											<th style="border-right: 1px solid #ccc;width: 40%;">Features & Benefits Objectives</th>
											<th style="width: 40%;">Technology/Architecture Consideration</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="child in item.designSummaryProductContainerList" ng-click="$ctrl.product.selectRow($parent.$index, $index)">
											<td ng-class="{'vbs-highlight-modified': child.changedValue == true, 'vbs-highlight-saved': child.saved == true}">
												
											</td>
											<td style="padding-bottom: 0;">
												<span ng-show="$index === $ctrl.product.index && $ctrl.permissions.validated('add')">
													<span class="text-success cursor-pointer"
														  ng-click="$ctrl.product.save($parent, child)">
														<i class="fas fa-save"></i>
													</span>
													<span class="text-danger cursor-pointer"
													      ng-click="$ctrl.product.removeRow($parent, child)">
														<i class="fas fa-trash-alt"></i>
													</span>
												</span>
											</td>
											<td style="border-right: 1px solid #ccc;">
												<select class="form-control" style="width: 100%;" ng-model="child.selectedCommodity" 
													ng-options="commodity.display for commodity in $ctrl.product.commodities track by commodity.value"
													ng-change="$ctrl.product.typeChanged(child)">								
												</select>
											</td>
											<td style="border-right: 1px solid #ccc;">
												<input class="form-control" type="text" ng-model="child.featureBenefitObjectives" ng-blur="$ctrl.product.changed(child)" />
											</td>
											<td>
												<input class="form-control" type="text" ng-model="child.technologyConsiderations" ng-blur="$ctrl.product.changed(child)" />
											</td>					
										</tr>
									</tbody>
									<tfoot>
										<tr>
											<td colspan="5">
												<button class="btn btn-default btn-sm pull-right"													 
													ng-click="$ctrl.product.addRow(item)" uib-tooltip="Add Row"
													ng-disabled="!item.projectID || !$ctrl.permissions.validated('add')">
													<i class="fa fa-plus"></i>
												</button>
												<button class="btn btn-default btn-sm pull-right"													 
													ng-click="$ctrl.product.removeRow(item)" style="margin-right: 5px;" uib-tooltip="Remove Row"
													ng-disabled="!item.projectID || !$ctrl.permissions.validated('delete')">
													<i class="fa fa-minus"></i>
												</button>
											</td>
										</tr>
									</tfoot>
								</table>
<!-- 							</ng-form>	 -->
							</div>
						</td>
					</tr>
					</tbody>
					<tfoot>
						<tr style="background-color: cornsilk;">
							<td colspan="11">
								<button class="btn btn-default btn-sm pull-right"
									id="design-summary-add-row" 
									ng-click="$ctrl.project.addRow()" 
									ng-disabled="!$ctrl.permissions.validated('add')"
									uib-tooltip="Add Row">
									<i class="fa fa-plus"></i>
								</button>
								<button class="btn btn-default btn-sm pull-right"
									id="design-summary-remove-row" 
									ng-click="$ctrl.project.removeRow()" 
									ng-disabled="!$ctrl.permissions.validated('delete')"
									style="margin-right: 5px;" uib-tooltip="Remove Row">
									<i class="fa fa-minus"></i>
								</button>
							</td>
						</tr>
					</tfoot>
				</tbody>
			</table>	
		</ng-form>	
	</div>
</div>
<div class="row" style="margin-top: 0;">
	<div class="col-lg-12">
		
	</div>
</div>