<div class="modal-header bg-primary wrapper-sm text-center">
	<button class="close pull-right" type="button"
		ng-click="$ctrl.cancel()">&times;</button>
	<p class="modal-title">Add New Opportunity</p>
</div>
<div class="modal-body">
	<div ng-show="!$ctrl.clientError.message">
		<form name="$ctrl.projectForm" class="form-horizontal" novalidate>
			<div class="row">
				<div class="col-md-12">
					<fieldset>
					
						<div class="form-group">
							<label class="col-md-3 control-label" for="target"><span uib-tooltip="*Required, must be unique">*</span>Project Name:</label>
							<div class="col-md-7">
								<input name="projectName" id="projectNameInput" type="text" placeholder="" ng-model="$ctrl.project.projectName"
								uib-typeahead="project as project.projectName for project in $ctrl.projects | filter:{projectName: $viewValue}:search"
								typeahead-min-length="1" class="form-control" typeahead-popup-template-url="existingProjectsList.html"
								typeahead-template-url="existingProject.html" typeahead-on-select="$ctrl.openExistingProject($model)"
								typeahead-focus-first="false" autocomplete="off"
								ng-change="$ctrl.verifyUnique()" ng-attr-style="{'background-color': ($ctrl.uniqueName? 'none' : '#ffbaba')}"
								char-limit-label limit="30" show-on-focus="true">
							</div>
						</div>
						

						<div class="form-group">
							<label class="col-md-3 control-label" for="target">EAU:</label>
							<div class="col-md-5">
								<input type="number" ng-model="$ctrl.project.eau" class="form-control" autocomplete="off">
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-4 control-label" for="target">Est. Prototype Date:</label>
							<div class="col-md-4">
								<p class="input-group">
									<input type="text" class="form-control"
										uib-datepicker-popup="MM/dd/yyyy"
										ng-model="$ctrl.project.estimatedPrototypeDate"
										is-open="$ctrl.estProtoCalendarOpen"
										datepicker-options="dateOptions" close-text="Close" autocomplete="off">
									<span class="input-group-btn">
										<button type="button" class="btn btn-default"
											ng-click="$ctrl.estProtoCalendarOpen = !$ctrl.estProtoCalendarOpen">
											<i id="calendar" class="far fa-calendar-alt"></i>
										</button>
									</span>
								</p>
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-4 control-label" for="target">Est.
								Production Date:</label>
							<div class="col-md-4">
								<p class="input-group">
									<input type="text" class="form-control"
										uib-datepicker-popup="MM/dd/yyyy"
										ng-model="$ctrl.project.estimatedProductionDate"
										is-open="$ctrl.estProductionDateCalendarOpen"
										datepicker-options="dateOptions" close-text="Close" autocomplete="off">
									<span class="input-group-btn">
										<button type="button" class="btn btn-default"
											ng-click="$ctrl.estProductionDateCalendarOpen = !$ctrl.estProductionDateCalendarOpen">
											<i id="calendar" class="far fa-calendar-alt"></i>
										</button>
									</span>
								</p>
							</div>
						</div>

						<div class="form-group" style="margin-bottom: 5px;">
							<label class="col-md-6 control-label" style="height: 44px;" for="target">Is this part of a larger project/program?:</label>
							<div class="col-md-1">
								<input class="form-control" type="checkbox" style="height:20px;" ng-model="$ctrl.isSubAssembly">
							</div>
						</div>
						
						<div style="background: #ddf0ff; padding-top: 10px; padding-bottom: 10px;" class="form-group rounded-corners" ng-if="$ctrl.isSubAssembly">
							<label class="col-md-4 control-label" for="target">Master Project:</label>
							<div class="col-md-5">
                                <div style="width: 100%;" class="btn-group" uib-dropdown>
                                    <input ng-model="$ctrl.project.masterProjectName" class="form-control" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" uib-dropdown-toggle>
                                    <ul ng-show="masterProjects.length > 0 || $ctrl.activeProjects === undefined" style="max-height: 250px; overflow-y: auto" uib-dropdown-menu>
                                        <li ng-repeat="masterProject in $ctrl.activeProjects | orderBy: 'projectName' | filter:{projectName: $ctrl.project.masterProjectName} as masterProjects" ng-click="$ctrl.project.masterProjectName = masterProject.projectName; $ctrl.project.masterProjectId = masterProject.projectId;"><a>{{masterProject.projectName}}</a></li>
                                        <li ng-show="$ctrl.activeProjects === undefined">Loading Projects..</li>
                                    </ul>
                                </div>
							</div>
						</div>
						
						<div class="form-group" style="margin: 0">
							<label class="col-md-3 control-label" for="target">Application:</label>
							<div class="col-md-7">
								<input id="target" char-limit="30" name="target" type="text" placeholder=""
									class="form-control input-md" ng-model="$ctrl.project.application"
									autocomplete="off" char-limit-label limit="30" show-on-focus="true">
							</div>
						</div>
						
						<div class="form-group" style="margin-bottom: 5px">
							<label class="col-md-2 control-label" for="target">Notes:</label>
						</div>
						
						<div class="form-group">
							<div style="padding-left: 50px; padding-right: 50px;">
								<textarea class="form-control" style="width: 100%; max-width: 100%; min-width: 100%; min-height:35px" rows="5" ng-model="$ctrl.project.notes" ng-focus="notesFocused=true" ng-blur="notesFocused=false"></textarea>
								<div style="display: inline-block; width: 70%">
									<span class="image-upload" style="cursor:pointer;" uib-tooltip="Attach File" tooltip-placement="above">
										<label for="file-input" style="cursor: pointer;"> 
											<i class="attach-doc fas fa-paperclip"></i>
										</label> <input id="file-input" type="file" select-ng-files ng-model="$ctrl.imgSrc" multiple style="display: none;"/>
									</span>
									<span ng-repeat="file in $ctrl.imgSrc">| {{file.name}} </span>
								</div>
								<span ng-style="{opacity: notesFocused? '1' : '0'}" style="display: inline-block; font-size: 12px; float: right">{{4000 - $ctrl.project.notes.length | number}} characters remaining</span>
							</div>
						</div>
						
					</fieldset>
				</div>
			</div>
		</form>
	</div>
</div>
<div class="modal-footer" style="margin-top: 0;">
	<button class="btn btn-primary" ng-click="$ctrl.save()"
		ng-disabled="!$ctrl.project.projectName || !$ctrl.projectForm.$valid || $ctrl.debounce">{{$ctrl.confirmLabel}}</button>
	<button class="btn btn-default" ng-click="$ctrl.cancel()">
		Cancel</button>
</div>


<script type="text/ng-template" id="existingProjectsList.html">
	<div class="existing-projects-popup"
    	ng-style="{top: position().top+'px', left: position().left+'px'}"
    	style="display: block;"
    	ng-show="isOpen() && !moveInProgress"
    	aria-hidden="{{!isOpen()}}">
    	<p class="message">Existing Projects...</p>

    	<ul class="dropdown-menu" role="listbox">
      		<li class="uib-typeahead-match" ng-repeat="match in matches track by $index" ng-class="{active: isActive($index) }"
        		ng-mouseenter="selectActive($index)" ng-click="selectMatch($index)" role="option" id="{{::match.id}}">
        		<div uib-typeahead-match index="$index" match="match" query="query" template-url="templateUrl"></div>
      		</li>
    	</ul>
 	</div>
</script>

<script type="text/ng-template" id="existingProject.html">
  <a>
      <span ng-bind-html="match.model.projectName | uibTypeaheadHighlight:query"></span>
  </a>
</script>



<style>
 .existing-projects-popup {
   margin-top: 2px;
   position: absolute;
   top: 100%;
   left: 0;
   z-index: 1000;
   display: none;
   background-color: white;
   border: 1px solid rgba(0,0,0,.15);
   box-shadow: 0 6px 12px rgba(0,0,0,.175);
   border-radius: 5px;
 }

.existing-projects-popup > .message {
   padding: 5px 20px;
   margin-bottom: 0px;
   border-bottom: 1px solid #ddd;
   background-color: #f7f7f7;
   border-radius: 5px 5px 0 0;
 }

 .existing-projects-popup > .dropdown-menu {
   position: static;
   float: none;
   display: block;
   min-width: 160px;
   border: none;
   box-shadow: none;
 }
</style>
