<div class="row">
	<div class="col-xs-12">
		<div class="page-nav" style="display: flex; width: 100%; justify-content: center;" bs-affix data-offset-top="50">
			<span style="position: absolute; left: 15px;" class="page-nav-brand">
				Other People's Business
			</span>
			
			<div class="input-group" style="width: 25%; min-width: 250px; max-width: 400px; padding-top: 17px; position: relative !important">
				<input ng-model="$ctrl.filterText" ng-model-options="{debounce: 300}" ng-change="$ctrl.saveFilterText();" placeholder="Filter OPB..." class="form-control"/>
				<span class="input-group-addon cursor-pointer" style="padding: 6px 7px !important;"
				 uib-tooltip="This field supports comma-delimited filters.&#13;&#10; e.g. &quot;filter 1, filter 2, filter 3&quot;"
				 tooltip-append-to-body="true" tooltip-class="tooltip-350width">
					<i class="fas fa-info-circle fa-lg"></i>
				</span>
<!-- 				<span ng-click="$ctrl.filterText = ''; $ctrl.saveFilterText();" class="cursor-pointer clear-input-button" style="position: absolute; right: 10px; top: 2px; color: gray;"><i class="fas fa-times"></i></span> -->
			</div>
			
			<div style="right: 30px; top: 0; position: absolute;">
	            <button ng-click="$ctrl.openSearchModal()" class="btn btn-primary" style="vertical-align: top; margin-top: 17px; margin-left: 15px">Search&nbsp;&nbsp;<i class="far fa-search"></i></button>
            </div>
		</div>
	</div>
</div>
<div class="row" style="margin: 40px 0px 0 0px; height: calc(100% - 146px); position: relative;">
	<div style="background-color: #fff; position: absolute; right: 0; top: -30px; display: flex; justify-content: space-between;
	   box-shadow: 3px 3px 3px #888888; padding: 10px 10px 1px 10px; height: 31px; width: 280px; border-radius: 13px 13px 0 0;">
	
		<div ng-click="$ctrl.criteria.status.open = !$ctrl.criteria.status.open; $ctrl.saveCriteria();" class="status-filter-toggle" style="background: #276ab0;">
			<span ng-if="$ctrl.criteria.status.open">
				<i class="fas fa-check-square"></i>
			</span>
			<span ng-if="!$ctrl.criteria.status.open">
				<i class="fas fa-square"></i>
			</span>&nbsp;&nbsp;
			<span>Open</span>
		</div>
		<div ng-click="$ctrl.criteria.status.hold = !$ctrl.criteria.status.hold; $ctrl.saveCriteria();" class="status-filter-toggle" style="background: #d79230;">
			<span ng-if="$ctrl.criteria.status.hold">
				<i class="fas fa-check-square"></i>
			</span>
			<span ng-if="!$ctrl.criteria.status.hold">
				<i class="fas fa-square"></i>
			</span>&nbsp;&nbsp;
			<span>Hold</span>
		</div>
		<div ng-click="$ctrl.criteria.status.won = !$ctrl.criteria.status.won; $ctrl.saveCriteria();" class="status-filter-toggle" style="background: #4c964c;">
			<span ng-if="$ctrl.criteria.status.won">
				<i class="fas fa-check-square"></i>
			</span>
			<span ng-if="!$ctrl.criteria.status.won">
				<i class="fas fa-square"></i>
			</span>&nbsp;&nbsp;
			<span>Won</span>
		</div>
		<div ng-click="$ctrl.criteria.status.lost = !$ctrl.criteria.status.lost; $ctrl.saveCriteria();" class="status-filter-toggle" style="background: #d74545;">
			<span ng-if="$ctrl.criteria.status.lost">
				<i class="fas fa-check-square"></i>
			</span>
			<span ng-if="!$ctrl.criteria.status.lost">
				<i class="fas fa-square"></i>
			</span>&nbsp;&nbsp;
			<span>Lost</span>
		</div>
	
	</div>
	<div class="col-xs-12" style="background-color: #fff; box-shadow: 3px 3px 3px #888888;
	 padding: 10px; padding-bottom: 0; display: flex; flex-direction: column; height: 100%; min-height: 300px; border-radius: 13px 0 13px 13px;">
		
		<div style="position: relative; height: 100%">
			<div style="display: flex; overflow: hidden; white-space: nowrap; background-color: #276ab0">
				<div style="width: calc(100% - 17px); display: inline-block;">
					<table class="table" style="table-layout: fixed; margin: 0; ">
						<thead>
							<tr class="table-header-inverse">
								<th style="width: 2%;"></th>
								<th style="width: 12%; padding-left: 16px">
									<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('customerName',!$ctrl.sort.reverse)">Customer</a>
									<span class="sortorder" ng-show="$ctrl.sort.type === 'customerName'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
								</th>
								<th style="width: 6%; text-align: center;">
									<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('manufacturer.manufacturerName',!$ctrl.sort.reverse)">MFR</a>
									<span class="sortorder" ng-show="$ctrl.sort.type === 'manufacturer.manufacturerName'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
								</th>
								<th style="width: 6%; text-align: center;">
									<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('commodity.commodity',!$ctrl.sort.reverse)">Commodity</a>
									<span class="sortorder" ng-show="$ctrl.sort.type === 'commodity.commodity'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
								</th>
								<th style="width: 8%; text-align: right">
									<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('value',!$ctrl.sort.reverse)">Value</a>
									<span class="sortorder" ng-show="$ctrl.sort.type === 'value'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
								</th>
								<th style="width: 6%; text-align: right">
									<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('partCount',!$ctrl.sort.reverse)"># of Parts</a>
									<span class="sortorder" ng-show="$ctrl.sort.type === 'partCount'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
								</th>	
								<th style="width: 8%; text-align: center;">
									<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('createdDateTime',!$ctrl.sort.reverse)">Date Created</a>
									<span class="sortorder" ng-show="$ctrl.sort.type === 'createdDateTime'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
								</th>	
								<th style="width: 8%; text-align: center;">
									<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('modifiedDateTime',!$ctrl.sort.reverse)">Last Update</a>
									<span class="sortorder" ng-show="$ctrl.sort.type === 'modifiedDateTime'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
								</th>							
								<th style="width: 5%; text-align: right;">
									<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('nuggetStatus.nuggetStatus',!$ctrl.sort.reverse)">Status</a>
									<span class="sortorder" ng-show="$ctrl.sort.type === 'nuggetStatus.nuggetStatus'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
								</th>
								<th style="width: 2%;"></th>
							</tr>
						</thead>
					</table>
				</div>
				<div style="width: 13px; display: inline-block;">
					<table class="table" style="margin: 0; ">
						<thead>
							<tr class="table-header-inverse">
								<th style="width: 2%;">&nbsp;</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
			<div style="overflow-y: scroll; overflow-x: hidden; height: calc(100% - 73px);">
				<table ng-if="$ctrl.nuggets && filteredNuggets.length === 0" class="table table-hover" style="margin: 0; margin-bottom: 45px; height: calc(100% - 45px)">
					<tbody style="height: 100%">
						<tr class="hidden-print no-hover-muted" style="height: 100%">
							<td style="padding-top: 30px; justify-content: center; display: flex; flex-direction: column; width: 100%; height: 100%" colspan="7" class="text-center text-muted">
								<span>
									<svg style="fill: #777" height='75px' width='75px'  xmlns:x="http://ns.adobe.com/Extensibility/1.0/" xmlns:i="http://ns.adobe.com/AdobeIllustrator/10.0/" xmlns:graph="http://ns.adobe.com/Graphs/1.0/" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve"><g><g i:extraneous="self"><g><path d="M5273.1,2400.1v-2c0-2.8-5-4-9.7-4s-9.7,1.3-9.7,4v2c0,1.8,0.7,3.6,2,4.9l5,4.9c0.3,0.3,0.4,0.6,0.4,1v6.4     c0,0.4,0.2,0.7,0.6,0.8l2.9,0.9c0.5,0.1,1-0.2,1-0.8v-7.2c0-0.4,0.2-0.7,0.4-1l5.1-5C5272.4,2403.7,5273.1,2401.9,5273.1,2400.1z      M5263.4,2400c-4.8,0-7.4-1.3-7.5-1.8v0c0.1-0.5,2.7-1.8,7.5-1.8c4.8,0,7.3,1.3,7.5,1.8C5270.7,2398.7,5268.2,2400,5263.4,2400z"></path><path d="M5268.4,2410.3c-0.6,0-1,0.4-1,1c0,0.6,0.4,1,1,1h4.3c0.6,0,1-0.4,1-1c0-0.6-0.4-1-1-1H5268.4z"></path><path d="M5272.7,2413.7h-4.3c-0.6,0-1,0.4-1,1c0,0.6,0.4,1,1,1h4.3c0.6,0,1-0.4,1-1C5273.7,2414.1,5273.3,2413.7,5272.7,2413.7z"></path><path d="M5272.7,2417h-4.3c-0.6,0-1,0.4-1,1c0,0.6,0.4,1,1,1h4.3c0.6,0,1-0.4,1-1C5273.7,2417.5,5273.3,2417,5272.7,2417z"></path></g><g><path d="M79.1,62.4l-17.5,0.5L60,57.5c0,0,0,0.1-0.1,0.1c-1.4,1.8-5.2,6.5-7.9,10c1.8,3.6,5.4,6,9.5,6h0.3l17.6-0.5     c2.9-0.1,5.2-2.5,5.1-5.5C84.5,64.6,82,62.3,79.1,62.4z"></path><path d="M57.7,48.1c-0.8-3.1-4.9-21.4-8.5-23.7c-1.4-0.9-2.9-1.2-4.5-0.8c-1.1,0.3-3.4,0.7-5.2,1l-1.8,0.3     c-1.9,0.4-3.1,0.6-11.2,13.3c-0.2,0.3-0.5,0.4-0.8,0.4l-10.9-0.8c-2.4-0.2-4.6,1.6-4.8,4.1c-0.2,2.4,1.6,4.6,4.1,4.8l10.9,0.8     c3.6,0.3,7-1.5,8.9-4.5c0.8-1.3,1.5-2.3,2.1-3.3l6.2,16.9l-4.8,6c-3,3.8-5.3,8-6.8,12.7l-4.9,15.2c-0.9,2.8,0.7,5.8,3.5,6.7     c0.5,0.2,1.1,0.3,1.6,0.3c2.3,0,4.3-1.4,5.1-3.7l4.9-15.2c1.1-3.4,2.7-6.5,4.9-9.3c0,0,8.7-10.9,10.9-13.7     C58.6,53.2,58.4,51.2,57.7,48.1z"></path><ellipse transform="matrix(0.9723 -0.2337 0.2337 0.9723 -1.823 9.2772)" cx="38.2" cy="12.3" rx="9.8" ry="9.8"></ellipse><path d="M52.6,22.4c2.1,2.4,4.8,8,8.6,23.9l0.2,0.9c0.2,0.8,0.4,1.7,0.5,2.6c10.7,13.3,28,8.4,28-8.2     C89.9,20.6,64.9,20.9,52.6,22.4z M76,48.3l-0.2,0.1V50c0,0.3-0.3,0.6-0.6,0.6h-1.8c-0.3,0-0.6-0.3-0.6-0.6v-1.6l-0.2,0     c-1.8-0.3-3.2-1.8-3.4-3.6c0-0.2,0-0.3,0.1-0.4c0.1-0.1,0.3-0.2,0.5-0.2h1.9c0.3,0,0.5,0.2,0.6,0.4c0.1,0.5,0.5,0.8,1,0.8h1.6     c0.9,0,1.6-0.6,1.7-1.4c0-0.5-0.1-0.9-0.4-1.3c-0.3-0.3-0.7-0.5-1.2-0.5h-1.2c-2.5,0-4.6-1.8-4.8-4.2c-0.2-2.3,1.3-4.5,3.6-5     l0.2,0v-1.7c0-0.3,0.3-0.6,0.6-0.6h1.8c0.3,0,0.6,0.3,0.6,0.6v1.6l0.2,0c1.8,0.3,3.2,1.8,3.4,3.6c0,0.2,0,0.3-0.1,0.4     c-0.1,0.1-0.3,0.2-0.4,0.2h-1.9c-0.3,0-0.5-0.2-0.6-0.5c-0.1-0.5-0.5-0.8-1-0.8h-1.6c-0.9,0-1.6,0.6-1.7,1.4     c0,0.5,0.1,0.9,0.4,1.3c0.3,0.3,0.7,0.5,1.2,0.5H75c1.3,0,2.6,0.6,3.4,1.5c0.9,1,1.3,2.3,1.2,3.6C79.4,46.2,78,47.8,76,48.3z"></path></g></g></g></svg>
								</span>
								<span style="font-size: xx-large; display: block;">
									No OPB Found.
								</span>				
							</td>
						</tr>
					</tbody>
				</table>
			
				<table ng-if="!$ctrl.nuggets" class="table table-hover" style="margin: 0; margin-bottom: 45px;">
					<tbody>
						<tr class="no-hover-muted">
							<td colspan=7>
								<div class="cssload-loader">
								<div></div>
								<div></div>
								<div></div>
								<div></div>
								<div></div>
								<div></div>
								</div>
							</td>                                
						</tr>
					</tbody>
				</table>
				
				<table ng-show="filteredNuggets.length > 0" class="table table-hover" style="table-layout: fixed; margin: 0; margin-bottom: 45px;">
						<tr class="show-on-hover-parent" ng-repeat="nugget in $ctrl.nuggets | commaDelimitedFilter:$ctrl.filterText | filter:statusFilter() | filter:{ownerFullName: $ctrl.criteria.ownerFilter, manufacturer:{manufacturerCode: $ctrl.criteria.manufacturerFilter}, commodity:{commodity: $ctrl.criteria.commodityFilter}}: true | orderBy: $ctrl.sort.type : $ctrl.sort.reverse as filteredNuggets track by nugget.nuggetId">
							<td style="width: 2%; padding-left: 4px; padding-right: 0px;">
								<initials-badge name="nugget.ownerFullName" invert="nugget.ownerFullName === $ctrl.userProfile.fullName" ng-click="$ctrl.filterOwner(nugget.ownerFullName)"/>
							</td>
							<td style="width: 12%; white-space: nowrap; padding-right: 0px;">
								<span ng-click="$ctrl.openNugget(nugget)" class="cursor-pointer">
									<a style="display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap" show-tooltip-on-text-overflow tooltip-enable="false" uib-tooltip="{{nugget.customerName}}" tooltip-append-to-body="true">
										{{::nugget.customerName}}
									</a>
								</span>
							</td>
							<td style="width: 6%; text-align: center">
								<span ng-click="$ctrl.filterManufacturer(nugget.manufacturer)" class="cursor-pointer badge" style="background-color: #5583b4">
									{{::nugget.manufacturer.manufacturerCode}}
								</span>
							</td>	
							<td style="width: 6%; white-space: nowrap; text-align: center;">
								<span ng-click="$ctrl.filterCommodity(nugget.commodity)" class="cursor-pointer badge" style="background-color: #d79230">
									{{::nugget.commodity.commodity}}
								</span>
							</td>
							<td style="width: 8%; white-space: nowrap; text-align: right">
								
								<div ng-switch="$ctrl.getNuggetEntity(nugget)">
									<span ng-switch-when="NDC|ADC" ng-switch-when-separator="|">{{::nugget.value  | currency: '$' : 0}}</span>
									<span ng-switch-when="EDC">{{::nugget.value  | currency: '' : 0}} &euro;</span>
									<span ng-switch-default>{{::nugget.value  | currency: '' : 0}}</span>
								</div>

								<!-- <span>
									{{::nugget.value | currency:"$":0}}
								</span> -->
							</td>	
							<td style="width: 6%; white-space: nowrap; text-align: right; padding-right: 20px;">{{::nugget.partCount}}</td>
							<td style="width: 8%; white-space: nowrap; text-align: center">{{::nugget.createdDateTime | date:"MM/dd/yyyy"}}</td>
							<td style="width: 8%; white-space: nowrap; text-align: center">{{::nugget.modifiedDateTime | date:"MM/dd/yyyy"}}</td>
							<td style="width: 5%; white-space: nowrap; text-align: right; padding-right: 4px">
								<div class="status-filter-toggle" style="cursor: auto" ng-style="{background: $ctrl.nuggetStatusColor(nugget.nuggetStatus)}">
									{{::nugget.nuggetStatus.nuggetStatus}}
								</div>
							</td>
							<td style="width: 2%;"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div id="tableFooter">
				<table class="table" style="table-layout: fixed; margin-bottom: 0;">
					<tfoot class="table-footer">
						<tr>
							<td style="width: 39%">
								<span class="pull-left" style="margin-right: 5px;">{{filteredNuggets.length | number}} OPB{{filteredNuggets.length == 1? '' : 's'}}&nbsp;&nbsp;-&nbsp;&nbsp;Filtered By:</span>
								<span ng-if="$ctrl.criteria.showMine" class="badge">
									Mine Only
								</span>
								<div ng-if="!$ctrl.criteria.showMine" style="display: inline-block">
									<span ng-if="!$ctrl.criteria.ownerUsername && $ctrl.criteria.corpId" class="badge">
										{{$ctrl.criteria.corpId.corpId}} | {{$ctrl.criteria.corpId.customerName}}
									</span>
									<span ng-if="!$ctrl.criteria.ownerUsername && $ctrl.criteria.branches" class="badge">
										<span ng-repeat="branch in $ctrl.criteria.branches">
											{{branch}}
											<span ng-if="$index < $ctrl.criteria.branches.length - 1">, </span>
										</span>
									</span>
									<span ng-if="$ctrl.criteria.ownerUsername" class="badge">
										{{$ctrl.criteria.ownerFullName}}&nbsp;
									</span>
								</div>
								<span ng-if="$ctrl.criteria.startDate || $ctrl.criteria.endDate" class="badge">
									{{$ctrl.criteria.startDate? ($ctrl.criteria.startDate | date:'MM/dd/yy') : 'Dawn of Time' }} - {{$ctrl.criteria.endDate? ($ctrl.criteria.endDate | date:'MM/dd/yy') : 'Present'}}&nbsp;
								</span>
								<span ng-if="$ctrl.criteria.ownerFilter" class="badge client-filter">
									{{$ctrl.criteria.ownerFilter}}&nbsp;
									<span uib-tooltip="Remove Filter" tooltip-append-to-body="true" ng-click="$ctrl.filterOwner()" class="cursor-pointer">
										<i class="fas fa-times-circle"></i>
									</span>
								</span>
								<span ng-if="$ctrl.criteria.manufacturerFilter" class="badge" style="background-color: #5583b4">
									{{$ctrl.criteria.manufacturerFilter}}
									<span uib-tooltip="Remove Filter" tooltip-append-to-body="true" ng-click="$ctrl.filterManufacturer(null)" class="cursor-pointer">
										<i class="fas fa-times-circle"></i>
									</span>
								</span>
								<span ng-if="$ctrl.criteria.commodityFilter" class="badge" style="background-color: #d79230">
									{{$ctrl.criteria.commodityFilter}}
									<span uib-tooltip="Remove Filter" tooltip-append-to-body="true" ng-click="$ctrl.filterCommodity(null)" class="cursor-pointer">
										<i class="fas fa-times-circle"></i>
									</span>
								</span>
								<span ng-if="$ctrl.filterText" class="badge client-filter">
									"{{$ctrl.filterText}}"&nbsp;
									<span uib-tooltip="Remove Filter" tooltip-append-to-body="true" ng-click="$ctrl.filterText = ''; $ctrl.saveFilterText();" class="cursor-pointer">
										<i class="fas fa-times-circle"></i>
									</span>
								</span>
							</td>
							<td style="width: 9%; text-align: right">
								<span ng-if="filteredNuggets">
									<div ng-switch="$ctrl.getNuggetListEntity(filteredNuggets)">
										<span ng-switch-when="NDC|ADC" ng-switch-when-separator="|">{{$ctrl.getTotals(filteredNuggets)  | currency: '$' : 0}}</span>
										<span ng-switch-when="EDC">{{$ctrl.getTotals(filteredNuggets)  | currency: '' : 0}} &euro;</span>
										<span ng-switch-default>{{$ctrl.getTotals(filteredNuggets)  | currency: '' : 0}}</span>
									</div>
								</span>
							</td>
							<td style="width: 8%; padding-left: 0; white-space: nowrap">
								Total Value
							</td>
							<td style="width: 34%; padding-right: 0; text-align: right; font-weight: 500">
								<div ng-if="$ctrl.criteria.status.open > 0" class="status-filter-toggle" style="background: #276ab0; cursor: default">
									<span>
										{{$ctrl.statusCounts.open}}&nbsp;&nbsp;Open</span>
								</div>
								<div ng-if="$ctrl.criteria.status.hold > 0" class="status-filter-toggle" style="background: #d79230; margin-left: 7px; cursor: default">
									<span>
										{{$ctrl.statusCounts.hold}}&nbsp;&nbsp;Hold</span>
								</div>
								<div ng-if="$ctrl.criteria.status.won > 0" class="status-filter-toggle" style="background: #4c964c; margin-left: 7px; cursor: default">
									<span>
										{{$ctrl.statusCounts.won}}&nbsp;&nbsp;Won</span>
								</div>
								<div ng-if="$ctrl.criteria.status.lost > 0" class="status-filter-toggle" style="background: #d74545; margin-left: 7px; cursor: default">
									<span>
										{{$ctrl.statusCounts.lost}}&nbsp;&nbsp;Lost</span>
								</div>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
</div>


<style>
.status-filter-toggle {
  display: inline-flex;
  padding: 0px 5px;
  border-radius: 4px;
  color: white;
  align-items: center;
  cursor: pointer;
}

.status-filter-toggle > span {
  padding-top: 2px;
}

tr > td {
	height: 39px;
}

.client-filter {
	background: #276AB0;
}
.clear-input-button:hover {
	color: tomato !important;
}
.tooltip-350width > .tooltip-inner {
	max-width: 350px !important;
	white-space: pre-wrap;
}
</style>