<div style="width: 100%; overflow-y: auto; max-height: 650px; margin-top: 10px;">
	<div ng-repeat="callReport in $ctrl.callReports | orderBy:['-callReport.callDate','-callReport.modifyDateTime']">
		<div style="border: 1px dashed #ccc; margin-top: 5px; padding-left: 15px; margin-right: 10px; display: flex;" class="show-on-hover-parent">
			<div style="width: 500px; display: inline-block;">
				<div style="margin-top: 10px; margin-bottom: 10px; white-space: nowrap;">
					<a ng-click="$ctrl.openCallReport(callReport.callReport.callReportId)" style="border-bottom: 2px solid black;" class="cursor-pointer" uib-tooltip="Open Call Report" tooltip-append-to-body="true">
						<b>{{callReport.callReport.callDate | date:'fullDate'}}</b> visit by <b>{{callReport.callReport.reporter}}</b>
					</a>	
					&nbsp;&nbsp;(Submitted: {{callReport.callReport.submitDateTime | date:"MM/dd/yyyy"}})
				</div>
				<div style="width: 200px; display: inline-block"><b style="padding-right: 10px;">Topic:</b>
					{{callReport.callReport.topic}}
					<span ng-if="!callReport.callReport.topic">None</span>	
				</div>
				<div style="width: 100px; display: inline-block; vertical-align: top"><b style="padding-right: 10px;">Strategy: </b>{{callReport.callReport.strategy.strategy}}</div>
				<div style="margin-top: 10px; margin-bottom: 10px">
					<div style="width: 200px; display: inline-block">
						<b style="padding-right: 10px;">Participants:</b>{{callReport.participants.length}}
					</div>
					<div style="width: 200px; display: inline-block">
						<b style="padding-right: 10px;">Action Items:</b>{{callReport.actionItems.length}}
					</div>
				</div>
				<div style="margin-bottom: 10px">
					<b style="padding-right: 10px;">Attachments:</b>
					<span ng-repeat="document in callReport.documentList track by $index">
						<a ng-class="$ctrl.hasDownloadPermission()? 'cursor-pointer' : 'disabled'" style="font-weight: bold; white-space: nowrap" ng-click="$ctrl.downloadDocument(document)">
							{{document.documentName}}.{{document.documentExt}}</a><span ng-if="callReport.documentList.length > 1 && $index !== callReport.documentList.length - 1">, </span>
					</span>
					<span ng-if="!callReport.documentList">None</span>
				</div>
			</div>
			<div style="width: calc(100% - 500px); display: inline-block; vertical-align: top; word-break: break-word; position: relative">
				<div style="padding-right: 22px; padding-top: 10px; padding-bottom: 15px; max-height: 110px; overflow-y: hidden;">
					<span ng-if="callReport.callReport.notes.length < 400" style="font-style: italic; white-space: pre-line">{{callReport.callReport.notes}}</span>
					<span ng-if="!(callReport.callReport.notes.length < 400)" style="font-style: italic">{{callReport.callReport.notes | truncate:false:395:'...'}}</span>
				</div>
				<span ng-if="$ctrl.isAdmin() || $ctrl.isReporter(callReport.callReport)" ng-click="$ctrl.deleteCallReport(callReport.callReport.callReportId)" class="show-on-hover text-danger cursor-pointer" style="position: absolute; right: 5px; top: 5px;" uib-tooltip="Discard Report" tooltip-append-to-body="true">
					<i class="far fa-trash-alt"></i>
				</span>
				<div style="position: absolute; right: 0; bottom: 0; font-style: italic; padding-right: 10px;">&mdash;Modified by {{callReport.callReport.modifiedBy}} on {{callReport.callReport.modifyDateTime | date:'short'}}</div>
			</div>
		</div>
	</div>
</div>