<div class="modal-header bg-primary wrapper-sm text-center">
	<button class="close pull-right" type="button"
		ng-click="$ctrl.cancel()">&times;</button>
	<p class="modal-title">Deleted Accounts</p>
</div>
<div class="modal-body">
	<table id="accountsTable" class="table" style="margin: 0;">
		<thead>                
			<tr class="table-header">
				<th>Account</th>
				<th>Deleter</th>
				<th>Date/Time</th>
			</tr>                                
		</thead>
	</table>
	<div style="height: 500px; width: 100%; overflow-y: auto; overflow-x: hidden; background-color:white;">
		<table class="table table-hover table-condensed">
			<tbody>
				<tr class="animate-repeat-table-row" ng-repeat="accountLog in $ctrl.accountDeletionLogs">
					<td>{{accountLog.account}}</td>
					<td>{{accountLog.modifiedBy}}</td>
					<td>{{accountLog.modifyDateTime | date:'short'}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
