	<div class="flex-custom-full" style="margin-bottom:5px;">
		<div class="panel panel-info flex-custom-full">
			
			<!-- ************* Header ********** -->
			<div class="panel-heading flex-header" style="flex:.1; padding:0;">
				
				<div style="flex-direction: row; display: flex; align-content: space-between ">
			
					<h4 class="panel-title"  style="flex: 1; margin-left:12px; padding-top:4px; padding-bottom:12px; font-weight: 600; font-size:17px;">Region</h4>
	
					<div style="align-self: center; justify-content: flex-end; flex:1">
						<span
							class="pull-right cursor-pointer"
							style="margin-right: 8px;"
							ng-click="$ctrl.onFinancialExpandClick(); $ctrl.showTooltip = false"
							ng-mouseenter="$ctrl.showTooltip = true"
							tooltip-is-open="$ctrl.showTooltip"
							uib-tooltip="{{$ctrl.isExpanded? 'Contract' : 'Expand' }} Region Financials"
							tooltip-append-to-body="true"
							tooltip-placement="left">
							<span ng-if="!$ctrl.isExpanded"><i  class="far fa-expand-arrows-alt " ></i></span>
							<span ng-if="$ctrl.isExpanded"><i  class="far fa-compress-arrows-alt " ></i></span>
						</span>
					</div>
	
				</div>

				
				<div class="table-header flex-custom-full" style="text-align: center; flex-direction: row; padding-right:17px;">
								
					<div style="flex: 0.6; text-align: start; padding: 8px;">
						<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('region',!$ctrl.sort.reverse)">Entity</a>
						<span class="sortorder" ng-show="$ctrl.sort.type === 'region'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
					</div>							
					<div style="flex: 1; text-align: right; padding: 8px;">
						<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('dSam',!$ctrl.sort.reverse)">DSAM</a>
						<span class="sortorder" ng-show="$ctrl.sort.type === 'dSam'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
					</div>
					<div style="flex: 1; text-align: right; padding: 8px;">
						<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('ytdBooked',!$ctrl.sort.reverse)">YTD Booked</a>
						<span class="sortorder" ng-show="$ctrl.sort.type === 'ytdBooked'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
					</div>
					<div style="flex: 1; text-align: right; padding: 8px;">
						<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('prevYearBooked',!$ctrl.sort.reverse)">LY Booked</a>
						<span class="sortorder" ng-show="$ctrl.sort.type === 'prevYearBooked'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
					</div>
					<div style="flex: 1; text-align: right; padding: 8px;">
						<span ng-if="$ctrl.plan.entity === 'GLOBAL'" uib-tooltip="Sum of Dollars & Euros, No Conversion." tooltip-placement="above">
							<i class="fas fa-info-circle cursor-pointer"></i>
						</span>
						<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('runRate',!$ctrl.sort.reverse)">Run Rate</a>
						<span class="sortorder" ng-show="$ctrl.sort.type === 'runRate'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
					</div>
					<div style="flex: 1; text-align: right; padding: 8px;">
						<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('target',!$ctrl.sort.reverse)">Target</a>
						<span class="sortorder" ng-show="$ctrl.sort.type === 'target'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
					</div>
					<div style="flex: 0.7; text-align: right; padding: 8px;">
						<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('percentToTarget',!$ctrl.sort.reverse)">% to Target</a>
						<span class="sortorder" ng-show="$ctrl.sort.type === 'percentToTarget'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
					</div>
					<div style="flex: 1; text-align: right; padding: 8px;">
						<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('ytdSales',!$ctrl.sort.reverse)">YTD Sales</a>
						<span class="sortorder" ng-show="$ctrl.sort.type === 'ytdSales'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
					</div>
					<div style="flex: 1.3; text-align: right; padding: 8px; white-space: nowrap;">
						<span uib-tooltip="Last year's cummulative sales as of {{$ctrl.currentDateLastYear | date : 'M/d/yy'}}" tooltip-placement="above">
							<i class="fas fa-info-circle cursor-pointer"></i>
						</span>
						<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('prevYearYtdSales',!$ctrl.sort.reverse)">LY YTD Sales</a>
						<span class="sortorder" ng-show="$ctrl.sort.type === 'prevYearYtdSales'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
					</div>
					<div style="flex: 1; text-align: right; padding: 8px;">
						<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('percentToPrevYearYtdSales',!$ctrl.sort.reverse)">% Year-on-Year</a>
						<span class="sortorder" ng-show="$ctrl.sort.type === 'percentToPrevYearYtdSales'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
					</div>
				</div>   
				
			</div>

			<!-- ************* Body - Table ********** -->
			<div class="panel-body financial-panel flex-custom-full" style="padding:0;">
				<div class="flex-custom-full" style="overflow-y: scroll">
					<table id="financial-region-table" class="table" style="margin: 0;">
			
						<tbody class="flex-custom-full">
							<tr ng-show="!$ctrl.entities">
								<td colspan=5>
									<div class="cssload-loader" ng-show="!$ctrl.entities">
									<div></div>
									<div></div>
									<div></div>
									<div></div>
									<div></div>
									</div>
								</td>                                
							</tr>
							<tr style="height: 49px; flex-direction: row" class="animate-repeat-table-row flex-custom-full cursor-pointer" 
							 ng-repeat="region in $ctrl.entities | orderBy: $ctrl.sort.type : $ctrl.sort.reverse track by $index" 
							 ng-hide="region.entity === 'TOTAL'"
							 ng-click="$ctrl.row.select(region,$index)"
							 ng-class="region.entity === $ctrl.entity? 'selected-entity' : ''">
								<td style="flex: 0.6;">
									<span>					
										{{region.entity == 'Total' ? 'Global' : region.entity}}
									</span>
								</td>
								<td style="flex:1; text-align: right;">
									<div ng-show="$index == $ctrl.entities.length - 1" ng-switch="region.currency">
										<span ng-switch-when="NDC|ADC" ng-switch-when-separator="|">{{::region.dSam  | currency: '$' : 0}}</span>
										<span ng-switch-when="EDC">{{::region.dSam  | currency: '' : 0}} &euro;</span>
										<span ng-switch-default>{{::region.dSam  | currency: '' : 0}}</span>
									</div>
									<div ng-show="$index != $ctrl.entities.length - 1">
										<span ng-show="region.entity != 'EDC'">{{region.dSam  | currency: '$' : 0}}</span>
										<span ng-show="region.entity == 'EDC'">{{region.dSam  | currency: '' : 0}} &euro;</span>
									</div>		
								</td>
								<td style="flex:1; text-align: right;">
									<span ng-show="region.entity != 'EDC'">{{region.ytdBooked  | currency: '$' : 0}}</span>
									<span ng-show="region.entity == 'EDC'">{{region.ytdBooked  | currency: '' : 0}} &euro;</span>
								</td>
								<td style="flex:1; text-align: right;">
									<span ng-show="region.entity != 'EDC'">{{region.prevYearBooked  | currency: '$' : 0}}</span>
									<span ng-show="region.entity == 'EDC'">{{region.prevYearBooked  | currency: '' : 0}} &euro;</span>
								</td>
								<td style="flex:1; text-align: right;">
									<div ng-show="$index == $ctrl.entities.length - 1" ng-switch="region.currency">
										<span ng-switch-when="NDC|ADC" ng-switch-when-separator="|">{{::region.runRate  | currency: '$' : 0}}</span>
										<span ng-switch-when="EDC">{{::region.runRate  | currency: '' : 0}} &euro;</span>
										<span ng-switch-default>{{::region.runRate  | currency: '' : 0}}</span>
									</div>
									<div ng-show="$index != $ctrl.entities.length - 1">
										<span ng-show="region.entity != 'EDC'">{{region.runRate  | currency: '$' : 0}}</span>
										<span ng-show="region.entity == 'EDC'">{{region.runRate  | currency: '' : 0}} &euro;</span>
									</div>								
								</td>
								<td style="flex:1; text-align: right;">
									<div ng-show="$index == $ctrl.entities.length - 1" ng-switch="region.currency">
										<span ng-switch-when="NDC|ADC" ng-switch-when-separator="|">{{::region.target  | currency: '$' : 0}}</span>
										<span ng-switch-when="EDC">{{::region.target  | currency: '' : 0}} &euro;</span>
										<span ng-switch-default>{{::region.target  | currency: '' : 0}}</span>
									</div>
									<div ng-show="$index != $ctrl.entities.length - 1">
										<span ng-show="region.entity != 'EDC'">{{region.target  | currency: '$' : 0}}</span>
										<span ng-show="region.entity == 'EDC'">{{region.target  | currency: '' : 0}} &euro;</span>
									</div>								
								</td>
								<td style="flex:0.7; text-align: right;">
									<span style="width: 75%;" class={{region.percentLabel}}
									ng-class="!region.percentToTarget? '' :region.percentToTarget >= 100 ? 'label label-success' : 'label label-danger'">
									{{region.percentToTarget? region.percentToTarget + '%': '-'}}</span>
								</td>
								<td style="flex:1; text-align: right;">
									<span ng-show="region.entity != 'EDC'">{{region.ytdSales  | currency: '$' : 0}}</span>
									<span ng-show="region.entity == 'EDC'">{{region.ytdSales  | currency: '' : 0}} &euro;</span>
								</td>
								<td style="flex:1.3; text-align: right;">
									<span ng-show="region.entity != 'EDC'">{{region.prevYearYtdSales  | currency: '$' : 0}}</span>
									<span ng-show="region.entity == 'EDC'">{{region.prevYearYtdSales  | currency: '' : 0}} &euro;</span>
								</td>
								<td style="flex:1; text-align: right;">
									<span style="width: 75%;" class={{region.percentLabel}}
									ng-class="!region.percentToPrevYearYtdSales? '' :region.percentToPrevYearYtdSales >= 100 ? 'label label-success' : 'label label-danger'">
									{{region.percentToPrevYearYtdSales? region.percentToPrevYearYtdSales + '%' : '-'}}</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<!-- *************Footer********** -->
		<div style="font-size: 13px; padding-top: 5px; background-color: white; width:100%; flex:.1; max-height: 40px;" class="table-footer flex-custom-full panel panel-info">
			<div style="text-align: center; flex-direction: row; padding-right:17px;" class="flex-custom-full">
			
				<div class="financial-total-row" style="flex:0.6; text-align: start;  padding-left: 8px; padding-right:8px;">Total</div>
				<div style="flex:1; text-align: right;  padding-left: 8px; padding-right:8px;">{{$ctrl.entities[$ctrl.entities.length - 1].dSam | number:0}}</div>
				<div style="flex:1; text-align: right;  padding-left: 8px; padding-right:8px;">{{$ctrl.entities[$ctrl.entities.length - 1].ytdBooked | number:0}}</div>
				<div style="flex:1; text-align: right;  padding-left: 8px; padding-right:8px;">{{$ctrl.entities[$ctrl.entities.length - 1].prevYearBooked | number:0}}</div>
				<div style="flex:1; text-align: right;  padding-left: 8px; padding-right:8px;">{{$ctrl.entities[$ctrl.entities.length - 1].runRate | number:0}}</div>
				<div style="flex:1; text-align: right;  padding-left: 8px; padding-right:8px;">{{$ctrl.entities[$ctrl.entities.length - 1].target | number:0}}</div>
				<div style="flex:0.7; text-align: right;  padding-left: 8px; padding-right:8px;">
					<span style="width: 75%;" class={{region.percentLabel}}
					 ng-class="!$ctrl.entities[$ctrl.entities.length - 1].percentToTarget? '' : $ctrl.entities[$ctrl.entities.length - 1].percentToTarget >= 100 ? 'label label-success' : 'label label-danger'">
						{{$ctrl.entities[$ctrl.entities.length - 1].percentToTarget? $ctrl.entities[$ctrl.entities.length - 1].percentToTarget + '%': '-'}}
					</span>
				</div>
				<div style="flex:1; text-align: right;  padding-left: 8px; padding-right:8px;">{{$ctrl.entities[$ctrl.entities.length - 1].ytdSales | number:0}}</div>
				<div style="flex:1.3; text-align: right;  padding-left: 8px; padding-right:8px;">{{$ctrl.entities[$ctrl.entities.length - 1].prevYearYtdSales | number:0}}</div>
				<div style="flex:1; text-align: right;  padding-left: 8px; padding-right:8px;">
					<span style="width: 75%;" class={{region.percentLabel}}
					 ng-class="!$ctrl.entities[$ctrl.entities.length - 1].percentToPrevYearYtdSales? '' : $ctrl.entities[$ctrl.entities.length - 1].percentToPrevYearYtdSales >= 100 ? 'label label-success' : 'label label-danger'">
						{{$ctrl.entities[$ctrl.entities.length - 1].percentToPrevYearYtdSales? $ctrl.entities[$ctrl.entities.length - 1].percentToPrevYearYtdSales + '%': '-'}}
					</span>
				</div>
			</div>
		</div>
		
	</div>

	<style>
	.flex-custom-full {
		height: 100%;
		width: 100%;
		display: flex;
		flex: 1 1 auto;
		flex-direction: column;
		overflow: auto;
	}
	.flex-header {
		flex:1;
		flex-direction: column;
		height: 100%;
		width: 100%;
		display: flex;
	}
	.selected-entity span {
		font-weight: 600;
	}
	.selected-entity {
		background-color: #fcd788 !important;
	}
	</style>