<div class="row">
	<div class="col-lg-6" style="background-color: #fff; padding-top: 1%; min-height: 650px;">
		<div style="margin-bottom: 1%;">
			<ng-form name="$ctrl.titleForm" class="form-inline">
				<fieldset>
					<div class="form-group" style="margin-right: 2%;"> 
						<input type="text" name="titleToAdd" ng-model="$ctrl.adTitle"
						   autocomplete="off"
	                       placeholder="Search for AD title..."
	                       uib-typeahead="titles.title for titles in $ctrl.findTitle($viewValue)" 
	                       typeahead-min-length="4"
	                       typeahead-loading="loadingNames" 
	                       typeahead-no-results="noResults"
	                       typeahead-on-select="$ctrl.setSelectedAdTitle($item)"
	                       typeahead-wait-ms="250"
	                       ng-keyup="evalNoResults($event)"
	                       style="width: 250px;"
	                       class="hideclose form-control">
					</div>
					
					<label>CAM Title:</label>
					<div class="btn-group" uib-dropdown style="margin-left: 1%; margin-right: 2%;">
						<button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled" style="width: 170px;">
							{{$ctrl.kamTitle }} <span class="pull-right"><span class="caret"></span></span>
						</button>
						<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
							<li role="menuitem" ng-repeat="kamTitle in $ctrl.kamTitles">
								<a target="_blank" ng-click="$ctrl.setSelectedKamTitle(kamTitle)">{{kamTitle}}</a>
							</li>
						</ul> 
					</div>
					
					<button class="btn btn-primary" ng-click="$ctrl.add()"  ng-disabled="$ctrl.isAddToTitleDisable()">
						Add Title
					</button>
				</fieldset>								
			</ng-form>
		</div>
		
		<table id="titlesTable" class="table" style="margin: 0;">
			<thead>                
				<tr class="table-header-inverse" style="text-align: center">
					<th style="width: 3%;"></th>
					<th style="width: 47%;">AD Title</th>
					<th style="width: 50%;">CAM Title</th>
				</tr>                                
			</thead>
		</table>
		<div style="height: 500px; width: 100%; overflow-y: auto; overflow-x: hidden; background-color:white;">
			<table class="table table-hover table-condensed">
				<tr class="animate-repeat-table-row cursor-pointer" ng-repeat="titleObj in $ctrl.titles track by titleObj.jobTitleId" ng-class="{'selected': $index == $ctrl.titleRow.index}">
					<td style="width: 3%;">
						<span ng-if= "$index == $ctrl.titleRow.index">
							<span id="delete-title" class="cursor-pointer text-success" ng-click="$ctrl.titleRow.editSelectedRowTitle(titleObj, $index)">
								<i class="fas fa-save"></i>
							</span>
							<span id="save-title" class="cursor-pointer text-danger" ng-click="$ctrl.titleRow.deleteSelectedRowTitle(titleObj, $index)">
								<i class="fas fa-trash-alt"></i>
							</span>
						</span>
					</td>												
					<td style="width: 48%;" ng-click="$ctrl.titleRow.select(titleObj, $index)">{{::titleObj.adTitle}}</td>
					<td style="width: 49%;" ng-click="$ctrl.titleRow.select(titleObj, $index)"">
						<span ng-if="!$ctrl.titleRow.isEditable($index) && titleObj.kamTitle!='NONE'">
							{{::titleObj.kamTitle}}
						</span>
						<span ng-if="!$ctrl.titleRow.isEditable($index) && titleObj.kamTitle==='NONE'"
							class="badge"
							style="background: #d74545"
							uib-tooltip="The following Job Title Hasn't Been Mapped to a CAM Title.">
							{{::titleObj.kamTitle}}
						</span>
						<span ng-if="$ctrl.titleRow.isEditable($index)">
							<div class="btn-group" uib-dropdown>
								<button id="single-button1" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
									{{titleObj.kamTitle }} <span class="caret"></span>
								</button>
								<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
									<li role="menuitem" ng-repeat="kamTitle in $ctrl.kamTitles">
										<a target="_blank" ng-click="$ctrl.titleRow.setSelectedRowKamTitle(kamTitle)">{{kamTitle}}</a>
									</li>
								</ul> 
							</div>
						</span>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="col-lg-6" style="padding-top: 1%;">
	
	</div>
</div>										
