<div ng-if="$ctrl.displayDashboard" gridster="$ctrl.gridsterOpts" style="margin-left: -30px; margin-top: 5px">
	<ul>
		<li gridster-item="{ sizeX: 2, sizeY: 1, row: 0, col: 2, minSizeX: 2, maxSizeX: 2, maxSizeY: 1 }">
			<call-reports-widget></call-reports-widget>
		</li>
		<li gridster-item="{ sizeX: 3, sizeY: 2, row: 1, col: 0, minSizeX: 3, minSizeY: 2, maxSizeX: 3, maxSizeY: 2 }">
			<oms-widget></oms-widget>
		</li>
		<li gridster-item="{ sizeX: 2, sizeY: 1, row: 0, col: 0, minSizeX: 2, maxSizeX: 2, minSizeY: 1, maxSizeY: 1 }">
			<plan-summary-widget></plan-summary-widget>
		</li>
		<li gridster-item="{ sizeX: 2, sizeY: 1, row: 1, col: 3, minSizeX: 2, maxSizeX: 2, maxSizeY: 1 }">
			<action-items-widget></action-items-widget>
		</li>
		<li gridster-item="{ sizeX: 2, sizeY: 1, row: 2, col: 3, minSizeX: 2, maxSizeX: 2, maxSizeY: 1 }">
			<nuggets-widget></nuggets-widget>
		</li>
		<li ng-if="$ctrl.displaySalesIQ === true" gridster-item="{ sizeX: 2, sizeY: 1, row: 0, col: 4, minSizeX: 2, maxSizeX: 2, maxSizeY: 1 }">
			<sales-iq-widget></sales-iq-widget>
		</li>
	</ul>
</div>
<div ng-if="!$ctrl.displayDashboard" gridster="$ctrl.gridsterOpts" style="margin-left: -30px; margin-top: 5px">
	<ul>
		<li gridster-item="{ sizeX: 2, sizeY: 1, row: 0, col: 0, minSizeX: 2, maxSizeX: 2, maxSizeY: 1 }">
			<none-role-widget></none-role-widget>
		</li>
	</ul>
</div>

<style>
.main-page {
	padding: 0 0 30px 2%;
}
.widget-header, .widget-header-inverse {
	padding: 5px 10px 3px 10px;
}
.widget-header > span {
	color: #276ab0;
    font-weight: bold;
}

.widget-header-inverse {
	background: #276ab0;
}

.widget-header-inverse > span {
	color: white;
    font-weight: bold;
}

.gridster-item {
	overflow: hidden;
	padding: 0px;
	background: white;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	border-radius: 10px;
}
.handle-se {
	right: 3px;
    bottom: 3px;
}
.handle-n, .handle-s {
	height: 4px !important;
}
.handle-w, .handle-e {
	width: 4px !important;
}
</style>