<!-- <div class="modal-header bg-warning lt wrapper-sm text-center" id=""> -->
<!--     <button class="close pull-right" type="button" ng-click="$ctrl.buttons.no()">&times;</button> -->
<!--     <p class="modal-title" style="font-weight: bold;">{{$ctrl.modalData.headerText}}</p> -->
<!-- </div> -->
<div class="modal-body">
	<div class="row" ng-if="!$ctrl.modalData.isConstruction">
		<div class="col-sm-1">
			<i class="fas fa-exclamation-triangle fa-2x" ng-class="$ctrl.modalData.iconColor"></i>
		</div>
		<div class="col-sm-11">
			<p style="white-space: pre-line;">{{::$ctrl.modalData.bodyText}}</p>
			<p>
				Do you wish to continue?
			</p>
		</div>
	</div>
	<div class="row" ng-if="$ctrl.modalData.isConstruction">
		<div class="col-sm-3">
			<img src="../kamApp/assets/img/construction_icon.jpg" height="128px" />
		</div>
		<div class="col-sm-9">
			<h1>Under Construction</h1>
			<p>
				This corner of CAM is currently under construction. There is too much dust and debris at this time to let you in.
			</p>
		</div>
	</div>
</div>
<div class="modal-footer" style="margin-top: 0; padding: 10px;">
	<button class="btn btn-sm" ng-class="$ctrl.modalData.okButtonColor" ng-click="$ctrl.buttons.yes()">
		Continue
	</button>
	<button class="btn btn-default btn-sm" ng-click="$ctrl.buttons.no()" ng-if="!$ctrl.modalData.isConstruction">
		Cancel
	</button>
</div>
