<div class="modal-header bg-primary wrapper-sm text-center">
	<button class="close pull-right" type="button" ng-click="$ctrl.cancel()">&times;</button>
	<p class="modal-title">{{$ctrl.title}}</p>
</div>
<div class="modal-body">
	<error-modal ng-model="$ctrl.clientError"></error-modal>
	<div ng-show="!$ctrl.clientError.message" style="margin-bottom: 15px;">
		<form name="$ctrl.nuggetForm" novalidate>

			<fieldset>
				<div class="form-group col-sm-12" ng-if="$ctrl.action === 'PURSUING'">
					<label>Are you sure you want to pursue this Opportunity?</label>
				</div>
				<div class="form-group col-sm-12" ng-if="$ctrl.action != 'PURSUING'">
					<label>Reason Code:</label>
					<select name="selectedOpportunityActionReason" ng-model="$ctrl.selectedOpportunityActionReason" class="form-control"
				     ng-options="reason.dropDownDescr for reason in $ctrl.reasonCdList track by reason.opportunityActionReasonID"
				     required></select>
				</div>

				<div class="form-group col-sm-12"  ng-if="$ctrl.action != 'PURSUING'">
					<label>Comment:</label>
					<textarea ng-model="$ctrl.opportunityActionComments" class="form-control" rows="4" char-limit-label limit="250" show-on-focus="true" required></textarea>
				</div>

			</fieldset>
		</form>
	</div>

</div>
<div class="modal-footer" style="margin-top: 0;">
	<button class="btn btn-primary" ng-click="$ctrl.submit()" ng-disabled="$ctrl.nuggetForm.$invalid">
		{{$ctrl.submitBtnTxt}}
	</button>
	<button class="btn btn-default" ng-click="$ctrl.cancel()">
		Cancel
	</button>
</div>