<div class="row" style="margin: 0; display: inline;">	
	<div class="col-sm-11" style="background-color: #fff; padding-top: 0.5%; min-height: 630px;">
		<table class="table" style="margin: 0;">
			<caption style="padding-top: 0;">
				<button class="btn btn-sm btn-primary" ng-click="$ctrl.add('Supplier')" ng-disabled="!$ctrl.permissions.validated('add')">					
					<i class="fa fa-user-plus"></i> Add New
				</button>
			</caption>
			<thead>
				<tr class="table-header-inverse">
					<th style="width: 3%;">						
					</th>
					<th style="width: 11%">
						<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('delegateFirstName',!$ctrl.sort.reverse)">First Name</a>
						<span class="sortorder" ng-show="$ctrl.sort.type === 'delegateFirstName'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
					</th>
					<th style="width: 11%">
						<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('delegateLastName',!$ctrl.sort.reverse)">Last Name</a>
						<span class="sortorder" ng-show="$ctrl.sort.type === 'delegateLastName'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
					</th>
					<th style="width: 13%">
						<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('delegateLocation',!$ctrl.sort.reverse)">Location</a>
						<span class="sortorder" ng-show="$ctrl.sort.type === 'delegateLocation'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
					</th>							
					<th style="width: 15%">
						<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('delegateEmail',!$ctrl.sort.reverse)">Contact</a>
						<span class="sortorder" ng-show="$ctrl.sort.type === 'delegateEmail'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
					</th>
					<th style="width: 20%">
						<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('manufacturer.manufacturerName',!$ctrl.sort.reverse)">Manufacturer</a>
						<span class="sortorder" ng-show="$ctrl.sort.type === 'manufacturer'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
					</th>
					<th style="width: 17%">
						<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('representativeFirm',!$ctrl.sort.reverse)">Rep Firm</a>
						<span class="sortorder" ng-show="$ctrl.sort.type === 'representativeFirm'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
					</th>
				</tr>
			</thead>
		</table>
		<div style="height: 530px; overflow-y: scroll; overflow-x: hidden;">
			<table class="table table-hover" style="margin: 0;">
				<tbody>
					<tr ng-repeat="contact in $ctrl.ngModel | orderBy: $ctrl.sort.type : $ctrl.sort.reverse">
						<td style="width: 2%;">
							<span id="customer-edit" ng-click="$ctrl.edit(contact)" ng-if="$ctrl.permissions.validated('edit')">
								<i class="fas fa-pencil cursor-pointer"></i> <br>
							</span>
							<span id="customer-delete" ng-click="$ctrl.deleteMe(contact.delegateId)" ng-if="$ctrl.permissions.validated('delete')">
								<i class="far fa-trash-alt text-danger cursor-pointer"></i>
							</span>
						</td>
						<td style="width: 11%; white-space: nowrap;">
							{{contact.delegateFirstName}} <br> 
							<span style="font-weight: bold;" ng-if="contact.delegateTitle.length <= 20">
								{{contact.delegateTitle}}
							</span>
							<span style="font-weight: bold;" ng-if="contact.delegateTitle.length > 20" uib-tooltip="{{contact.delegateTitle}}">
								{{contact.delegateTitle | truncate:false:20:'...'}}
							</span>
						</td>								
						<td style="width: 11%; white-space: nowrap;"><span style="font-weight: normal;">{{contact.delegateLastName}}</span></td>
						<td style="width: 13%; white-space: nowrap;">
							<span ng-if="contact.delegateLocation.length <= 25">
								<a ng-href="https://www.google.com/maps?q={{contact.delegateLocation}}" target="_blank">{{contact.delegateLocation}}</a>
							</span>
							<span ng-if="contact.delegateLocation.length > 25">
								<a ng-href="https://www.google.com/maps?q={{contact.delegateLocation}}" target="_blank" uib-tooltip="{{contact.delegateLocation}}">{{contact.delegateLocation | truncate:false:25:'...'}}</a>
							</span>
							<span ng-if="!contact.delegateLocation" style="color: orange"><i class="fas fa-exclamation-triangle"></i> No Location</span>							
						</td>
						<td style="width: 15%; white-space: nowrap;">
							<span><i class="fas fa-envelope"></i> </span>
							<span ng-if="!contact.delegateEmail" style="color: orange"><i class="fas fa-exclamation-triangle"></i> No Email</span>
							<span ng-if="contact.delegateEmail.length <= 30">
								<a href="mailto:{{contact.delegateEmail}}" target="_top">{{contact.delegateEmail}}</a>
							</span> 
							<span ng-if="contact.delegateEmail.length > 30">
								<a href="mailto:{{contact.delegateEmail}}" target="_top" uib-tooltip="{{contact.delegateEmail}}">{{contact.delegateEmail | truncate:false:30:'...'}}</a>
							</span>
							<br> 
							<span><i class="fas fa-phone"></i> </span>
							<span ng-if="!contact.delegatePhone" style="color: orange"><i class="fas fa-exclamation-triangle"></i> No Phone #</span>
							{{contact.delegatePhone}}
						</td>
						<td style="width: 20%; white-space: nowrap;">
							<b ng-if="contact.manufacturer.fullManufacturerName.length <= 25">{{contact.manufacturer.fullManufacturerName}}</b>
							<b ng-if="contact.manufacturer.fullManufacturerName.length > 25" uib-tooltip="{{contact.manufacturer.fullManufacturerName}}"
							tooltip-append-to-body="true">{{contact.manufacturer.fullManufacturerName | truncate:false:23:'...'}}</b>
							<br>
							<span ng-if="contact.manufacturer.parentManufacturer">Parent: </span>
							<span ng-if="contact.manufacturer.parentManufacturer.length <= 22">{{contact.manufacturer.parentManufacturer}}</span>
							<span ng-if="contact.manufacturer.parentManufacturer.length > 22" uib-tooltip="{{contact.manufacturer.parentManufacturer}}"
							tooltip-append-to-body="true">{{contact.manufacturer.parentManufacturer | truncate:false:20:'...'}}</span>
						</td>		
						<td style="width: 17%; white-space: nowrap;">
							{{contact.representativeFirm}}
						</td>						
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-sm-2">
	
	</div>		
</div>