<div class="page-header hidden-print" style="margin: 0; padding: 0; position: absolute; top: 0">
	<div style="display: inline-block; margin-left: 10px;">
		<div class="wrapper" style="margin-top: .5em;" ng-cloak>
			<div id="one" id="app-info">
				<p style="line-height: 1em;">
					<img style="height: 48px; padding-right: 10px; float: left;"
						src="../../../assets/img/tti-logo.png"> <a
						id="app-info-title" style="font-size: smaller"
						class="cursor-pointer" ng-click="$ctrl.clickHeaderLink()"> <span>{{::$ctrl.appInfo.title}}</span>
					</a> <span id="app-info-version"
						style="display: block; font-size: small; color: #777;">
						v{{::$ctrl.appInfo.version}} <span class="label label-warning">{{::$ctrl.appInfo.environment}}</span>
						<span id="mock-session-label" ng-if="$ctrl.mockSession"
						class="label label-danger">Mock Session</span>
					</span>
				</p>
			</div>
			<div id="two"></div>
		</div>
	</div>
	<angular-component></angular-component>
	<div style="display: inline-block; float: right; width: 450px; padding-top: 15px;">
		<div class="page-header-profile" style="width: auto; white-space: nowrap;">
			<span id="userprofile-name"
				uib-popover-template="$ctrl.userProfilePopover.templateUrl"
				popover-append-to-body="true" popover-placement="bottom"
				popover-trigger="'mouseenter'"
				style="font-weight: bold;"> {{$ctrl.name}} </span>
			<div ng-show="$ctrl.showNotificationIcon()"
				style="margin-top: 5px; float: right; margin-left: 15px; display: inline-block; position: relative"
				id="btn-show-notifications"
				uib-popover-template="$ctrl.notificationPopover.templateUrl"
				popover-title="Notifications" popover-append-to-body="true"
				popover-placement="bottom" popover-trigger="'outsideClick'"
				popover-class="notifications">
				<a style="color: black" class=cursor-pointer><i
					class="fas fa-bell" style="width: 20px; height: 20px;"></i> </a> <span
					ng-if="$ctrl.notificationCount > 0"
					style="pointer-events: none; position: absolute; bottom: 2px; left: 50%; margin-bottom: 23px; margin-left: 3px; font-size: 12px; padding: 2px 4px; background-color: red !important;"
					class="badge">{{$ctrl.notificationCount}}</span>
			</div>
<!-- 			<span class="hidden-lg" -->
<!-- 				uib-popover-template="$ctrl.userProfilePopover.templateUrl" -->
<!-- 				popover-append-to-body="true" popover-placement="bottom" -->
<!-- 				popover-trigger="'mouseenter'" popover-title="{{$ctrl.name}}"> -->
<!-- 				<i class="fas fa-user-circle fa-2x"></i> -->
<!-- 			</span> -->
		</div>

		<div style="width: 180px !important; padding-top: 7px"class="page-header-lookup-plan">
			<form>
				<lookup-plan min-length="3" ng-model="$ctrl.planText"
					on-select="$ctrl.setSelectedPlan($item)"
					tooltip-text="'Search by Account or Customer Name.'"
					tooltip-position="'bottom'"></lookup-plan>
			</form>
		</div>
		<!-- 		<div class="page-header-lookup-plan-info cursor-pointer"> -->
		<!-- 			<span class="cursor-pointer" uib-tooltip="Search by Account or Customer Name." tooltip-placement="bottom"> -->
		<!-- 				<i class="fa fa-info-circle"></i> -->
		<!-- 			</span> -->
		<!-- 		</div> -->
	</div>
</div>

<!-- Popover Content -->
<script type="text/ng-template" id="popoverNotifications.html">
	<notifications></notifications>
</script>

<script type="text/ng-template" id="myPopoverTemplate.html">
	<div id="userprofile-popover">         
	<div>UserName: {{$ctrl.userProfile.getSAMAccountName()}}</div>
	<div>{{$ctrl.userProfile.getMail()}}</div>        
	<div>Branch: {{$ctrl.userProfile.getBranch()}}</div>
	<div>Entity: {{$ctrl.userProfile.getEntity()}}</div>	
	<div>User Type: {{$ctrl.userProfile.getUserTypeName() | uppercase }}</div>        
	<div ng-show="$ctrl.userProfile.getIsMock()" style="color:red" ng-switch="$ctrl.trueMock">
		<span ng-switch-when="false">(Mock)</span>
		<span ng-switch-when="true">(True Mock)</span>
	</div>
	</div>
</script>

<script type="text/ng-template" id="customTemplate.html">
<div class="lookup-plan-results">
	<h5 style="margin: 0 0 5px 5px;">
		<span ng-if="match.model.planType.planTypeId === 1">
			<i class="fa fa-globe"></i>				
			- {{match.model.customerName}}
		</span>
		<span ng-if="match.model.planType.planTypeId === 2">				
			<strong>NDC</strong> - {{match.model.customerName}}
		</span>
		<span ng-if="match.model.planType.planTypeId === 3">				
			<strong>EDC</strong> - {{match.model.customerName}}
		</span>
		<span ng-if="match.model.planType.planTypeId === 4">				
			<strong>ADC</strong> - {{match.model.customerName}}
		</span>
		<span ng-if="match.model.planType.planTypeId === 5 || match.model.planType.planTypeId === 6">
			<strong>{{match.model.branch}}</strong>
			- {{match.model.customerName}}
		</span>				
	</h5>
	<h6 style="margin: 0 0 0 5px; font-style: italic;">
		{{match.model.planType.planTypeId === 1 ? 'Global' : match.model.planType.planType}} -  
		Owner: {{(match.model.planAcctManager ? match.model.planAcctManager : match.model.acctManager) | titlecase}}
	</h6>			
</div>  		
</script>