<div class="row" style="margin-top: 0;">
	<div class="col-sm-10" style="background-color: #fff; padding-top: 0.5%; min-height: 650px;">
		<table id="tti-owner-table" class="table">		
			<caption style="padding-top: 0;">				
				<button class="btn btn-sm btn-primary" ng-click="$ctrl.addRse()" ng-if="$ctrl.isRseUser()">					
					<i class="fa fa-user-plus cursor-pointer"></i> Add Me
				</button>
			</caption>	
			<thead>
				<tr class="table-header-inverse">
					<th style="width: 3%"></th>
					<th style="width: 25%">First Name</th>							
					<th style="width: 15%">Last Name</th>
					<th style="width: 17%">Type</th>
					<th style="width: 19%">Location</th>							
					<th style="width: 21%">Contact</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="owner in $ctrl.ngModel.owners | orderBy: 'delegateType.delegateTypeId' : false">
					<td style="width: 3%;">
						<span ng-if="$ctrl.permissions.ownerRemoval(owner.delegateType.delegateType)"
							ng-click="$ctrl.deleteMe(owner.delegateId, 'RSE')">							
							<i class="far fa-trash-alt text-danger cursor-pointer"></i>
						</span>
					</td>
					<td>
						{{owner.delegateFirstName | titlecase}} <br> 
						<span style="font-weight: bold;" ng-if="owner.delegateTitle.length <= 25">
							{{owner.delegateTitle}}
						</span>
						<span style="font-weight: bold;" ng-if="owner.delegateTitle.length > 25" uib-tooltip="{{owner.delegateTitle}}">
							{{owner.delegateTitle | truncate:false:25:'...'}}
						</span>
					</td>
					<td>{{owner.delegateLastName | titlecase}}</td>
					<td>{{owner.delegateType.delegateType}}</td>							
					<td>
						<span ng-if="owner.delegateLocation.length <= 20">
							<a ng-href="https://www.google.com/maps?q={{owner.delegateLocation}}" target="_blank">{{owner.delegateLocation}}</a>
						</span>
						<span ng-if="owner.delegateLocation.length > 20">
							<a ng-href="https://www.google.com/maps?q={{owner.delegateLocation}}" target="_blank" uib-tooltip="{{owner.delegateLocation}}">{{owner.delegateLocation | truncate:false:20:'...'}}</a>
						</span>
					</td>					
					<td style="width: 18%; white-space: nowrap;">
							<span><i class="fa fa-envelope"></i> </span>
							<span ng-if="owner.delegateEmail.length <= 25">
								<a href="mailto:{{owner.delegateEmail}}" target="_top">{{owner.delegateEmail}}</a>
							</span> 
							<span ng-if="owner.delegateEmail.length > 25">
								<a href="mailto:{{owner.delegateEmail}}" target="_top" uib-tooltip="{{owner.delegateEmail}}">{{owner.delegateEmail | truncate:false:25:'...'}}</a>
							</span>
							<br> 
							<span><i class="fa fa-phone"></i> </span>{{owner.delegatePhone}}
						</td>	
				</tr>
			</tbody>
		</table>
	
		<table id="tti-participants-table" class="table" style="margin: 0;">
			<caption>
				Participants
				<button class="btn btn-sm btn-primary" ng-click="$ctrl.add('TTI')" ng-disabled="!$ctrl.permissions.validated('add')">					
					<i class="fa fa-user-plus cursor-pointer"></i> Add New
				</button>
			</caption>
			<thead>
				<tr class="table-header-inverse">
					<th style="width: 3%"></th>
					<th style="width: 24.5%">
						<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('delegateFirstName',!$ctrl.sort.reverse)">First Name</a>
						<span class="sortorder" ng-show="$ctrl.sort.type === 'delegateFirstName'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
					</th>							
					<th style="width: 24.5%">
						<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('delegateLastName',!$ctrl.sort.reverse)">Last Name</a>
						<span class="sortorder" ng-show="$ctrl.sort.type === 'delegateLastName'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
					</th>
<!-- 					<th style="width: 17%"> -->
<!-- 						<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('delegateType',!$ctrl.sort.reverse)">Type</a> -->
<!-- 						<span class="sortorder" ng-show="$ctrl.sort.type === 'delegateType'" ng-class="{reverse:$ctrl.sort.reverse}"></span> -->
<!-- 					</th> -->
					<th style="width: 24.5%">
						<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('delegateLocation',!$ctrl.sort.reverse)">Location</a>
						<span class="sortorder" ng-show="$ctrl.sort.type === 'delegateLocation'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
					</th>							
					<th style="width: 22%">
						<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('delegateEmail',!$ctrl.sort.reverse)">Contact</a>
						<span class="sortorder" ng-show="$ctrl.sort.type === 'delegateEmail'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
					</th>
				</tr>
			</thead>
		</table>
		<div style="height: 420px; overflow-y: scroll; overflow-x: hidden;">
			<table class="table table-hover" style="margin: 0;">
				<tbody>
					<tr ng-repeat="contact in $ctrl.ngModel.participants | orderBy: $ctrl.sort.type : $ctrl.sort.reverse">
						<td style="width: 3%;">
							<span id="participant-edit" ng-click="$ctrl.edit(contact)" ng-if="$ctrl.permissions.validated('edit')">
								<i class="fas fa-pencil cursor-pointer"></i>
							</span>
							<span id="participant-delete" ng-click="$ctrl.deleteMe(contact.delegateId, 'tti')" ng-if="$ctrl.permissions.validated('delete')">
								<i class="far fa-trash-alt text-danger cursor-pointer"></i>
							</span>
						</td>
						<td style="width: 25%; white-space: nowrap;">
							{{contact.delegateFirstName}} <br> 
							<span style="font-weight: bold;" ng-if="contact.delegateTitle.length <= 20">
								{{contact.delegateTitle}}
							</span>
							<span style="font-weight: bold;" ng-if="contact.delegateTitle.length > 20" uib-tooltip="{{contact.delegateTitle}}">
								{{contact.delegateTitle | truncate:false:20:'...'}}
							</span>
						</td>								
						<td style="width: 25%; white-space: nowrap;"><span style="font-weight: normal;">{{contact.delegateLastName}}</span></td>
<!-- 						<td style="width: 17%; white-space: nowrap;"><span style="font-weight: nomal;">{{contact.delegateType.delegateType}}</span></td> -->
						<td style="width: 25%; white-space: nowrap;">
							<span ng-if="contact.delegateLocation.length <= 20">
								<a ng-href="https://www.google.com/maps?q={{contact.delegateLocation}}" target="_blank">{{contact.delegateLocation}}</a>
							</span>
							<span ng-if="contact.delegateLocation.length > 20">
								<a ng-href="https://www.google.com/maps?q={{contact.delegateLocation}}" target="_blank" uib-tooltip="{{contact.delegateLocation}}">{{contact.delegateLocation | truncate:false:20:'...'}}</a>
							</span>
							<span ng-if="!contact.delegateLocation" style="color: orange"><i class="fas fa-exclamation-triangle"></i> No Location</span>
						</td>
						<td style="width: 21%; white-space: nowrap;">
							<span><i class="fa fa-envelope"></i> </span>
							<span ng-if="contact.delegateEmail.length <= 15">
								<a href="mailto:{{contact.delegateEmail}}" target="_top">{{contact.delegateEmail}}</a>
							</span> 
							<span ng-if="contact.delegateEmail.length > 15">
								<a href="mailto:{{contact.delegateEmail}}" target="_top" uib-tooltip="{{contact.delegateEmail}}">{{contact.delegateEmail | truncate:false:15:'...'}}</a>
							</span>
							<br> 
							<span><i class="fa fa-phone"></i> </span>{{::contact.delegatePhone}}
						</td>								
					</tr>
				</tbody>
			</table>
		</div>	
	</div>
	<div class="col-sm-2">
	
	</div>		
</div>