<div class="row">
	<div class="col-xs-12">
		<div class="page-nav" style="display: flex; width: 100%; justify-content: center;" bs-affix data-offset-top="50">
			<span style="position: absolute; left: 15px;" class="page-nav-brand">
				OMS Projects
			</span>
			
			
			<div class="input-group" style="width: 25%; min-width: 250px; max-width: 400px; padding-top: 17px; position: relative !important">
				<input ng-model="$ctrl.filterText" ng-model-options="{debounce: 300}" ng-change="$ctrl.saveFilterText();" placeholder="Filter Projects..." class="form-control"/>
				<span class="input-group-addon cursor-pointer" style="padding: 6px 7px !important;"
				 uib-tooltip="This field supports comma-delimited filters.&#13;&#10; e.g. &quot;filter 1, filter 2, filter 3&quot;"
				 tooltip-append-to-body="true" tooltip-class="tooltip-350width">
					<i class="fas fa-info-circle fa-lg"></i>
				</span>
<!-- 				<span ng-click="$ctrl.filterText = ''; $ctrl.saveFilterText();" class="cursor-pointer clear-input-button" style="position: absolute; right: 10px; top: 2px; color: gray;"><i class="fas fa-times"></i></span> -->
			</div>
			
			<div style="right: 30px; top: 0; position: absolute;">
	            <button ng-click="$ctrl.openSearchModal()" class="btn btn-primary" style="vertical-align: top; margin-top: 17px; margin-left: 15px">Search&nbsp;&nbsp;<i class="far fa-search"></i></button>
            </div>
		</div>
	</div>
</div>
<div class="row" style="margin: 20px 0px 0 0px; height: calc(100% - 128px)">
	<div class="col-xs-12" style="background-color: #fff; box-shadow: 3px 3px 3px #888888;
	 padding: 10px; padding-bottom: 0; display: flex; flex-direction: column; height: 100%; min-height: 300px; border-radius: 13px;" ng-switch="!$ctrl.project">
		
		<div ng-switch-default>
			<project-details ng-if="$ctrl.project" plan="$ctrl.plan" active-projects="$ctrl.projects.active" project="$ctrl.project"></project-details>
		</div>
		<div ng-switch-when="true" style="position: relative; height: 100%">
			<div style="display: flex; overflow: hidden; white-space: nowrap; background-color: #276ab0">
				<div style="width: calc(100% - 17px); display: inline-block;">
					<table class="table" style="table-layout: fixed; margin: 0; ">
						<thead>
							<tr class="table-header-inverse">
								<th style="width: 2%;"></th>
								<th style="width: 12%; padding-left: 16px">
									<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('customerPlan.customerName',!$ctrl.sort.reverse)">Customer</a>
									<span class="sortorder" ng-show="$ctrl.sort.type === 'customerPlan.customerName'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
								</th>
								<th style="width: 8%">
									<span id="project-info" uib-tooltip="Click the Project ID to open the project inside the customer plan" tooltip-placement="above" tooltip-append-to-body="true">
										<i class="fas fa-info-circle cursor-pointer"></i>
									</span>
									<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('projectId',!$ctrl.sort.reverse)">Project ID</a>
									<span class="sortorder" ng-show="$ctrl.sort.type === 'projectId'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
								</th>
								<th style="width: 14%">
									<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('projectName',!$ctrl.sort.reverse)">Project Name</a>
									<span class="sortorder" ng-show="$ctrl.sort.type === 'projectName'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
								</th>
								<th style="width: 14%; text-align: left">
									<span id="project-info" uib-tooltip="Click the &quot;Master Project&quot; name to view project sub-assemblies." tooltip-placement="above" tooltip-append-to-body="true">
										<i class="fas fa-info-circle cursor-pointer"></i>
									</span>
									<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('masterProjectName',!$ctrl.sort.reverse)">Master Project</a>
									<span class="sortorder" ng-show="$ctrl.sort.type === 'masterProjectName'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
								</th>
								<th style="width: 9%; text-align: right">
									<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('dollarValue',!$ctrl.sort.reverse)">Project Value</a>
									<span class="sortorder" ng-show="$ctrl.sort.type === 'dollarValue'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
								</th>
								<th style="width: 4%"></th>
								<th style="width: 10%">
									<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('estimatedProductionDate',!$ctrl.sort.reverse)">Est. Prod. Date</a>
									<span class="sortorder" ng-show="$ctrl.sort.type === 'estimatedProductionDate'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
								</th>	
								<th style="width: 10%">
									<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('insertDate',!$ctrl.sort.reverse)">Date Created</a>
									<span class="sortorder" ng-show="$ctrl.sort.type === 'insertDate'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
								</th>	
								<th style="width: 10%">
									<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('lastUpdateDate',!$ctrl.sort.reverse)">Last Update</a>
									<span class="sortorder" ng-show="$ctrl.sort.type === 'lastUpdateDate'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
								</th>							
								<th style="width: 8%; text-align: center;">
									<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('projectActions',!$ctrl.sort.reverse)">Action Items</a>
									<span class="sortorder" ng-show="$ctrl.sort.type === 'projectActions'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
								</th>
								<th style="width: 3%"></th>
							</tr>
						</thead>
					</table>
				</div>
				<div style="width: 13px; display: inline-block;">
					<table class="table" style="margin: 0; ">
						<thead>
							<tr class="table-header-inverse">
								<th style="width: 2%;">&nbsp;</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
			<div ng-attr-id="{{$ctrl.status + 'ProjectTable'}}" style="overflow-y: scroll; overflow-x: hidden; height: calc(100% - 73px);">
				<table ng-if="$ctrl.projects && projects.length === 0" class="table table-hover" style="margin: 0; margin-bottom: 45px; height: calc(100% - 45px)">
					<tbody style="height: 100%">
						<tr style="height: 100%" class="hidden-print no-hover-muted">
							<td style="padding-top: 30px; justify-content: center; display: flex; flex-direction: column; width: 100%; height: 100%" colspan="7" class="text-center text-muted">
								<span>
									<i class="fal fa-frown-open fa-4x"></i>
								</span>
								<span style="font-size: xx-large; display: block; margin-top: 5px">
									No Projects Found.
								</span>				
							</td>
						</tr>
					</tbody>
				</table>
			
				<table ng-if="!$ctrl.projects" class="table table-hover" style="margin: 0; margin-bottom: 45px;">
					<tbody>
						<tr class="no-hover-muted">
							<td colspan=7>
								<div class="cssload-loader">
								<div></div>
								<div></div>
								<div></div>
								<div></div>
								<div></div>
								<div></div>
								</div>
							</td>                                
						</tr>
					</tbody>
				</table>
				<table ng-show="$ctrl.projects && projects.length > 0" class="table table-hover" style="table-layout: fixed; margin: 0; margin-bottom: 45px;">
					<tbody>
						<tr class="show-on-hover-parent" ng-repeat="project in $ctrl.projects | commaDelimitedFilter:$ctrl.filterText | omsProjectFilter:{ownerName: $ctrl.ownerFilter, masterProjectId: $ctrl.selectedMasterProjectId} | orderBy: $ctrl.sort.type : $ctrl.sort.reverse | orderBy:sortMasterProject:true as projects track by project.projectId"
							ng-class="project.master? 'master' : ''">
							<td style="width: 2%; padding-left: 4px; padding-right: 0px;">
								<initials-badge name="project.ownerName" invert="project.ownerName === $ctrl.userProfile.fullName" ng-click="$ctrl.filterOwner(project.ownerName)"/>
							</td>
							<td style="width: 12%; white-space: nowrap; padding-right: 0px;">
								<span ng-if="project.customerPlan.familyId !== $ctrl.plan.familyID && project.customerPlan.planId > 0" ng-click="$ctrl.openPlan(project.customerPlanId)" class="cursor-pointer">
									<a style="display: block; overflow: hidden; text-overflow: ellipsis;" show-tooltip-on-text-overflow tooltip-enable="false" uib-tooltip="{{project.customerPlan.customerName}}" tooltip-append-to-body="true">
										{{::project.customerPlan.customerName}}
									</a>
								</span>
								<span ng-if="!(project.customerPlan.planId > 0)">
									<span style="display: block; overflow: hidden; text-overflow: ellipsis;" show-tooltip-on-text-overflow tooltip-enable="false" uib-tooltip="{{project.customerPlan.customerName}}" tooltip-append-to-body="true">
										{{::project.customerPlan.customerName}}
									</span>
								</span>
							</td>
							<td ng-switch="project.customerPlan.planId !== 0" style="width: 8%; white-space: nowrap; padding-left: 25px">
								<a ng-switch-when="true" ng-click="$ctrl.openProject(project)" href="">
									{{::project.projectId}}
								</a>
								<span ng-switch-default>
									{{::project.projectId}}
								</span>
							</td>								
							<td style="width: 14%;">
								<span style="display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" show-tooltip-on-text-overflow tooltip-enable="false" uib-tooltip="{{project.projectName}}" tooltip-append-to-body="true">
									{{::project.projectName}}
								</span>
							</td>	
							<td style="width: 14%; white-space: nowrap; text-align: left;">
								<span ng-click="$ctrl.filterMasterProject(project)">
									<a ng-if="project.masterProjectName.length > 25" uib-tooltip="{{project.masterProjectName}}" tooltip-append-to-body="true" class="cursor-pointer">
										{{::project.masterProjectName | truncate:false:25:'...'}}
									</a>
									<a ng-if="project.masterProjectName.length <= 25" class="cursor-pointer">
										{{::project.masterProjectName}}
									</a>
								</span>
							</td>
							<td style="width: 9%; white-space: nowrap; text-align:right">{{::project.dollarValue | currency:"$":0}}</td>
							<td style="width: 4%;"></td>
							<td style="width: 10%; white-space: nowrap;">{{::project.estimatedProductionDate | date:"MM/dd/yyyy"}}</td>
							<td style="width: 10%; white-space: nowrap;">{{::project.insertDate | date:"MM/dd/yyyy"}}</td>
							<td style="width: 10%; white-space: nowrap;">{{::project.lastUpdateDate | date:"MM/dd/yyyy"}}</td>
							<td style="width: 8%; white-space: nowrap; text-align: center; padding-right: 0px">
								<span ng-click="$ctrl.openActionItems(project, false)" uib-tooltip="View Incomplete" tooltip-append-to-body="true">
									<a style="color: orange;"class="cursor-pointer">{{$ctrl.getIncompleteActionCount(project)}}</a>
								</span> /
								<span ng-click="$ctrl.openActionItems(project, true)" uib-tooltip="View All" tooltip-append-to-body="true">
									<a class="cursor-pointer">{{project.projectActions.length}}</a>
								</span>
							</td>
							<td style="width: 3%; white-space: nowrap; text-align: right; padding-left: 0px"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div id="tableFooter">
				<table class="table" style="table-layout: fixed; margin-bottom: 0;">
					<tfoot class="table-footer">
						<tr>
							<td style="width: 45%">
								<span class="pull-left" style="margin-right: 5px;">{{projects.length | number}} Project{{projects.length == 1? '' : 's'}}&nbsp;&nbsp;-&nbsp;&nbsp;Filtered By:</span>
								<span ng-if="$ctrl.criteria.showMine" class="badge">
									Mine Only
								</span>
								<div ng-if="!$ctrl.criteria.showMine" style="display: inline-block">
									<span ng-if="!$ctrl.criteria.username && $ctrl.criteria.corpId" class="badge">
										{{$ctrl.criteria.corpId.corpId}} | {{$ctrl.criteria.corpId.customerName}}
									</span>
									<span ng-if="!$ctrl.criteria.username && $ctrl.criteria.branch" class="badge">
										{{$ctrl.criteria.branch}}
									</span>
									<span ng-if="$ctrl.criteria.username" class="badge">
										{{$ctrl.criteria.fullName}}&nbsp;
									</span>
								</div>
								<span ng-if="$ctrl.criteria.startDate || $ctrl.criteria.endDate" class="badge">
									{{$ctrl.criteria.startDate? ($ctrl.criteria.startDate | date:'MM/dd/yy') : 'Dawn of Time' }} - {{$ctrl.criteria.endDate? ($ctrl.criteria.endDate | date:'MM/dd/yy') : 'Present'}}&nbsp;
								</span>
								<span ng-if="$ctrl.ownerFilter" class="badge client-filter">
									{{$ctrl.ownerFilter}}&nbsp;
									<span uib-tooltip="Remove Filter" tooltip-append-to-body="true" ng-click="$ctrl.filterOwner()" class="cursor-pointer">
										<i class="fas fa-times-circle"></i>
									</span>
								</span>
								<span ng-if="$ctrl.selectedMasterProjectId" class="badge client-filter">
									{{$ctrl.selectedMasterProjectName}}&nbsp;
									<span uib-tooltip="Remove Filter" tooltip-append-to-body="true" ng-click="$ctrl.filterMasterProject(null)" class="cursor-pointer">
										<i class="fas fa-times-circle"></i>
									</span>
								</span>
								<span ng-if="$ctrl.filterText" class="badge client-filter">
									"{{$ctrl.filterText}}"&nbsp;
									<span uib-tooltip="Remove Filter" tooltip-append-to-body="true" ng-click="$ctrl.filterText = ''; $ctrl.saveFilterText();" class="cursor-pointer">
										<i class="fas fa-times-circle"></i>
									</span>
								</span>
							</td>
							<td style="width: 9%; text-align: right">
								<span>{{$ctrl.getTotalValue(projects) | currency:"$":0}}</span>
							</td>
							<td style="width: 8%; padding-left: 0; white-space: nowrap">
								Total Value
							</td>
							<td style="width: 34%; text-align: right">
								{{$ctrl.getTotalIncompleteActions(projects) | number}}&nbsp;&nbsp;Incomplete Action{{$ctrl.getTotalIncompleteActions(projects) == 1? '' : 's'}}
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
</div>


<style>
.master {
	background: #dbffcc !important;
}
.clear-input-button:hover {
	color: tomato !important;
}
.tooltip-350width > .tooltip-inner {
	max-width: 350px !important;
	white-space: pre-wrap;
}
</style>