<div class="modal-header bg-primary wrapper-sm text-center">
	<button class="close pull-right" type="button" ng-click="$ctrl.buttons.cancel()">&times;</button>
	<p class="modal-title">Plan Filters</p>
</div>
<div class="modal-body" style="padding-bottom: 0;">
	<error-modal ng-model="$ctrl.clientError"></error-modal>	
	<div ng-show="!$ctrl.clientError.message">
		<div class="row" style="margin-top: 0;">
		<form name="$ctrl.preferencesForm" class="form-horizontal">
			<div ng-if="true"> <!-- Keeping this until all options become available -->
				<div class="form-group">				
					<label class="col-md-3 control-label" for="dollarTierMultiSelect"> Plan Value: </label>
					<div class="col-md-4">
						<div ng-dropdown-multiselect="" button-title="$ctrl.dv.selectedTiersStringDisplay" ng-model="$ctrl.formFields.selectedTiers" name="dollarTierMultiSelect" ng-click="$ctrl.formatSelectedTiers(); $ctrl.preferencesForm.$setDirty();"
						extra-settings="$ctrl.dollarTiersConfig" options="$ctrl.dv.tiers" selected-model="$ctrl.formFields.selectedTiers" translation-texts="$ctrl.multiselectText">
					</div>					
					</div>
					<div class="col-md-4 rounded-corners bg-white" style="background: #ff7777; height: 30px; margin-top:3px; margin-left: 15px" ng-if="($ctrl.formFields.selectedTiers.length === 0) && $ctrl.preferencesForm.$dirty">
						<div style="padding-top: 5px;"><i class="fas fa-exclamation-triangle" style="color:white; margin-right: 10px"></i><span style="color: white">Please select a plan tier!</span></div>
					</div>
				</div>
			</div>
			<div ng-if="$ctrl.userBranches.length > 1">
				<div class="form-group">
					<label class="col-md-3 control-label" for="branchesMultiSelect"> Branches: </label>
					<div class="col-md-8">

						<tags-input ng-model="$ctrl.formFields.selectedBranches"
							placeholder="Add a branch..." 
							key-property="Id"
							type="text"
							display-property="display"
							replace-spaces-with-dashes="false"
							add-from-autocomplete-only="true"
							min-length="2">
							<auto-complete source="$ctrl.branchFilter($query)"
								min-length="1"
								max-results-to-show=100>
							</auto-complete>
						</tags-input>
						
					</div>
				</div>
			</div>
			<div ng-if="$ctrl.checkPermission('userFilter')" class="form-group">
				<label class="col-md-3 control-label" for="userSelected">User Name:</label>
				<div class="col-md-9">
					<lookup-user style="width: 40%;" ng-model="$ctrl.userSelected" min-length="2" on-select="$ctrl.setSelected($item)"></lookup-user>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label">Market Segment:</label>
				<div class="col-md-4">
					<label>Category:</label>
					<select title="" name="marketSegment" placeholder="Category" 
							ng-model="$ctrl.formFields.marketSegment" class="form-control"
						    ng-options="marketSegment.categoryId + ' - ' + marketSegment.categoryName for marketSegment in $ctrl.marketSegments track by marketSegment.categoryId"
						    ng-change="$ctrl.marketSegmentFilter.updateSubCategory()"
						    >
						<option value="">All</option>
					</select>
				</div>
				<div class="col-md-5">
					<label>Sub-Category:</label>
					<select title="" name="subCategory" style="width: 90%;" placeholder="Subcategory"
							ng-model="$ctrl.formFields.subCategory" class="form-control"
						    ng-options="(subCategory.marketSegmentCode.length > 1? subCategory.marketSegmentCode  + ' - ' : '') + subCategory.marketSegment for subCategory in $ctrl.subCategories track by subCategory.marketSegmentID"
						    ng-disabled="$ctrl.marketSegmentFilter.enableSubCategory()">
<!-- 						<option value="">All</option> -->
					</select>
				</div>
			</div>
			<div ng-if="false"> <!-- Keeping this until all options become available -->
				<div class="form-group">
					<label class="col-md-3 control-label" for="der">D-E-R:</label>
					<div class="col-md-9">
						<select style="width: 40%;" class="form-control"
								ng-model="$ctrl.preferenceOptions.der.selectedValue" 
								ng-options="item.display for item in $ctrl.preferenceOptions.der.list track by item.value"
								disabled>					
						</select>
					</div>
				</div>
<!-- 				<div class="form-group"> Needs to be retrieved and populated from DB -->
<!-- 					<label class="col-md-3 control-label">Region:</label> -->
<!-- 					<div class="col-md-9"> -->
<!-- 						<select style="width: 40%;" class="form-control" -->
<!-- 								ng-model="$ctrl.preferenceOptions.regions.selectedValue" -->
<!-- 								ng-options="item.display for item in $ctrl.preferenceOptions.regions.list track by item.value">					 -->
<!-- 						</select> -->
<!-- 					</div> -->
<!-- 				</div> -->
				<div class="form-group" ng-if="$ctrl.preferenceOptions.branches.list.length > 0"> <!-- Needs to be retrieved and populated from DB -->
					<label class="col-md-3 control-label">Branch:</label>
					<div class="col-md-9">
						<select style="width: 40%" class="form-control"
								ng-model="$ctrl.preferenceOptions.branches.selectedValue"
								ng-options="item.display for item in $ctrl.preferenceOptions.branches.list track by item.value">					
						</select>
					</div>
				</div>
				<div class="form-group"> <!-- Needs to be retrieved and populated from DB -->
					<label class="col-md-3 control-label">Plan Tier:</label>
					<div class="col-md-9">
<!-- 						<select style="width: 40%;" class="form-control" -->
<!-- 								ng-model="$ctrl.preferenceOptions.tiers.selectedValue" -->
<!-- 								ng-options="item.display for item in $ctrl.preferenceOptions.tiers.list track by item.value">					 -->
<!-- 						</select> -->
						<rzslider style="width: 75%;" 
									  rz-slider-model="$ctrl.sliders.tiers.value"									  
									  rz-slider-options="$ctrl.sliders.tiers.options"></rzslider>
					</div>
				</div>
				<div class="form-group" style="margin-top: 30px;"> <!-- Needs to be retrieved and populated from DB -->
					<label class="col-md-3 control-label">RunRate:</label>
					<div class="col-md-9">
						<rzslider style="width: 75%;" 
									  rz-slider-model="$ctrl.sliders.runRate.minValue"
									  rz-slider-high="$ctrl.sliders.runRate.maxValue"
									  rz-slider-options="$ctrl.sliders.runRate.options"></rzslider>
					</div>
				</div>
				<div class="form-group"> <!-- Needs to be retrieved and populated from DB -->
					<label class="col-md-3 control-label">Target:</label>
					<div class="col-md-9">						
							<rzslider style="width: 75%;" 
									  rz-slider-model="$ctrl.sliders.target.minValue"
									  rz-slider-high="$ctrl.sliders.target.maxValue"
									  rz-slider-options="$ctrl.sliders.target.options"></rzslider>
						
					</div>
				</div>
				<div class="form-group" class="margin-bottom: 0;">
					<label class="col-md-3 control-label">% To Plan:</label>
					<div class="col-md-9">
						<rzslider style="width: 75%;" 
								  rz-slider-model="$ctrl.sliders.percentToPlan.value"
								  rz-slider-options="$ctrl.sliders.percentToPlan.options"></rzslider>
					</div>
				</div>
			</div>
		</form>
		</div>
	</div>
</div>
<div class="modal-footer" style="margin-top: 0; padding: 10px;">
	
	<button class="btn btn-primary" ng-click="$ctrl.buttons.save()" ng-disabled="$ctrl.disableSave()">
		Save
	</button>
	<button class="btn btn-default" ng-click="$ctrl.buttons.cancel()">
		Cancel
	</button>
	<button class="btn btn-default pull-left" ng-click="$ctrl.buttons.reset()">
		Reset
	</button>
</div>

<style>
tags-input {
	display: flex;
}

tags-input > div {
	min-width: 45%;
}
</style>