<div class="show-on-hover-parent" style="margin-bottom: 5px">
	<div class="bg-warning" style="padding-left: 5px; border: 1px solid rgb(204, 204, 204);">
		<i>Reply from {{$ctrl.reply.fullName}}</i>&nbsp;&nbsp;&nbsp;({{$ctrl.reply.dateTime | date : 'short' }})
		<div ng-if="$ctrl.isCreator()" class="show-on-hover" style="display: inline-block; float: right; margin-right: 10px">
			<span ng-click="$ctrl.editReply()" class="cursor-pointer" style="margin-right: 10px; vertical-align: middle;" uib-tooltip="Edit">
				<i class="fas fa-pencil-alt"></i>
			</span>
			<span ng-click="$ctrl.deleteReply()" class="cursor-pointer text-danger" style="vertical-align: middle;" uib-tooltip="Delete">
				<i class="fas fa-trash-alt"></i>
			</span>
		</div>
	</div>
	<div style="padding: 5px; border: 1px solid rgb(204, 204, 204); border-top: 0px">
		{{$ctrl.reply.replyText}}
	</div>
</div>