<div class="modal-header bg-primary wrapper-sm text-center">
	<button class="close pull-right" type="button" ng-click="$ctrl.cancel()">&times;</button>
	<p class="modal-title">Contact Info</p>
</div>
<div class="modal-body">
	<error-modal ng-model="$ctrl.clientError"></error-modal>
	<div ng-show="!$ctrl.clientError.message">
		<div class="row" ng-if="$ctrl.showTypeSelector" style="margin-top: 0px">
			<label style="margin-top: 20px; float: left; padding-left: 10px;">Contact Type:</label>
			<div class="col-xs-10">
				<uib-tabset active="$ctrl.activeTabIndex"  type="pills">
					<uib-tab index="0" heading="Customer" ng-click="$ctrl.selectType('customer')"></uib-tab>
					<uib-tab index="1" heading="Supplier" ng-click="$ctrl.selectType('supplier')"></uib-tab>
					<uib-tab index="2" heading="TTI" ng-click="$ctrl.selectType('delegate')"></uib-tab>
				</uib-tab>
			</div>
		</div>
		<form name="$ctrl.contactForm" class="contact-form" style="position: relative; height: 360px;" novalidate>
			<div class="row" ng-if="$ctrl.delegateType === 'customer'">
				<div class="col-md-6">
					<fieldset>
						<div class="form-group">
						  <label for="delegateName">Name:</label>  						  	
					          <input type="text" name="contactName" id="customerNameInput" ng-model="$ctrl.delegate.fullName" class="hideclose form-control" required
					           char-limit-label limit="50" show-on-focus="true">
						</div>
						
						<div class="form-group">
						  <label >Title:</label>  
						  <input type="text" placeholder="" class="form-control input-md" ng-model="$ctrl.delegate.title"
						   char-limit-label limit="100" show-on-focus="true">			   
						</div>
						
						<div class="form-group">
						  <label >Location:</label>  
						  <input type="text" placeholder="" class="form-control input-md" ng-model="$ctrl.delegate.physicalDeliveryOfficeName"
						   char-limit-label limit="100" show-on-focus="true">			   
						</div>
						
						<div class="form-group">
						  <label >Phone:</label>  
						  <input type="text" placeholder="" class="form-control input-md" ng-model="$ctrl.delegate.phone"
						   char-limit-label limit="50" show-on-focus="true">
						</div>
						
						<div class="form-group">
						  <label >Email:</label>  
						  <input type="text" placeholder="" class="form-control input-md" ng-model="$ctrl.delegate.mail"
						   char-limit-label limit="100" show-on-focus="true">
						</div>				
					</fieldset>
				</div>
				<div class="col-md-6">
					<fieldset>
						<div class="form-group">
							<label for="">Relation:</label>
							<select class="form-control"
								ng-model="$ctrl.delegate.selectedRelation"
								ng-options="relation.display for relation in $ctrl.options.relations track by relation.value" required></select>
						</div>
						
						<div class="form-group">
							<label for="">VBS Role:</label>
							<select class="form-control"
								ng-model="$ctrl.delegate.selectedVbsRole"
								ng-options="vbsRole.display for vbsRole in $ctrl.options.vbsRoles track by vbsRole.value" required></select>
						</div>
						<div class="form-group">
							<label for="">Is Fox:</label>
							<select class="form-control"
								ng-model="$ctrl.delegate.selectedFox"
								ng-options="fox.display for fox in $ctrl.options.foxes track by fox.value"></select>													
						</div>
					</fieldset>
				</div>
			</div>
			
			<div class="row" ng-show="$ctrl.delegateType == 'supplier'">
				<div class="col-md-6">
					<fieldset>
						<div class="form-group">
						  <label>Name:</label>  						  	
					          <input type="text" id="supplierNameInput" ng-model="$ctrl.delegate.fullName" required
								placeholder="" class="hideclose form-control" char-limit-label limit="500" show-on-focus="true">
						</div>
						
						<div class="form-group">
						  <label >Title:</label>  
						  <input type="text" placeholder="" class="form-control input-md" ng-model="$ctrl.delegate.title"
						   char-limit-label limit="100" show-on-focus="true">			   
						</div>
						
						<div class="form-group">
						  <label >Location:</label>  
						  <input type="text" placeholder="" class="form-control input-md" ng-model="$ctrl.delegate.physicalDeliveryOfficeName"
						   char-limit-label limit="100" show-on-focus="true">			   
						</div>
						
						<div class="form-group">
						  <label >Phone:</label>  
						  <input type="text" placeholder="" class="form-control input-md" ng-model="$ctrl.delegate.phone"
						   char-limit-label limit="50" show-on-focus="true">
						</div>
						
						<div class="form-group">
						  <label >Email:</label>  
						  <input type="text" placeholder="" class="form-control input-md" ng-model="$ctrl.delegate.mail"
						   char-limit-label limit="100" show-on-focus="true">
						</div>				
					</fieldset>
				</div>
				<div class="col-md-6">
					<fieldset>
						<div class="form-group">
							<label>Manufacturer:</label>
							<div uib-dropdown>
							<input type="text" maxlength="50" autocomplete="off" ng-model="$ctrl.manufacturer" 
							class="form-control" uib-dropdown-toggle placeholder="Lookup by Name or Code">
							<ul uib-dropdown-menu ng-show="filtered.length > 0" style="max-height: 400px; overflow-y: auto;">
								<li ng-repeat="mfr in $ctrl.manufacturers | orderBy:'manufacturerName' | filter:$ctrl.manufacturer:startsWith as filtered" ng-click="$ctrl.selectMfr(mfr);">
									<a>
										<b>{{mfr.fullManufacturerName}}</b>
										<br>
										Parent: {{mfr.parentManufacturer}}
									</a>
								</li>
							</ul>
							</div>
						</div>
						
						<div class="form-group">
							<label>Representative?</label>
							<div style="height: 33px; width:30px; white-space: nowrap;">
								<input type="checkbox" class="form-control" style="width: 20px; height: 20px; display: inline-block" ng-model="$ctrl.isRep">
<!-- 								<b style="margin-left: 7px; vertical-align: super;">{{$ctrl.isRep? 'Yes' : 'No'}}</b> -->
							</div>
						</div>
						<div ng-if="$ctrl.isRep" class="form-group">
							<label>Rep Firm:</label>
							<input type="text" class="form-control input-md" ng-model="$ctrl.delegate.representativeFirm"
							 char-limit-label limit="50" show-on-focus="true">
						</div>
					</fieldset>
				</div>
			</div>
			
			<div class="row" ng-if="$ctrl.delegateType === 'delegate'">
				<div class="col-md-12">
					<fieldset>				
						<div class="form-group">
						  <label for="delegateName">Name:</label>  
						  <lookup-user ng-model="$ctrl.delegate.fullName" on-select="$ctrl.tagAdded($item)"></lookup-user>
						</div>
						
						<div class="form-group">
						  <label >Title:</label>  
						  <input type="text" placeholder="" class="form-control input-md" ng-model="$ctrl.delegate.title"
						   char-limit-label limit="100" show-on-focus="true">			   
						</div>
						
						<div class="form-group">
						  <label >Location:</label>  
						  <input type="text" placeholder="" class="form-control input-md" ng-model="$ctrl.delegate.physicalDeliveryOfficeName"
						   char-limit-label limit="100" show-on-focus="true">			   
						</div>
						
						<div class="form-group">
						  <label >Phone:</label>  
						  <input type="text" placeholder="" class="form-control input-md" ng-model="$ctrl.delegate.phone"
						  char-limit-label limit="50" show-on-focus="true">
						</div>
						
						<div class="form-group">
						  <label >Email:</label>  
						  <input type="text" placeholder="" class="form-control input-md" ng-model="$ctrl.delegate.mail"
						   char-limit-label limit="100" show-on-focus="true">
						</div>				
					</fieldset>
				</div>				
			</div>
		</form>
	</div>
</div>
<div class="modal-footer" style="margin-top: 10px;">
	<button class="btn btn-primary" ng-click="$ctrl.ok(action)" ng-disabled="$ctrl.validateForm() || !$ctrl.delegate.fullName">
		{{$ctrl.action}}
	</button>
	<button class="btn btn-default" ng-click="$ctrl.cancel()">
		Cancel
	</button>
</div>

<style>
.contact-form > .row {
	position: absolute;
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
}
.form-group {
	position: relative;
}
</style>
