<div class="widget-header-inverse" style="width: 100%; display: inline-block; border-bottom: 2px solid #276ab0">
	<b><a ng-click="$ctrl.openPendingCustomersPage()" style="color: whitesmoke; cursor: pointer;">Leads Summary</a></b>
	<!-- <span style="float: right">Q{{$ctrl.quarter}} | {{$ctrl.year}}</span>
	<span style="float: center; margin-left: 45px">
		<a ng-click="$ctrl.openCallReportsPage()" class="cursor-pointer" style="float: center; color:whitesmoke">View All</a>
	</span> -->
</div>
<div style="width: 100%; height: calc(100% - 30px); overflow-y: auto; display: flex; flex-direction: column; flex:1">
	<div class="text-center text-muted" style="display: flex; justify-content: center; align-items: center; height: 100%">
		<div ng-if="$ctrl.loading">
			<i id="spinner" class="fas fa-spinner fa-6x"></i>
		</div>
		<div ng-if="!$ctrl.loading" ng-click="$ctrl.openPendingCustomersPage()" class="cursor-pointer link" style="color: #5cb85c">
			<i class="fas fa-search-dollar fa-6x"></i>
			<br>
			<b style="font-size: x-large; display: block;">
				{{$ctrl.totalCustomerLeads}} Lead{{$ctrl.totalCustomerLeads === 1? '' : 's'}}
			</b>
		</div>		
	</div>
</div>


<style>
.link:hover {
	color: #a0ed95 !important;
}

</style>
