<div class="modal-header bg-primary wrapper-sm text-center">
	<button class="close pull-right" type="button" ng-click="$ctrl.cancel()">&times;</button>
	<p class="modal-title">Archive Plan</p>
</div>
<div class="modal-body">
	<div style="margin-bottom: 15px;">
		<span>Reason:</span>
		<div style="width: 100%; position: relative">
		<textarea ng-model="$ctrl.reason" autofocus="true" rows="4" char-limit-label limit="200" class="form-control">
		</textarea>
		</div>
	</div>
</div>
<div class="modal-footer" style="margin-top: 0;">
	<button class="btn btn-danger" ng-disabled="!$ctrl.reason" ng-click="$ctrl.archive()">		
		Archive
	</button>
	<button class="btn btn-default" ng-click="$ctrl.cancel()">
		Cancel
	</button>
</div>

<style>
.mute{
	color: darkgray !important;
}
</style>
