<div class="modal-header bg-primary wrapper-sm text-center">
	<button class="close pull-right" type="button" ng-click="$ctrl.cancel()">&times;</button>
	<p class="modal-title">{{$ctrl.edit? 'Edit' : 'Upload'}} Release Note</p>
</div>
<div class="modal-body">
	<ng-form name="$ctrl.releaseNotesForm">
		<fieldset>
			<div>
				<div class="row">
					<label class="col-xs-2"
						style="text-align: right">Version:</label>
					<div class="col-xs-2" style="display: inline-block; padding-left: 0px">
						<input class="form-control" type="text" name="releaseVersion"
							id="releaseVersion" ng-model="$ctrl.releaseNote.version"
							style="width: 100px">
					</div>
					<label class="col-xs-4 control-label" style="text-align: right">Release Date:</label>
					<div class="col-xs-3" style="padding-left: 0px;">
						<p class="input-group">
							<input type="text" class="form-control"
								uib-datepicker-popup="MM/dd/yyyy"
								ng-model="$ctrl.releaseNote.releaseDate"
								is-open="$ctrl.releaseDateOpen"
								datepicker-options="dateOptions" close-text="Close" autocomplete="off">
							<span class="input-group-btn">
								<button type="button" class="btn btn-default"
									ng-click="$ctrl.releaseDateOpen = !$ctrl.releaseDateOpen">
									<i id="calendar" class="far fa-calendar-alt"></i>
								</button>
							</span>
						</p>
					</div>
				</div>
				<div class="row" style="margin-top: 0;">
					<br> <label class="col-xs-2"
						style="padding-bottom: 5px; vertical-align: top; text-align: right">Summary:</label>
					<div class="col-xs-9" style="padding-bottom: 5px; display: inline-block; padding-left: 0;">
						<textarea ng-model="$ctrl.releaseNote.summary" name="releaseNote"
							id="releaseNote" style="min-width: 100%; max-width: 100%" rows="5" class="form-control"
							placeholder="Summarize release highlights here..."
							class="input-no-width rounded shaded left clearboth"
							maxlength="2000" char-limit-label limit="2000" show-on-focus="true">
						</textarea>
						<span class="image-upload" uib-tooltip="Attach File(s)" tooltip-placement="above">
							<label for="file-input"> 
								<i class="attach-doc fas fa-paperclip"></i>
							</label> <input id="file-input" type="file" select-ng-files ng-model="$ctrl.selectedFiles" ng-upload-change="$ctrl.addSelectedFiles()" multiple style="display: none;"/>
						</span>
						<div style="display: inline-block" ng-repeat="document in $ctrl.releaseNote.documentList">
							|&nbsp;<a ng-click="$ctrl.downloadDocument(document)" class="cursor-pointer">{{document.documentName}}.{{document.documentExt}}</a>&nbsp;
							<span ng-click="$ctrl.deleteDocument(document)" uib-tooltip="Remove Attachment" tooltip-append-to-body="true" class="text-danger cursor-pointer">
								<i class="far fa-trash-alt"></i>
							</span>&nbsp;
						</div>
						<span style="display: inline-block; white-space: nowrap" ng-repeat="file in $ctrl.fileList">|&nbsp;{{file.name}}
							<span ng-click="$ctrl.removeFile(file)" uib-tooltip="Remove Selection" tooltip-append-to-body="true" class="text-danger cursor-pointer">
								<i class="far fa-times-circle"></i>
							</span>&nbsp;</span>
					</div>
				</div>
			</div>
		</fieldset>
	</ng-form>
</div>
<div class="modal-footer" style="margin-top: 0;">
    <button class="btn btn-primary" ng-click="$ctrl.upload()">Upload</button>
    <button class="btn btn-default" ng-click="$ctrl.cancel()">Cancel</button>
</div>

<style>
.character-limit-label{
	background: white;
    border-radius: 5px;
}
</style>