<div class="modal-header bg-primary wrapper-sm text-center">
	<button class="close pull-right" type="button" ng-click="$ctrl.cancel()">&times;</button>
	<p class="modal-title">{{$ctrl.html.headerText}}</p>
</div>
<div class="modal-body">
	<div ng-include="$ctrl.pageIncludes.clientErrorModalTemplate"></div>
	<div ng-class="{'row': $ctrl.mode == 'splitSite'}">
		<div ng-show="!$ctrl.clientError.message" ng-class="{'col-md-6': $ctrl.mode == 'splitSite'}">
			<form name="$ctrl.siteLocationForm">
				<fieldset>			
					<div class="form-group">
					  <label for="siteLocation">Site Location:</label>  
					  <input id="siteLocation" ng-model="$ctrl.info.location" 
					  		name="siteLocation" type="text" placeholder="Enter a site location name..." 
					  		class="form-control input-md" autofocus>			   
					</div>
					<div style="height: 160px;">
					
						<table class="table" style="margin: 0;">				
						<thead>
							<tr class="table-header">
								<th style="width: 5%"></th>
								<th style="width: 17%">Account</th>
								<th style="width: 19%">DSAM</th>
								<th style="width: 18%">Run Rate</th>
								<th style="width: 20%">Target</th>
								<th sylte="width: 19%;">Percent</th>
							</tr>
						</thead>
					</table>
					
					<div style="height:100px; overflow-y: scroll; overflow-x: hidden;">
						<table class="table table-hover" style="margin: 0;">
						<tbody>
							<tr ng-repeat="account in $ctrl.accounts">
								<td style="width: 2%">
									<span ng-if="$ctrl.mode === 'splitSite'">
										<span ng-show="$ctrl.accounts.length > 1" ng-click="$ctrl.split.moveToRight($index)" class="text-success cursor-pointer">
											<i class="fas fa-arrow-right"></i>
										</span>
										<span ng-show="$ctrl.accounts.length == 1" class="text-danger text-muted">
											<i class="fas fa-arrow-right"></i>
										</span>
									</span>
								</td>
								<td style="width: 18%">
									{{account.account}}
								</td>
								<td style="width: 20%">
									{{account.dSam | currency: '' : 0}}
								</td>						
								<td style="width: 20%">
									{{account.runRate | currency: '' : 0}}
								</td>
								<td style="width: 20%">
									{{account.target | currency: '' : 0}}
								</td>
								<td style="width: 20%">
									<span style="display: block; width: 75%;" class={{account.percentLabel}}>{{account.percentToGoal}}</span>							
								</td>
							</tr>
						</tbody>
						</table>
					</div>
					<div>
						<table class="table">
							<tfoot style="font-weight: bold;">
								<tr>
									<td style="width: 5%">
										
									</td>
									<td style="width: 17%">
										
									</td>
									<td style="width: 19%">
										{{info.dSam | currency: '': 0}}
									</td>						
									<td style="width: 18%">
										{{info.runRate | currency: '': 0}}
									</td>
									<td style="width: 20%">
										{{info.target | currency: '': 0}}
									</td>
									<td style="width: 19%">
									
									</td>
								</tr>
							</tfoot>
						</table>
					</div>
					</div>
					
					</fieldset>
			</form>
		</div>
	<div ng-show="!$ctrl.clientError.message && $ctrl.mode == 'splitSite'" class="col-md-6">
	<form name="$ctrl.siteLocationFormSplit">
		<fieldset>
			<div class="form-group">
			  <label for="siteLocation">New Site Location:</label>  
			  <input id="siteLocation" ng-model="$ctrl.info.newLocation" 
			  		 name="siteLocation" type="text" placeholder="Enter a site location name..." 
			  		 class="form-control input-md" autofocus>			   
			</div>			
			<div style="height: 160px;">
			
				<table class="table" style="margin: 0;">				
				<thead>
					<tr class="table-header">
						<th style="width: 5%"></th>
						<th style="width: 17%">Account</th>
						<th style="width: 19%">DSAM</th>
						<th style="width: 18%">Run Rate</th>
						<th style="width: 20%">Target</th>
						<th sylte="width: 19%;">Percent</th>
					</tr>
				</thead>
			</table>
			
			<div style="height:100px; overflow-y: scroll; overflow-x: hidden;">
				<table class="table table-hover" style="margin: 0;">
				<tbody>
					<tr ng-repeat="account in $ctrl.newAccounts">
						<td style="width: 2%">
							<i class="fa fa-arrow-left text-success cursor-pointer" ng-click="$ctrl.split.moveToLeft($index)"></i>							
						</td>
						<td style="width: 18%">
							{{account.account}}
						</td>
						<td style="width: 20%">
							{{account.dSam | currency: '' : 0}}
						</td>						
						<td style="width: 20%">
							{{account.runRate | currency: '' : 0}}
						</td>
						<td style="width: 20%">
							{{account.target | currency: '' : 0}}
						</td>
						<td style="width: 20%">
							<span style="display: block; width: 75%;" class={{account.percentLabel}}>{{account.percentToGoal}}</span>							
						</td>
					</tr>
				</tbody>
				</table>
			</div>
			<div>
				<table class="table">
					<tfoot style="font-weight: bold;">
						<tr>
							<td style="width: 5%">
								
							</td>
							<td style="width: 17%">
								
							</td>
							<td style="width: 19%">
								{{info.dSamNew | currency: '': 0}}
							</td>						
							<td style="width: 18%">
								{{info.runRateNew | currency: '': 0}}
							</td>
							<td style="width: 20%">
								{{info.targetNew | currency: '': 0}}
							</td>
							<td style="width: 19%">
							
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
			</div>
			
			</fieldset>
	</form>
	</div>
	</div>
	<div ng-show="$ctrl.alerts">
		<uib-alert style="margin: 0; text-align: center;" ng-repeat="alert in $ctrl.alerts" type="{{alert.type}}" close="$ctrl.closeAlert()">{{alert.msg}}</uib-alert>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="$ctrl.ok()" ng-disabled="$ctrl.disableApply()">
		Apply
	</button>
	<button class="btn btn-default" ng-click="$ctrl.cancel()">
		Cancel
	</button>
</div>
