<div class="row hidden-print">
	<div class="col-lg-12 col-md-12 col-sm-12">	
		<div class="page-nav" bs-affix data-offset-top="50" style="display: flex; flex-direction: row; justify-content: space-between; padding-left: 15px">
			
			<div style="flex:.5; flex-direction: row; display: flex; width:100%">
				<span style="font-size: 17px; font-weight:bold; margin-left:1.5%">
					Action Items
				</span>
			</div>

			<div style="flex:1; flex-direction: row; display: flex; width:100%; justify-content: center">
		
				<div class="input-group" style="width: 100%; min-width: 250px; max-width: 400px; padding-top: 17px; position: relative !important">
					<input ng-model="$ctrl.textFilter" ng-model-options="{debounce: 300}" ng-change="$ctrl.saveFilterText();" placeholder="Filter Action Items..." class="form-control"/>
					<span class="input-group-addon cursor-pointer" style="padding: 6px 7px !important;"
					 uib-tooltip="This field supports comma-delimited filters.&#13;&#10; e.g. &quot;filter 1, filter 2, filter 3&quot;"
					 tooltip-append-to-body="true" tooltip-class="tooltip-350width">
						<i class="fas fa-info-circle fa-lg"></i>
					</span>
				</div>
		
			</div>

			<div id="btn-action-item-search" style="justify-content: center; align-self: flex-end; flex:.5; display: flex; flex-direction: 'row'; text-align: right; height: 100%; width:100%">
				<div style="flex:1; display: flex; height: 100%; width:100%"></div>
				<div style="right: 30px; top: 0; position: absolute;">
      		      	<button ng-click="$ctrl.openSearchModal()" class="btn btn-primary" style="vertical-align: top; margin-top: 17px; margin-left: 15px">Search&nbsp;&nbsp;<i class="far fa-search"></i></button>
				</div>
			</div>
		</div>
	</div>
</div>


<div style="flex:1; height: calc(100% - 140px); width:100%; margin-bottom:10px; position: relative; margin-top: 15px">

	<div style="background-color: #fff; position: absolute; right: 0; top: 9px; display: flex; justify-content: space-between;
  	 box-shadow: 3px 3px 3px #888888; padding: 10px 10px 1px 10px; height: 31px; width: 525px; border-radius: 13px 13px 0 0;">
		<b>&nbsp;Status:&nbsp;</b>
		<div ng-click="$ctrl.criteria.status.open = !$ctrl.criteria.status.open; $ctrl.saveCriteria();" class="filter-toggle" style="background: #d74545;">
			<span ng-if="$ctrl.criteria.status.open">
				<i class="fas fa-check-square"></i>
			</span>
			<span ng-if="!$ctrl.criteria.status.open">
				<i class="fas fa-square"></i>
			</span>&nbsp;&nbsp;
			<span>Open</span>
		</div>
		<div ng-click="$ctrl.criteria.status.complete = !$ctrl.criteria.status.complete; $ctrl.saveCriteria();" class="filter-toggle" style="background: #4c964c;">
			<span ng-if="$ctrl.criteria.status.complete">
				<i class="fas fa-check-square"></i>
			</span>
			<span ng-if="!$ctrl.criteria.status.complete">
				<i class="fas fa-square"></i>
			</span>&nbsp;&nbsp;
			<span>Complete</span>
		</div>
		
		<b>&nbsp;Type:&nbsp;</b>
		<div ng-click="$ctrl.criteria.type.callReport = !$ctrl.criteria.type.callReport; $ctrl.saveCriteria();" class="filter-toggle" style="background: #d79230;">
			<span ng-if="$ctrl.criteria.type.callReport">
				<i class="fas fa-check-square"></i>
			</span>
			<span ng-if="!$ctrl.criteria.type.callReport">
				<i class="fas fa-square"></i>
			</span>&nbsp;&nbsp;
			<span>Call Report</span>
		</div>
		<div ng-click="$ctrl.criteria.type.oms = !$ctrl.criteria.type.oms; $ctrl.saveCriteria();" class="filter-toggle" style="background: #00781f;">
			<span ng-if="$ctrl.criteria.type.oms">
				<i class="fas fa-check-square"></i>
			</span>
			<span ng-if="!$ctrl.criteria.type.oms">
				<i class="fas fa-square"></i>
			</span>&nbsp;&nbsp;
			<span>OMS</span>
		</div>
		
		<div ng-click="$ctrl.criteria.type.tactic = !$ctrl.criteria.type.tactic; $ctrl.saveCriteria();" class="filter-toggle" style="background: #276ab0;">
			<span ng-if="$ctrl.criteria.type.tactic">
				<i class="fas fa-check-square"></i>
			</span>
			<span ng-if="!$ctrl.criteria.type.tactic">
				<i class="fas fa-square"></i>
			</span>&nbsp;&nbsp;
			<span>Plan Tactic</span>
		</div>
	</div>
	
	<uib-tabset  ng-if="$ctrl.criteria.showMine" active="0" style="height: 100%; display:flex; flex-direction: column;">
		
		<uib-tab  index="0" style="text-align: center;">
			<uib-tab-heading style="font-weight: 500">
				Received Action Items
			</uib-tab-heading>
			<action-item-list  refresh="$ctrl.getActionItems()" criteria="$ctrl.criteria" action-items="$ctrl.actionItems.allActionItemsFlattened.assignedActionItems" text-filter="$ctrl.textFilter" type="'received'"></action-item-list> 
		</uib-tab>

		<uib-tab  index="1" style="text-align: center;">
			<uib-tab-heading style="font-weight: 500">
				Given Action Items
			</uib-tab-heading>
			<action-item-list refresh="$ctrl.getActionItems()" criteria="$ctrl.criteria" action-items="$ctrl.actionItems.allActionItemsFlattened.myActionItems" text-filter="$ctrl.textFilter" type="'given'"></action-item-list> 
		</uib-tab>

	</uib-tabset>

	<uib-tabset  ng-if="!$ctrl.criteria.showMine" active="0" style="height: 100%; display:flex; flex-direction: column; ">
		
		<uib-tab  index="0" style="text-align: center;">
			<uib-tab-heading style="font-weight: 500">
				{{$ctrl.criteria.branches ? 'Branch' : 'Corp ID'}} Action Items
			</uib-tab-heading>
			<action-item-list  refresh="$ctrl.getActionItems()" criteria="$ctrl.criteria" action-items="$ctrl.actionItems.allActionItemsFlattened.branchActionItems" text-filter="$ctrl.textFilter" type="'branch'"></action-item-list> 
		</uib-tab>

	</uib-tabset>
	
</div>


<style>
.filter-toggle {
  display: inline-flex;
  padding: 0px 5px;
  border-radius: 4px;
  color: white;
  align-items: center;
  cursor: pointer;
}

.filter-toggle > span {
  padding-top: 2px;
}

.tab-content {
	height: 100%;
    position: absolute;
    width: 100%;
    top: 40px;
}

.tab-pane {
	height: 100%;
}

.nav-tabs .active {
	height: 44px;
}

.clear-input-button:hover {
	color: tomato !important;
}
.tooltip-350width > .tooltip-inner {
	max-width: 350px !important;
	white-space: pre-wrap;
}
</style>

