<div class="col-xs-12 bg-white" style="padding-top: 10px; padding-bottom: 10px; margin-bottom: 20px;
border-radius: 0 13px 13px 13px; box-shadow: 3px 3px 3px #888888; position: relative">
	<div class="row" style="margin-top: 0;">
		<div class="col-lg-12">
			<ng-form name="$ctrl.cmMatrixForm">
				<table class="table" style="margin-bottom: 0;">
					<thead class="table-header">
						<tr>
							<th style="width: 2%;"></th>
							<th>Customer</th>
							<th>Location</th>
							<th>Project Name</th>
							<th>Est Annual Rev</th>
							<th>End Customer Contact</th>
							<th style="border-left: 6px solid #ccc;">CM Program Manager</th>
							<th>CM Location</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in $ctrl.data" ng-click="$ctrl.selectRow($index)">
							<td style="padding-bottom: 0;">
									<div style="padding-top: 5px; color: limegreen;">
										<span ng-if="$ctrl.permissions.hasPermission('edit')" ng-click="$ctrl.migrate(item)" uib-tooltip="Migrate Project" tooltip-append-to-body="true" class="cursor-pointer">
											<i class="far fa-arrow-alt-left" style="height: 20px; width: 20px"></i>
										</span>
									</div>
<!-- 								<span ng-show="$index === $ctrl.index && $ctrl.permissions.validated('add')"> -->
<!-- 									<span ng-click="$ctrl.save(item)"> -->
<!-- 										<i class="fas fa-save text-success cursor-pointer"></i> -->
<!-- 									</span> -->
<!-- 									<span ng-click="$ctrl.removeRow(item)"> -->
<!-- 										<i class="fas fa-trash-alt text-danger cursor-pointer"></i> -->
<!-- 									</span> -->
<!-- 								</span> -->
							</td>
							<td>	
								<div id="scrollable-dropdown-menu">						
		             				<input type="text" name="planToSearch" ng-model="item.customer"
											   autocomplete="off"
						                       uib-typeahead="search.customerName for search in $ctrl.searched.findCM($viewValue)" 
						                       typeahead-min-length="2"
						                       typeahead-loading="loadingNames" 
						                       typeahead-no-results="noResults"
						                       typeahead-on-select="$ctrl.searched.setSelectedCustomer($item)"
						                       typeahead-wait-ms="250"
						                       ng-keyup="evalNoResults($event)"
						                       class="hideclose form-control"
						                       typeahead-template-url="customTemplate.html"
						                       ng-blur="$ctrl.changed(item)" 
						                       disabled/>
						         </div>	                    		                	
							</td>
							<td style="padding-bottom: 0;">	
								<div id="scrollable-dropdown-menu">						
		             				<input type="text" name="planToSearch" ng-model="item.locationName" class="hideclose form-control" 
											   autocomplete="off"
						                       uib-typeahead="search.customerName for search in $ctrl.searched.findPlan($viewValue)" 
						                       typeahead-min-length="2"
						                       typeahead-loading="loadingNames" 
						                       typeahead-no-results="noResults"
						                       typeahead-on-select="$ctrl.searched.setSelectedLocationName($item)"
						                       typeahead-wait-ms="250"
						                       ng-keyup="evalNoResults($event)"					                       
						                       typeahead-template-url="customTemplate.html"
						                       ng-blur="$ctrl.changed(item)"
						                       disabled/>
						         </div>	                    		                	
							</td>
							<td style="padding-bottom: 0;">
								<input type="text" class="form-control"  ng-model="item.projectName" ng-blur="$ctrl.changed(item)" disabled/>
							</td>
							<td style="padding-bottom: 0;">
								<input type="text" class="form-control" numbers-only ng-model="item.estAnnualRev" ng-blur="$ctrl.changed(item)" disabled/>
							</td>
							<td style="padding-bottom: 0;">
								<input type="text" class="form-control" ng-model="item.customerContact" ng-blur="$ctrl.changed(item)" disabled/>
							</td>
							<td style="padding-bottom: 0; border-left: 6px solid #ccc;">
								<input type="text" class="form-control" ng-model="item.cmMgr" ng-blur="$ctrl.changed(item)" disabled/>
							</td>
							<td style="padding-bottom: 0; white-space: nowrap">							
								<div id="scrollable-dropdown-menu" style="display: inline-block; width: calc(100% - 20px);">						
		             				<input type="text" name="planToSearch" ng-model="item.cmLocation" class="hideclose form-control"
											   autocomplete="off"
						                       uib-typeahead="search.customerName for search in $ctrl.searched.findPlan($viewValue)" 
						                       typeahead-min-length="2"
						                       typeahead-loading="loadingNames" 
						                       typeahead-no-results="noResults"
						                       typeahead-on-select="$ctrl.searched.setSelectedCmLocation($item)"
						                       typeahead-wait-ms="250"
						                       ng-keyup="evalNoResults($event)"
						                       typeahead-template-url="customTemplate.html"
						                       ng-blur="$ctrl.changed(item)"
						                       disabled/>
						         </div>
						         <span ng-if="$ctrl.permissions.hasPermission('delete')" ng-click="$ctrl.deleteProject(item)" style="float: right; float: right; display: inline-block; margin-top: 7px;" class="text-danger show-on-hover cursor-pointer" uib-tooltip="Delete" tooltip-append-to-body="true"><i class="far fa-trash-alt"></i></span>                		                	
							</td>
						</tr>
					</tbody>
	<!-- 				<tfoot> -->
	<!-- 					<tr> -->
	<!-- 						<td colspan="9"> -->
	<!-- 							<button class="btn btn-default btn-sm pull-right"  -->
	<!-- 								id="cm-matrix-add-row" -->
	<!-- 								ng-click="$ctrl.addRow()"  -->
	<!-- 								ng-disabled="!$ctrl.permissions.validated('add')" -->
	<!-- 								uib-tooltip="Add Row"> -->
	<!-- 								<i class="fas fa-plus"></i> -->
	<!-- 							</button> -->
	<!-- 							<button class="btn btn-default btn-sm pull-right" -->
	<!-- 								id="cm-matrix-remove-row"  -->
	<!-- 								ng-click="$ctrl.removeRow()" style="margin-right: 5px;" uib-tooltip="Remove Row" -->
	<!-- 								ng-disabled="$ctrl.data.length == 0 || !$ctrl.permissions.validated('delete')"> -->
	<!-- 								<i class="fas fa-minus"></i> -->
	<!-- 							</button> -->
	<!-- 						</td> -->
	<!-- 					</tr> -->
	<!-- 				</tfoot> -->
				</table>
			</ng-form>
		</div>
	</div>
</div>