<div class="bg-white" style="height: 100%">
	<div style="background-color: #276ab0; height: 36px; border-bottom: 2px solid #ddd;">
		<div style="width: calc(100% - 17px); display: inline-block;">
			<table class="table"
				style="margin-bottom: 0px; table-layout: fixed; width: 100%">
				<thead>
					<tr class="table-header-inverse plans-header hidden-print">
						<th style="width: 10%;"><a
							style="cursor: pointer; margin-left: 5px"
							ng-click="$ctrl.sort.order('insideSalesPerson',!$ctrl.sort.reverse)">Type</a>
							<span class="sortorder"
							ng-show="$ctrl.sort.type === 'insideSalesPerson'"
							ng-class="{reverse:$ctrl.sort.reverse}"></span></th>
						<th style="width: 30%; text-align: left"><a
							style="cursor: pointer;"
							ng-click="$ctrl.sort.order('insideSalesPerson',!$ctrl.sort.reverse)">Customer
								Name</a> <span class="sortorder"
							ng-show="$ctrl.sort.type === 'insideSalesPerson'"
							ng-class="{reverse:$ctrl.sort.reverse}"></span></th>
						<th style="width: 20%; text-align: right"><a
							style="cursor: pointer;"
							ng-click="$ctrl.sort.order('insideSalesPerson',!$ctrl.sort.reverse)">Run
								Rate</a> <span class="sortorder"
							ng-show="$ctrl.sort.type === 'insideSalesPerson'"
							ng-class="{reverse:$ctrl.sort.reverse}"></span></th>
						<th style="width: 20%; text-align: right"><a
							style="cursor: pointer;"
							ng-click="$ctrl.sort.order('insideSalesPerson',!$ctrl.sort.reverse)">Target</a>
							<span class="sortorder"
							ng-show="$ctrl.sort.type === 'insideSalesPerson'"
							ng-class="{reverse:$ctrl.sort.reverse}"></span></th>
						<th style="width: 15%; text-align: right; padding-right: 10px">
							<a style="cursor: pointer;"
							ng-click="$ctrl.sort.order('insideSalesPerson',!$ctrl.sort.reverse)">%
								To Plan</a> <span class="sortorder"
							ng-show="$ctrl.sort.type === 'insideSalesPerson'"
							ng-class="{reverse:$ctrl.sort.reverse}"></span>
						</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
	<div
		style="overflow-y: scroll; overflow-x: hidden; height: calc(100% - 70px);">
		<table class="table table-hover"
			style="margin: 0; table-layout: fixed; width: 100%">
			<tbody style="width: 100%">
				<tr ng-repeat="plan in $ctrl.plans">
					<td style="width: 10%; padding-left: 12px">
						<span ng-if="plan.planType.planTypeId == 1"	uib-tooltip="Global">
							<i class="fas fa-globe"></i>
						</span>				
						<span ng-if="plan.planType.planTypeId == 2">
							NDC
						</span>
						<span ng-if="plan.planType.planTypeId == 3">
							EDC
						</span>
						<span ng-if="plan.planType.planTypeId == 4">
							ADC
						</span>
						<span ng-if="plan.planType.planTypeId == 5 || plan.planType.planTypeId == 6">
							{{plan.branch}}
						</span>
						<span ng-if="plan.planType.planTypeId == 7">
							RSE
						</span>
						<span style="float: right; color: black; font-size: 14px;" uib-tooltip="Strategic Customer" ng-if="plan.strategicFlag">
							<i class="fas fa-chess-knight-alt"></i>
						</span>
					</td>
					<td style="width: 30%">
						<a ng-if="plan.customerName.length > 30" uib-tooltip="{{plan.customerName}}">
							{{plan.customerName | truncate:false:30:'...'}}
						</a>
						<a ng-if="plan.customerName.length <= 30">
							{{plan.customerName}}
						</a>
					</td>
					<td style="width: 20%; text-align: right;">
						<div ng-switch="plan.currency">
							<span ng-switch-when="NDC|ADC" ng-switch-when-separator="|">{{plan.totalRunRate  | currency: '$' : 0}}</span>
							<span ng-switch-when="EDC">{{plan.totalRunRate  | currency: '' : 0}} &euro;</span>
							<span ng-switch-default>{{plan.totalRunRate  | currency: '' : 0}}</span>
						</div>
					</td>
					<td style="width: 20%; text-align: right;">
						<div ng-switch="plan.currency">
							<span ng-switch-when="NDC|ADC" ng-switch-when-separator="|">{{plan.totalTarget  | currency: '$' : 0}}</span>
							<span ng-switch-when="EDC">{{plan.totalTarget  | currency: '' : 0}} &euro;</span>
							<span ng-switch-default>{{plan.totalTarget  | currency: '' : 0}}</span>
						</div>
					</td>
					<td style="width: 15%; text-align: right;">
						<span style="display: inline-block; width: 80%;" class={{plan.percentLabel}}>{{plan.percentToGoal}}</span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>


<style>
.summary {
	overflow: hidden;
}

.summary-expanded {
	max-height: auto;
}

.summary-collapsed {
	max-height: 0;
}

.dreg-footer>td {
	padding-top: 4px !important;
}
</style>
