<div id="scrollable-dropdown-menu" ng-class="$ctrl.hideInfo? '' : 'input-group'">  
	<input id="{{$ctrl.inputId}}" type="search" name="planToSearch" ng-model="$ctrl.ngModel" 
		aria-describedby="lookup-info"
		autocomplete="off" spellcheck="false" 
		placeholder="{{$ctrl.lookupPlaceholder}}"  
		uib-typeahead="search.customerName for search in $ctrl.findPlan($viewValue)"  
		typeahead-min-length="$ctrl.minLength"  
		typeahead-no-results="noResults"  
		typeahead-on-select="$ctrl.onSelect({$item})"  
		typeahead-wait-ms="250"  
		class="hideclose form-control"  
		typeahead-template-url="customTemplate.html">
	<span ng-if="!$ctrl.hideInfo" id="lookup-info" class="input-group-addon" style="padding-left: 8px; padding-right: 8px;"
		uib-tooltip="{{$ctrl.tooltipText}}" tooltip-append-to-body="true" tooltip-placement="{{$ctrl.tooltipPosition}}">
		<i class="fas fa-info-circle fa-lg"></i>
	</span>
</div>