<div class="modal-header bg-primary wrapper-sm text-center">
	<button class="close pull-right" type="button" ng-click="$ctrl.cancel()">&times;</button>
	<p class="modal-title"><i class="fas fa-phone-plus"></i>&nbsp;&nbsp;&nbsp;New Call Report</p>
</div>
<div class="modal-body">
	<error-modal ng-model="$ctrl.clientError"></error-modal>
	<div ng-show="!$ctrl.clientError.message">
		<form name="$ctrl.newCallReport">
			<fieldset>							
				<div class="form-group">
					<label for="acctCorpId">Customer:</label>
					<lookup-plan ng-model="$ctrl.customerName" min-length="3" branches="$ctrl.branches" input-id="'callReportLookup'"
					lookup-placeholder="'Search by Name or Acct. #'" on-select="$ctrl.setPlanId($item.planId)"
					tooltip-text="'Lookup customers within your assigned branch(es) by Name or Acct. #'"></lookup-plan>
				</div>					
			</fieldset>
		</form>
	</div>
</div>
<div class="modal-footer" style="margin-top: 0; padding: 10px;">
	<button class="btn btn-primary" ng-disabled="$ctrl.planId === undefined" ng-click="$ctrl.create()">		
		Create
	</button>
	<button class="btn btn-default" ng-click="$ctrl.cancel()">
		Cancel
	</button>
</div>
