<div class="row">
	
	<div class="col-xs-6" style="background-color: #fff; padding-top: 1%; min-height: 650px;">
	
		<ng-form name="$ctrl.adminForm" class="form-inline">
			<fieldset>			
				<div class="form-group"> 
					<label >Mock User:</label>
					<lookup-user ng-model="$ctrl.mockedUser" min-length="2" on-select="$ctrl.setSelected($item)"></lookup-user>
				</div>
				
				<button style="margin-left: 1%;" class="btn btn-default" ng-click="$ctrl.mock(false)" ng-disabled="!$ctrl.adminForm.$dirty">
					Mock
				</button>
				<button style="margin-left: 1%;" class="btn btn-default" ng-click="$ctrl.mock(true)" ng-disabled="!$ctrl.adminForm.$dirty">
					True Mock
				</button>
			</fieldset>
		</ng-form>	
		<hr style="margin-top: 20px; margin-bottom: 40px">
		<div style="margin-top: 8px;">
			<span style="font-weight: bold;">CAM Report: </span> 
			<button class="btn btn-default" ng-click="$ctrl.reports.camDownload()">
				<i class="fas-download"></i> Download
			</button>
		</div>			
	</div>
	<div class="col-xs-6">
	
	</div>
	
</div>
