<!-- <page-header active-page="'activity'" plan="$ctrl.plan"></page-header> -->

<div ng-hide="$ctrl.clientError.message">
	<div class="row">
		<div class="col-sm-12">
			<uib-tabset active="$ctrl.activeTabIndex"  vertical="true" type="pills" class="vertical">
				<uib-tab index="0" heading="News Feed" ng-click="$ctrl.selectTab('newsfeed')">
					<div class="col-sm-11" style="width: calc(100% - 110px); min-height: 680px; background-color: #fff; border-radius: 0 10px 10px 10px;">
						<div class="col-sm-9" style="padding: 10px;">			
							<feed plan="$ctrl.plan" comment-list="$ctrl.comments"></feed>			
						</div>
						<div class="col-sm-3" style="padding: 10px;">
							<documents plan="$ctrl.plan" document-list="$ctrl.documents"></documents>
						</div>
					</div>
				</uib-tab>
				<uib-tab index="1" heading="Call Reports" ng-click="$ctrl.selectTab('call-reports')">
					<div class="col-sm-11" style="width: calc(100% - 310px); min-height: 680px; background-color: #fff; border-radius: 0 10px 10px 10px;">
						<call-reports plan="$ctrl.plan"></call-reports>
					</div>
				</uib-tab>
			</uib-tabset>
		</div>
	</div>

</div>