<div class="row">
    <div class="col-xs-12">	
           <div class="page-nav" bs-affix data-offset-top="50">
               <span class="page-nav-brand">
                   Admin Console
               </span>
           </div>
    </div>
</div>
<div class="row" style="margin-top: 0;">
	<form name="parentForm">
			<uib-tabset active="$ctrl.activeTabIndex" vertical="true" type="pills" class="vertical">
				<uib-tab index="0" heading="General" ng-click="$ctrl.selectTab('general')">
					<general-content></general-content>
				</uib-tab>
				<uib-tab index="1" heading="Users" ng-click="$ctrl.selectTab('users')" ng-show="$ctrl.isAdmin()">				
					<user-content></user-content>		
				</uib-tab>
				<uib-tab index="2" heading="Titles" ng-click="$ctrl.selectTab('titles')" ng-show="$ctrl.isAdminRBOM()">				
					<title-content></title-content>		
				</uib-tab>
				<uib-tab index="3" heading="Release Notes" ng-click="$ctrl.selectTab('release-notes')">
					<release-notes-content></release-notes-content>		
				</uib-tab>
				<uib-tab index="4" heading="Exceptions" ng-click="$ctrl.selectTab('exceptions')" ng-show="$ctrl.isAdmin()">
					<exceptions-content></exceptions-content>
				</uib-tab>
				<uib-tab index="5" heading="Plans" ng-click="$ctrl.selectTab('plans')" ng-show="$ctrl.isAdmin()">
					<plan-content></plan-content>
				</uib-tab>
				<uib-tab index="6" heading="Accounts" ng-click="$ctrl.selectTab('accounts')" ng-show="$ctrl.isAdmin()">
					<account-content></account-content>
				</uib-tab>
				<uib-tab index="7" heading="Pending Cust." ng-click="$ctrl.selectTab('pending-customers')" ng-show="$ctrl.isAdmin()">
					<pending-customers ng-if="$ctrl.activeTabIndex === 7"></pending-customers>
				</uib-tab>
			</uib-tabset>
	</form>
</div>
