<div style="margin-top: 0; height: 100%;">	
	<div class="col-xs-12" style="background-color: #fff; box-shadow: 3px 3px 3px #888888; margin-bottom: 5px;
	 padding-top: 10px; display: block; border-radius: 0 13px 13px 13px; height: 100%" ng-switch="!$ctrl.project">
		
		<div ng-switch-default style="height: 100%; overflow-y: auto; overflow-x: hidden">
			<project-details ng-if="$ctrl.project && $ctrl.selected" plan="$ctrl.plan" active-projects="$ctrl.projects.active" project="$ctrl.project"></project-details>
		</div>
		<div ng-switch-when="true" style="position: relative; height: 100%;">
<!-- 			<div ng-if="$ctrl.status === 'active'" style="position: absolute; right: -10px; top: -52px"> -->
<!-- 				<button class="btn btn-sm btn-primary" ng-click="$ctrl.addOpportunity('OMS')" ng-disabled="!$ctrl.permissions.validated('add') || (!$ctrl.projects.archive || !$ctrl.projects.active)">					 -->
<!-- 					<i class="fas fa-plus"></i> New Opportunity -->
<!-- 				</button> -->
<!-- 			</div> -->
			<div style="display: flex; overflow: hidden; white-space: nowrap; background-color: #276ab0">
				<div style="width: calc(100% - 17px); display: inline-block;">
					<table class="table" style="table-layout: fixed; margin: 0; ">
						<thead>
							<tr class="table-header-inverse">
								<th style="width: 2%;"></th>
								<th ng-if="$ctrl.status === 'active'" style="width: 12%; padding-left: 16px">
									<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('customerPlan.customerName',!$ctrl.sort.reverse)">Business Partner</a>
									<span class="sortorder" ng-show="$ctrl.sort.type === 'customerPlan.customerName'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
								</th>
								<th style="width: 8%">
									<span id="project-info" uib-tooltip="Click the Project ID to view more details" tooltip-placement="above" tooltip-append-to-body="true">
										<i class="fas fa-info-circle cursor-pointer"></i>
									</span>
									<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('projectId',!$ctrl.sort.reverse)">Project ID</a>
									<span class="sortorder" ng-show="$ctrl.sort.type === 'projectId'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
								</th>
								<th style="width: 14%">
									<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('projectName',!$ctrl.sort.reverse)">Project Name</a>
									<span class="sortorder" ng-show="$ctrl.sort.type === 'projectName'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
								</th>
								<th style="width: 14%; text-align: left">
									<span id="project-info" uib-tooltip="Click the &quot;Master Project&quot; name to view all project sub-assemblies." tooltip-placement="above" tooltip-append-to-body="true">
										<i class="fas fa-info-circle cursor-pointer"></i>
									</span>
									<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('masterProjectName',!$ctrl.sort.reverse)">Master Project</a>
									<span class="sortorder" ng-show="$ctrl.sort.type === 'masterProjectName'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
								</th>
								<th style="width: 9%; text-align: right">
									<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('dollarValue',!$ctrl.sort.reverse)">Project Value</a>
									<span class="sortorder" ng-show="$ctrl.sort.type === 'dollarValue'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
								</th>
								<th style="width: 4%"></th>
								<th style="width: 10%">
									<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('estimatedProductionDate',!$ctrl.sort.reverse)">Est. Prod. Date</a>
									<span class="sortorder" ng-show="$ctrl.sort.type === 'estimatedProductionDate'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
								</th>	
								<th style="width: 10%">
									<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('insertDate',!$ctrl.sort.reverse)">Date Created</a>
									<span class="sortorder" ng-show="$ctrl.sort.type === 'insertDate'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
								</th>	
								<th style="width: 10%">
									<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('lastUpdateDate',!$ctrl.sort.reverse)">Last Update</a>
									<span class="sortorder" ng-show="$ctrl.sort.type === 'lastUpdateDate'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
								</th>							
								<th style="width: 8%; text-align: center;">
									<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('projectActions',!$ctrl.sort.reverse)">Action Items</a>
									<span class="sortorder" ng-show="$ctrl.sort.type === 'projectActions'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
								</th>
								<th style="width: 3%"></th>
							</tr>
						</thead>
					</table>
				</div>
				<div style="width: 13px; display: inline-block;">
					<table class="table" style="margin: 0; ">
						<thead>
							<tr class="table-header-inverse">
								<th style="width: 2%;">&nbsp;</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
			<div ng-attr-id="{{$ctrl.status + 'ProjectTable'}}" style="overflow-y: scroll; overflow-x: hidden; height: calc(100% - 75px);">
				<table class="table table-hover" style="table-layout: fixed; margin: 0; margin-bottom: 45px;">
					<tbody>
						<tr class="no-hover-muted" ng-show="!$ctrl.ngModel">
							<td colspan=7>
								<div class="cssload-loader">
								<div></div>
								<div></div>
								<div></div>
								<div></div>
								<div></div>
								<div></div>
								</div>
							</td>                                
						</tr>
						<tr class="hidden-print no-hover-muted" ng-if="$ctrl.ngModel.length === 0">
							<td style="padding-top: 150px;" colspan="7" class="text-center text-muted">
								<span>
									<i class="fal fa-grimace fa-4x"></i>
								</span>
								<span style="font-size: xx-large; display: block;">
									No {{$ctrl.status | titlecase}} Projects to Show
								</span>				
							</td>
						</tr>
						<tr class="show-on-hover-parent" ng-repeat="project in $ctrl.ngModel | omsProjectFilter:{ownerName: $ctrl.selectedOwner, masterProjectId: $ctrl.selectedMasterProjectId} | orderBy: $ctrl.sort.type : $ctrl.sort.reverse | orderBy:sortMasterProject:true as projects"
							ng-class="project.master? 'master' : ''">
							<td style="width: 2%; padding-left: 4px; padding-right: 0px;">
								<initials-badge invert="$ctrl.isOwner(project.ownerName)" name="project.ownerName" ng-click="$ctrl.filterOwner(project.ownerName)"/>
							</td>
							<td ng-if="$ctrl.status === 'active'" style="width: 12%; white-space: nowrap; padding-right: 0px;">
								<span ng-if="(project.customerPlan.planId > 0) && project.customerPlan.planId !== $ctrl.planId;" ng-click="$ctrl.goToPlan(project.customerPlan.planId)" class="cursor-pointer">
									<a style="display: block; overflow: hidden; text-overflow: ellipsis;" show-tooltip-on-text-overflow tooltip-enable="false" uib-tooltip="{{project.customerPlan.customerName}}" tooltip-append-to-body="true">
										{{project.customerPlan.customerName}}
									</a>
								</span>
								<span ng-if="!(project.customerPlan.planId > 0)">
									<span style="display: block; overflow: hidden; text-overflow: ellipsis;" show-tooltip-on-text-overflow tooltip-enable="false" uib-tooltip="{{project.customerPlan.customerName}}" tooltip-append-to-body="true">
										{{project.customerPlan.customerName}}
									</span>
								</span>
							</td>
							<td style="width: 8%; white-space: nowrap; padding-left: 25px">
								<a ng-click="$ctrl.openProject(project)" href="">
									{{project.projectId}}
								</a>
							</td>								
							<td style="width: 14%;">
								<span style="display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap" show-tooltip-on-text-overflow tooltip-enable="false" uib-tooltip="{{project.projectName}}" tooltip-append-to-body="true">
									{{project.projectName}}
								</span>
							</td>	
							<td style="width: 14%; white-space: nowrap; text-align: left;">
								<span ng-click="$ctrl.filterMasterProject(project)">
									<a style="display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap" show-tooltip-on-text-overflow tooltip-enable="false" uib-tooltip="{{project.masterProjectName}}" tooltip-append-to-body="true" class="cursor-pointer">
										{{project.masterProjectName}}
									</a>
								</span>
							</td>
							<td style="width: 9%; white-space: nowrap; text-align:right">{{project.dollarValue | currency:"$":0}}</td>
							<td style="width: 4%;"></td>
							<td style="width: 10%; white-space: nowrap; padding-left: 16px;">{{project.estimatedProductionDate | date:"MM/dd/yyyy"}}</td>
							<td style="width: 10%; white-space: nowrap; padding-left: 16px;">{{project.insertDate | date:"MM/dd/yyyy"}}</td>
							<td style="width: 10%; white-space: nowrap; padding-left: 16px;">{{project.lastUpdateDate | date:"MM/dd/yyyy"}}</td>
							<td style="width: 8%; white-space: nowrap; text-align: center; padding-right: 0px">
								<span ng-click="$ctrl.openActionItems(project, false)" uib-tooltip="View Incomplete" tooltip-append-to-body="true">
									<a style="color: orange;"class="cursor-pointer">{{$ctrl.getIncompleteActionCount(project)}}</a>
								</span> /
								<span ng-click="$ctrl.openActionItems(project, true)" uib-tooltip="View All" tooltip-append-to-body="true">
									<a class="cursor-pointer">{{project.projectActions.length}}</a>
								</span>
							</td>
							<td style="width: 3%; white-space: nowrap; text-align: right; padding-left: 0px">
								<span class="show-on-hover" id="project-delete" ng-click="$ctrl.deleteProject(project.projectId)" ng-if="$ctrl.permissions.delete(project)" uib-tooltip="Discard" uib-tooltip-position="above">
									<i class="far fa-trash-alt text-danger cursor-pointer"></i>
								</span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div id="tableFooter">
				<table class="table" style="table-layout: fixed; margin-bottom: 0;">
					<tfoot class="table-footer">
						<tr>
							<td><span class="pull-left" style="margin-right: 5px;">{{projects.length}} Project{{projects.length !== 1? 's' : ''}}&nbsp;&nbsp;-&nbsp;&nbsp;Filtered By:</span>
								<span ng-if="$ctrl.selectedOwner !== ''" class="badge">
									{{$ctrl.selectedOwner}}&nbsp;
									<span uib-tooltip="Remove Filter" tooltip-append-to-body="true" ng-click="$ctrl.selectedOwner = ''" class="cursor-pointer">
										<i class="fas fa-times-circle"></i>
									</span>
								</span>
								<span ng-if="$ctrl.selectedMasterProjectId" class="badge">
									{{$ctrl.selectedMasterProjectName}}&nbsp;
									<span uib-tooltip="Remove Filter" tooltip-append-to-body="true" ng-click="$ctrl.filterMasterProject(null)" class="cursor-pointer">
										<i class="fas fa-times-circle"></i>
									</span>
								</span>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
			<div ng-if="$ctrl.status === 'active' && $ctrl.permissions.validated('add')" ng-disabled="!($ctrl.projects.archive && $ctrl.projects.active)"
			ng-click="$ctrl.addOpportunity('OMS')" class="btn-primary cursor-pointer" style="position: absolute; bottom: 45px; right: 25px; border-radius: 50%; height: 34px; width: 34px;
			color: white; text-align: center; box-shadow: 2px 2px 2px #888888;" uib-tooltip="Add New Opportunity" tooltip-append-to-body="true">
				<div style="margin-bottom: 10px; margin-top: 7px;">
					<i style="height: 20px; width: 20px" class="far fa-plus"></i>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/ng-template" id="popoverProjectActionItems.html">
	<action-items project="project"></action-items>
</script>

<style>
	.master {
		background: #dbffcc !important;
	}
</style>