<div class="col-xs-12 bg-white" style="padding-top: 10px; padding-bottom: 10px; margin-bottom: 20px;
border-radius: 0 13px 13px 13px; box-shadow: 3px 3px 3px #888888; position: relative">
	<div style="display: flex; width: 100%;" bs-affix data-offset-top="50">
		<div ng-if="$ctrl.permissions.hasPermission('edit') && $ctrl.status === 'active'" style="width: 35%; padding-top: 0; margin-bottom: 6px">
			<button class="btn btn-sm btn-primary" ng-click="$ctrl.projectModal()">					
				<i class="fas fa-plus"></i> New Project
			</button>
		</div>
		<div class="input-group" style="width: 50%; min-width: 250px; max-width: 400px; position: relative !important">
			<input ng-model="$ctrl.filterText" ng-model-options="{debounce: 300}" ng-change="$ctrl.saveFilterText();" placeholder="Filter Projects..." class="form-control"/>
			<span class="input-group-addon cursor-pointer" style="padding: 6px 7px !important;"
			 uib-tooltip="This field supports comma-delimited filters.&#13;&#10; e.g. &quot;filter 1, filter 2, filter 3&quot;"
			 tooltip-append-to-body="true" tooltip-class="tooltip-350width">
				<i class="fas fa-info-circle fa-lg"></i>
			</span>
		</div>
	</div>
	<div style="display: flex; overflow: hidden; white-space: nowrap; background-color: #F5F8FD; border-bottom: 1px solid #ddd;">
		<div style="width: calc(100% - 17px); display: inline-block;">
			<table class="table table-hover" style="margin-bottom: 0;">
				<thead class="table-header">
					<tr>
						<th style="width: 2%;"></th>
						<th style="width: 13%;">
							<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('businessPartnerName',!$ctrl.sort.reverse)">Business Partner</a>
							<span class="sortorder" ng-show="$ctrl.sort.type === 'businessPartnerName'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
						</th>
						<th style="width: 10%;">
							<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('projectName',!$ctrl.sort.reverse)">Project Name</a>
							<span class="sortorder" ng-show="$ctrl.sort.type === 'projectName'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
						</th>
						<th style="width: 10%;">
							<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('businessPartnerContactName',!$ctrl.sort.reverse)">Partner Contact</a>
							<span class="sortorder" ng-show="$ctrl.sort.type === 'businessPartnerContactName'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
						</th>
						<th style="width: 10%;">
							<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('estAnnualRevenue',!$ctrl.sort.reverse)">Est. Annual Revenue</a>
							<span class="sortorder" ng-show="$ctrl.sort.type === 'estAnnualRevenue'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
						</th>
						<th style="width: 10%;">
							<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('firstProductionDate',!$ctrl.sort.reverse)">First Production</a>
							<span class="sortorder" ng-show="$ctrl.sort.type === 'firstProductionDate'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
						</th>
						<th style="width: 8%;">
							<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('unitProduction',!$ctrl.sort.reverse)">{{$ctrl.year.current}} <br> Production Qty</a>
							<span class="sortorder" ng-show="$ctrl.sort.type === 'unitProduction'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
						</th>
						<th style="width: 8%; border-right: 1px solid #ccc;">
							<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('unitForecast',!$ctrl.sort.reverse)">{{$ctrl.year.next}} <br> Production Qty</a>
							<span class="sortorder" ng-show="$ctrl.sort.type === 'unitForecast'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
						</th>
						<th colspan="2" style="width: 16%; border-right: 1px solid #ccc;">
							<span style="display: inline-block; text-align: center; width: 100%">Planned Modification</span>
							<br>
							<span style="display: inline-block; text-align: center; width: 47%;">
								<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('plannedModification.planMod',!$ctrl.sort.reverse)">Reason</a>
								<span class="sortorder" ng-show="$ctrl.sort.type === 'plannedModification.planMod'" ng-class="{reverse:$ctrl.sort.reverse}"></span>							
							</span>
							<span style="display: inline-block; text-align: center; width: 47%;">
								<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('plannedModificationDate',!$ctrl.sort.reverse)">Date</a>
								<span class="sortorder" ng-show="$ctrl.sort.type === 'plannedModificationDate'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
							</span>
						</th>
						<th style="width: 10%;">
							<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('programManagerName',!$ctrl.sort.reverse)">Program Manager</a>
								<span class="sortorder" ng-show="$ctrl.sort.type === 'programManagerName'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
						</th>						
					</tr>					
				</thead>
			</table>
		</div>
		<div style="width: 13px; display: inline-block;"></div>
	</div>
	<div style="overflow-y: scroll; height: 450px">
		<table class="table table-hover" style="margin-bottom: 50px; position: relative">
			<tbody>
				<tr ng-cloak ng-repeat="project in $ctrl.projects | commaDelimitedFilter:$ctrl.filterText | businessPartnerNameFilter:{businessPartnerName: $ctrl.businessPartnerNameFilter} | orderBy: $ctrl.sort.type : $ctrl.sort.reverse" ng-click="$ctrl.selectRow($index)" class="project-row show-on-hover-parent" ng-style="{background: $ctrl.isSelected(project)? '#dbffcc' : ''}">
					<td style="width:2%; padding-right: 0px">
						<span ng-if="$ctrl.permissions.hasPermission('edit')" ng-click="$ctrl.projectModal(project)" class="show-on-hover cursor-pointer" uib-tooltip="Edit" tooltip-append-to-body="true">
							<i class="far fa-pencil"></i>
						</span>
						<span ng-click="$ctrl.filterBusinessPartnerName(project.businessPartnerName)" class="show-on-hover cursor-pointer" uib-tooltip="Filter By Business Partner" tooltip-append-to-body="true">
							<i id="group{{$index}}" class="fas fa-filter"></i>
						</span>
					</td>
					<td style="width:13%;">
						<div ng-if="project.ownerName" class="name-badge" ng-class="project.isOwner ? 'name-badge-inverted' : 'name-badge-default'" uib-tooltip="{{project.ownerName |titlecase}}"
							tooltip-append-to-body="true" class="fa-stack cursor-pointer">
							<b>{{project.ownerName | initials}}</b>
						</div>
						&nbsp;
						<span ng-if="project.businessPartnerPlanStatus.planStatusId === 4" style="color: red; cursor: pointer" uib-tooltip="This partner has been archived!" tooltip-append-to-body="true">
							<i class="fas fa-exclamation-triangle"></i>
						</span>
						<a ng-if="project.businessPartnerPlanId" class="cursor-pointer" ng-style="{color: project.businessPartnerPlanStatus.planStatusId === 4? 'red' : ''}" ng-click="$ctrl.openPartnerPlan(project.businessPartnerPlanId)">
							{{project.businessPartnerName}}
						</a>
						<span ng-if="!project.businessPartnerPlanId">
							{{project.businessPartnerName}}
						</span>
					</td>
					<td style="width:10%">{{project.projectName}}</td>
					<td style="width:10%">{{project.businessPartnerContactName}}</td>
					<td style="width:10%">{{project.estAnnualRevenue | currency : '$': 0}}</td>
					<td style="width:10%">{{project.firstProductionDate | date:"MM/dd/yyyy"}}</td>
					<td style="width:8%">{{project.unitProduction | number}}</td>
					<td style="width:8%">{{project.unitForecast | number}}</td>
					<td style="width:8%; text-align: center">{{project.plannedModification.planMod}}</td>
					<td style="width:8%; text-align: center">{{project.plannedModificationDate | date:"MM/dd/yyyy"}}</td>
					<td style="width:10%">
						{{project.programManagerName}}
						<span ng-if="$ctrl.permissions.hasPermission('delete')" ng-click="$ctrl.deleteProject(project)" style="float: right" class="text-danger show-on-hover cursor-pointer" uib-tooltip="Delete" tooltip-append-to-body="true"><i class="far fa-trash-alt"></i></span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="tableFooter">
		<table class="table" style="table-layout: fixed;">
			<tfoot class="table-footer">
				<tr>
					<td style="width: 45%; height: 30px">
						<span class="pull-left" style="margin-right: 5px;">{{projects.length | number}}Filtered By:</span>
						<span ng-if="$ctrl.businessPartnerNameFilter" class="badge" style="padding-bottom: 10; margin-bottom: 100">
							<span style="margin: 4px;">
								{{$ctrl.businessPartnerNameFilter.split(" ")[0]}}&nbsp;
							</span> 
							<span uib-tooltip="Remove Filter" tooltip-append-to-body="true" ng-click="$ctrl.businessPartnerNameFilter = ''" class="cursor-pointer">
								<i class="fas fa-times-circle"></i>
							</span>
						</span>
						<span ng-if="$ctrl.filterText" class="badge client-filter">
							<span style="margin: 4px;">
								"{{$ctrl.filterText}}"&nbsp;
							</span>
							<span uib-tooltip="Remove Filter" tooltip-append-to-body="true" ng-click="$ctrl.filterText = ''" class="cursor-pointer">
								<i class="fas fa-times-circle"></i>
							</span>
						</span>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>

<style>
.table-header>tr>th {
	border-bottom: 0px !important;
}
.name-badge {
	display: inline-flex;
	flex-direction: row;
	height: 22px;
	width: 22px;
	border-radius: 20px;
	justify-content: center;
	cursor: pointer;
}
.name-badge > b {
	font-size: 10px;
	align-self: center;
}

.name-badge-default {
	background: #276ab0;
}
.name-badge-default > b {
	color: white;
}

.name-badge-inverted {
	border: 2px solid #276ab0;
}

.name-badge-inverted > b {
	color: #276ab0;
}

</style>