<div style="right: 5px; top: -42px; position: absolute">
	<button ng-if="$ctrl.permissions.delete()"  class="btn btn-danger btn-sm" ng-click="$ctrl.deleteProject()"><i class="far fa-trash-alt"></i>&nbsp;&nbsp;Discard</button>
	<button ng-if="$ctrl.permissions.edit()" style="margin-left: 7px" class="btn btn-primary btn-sm" ng-click="$ctrl.toggleStatus()"
	 uib-tooltip="{{($ctrl.project.headerStatus.statusId === 1)? 'Move Project to &quot;Archive&quot;' : 'Move Project to &quot;Active&quot;'}}" tooltip-append-to-body="true">
		<span ng-if="$ctrl.project.headerStatus.statusId === 1"><i class="fas fa-box"></i>&nbsp;&nbsp;Archive</span>
		<span ng-if="$ctrl.project.headerStatus.statusId !== 1"><i class="fas fa-box-open"></i>&nbsp;&nbsp;Un-Archive</span>
	</button>
</div>

<div ng-if="!$ctrl.project.projectId">
    <table style="margin: 0;">
		<tbody>
			<tr class="no-hover-muted" ng-show="!$ctrl.ngModel">
            	<td colspan=14>
                 	<div class="cssload-loader">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                 	</div>
            	</td>                                
        	</tr>
    	</tbody>
	</table>
</div>
<div ng-if="$ctrl.project.projectId">
    <form name="$ctrl.omsProjectForm" confirm-on-exit>
        <div ng-switch="$ctrl.editMode" style="background-color: #276ab0; border-radius: 5px; height: 38px; padding: 3px 15px 0px 15px; margin-bottom: 5px; width: 100%; position: relative;">
            <span ng-switch-default style="margin-top: 2px; color: white; font-size: 20px; position: absolute; display: inline-blok; width: 100%">
            	{{$ctrl.project.projectName}}
            	<span ng-if="($ctrl.project.customerPlan && $ctrl.project.customerPlan.planId !== $ctrl.plan.planId)" style="padding-right: 30px; color: yellow; float: right">(Default Customer: {{$ctrl.project.customerPlan.customerName}})</span>
            </span>
            <input ng-switch-when="true" type=text ng-model="$ctrl.project.projectName" class="form-control" style="width: calc(100% - 30px); font-size: 22px; padding-top: 0px; padding-bottom: 0px; height: 32px; position: absolute">
        </div>
        <div style="margin-top: 0px; margin-bottom: 10px;">
        	<div style="display: inline-block" ng-if="$ctrl.permissions.edit()">
	            <button class="btn btn-default btn-sm" ng-click="$ctrl.toggleEditMode();">{{$ctrl.editMode? 'Cancel' : 'Edit'}}</button>
	            <button ng-if="$ctrl.editMode" class="btn btn-success btn-sm" ng-click="$ctrl.updateProject();" ng-disabled="!$ctrl.omsProjectForm.$dirty || $ctrl.omsProjectForm.$invalid">Save Changes</button>
           	</div>
            <span style="margin-left: 8px;">(Last Updated: {{$ctrl.project.lastUpdateDate | date}})</span>
        </div>
        <div style="margin-top: 10px; width: 100%">
        <div style="display: flex; overflow: visible; margin-bottom: 0px;">
            <div style="width: 35%; min-width: 470px;">
                <div class="panel panel-info" style="overflow: visible">
                    <div class="panel-heading">
                        <h4 class="panel-title"><b>Details</b></h4>
                    </div>
                    <div class="panel-body" style="padding: 0; min-width: 480px;">
                        <div style="display: inline-block; vertical-align: top; margin-top: 10px; width: 46%" class="dl-horizontal project-summary-left">
                            <dt>
                                <b>Project ID: </b>
                            </dt>
                            <dd>
                                {{$ctrl.project.projectId}}
                            </dd>
                            <dt>
                                <b>Project Owner: </b>
                            </dt>
                            <dd>
                                {{$ctrl.project.ownerName}}
                            </dd>
                            <dt>
                                <b>Project Value: </b>
                            </dt>
                            <dd>
                                <span>{{$ctrl.project.dollarValue | currency: '$' : 0 }}</span>
                            </dd>
                            <dt>
                                <b>Master Project: </b>
                            </dt>
                            <dd ng-switch="$ctrl.editMode && $ctrl.plan.planType.planTypeId >= 5" style="position: relative">
                                <span ng-switch-when="false" style="position: absolute; white-space: nowrap;">
                                    <span ng-if="!$ctrl.project.masterProjectName">N/A</span>
                                    <span class="cursor-pointer" ng-click="$ctrl.openMasterProject()">
                                    	<a ng-if="$ctrl.project.masterProjectName.length > 15" uib-tooltip="{{$ctrl.project.masterProjectName}}" tooltip-append-to-body="true" class="cursor-pointer">
											{{$ctrl.project.masterProjectName | truncate:false:15:'...'}}
										</a>
										<a ng-if="$ctrl.project.masterProjectName.length <= 15" class="cursor-pointer">
											{{$ctrl.project.masterProjectName}}
										</a>
                                    </span>
                                </span>
                               	<div ng-switch-when="true" style="height: wrap; position: absolute; width: 100%" class="btn-group" uib-dropdown>
                                    <input ng-model="$ctrl.project.masterProjectName" class="form-control" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" uib-dropdown-toggle>
                                    <ul ng-show="masterProjects.length > 0 || $ctrl.activeProjects === undefined" style="max-height: 250px; overflow-y: auto" uib-dropdown-menu>
                                        <li ng-repeat="masterProject in $ctrl.activeProjects | orderBy: 'projectName' | filter:{projectName: $ctrl.project.masterProjectName, projectId: '!'+$ctrl.project.projectId} as masterProjects"
                                       		ng-click="$ctrl.project.masterProjectName = masterProject.projectName; $ctrl.project.masterProjectId = masterProject.projectId; $ctrl.omsProjectForm.$setDirty()">
                                        	<a>{{masterProject.projectName}}</a>
                                        </li>
                                    	<li ng-show="$ctrl.activeProjects === undefined" style="white-space: nowrap; padding-left: 10px; padding-right: 10px"><i id="spinner" class="far fa-spinner-third"></i>&nbsp;&nbsp;&nbsp;Loading Projects...</li>
                                    </ul>
                                </div>
                            </dd>
                            <dt>
                                <b>EAU: </b>
                            </dt>
                            <dd ng-switch="$ctrl.editMode" style="position: relative">
                                <span ng-switch-when="false" style="position: absolute; white-space: nowrap;">
                                    <span ng-if="!$ctrl.project.eau">N/A</span>
                                    {{$ctrl.project.eau | number }}
                                </span>
                                <p ng-switch-when="true"><input type="number" style="position: absolute" class="form-control" ng-model="$ctrl.project.eau"></p>
                            </dd>
                        </div>
                        <div style="display: inline-block; vertical-align:top; margin-top: 10px; width: 50%;" class="dl-horizontal project-summary-right">
                            <dt>
                                <b>Date Created: </b>
                            </dt>
                            <dd>
                                <span>
                                    {{$ctrl.project.insertDate | date:'MM/dd/yyyy'}}
                                </span>
                            </dd>
                           <dt>
                                <b>Application: </b>
                            </dt>
                            <dd ng-switch="$ctrl.editMode" style="position: relative">
                                <span ng-switch-when="false" style="position: absolute; white-space: nowrap;">
                                    <span ng-if="$ctrl.project.application.length <= 15">{{$ctrl.project.application}}</span>
                                    <span ng-if="$ctrl.project.application.length > 15" uib-tooltip="{{$ctrl.project.application}}" tooltip-placement="above">
                                        {{$ctrl.project.application | truncate:false:15:'...'}}
                                    </span>
                                    <span ng-if="!$ctrl.project.application">N/A</span>
                                </span>
                                <p ng-switch-when="true"><input type="text" style="position: absolute" class="form-control" ng-model="$ctrl.project.application" maxlength="250"></p>
                            </dd>
                            <dt>
                                <b>Prototype Date: </b>
                            </dt>
                            <dd ng-switch="$ctrl.editMode" style="position: relative">
                                <span ng-switch-when="false" style="position: absolute">
                                	<span ng-if="$ctrl.project.estimatedPrototypeDate">{{$ctrl.project.estimatedPrototypeDate | date:'MM/dd/yyyy'}}</span>
                                	<span ng-if="!$ctrl.project.estimatedPrototypeDate" style="color: orange"><i class="fas fa-exclamation-triangle"></i>&nbsp;&nbsp;<b>Missing!</b></span>
                                </span>
                                <p ng-switch-when="true" class="input-group" style="max-width: 150px; position: absolute">
                                    <input type="text" class="form-control" uib-datepicker-popup="MM/dd/yyyy" ng-model="$ctrl.project.estimatedPrototypeDate"
                                        is-open="$ctrl.estProtoCalendarOpen" datepicker-options="dateOptions" close-text="Close">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="$ctrl.estProtoCalendarOpen = !$ctrl.estProtoCalendarOpen;">
                                            <i id="calendar" class="far fa-calendar-alt"></i>
                                        </button>
                                    </span>
                                </p>
                            </dd>
                            <dt>
                                <b>Production Date: </b>
                            </dt>
                            <dd ng-switch="$ctrl.editMode" style="position: relative">
                                <span ng-switch-when="false" style="position: absolute">
                                	<span ng-if="$ctrl.project.estimatedProductionDate">{{$ctrl.project.estimatedProductionDate | date:'MM/dd/yyyy'}}</span>
                                	<span ng-if="!$ctrl.project.estimatedProductionDate" style="color: orange"><i class="fas fa-exclamation-triangle"></i>&nbsp;&nbsp;<b>Missing!</b></span>
                                </span>
                                <p ng-switch-when="true" class="input-group" style="max-width: 150px; position: absolute">
                                    <input type="text" class="form-control" uib-datepicker-popup="MM/dd/yyyy" ng-model="$ctrl.project.estimatedProductionDate"
                                        is-open="$ctrl.estProdCalendarOpen" datepicker-options="dateOptions" close-text="Close">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="$ctrl.estProdCalendarOpen = !$ctrl.estProdCalendarOpen;">
                                            <i id="calendar" class="far fa-calendar-alt"></i>
                                        </button>
                                    </span>
                                </p>
                            </dd>
                            <dt>
                                <b>Action Items: </b>
                            </dt>
                            <dd>
                            	<span ng-click="$ctrl.openActionItems($ctrl.project, false)" uib-tooltip="View Incomplete" tooltip-append-to-body="true">
									<a style="color: orange;" class="cursor-pointer">{{$ctrl.getIncompleteActionCount($ctrl.project)}}</a>
								</span> /
								<span ng-click="$ctrl.openActionItems($ctrl.project, true)" uib-tooltip="View All" tooltip-append-to-body="true">
									<a class="cursor-pointer">{{$ctrl.project.projectActions.length}}</a>
								</span>
                            </dd>
                        </div>
                    </div>
                </div>
            </div>
            <div style="width: 40%; padding-left: 20px; padding-bottom: 20px;">
                <div class="panel panel-info" style="margin: 0; height: 100%;">
                    <div class="panel-heading">
                        <h4 class="panel-title"><b>Notes</b></h4>
                    </div>
                    <div class="panel-body" style="overflow-y: auto; height: calc(100% - 38px); width: 100%; position: relative; padding-bottom: 5px">
                        <span ng-if="!$ctrl.editMode" style="position: absolute; display: block; word-break: break-all; white-space: pre-line; word-wrap: break-all; margin-right: 10px;">{{$ctrl.project.notes}}</span>
                        <textarea ng-if="$ctrl.editMode" char-limit-label limit="4000" class="form-control" style="overflow-y: auto; height: calc(100% - 20px);" ng-model="$ctrl.project.notes"></textarea>
                    </div>
                </div>
            </div>
            <div style="width: 25%; padding-left: 20px; padding-bottom: 20px; min-width: 300px">
                <div class="panel panel-info" style="margin: 0; height: 100%;">
                    <div class="panel-heading" style="padding-right: 4px;">
                        <h4 class="panel-title">
                        	<b>Business Partners<span ng-if="$ctrl.businessPartners.length + $ctrl.pendingPartners.length > 0">&nbsp;&nbsp;({{$ctrl.businessPartners.length +  $ctrl.pendingPartners.length}})</span></b>
                        	<button ng-if="$ctrl.permissions.edit()" ng-click="$ctrl.openBusinessPartnerModal()" class="btn btn-primary btn-sm" style="float: right; margin-top: -6px;"><i class="fas fa-plus"></i> Add Partner</button>
                        </h4>
                    </div>
                    <div class="panel-body" style="overflow-y: auto; padding: 0px; height: calc(100% - 38px); position: relative">
                        <table class="table" style="margin: 0; position: absolute; table-layout: fixed;">
		                    <tbody style="margin: -1px;">
		                    	<tr class="no-hover-muted" ng-if="!$ctrl.businessPartners">
		                            <td style="position: relative">
		                                <div class="cssload-loader">
		                                    <div></div>
		                                    <div></div>
		                                    <div></div>
		                                    <div></div>
		                                    <div></div>
		                                    <div></div>
		                                </div>
		                            </td>
		                        </tr>
		                    	<tr ng-if="$ctrl.businessPartners.length > 0" ng-repeat="partner in $ctrl.businessPartners" class="show-on-hover-parent">
		                    		<td style="width: 55%; white-space: nowrap;">
	                    				<span ng-if="!partner.partnerPlan" style="color: orange;" uib-tooltip="Click customer name to submit customer for review." tooltip-append-to-body="true"><i class="fas fa-exclamation-triangle"></i></span>
		                    			<span ng-if="partner.partnerPlan.planStatus.planStatusId === 4" style="color: red; cursor: pointer" uib-tooltip="This partner has been archived!" tooltip-append-to-body="true">
											<i class="fas fa-exclamation-triangle"></i>
										</span>
		                    			<a class="cursor-pointer" ng-style="{'color' : partner.partnerPlan? (partner.partnerPlan.planStatus.planStatusId === 4? 'red' : '') : 'orange'}" style="white-space: nowrap" ng-click="$ctrl.openBusinessPartnerPlan(partner)">
		                    				<span ng-if="partner.customerName.length < 21">{{partner.customerName}}</span>
		                    				<span ng-if="partner.customerName.length >= 21" uib-tooltip="{{partner.customerName}}" tooltip-append-to-body="true">{{partner.customerName | truncate:false:18:'...'}}</span>
		                    			</a>
		                    		</td>
		                    		<td  style="width: 44%; text-align: right">
		                    			<span ng-if="partner.partnerPlan" style="font-style: italic;">{{partner.partnerPlan.owner}}</span>
		                    			<span ng-if="!partner.partnerPlan">
		                    				<span style="color: orange">&nbsp;&nbsp;No Plan</span>
		                    			</span>
		                    		</td>
		                    		<td style="width: 6%; padding-left: 0px">
		                    			<span ng-if="$ctrl.permissions.edit()" class="show-on-hover" uib-tooltip="Remove Partner" tooltip-placement="above"  tooltip-append-to-body="true"
		                    			ng-click="$ctrl.removeBusinessPartner(partner)">
		                    				<i class="far fa-trash-alt text-danger cursor-pointer"></i>
		                    			</span>
		                    		</td>
		                    	</tr>
		                    	
		                    	<tr ng-if="$ctrl.pendingPartners.length > 0" ng-repeat="partner in $ctrl.pendingPartners" class="show-on-hover-parent">
		                    		<td style="width: 55%; white-space: nowrap;">
	                    				<span ng-if="partner.customerName.length < 21">
	                    					<span ng-if="!partner.planId">{{partner.customerName}}</span>
	                    					<a ng-if="partner.planId" ng-click="$ctrl.openBusinessPartnerPlan(partner)" class="cursor-pointer">{{partner.customerName}}</a>
	                    				</span>
	                    				<span ng-if="partner.customerName.length >= 21" uib-tooltip="{{partner.customerName}}" tooltip-append-to-body="true">
	                    					<span ng-if="!partner.planId">{{partner.customerName | truncate:false:18:'...'}}</span>
	                    					<a ng-if="partner.planId" ng-click="$ctrl.openBusinessPartnerPlan(partner)" class="cursor-pointer">{{partner.customerName | truncate:false:18:'...'}}</a>
	                    				</span>
		                    		</td>
		                    		<td  style="width: 44%; text-align: right; white-space: nowrap">
		                    			<span class="cursor-pointer show-on-hover" uib-popover-template="$ctrl.popovers.businessPartnerStatus"
                                         popover-title="{{partner.status}}" popover-append-to-body="true" popover-placement="left" popover-trigger="'mouseenter'">
                                         <i class="fas fa-question-circle"></i></span>
		                    			<span style="font-style: italic;">{{partner.status}}</span>
		                    		</td>
		                    		<td style="width: 6%; padding-left: 0px">
										<span ng-if="$ctrl.permissions.edit()" class="show-on-hover" uib-tooltip="Remove Partner" tooltip-placement="above"  tooltip-append-to-body="true"
	                    				 ng-click="$ctrl.removePendingPartner(partner)">
		                    				<i class="far fa-trash-alt text-danger cursor-pointer"></i>
		                    			</span>
		                    		</td>
		                    	</tr>
		                    	
		                    	<tr ng-if="$ctrl.businessPartners.length + $ctrl.pendingPartners.length === 0">
					                <td class="text-center text-muted" style="font-size: x-large">
					                	<span style="margin-top: 25px; display: block"><i class="fas fa-handshake fa-2x"></i></span>
					                	<span>No Business Partners.</span>
					                </td>
				                </tr>
		                    </tbody>
		                </table>
                    </div>
                </div>
            </div> 
        </div>
        <div>
            <span style="font-size: 140%; margin-right: 15px; margin-left: 20px; vertical-align: bottom"><b style="vertical-align: bottom">Line Items</b></span>
            <button ng-if="$ctrl.permissions.edit()" class="btn btn-primary btn-sm" ng-click="$ctrl.addLineItem()"><i class="fas fa-plus"></i> Add New</button>
            <span style="float: right; padding-right: 10px; padding-top: 15px;">Items {{$ctrl.displayCount}} of {{$ctrl.lineItemCount}}</span>
        </div>
        <div style="width: 100%; overflow-x: auto">
            <div style="display: flex; overflow: hidden; white-space: nowrap; background-color: #276ab0">
                <div style="width: calc(100% - 17px); display: inline-block">
                    <table class="table" style="margin: 0; table-layout: fixed;">
                        <thead>
                            <tr class="table-header-inverse">
<!--                                 <th style="width: 6.5%; text-align: center;"> -->
<!--                                     <a style="cursor:pointer;" ng-click="$ctrl.sort.order('registration',!$ctrl.sort.reverse)">REG</a> -->
<!--                                     <span class="sortorder" ng-show="$ctrl.sort.type === 'registration'" ng-class="{reverse:$ctrl.sort.reverse}"></span> -->
<!--                                 </th> -->
								<th style="width: 3%;">
								<th style="width: 3%; text-align: center;">
                                    <a style="cursor:pointer;" ng-click="$ctrl.sort.order('part.mfr',!$ctrl.sort.reverse)">Mfr.</a>
                                    <span class="sortorder" ng-show="$ctrl.sort.type === 'part.mfr'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
                                </th>
                                <th style="width: 6%;">
                                    <a style="cursor:pointer;" ng-click="$ctrl.sort.order('part.partNumber',!$ctrl.sort.reverse)">Part #</a>
                                    <span class="sortorder" ng-show="$ctrl.sort.type === 'part.partNumber'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
                                </th>
                                <th style="width: 7%;">
                                    <a style="cursor:pointer;" ng-click="$ctrl.sort.order('description',!$ctrl.sort.reverse)">Description</a>
                                    <span class="sortorder" ng-show="$ctrl.sort.type === 'description'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
                                </th>
                                <th style="width: 6%;">
                                    <a style="cursor:pointer;" ng-click="$ctrl.sort.order('customerPartNumber',!$ctrl.sort.reverse)">Cust. Part #</a>
                                    <span class="sortorder" ng-show="$ctrl.sort.type === 'customerPartNumber'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
                                </th>
                                <th style="width: 5%; text-align: center;">
                                    <a style="cursor:pointer;" ng-click="$ctrl.sort.order('part.commodity',!$ctrl.sort.reverse)">Commodity</a>
                                    <span class="sortorder" ng-show="$ctrl.sort.type === 'part.commodity'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
                                </th>
                                <th style="width: 3.5%">
                                    <a style="cursor:pointer;" ng-click="$ctrl.sort.order('resale',!$ctrl.sort.reverse)">Resale</a>
                                    <span class="sortorder" ng-show="$ctrl.sort.type === 'resale'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
                                </th>
                                <th style="width: 4%; text-align: center; padding-left: 30px;">
                                    <a style="cursor:pointer;" ng-click="$ctrl.sort.order('yr1Qty',!$ctrl.sort.reverse)">EAU</a>
                                    <span class="sortorder" ng-show="$ctrl.sort.type === 'yr1Qty'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
                                </th>
                                <th style="width: 5%">
                                    <a style="cursor:pointer;" ng-click="$ctrl.sort.order('extendedValue',!$ctrl.sort.reverse)">Ext. Resale</a>
                                    <span class="sortorder" ng-show="$ctrl.sort.type === 'extendedValue'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
                                </th>
                                <th style="width: 3.5%; text-align: center;">
                                    <a style="cursor:pointer;" ng-click="$ctrl.sort.order('designType.designTypeName',!$ctrl.sort.reverse)">Type</a>
                                    <span class="sortorder" ng-show="$ctrl.sort.type === 'designType.designTypeName'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
                                </th>
                                <th style="width: 3%; text-align: center; padding-left: 0; padding-right: 0px;">
                                    <a style="cursor:pointer;" ng-click="$ctrl.sort.order('sampled',!$ctrl.sort.reverse)">Sampled?</a>
                                    <span class="sortorder" ng-show="$ctrl.sort.type === 'sampled'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
                                </th>
                                <th style="width: 3%; text-align: center; padding-left: 0; padding-right: 0px;">
                                    <a style="cursor:pointer;" ng-click="$ctrl.sort.order('quoted',!$ctrl.sort.reverse)">Quoted</a>
                                    <span class="sortorder" ng-show="$ctrl.sort.type === 'quoted'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
                                </th>
                                <th style="width: 5%; text-align: center; padding-left: 0; padding-right: 0px;">
                                    <a style="cursor:pointer;" ng-click="$ctrl.sort.order('dregSort',!$ctrl.sort.reverse)">Dreg</a>
                                    <span class="sortorder" ng-show="$ctrl.sort.type === 'dregSort'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
                                </th>
<!--                                 <th style="width: 5%"> -->
<!--                                     <a style="cursor:pointer;" ng-click="$ctrl.sort.order('dregApprovalStatus',!$ctrl.sort.reverse)">Dreg Appr.</a> -->
<!--                                     <span class="sortorder" ng-show="$ctrl.sort.type === 'dregApprovalStatus'" ng-class="{reverse:$ctrl.sort.reverse}"></span> -->
<!--                                 </th> -->
                                <th style="width: 7%; text-align: center">
                                    <a style="cursor:pointer;" ng-click="$ctrl.sort.order('phase.newPhaseName',!$ctrl.sort.reverse)">Phase</a>
                                    <span class="sortorder" ng-show="$ctrl.sort.type === 'phase.newPhaseName'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
                                </th>
                                <th style="width: 1%"></th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div style="width: 17px; display: inline-block">
                    <table class="table" style="margin: 0;">
                        <thead>
                            <tr class="table-header-inverse">
                                <th style="width: 100%; color: #276ab0">
                                    &nbsp;
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div style="height: 186px; overflow-y: scroll; overflow-x: hidden; margin-bottom: 20px;">
                <table class="table table-hover" style="margin: 0;  table-layout: fixed; border-bottom: 1px solid #ddd"
                infinite-scroll="$ctrl.loadMore()" infinite-scroll-distance='0' infinite-scroll-parent="true">
                    <tbody>
                        <tr class="no-hover-muted" ng-show="!$ctrl.avlList">
                            <td colspan=14>
                                <div class="cssload-loader">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </td>
                        </tr>
                        <tr ng-repeat="avl in $ctrl.avlList | orderBy: predicate : $ctrl.sort.reverse | limitTo: $ctrl.displayLimit">
                            <td colspan=14 style="padding: 0; border: 0">
                                <table class="table table-hover" style="margin: 0; table-layout: fixed;">
                                   <tr class="show-on-hover-parent" ng-repeat="lineItem in avl | omsProjectFilter:{createdBy: $ctrl.selectedCreatedBy}" 
                                   ng-class="(($index === 0)? ((avl.length > 1)? 'primary' : '') : 'alternate') + ' '
                                    + ((avl[0].detailId === $ctrl.expandedItem)? 'expanded' : 'collapsed') + ' '
                                    + (($index === avl.length-1)? 'last' : '') + ' '
                                    + (($ctrl.expandedItem === 0)? '' : 'mute')">
<!--                                         <td style="width: 6.5%; padding-right: 0px; white-space: nowrap"> -->
<!--                                         	<div> -->
<!-- 	                                            <span ng-click="$ctrl.editLineItem(lineItem, avl[0], avl)" class="show-on-hover cursor-pointer" uib-tooltip="Edit" -->
<!-- 	                                                tooltip-placement="above"><i class="far fa-pencil"></i></span> -->
<!-- 	                                            <span ng-if="lineItem.notes" class="cursor-pointer" uib-popover-template="$ctrl.popovers.lineItemNotes" -->
<!-- 	                                                popover-title="Notes" popover-append-to-body="true" popover-placement="right" popover-trigger="'outsideClick'" -->
<!-- 	                                                popover-class="part-notes" uib-tooltip="Notes"> -->
<!-- 	                                                <i class="far fa-sticky-note"></i> -->
<!-- 	                                            </span> -->
<!-- 	                                            <span ng-if="!lineItem.notes" style="visibility: hidden"> -->
<!-- 	                                                <i class="far fa-sticky-note"></i> -->
<!-- 	                                            </span> -->
<!-- 	                                            <span ng-if="::!lineItem.didNotQualify"> -->
<!-- 	                                                <span ng-if="::lineItem.registration.length <= 12">{{::lineItem.registration}}</span> -->
<!-- 	                                                <span ng-if="::lineItem.registration.length > 12" uib-tooltip="{{lineItem.registration}}" tooltip-placement="above" -->
<!-- 	                                                    tooltip-append-to-body="true">{{::lineItem.registration | truncate:false:12:'...'}}</span> -->
<!-- 	                                            </span> -->
<!-- 	                                            <span ng-if="::lineItem.didNotQualify"> -->
<!-- 	                                                Did Not Qualify -->
<!-- 	                                            </span> -->
<!--                                             </div> -->
<!--                                         </td> -->
										<td style="width: 3%; text-align: left; padding-right: 0; white-space: nowrap;">
											<div>
												<span ng-if="$ctrl.permissions.edit()" ng-click="$ctrl.editLineItem(lineItem, avl[0], avl)" class="show-on-hover cursor-pointer" uib-tooltip="Edit" tooltip-placement="above">
		                                        	<i class="far fa-pencil"></i>
		                                        </span>
		                                        <initials-badge  ng-if="lineItem.createdBy" name="lineItem.createdBy"/>
	                                            <span ng-if="lineItem.notes" class="cursor-pointer" uib-popover-template="$ctrl.popovers.lineItemNotes"
	                                                popover-title="Notes" popover-append-to-body="true" popover-placement="right" popover-trigger="'outsideClick'"
	                                                popover-class="part-notes" uib-tooltip="Notes">
	                                                <i class="far fa-sticky-note"></i>
	                                            </span>
	                                            <span ng-if="!lineItem.notes" style="visibility: hidden">
	                                                <i class="far fa-sticky-note"></i>
	                                            </span>
											</div>
										</td>
										<td style="width: 3%; text-align: center; padding-left: 0;">
											<div>
												{{lineItem.part.mfr | uppercase}}
											</div>
										</td>
										<td style="width: 6%; white-space: nowrap">
                                        	<div>
	                                            <span ng-if="lineItem.part.partNumber.length <= 14" ng-switch="avl.length > 1 && $index == 0">
	                                            	<a ng-switch-when="true" ng-click="$ctrl.expandedItem = ((lineItem.detailId === $ctrl.expandedItem)? 0 : lineItem.detailId)" class="cursor-pointer"><b>{{lineItem.part.partNumber  | uppercase}}</b></a>
	                                            	<span ng-switch-when="false">{{lineItem.part.partNumber | uppercase}}</span>
	                                            </span>
	                                            <span ng-if="lineItem.part.partNumber.length > 14" ng-switch="avl.length > 1 && $index == 0" uib-tooltip="{{lineItem.part.partNumber  | uppercase}}" tooltip-placement="above">
	                                                <a ng-switch-when="true" ng-click="$ctrl.expandedItem = ((lineItem.detailId === $ctrl.expandedItem)? 0 : lineItem.detailId)" class="cursor-pointer"><b>{{lineItem.part.partNumber | truncate:false:14:'...'  | uppercase}}</b></a>
	                                                <span ng-switch-when="false">{{lineItem.part.partNumber | truncate:false:14:'...' | uppercase}}</span>
	                                            </span>
                                            </div>
                                        </td>
                                        <td style="width: 7%; white-space: nowrap">
                                        	<div>
	                                            <span ng-if="lineItem.description.length <= 14">{{lineItem.description}}</span>
	                                            <span ng-if="lineItem.description.length > 14" uib-tooltip="{{lineItem.description}}" tooltip-placement="above">
	                                                {{lineItem.description | truncate:false:14:'...'}}
	                                            </span>
	                                        </div>
                                        </td>
                                        <td style="width: 6%; white-space: nowrap">
                                        	<div>
	                                            <span ng-if="lineItem.customerPartNumber.length <= 14">{{lineItem.customerPartNumber | uppercase}}</span>
	                                            <span ng-if="lineItem.customerPartNumber.length > 14" uib-tooltip="{{lineItem.customerPartNumber | uppercase}}"
	                                                tooltip-placement="above">
	                                                {{lineItem.customerPartNumber | truncate:false:14:'...' | uppercase}}
	                                            </span>
                                        	</div>
                                        </td>
                                        <td style="width: 5%; text-align: center;">
                                        	<div>
                                        		<span ng-if="!lineItem.part.commodity" style="color: red" uib-tooltip="No Commodity" tooltip-append-to-body="true">
                                        			<i class="fas fa-exclamation-triangle"></i>
                                        		</span>
                                        		{{lineItem.part.commodity}}
                                        	</div>
                                        </td>
                                        <td style="width: 3.5%"><div>{{lineItem.resale}}</div></td>
                                        <td style="width: 4%; text-align: right;"><div>{{lineItem.yr1Qty}}</div></td>
                                        <td style="width: 5%"><div>{{lineItem.extendedValue | currency:"$":0}}</div></td>
                                        <td style="width: 3.5%; text-align: center;"><div>{{lineItem.designType.designTypeName}}</div></td>
                                        <td style="width: 3%; text-align: center; padding-left: 0; padding-right: 0px;">
                                        	<div>
	                                            <div ng-if="lineItem.sampled">
	                                                <i class="fas fa-check" style="color: green"></i>
	                                            </div>
	                                            <div ng-if="!lineItem.sampled">
	                                                <i class="fas fa-times" style="color: red"></i>
	                                            </div>
	                                        </div>
                                        </td>
                                        <td style="width: 3%; text-align: center;  padding-left: 0; padding-right: 0px;">
                                        	<div>
	                                            <i ng-if="::lineItem.quoted" class="fas fa-check" style="color: green"></i>
	                                            <i ng-if="::!lineItem.quoted" class="fas fa-times" style="color: red"></i>
	                                        </div>
                                        </td>
                                        <td style="width: 5%; text-align: center; padding-left: 0; padding-right: 0px;">
                                        	<div ng-if="lineItem.didNotQualify">DNQ</div>
                                        	<div ng-if="!lineItem.didNotQualify">
	                                        	<div ng-if="!lineItem.dregApprovalStatus">
		                                            <i ng-if="::lineItem.part.dregFlag === 'Y'" class="fas fa-check" style="color: green"></i>
		                                            <i ng-if="::lineItem.part.dregFlag === 'N'" class="fas fa-times" style="color: red"></i>
		                                            <span ng-if="lineItem.part.partId && !lineItem.part.dregFlag">N/A</span>
	                                        	</div>
	                                        	<div ng-if="lineItem.dregApprovalStatus" ng-switch="lineItem.dregApprovalStatus === 'Approved'">
	                                        		<span ng-switch-when="false">{{::lineItem.dregApprovalStatus}}</span>
	                                        		<span ng-switch-when="true">
	                                        			{{lineItem.registration}}
	                                        		</span>
	                                        	</div>
                                        	</div>
                                        </td>
<!--                                         <td style="width: 5%"><div>{{::lineItem.dregApprovalStatus}}</div></td> -->
                                        <td style="width: 7%; padding-right: 0; text-align: center">
                                            <div style="padding-right: 0 !important">
                                           		{{lineItem.phase.newPhaseName}}
                                           	</div>
                                        </td>
                                        <td style="width: 1%;padding-left: 0; padding-right: 6px;">
                                        	<div ng-if="$ctrl.permissions.delete()" style="padding-left: 0 !important;">
	                                            <span class="show-on-hover" uib-tooltip="Delete" tooltip-placement="above" ng-click="$ctrl.deleteLineItem(lineItem)"><i
	                                                    class="far fa-trash-alt text-danger cursor-pointer"></i></span>
                                            </div>
                                        </td>
                                   </tr> 
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>




<script type="text/ng-template" id="popoverProjectDetailsActionItems.html">
	<action-items project="$ctrl.project"></action-items>
</script>


<script type="text/ng-template" id="businessPartnerStatus.html">
	<div ng-switch="partner.status">
		<div ng-switch-when="Not Supporting">
			<i>{{partner.reason}}</i>
			<div style="width: 100%; text-align: right">-{{partner.updaterName}}</div>
		</div>
		<div ng-switch-when="Discarded">
			<i>{{partner.reason}}</i>
		</div>
		<div ng-switch-when="Wrong Branch">
			<b>{{partner.updaterName}}</b> has indicated that this customer does not belong to the following branch(es):
			<i>{{partner.note}}</i>
		</div>
		<div ng-switch-when="Submitted">
			<span>This business partner has been submitted for review by our administrative team.</span>
		</div>
		<div ng-switch-when="Pending">
			<span>This business partner is awaiting approval from management.</span>
		</div>
	</div>
</script>

<script type="text/ng-template" id="popoverProjectLineItemNotes.html">
	<div style="max-height: 200px; height: 200px; overflow-y: auto; padding: 5px;">
		<span style="white-space: pre-line" ng-if="lineItem.notes">{{lineItem.notes}}</span>
	</div>
</script>

<script type="text/ng-template" id="popoverProjectLineItemDescription.html">
	<div style="max-height: 200px; overflow-y: auto; padding: 5px;">
		<span style="white-space: pre-line" ng-if="lineItem.description">{{lineItem.description}}</span>
		<span ng-if="!lineItem.description">No Description.</span>
	</div>
</script>

<style ng-bind-html="$ctrl.calendarOffset"></style>


<style>

.tooltip-inner {
    max-width: 400px;
}

.ng-hide.ng-hide-animate {
display: none !important;
}
.ng-leave {
    display:none !important;
}

.project-summary-right > dt{
    font-size: 100%;
	width: 115px;
    margin-bottom: 10px;
}
.project-summary-right > dd {
    font-size: 100%;
	margin-left: 125px;
}

.project-summary-left > dt{
    font-size: 100%;
	width: 95px;
    margin-bottom: 10px;
}
.project-summary-left > dd {
    font-size: 100%;
	margin-left: 105px;
}


.project-summary-right .input-group-addon,
.project-summary-right .form-control,
.project-summary-left .input-group-addon,
.project-summary-left .form-control {
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    height: 26px;
    font-size: 90%;
}

.project-summary-right .input-group-btn > .btn,
.project-summary-left .input-group-btn > .btn{
	height: 26px;
	padding-top: 2px;
}

.part-notes>.popover-inner>.popover-content {
	padding: 0;
	word-break: break-all;
}

.part-notes > .arrow {
	margin-top: 84px !important;
}
.part-notes {
	max-width: 400px;
	width: 400px;
	margin-top: -95px;
}

.part-notes>.popover-inner>h3 {
	text-align: center;
}

tr>td {
	vertical-align: middle !important;
}
.primary{
	background-color: #fcd788 !important;
}
.primary.expanded {
	border-color: orange;
	border-style: solid;
	border-width: 2px 2px 0px 2px;
}
.primary.expanded>td:first-of-type {
	padding-left: 6px;
}
.primary.expanded>td:last-of-type {
	padding-right: 6px;
}
.alternate {
	border-left: 2px solid orange;
	border-right: 2px solid orange;
}
.alternate>td {
	padding: 0 !important;
	overflow: hidden;
}
.alternate.collapsed>td>div {
	padding: 0 8px;
	max-height: 0;
	transition: max-height 0.5s, padding 0.5s;
	-webkit-transition: max-height 0.5s, padding 0.5s;
}
.alternate.expanded>td:first-of-type>div {
	padding-left: 6px;
}
.alternate.expanded>td:last-of-type>div {
	padding-right: 6px;
}
.alternate.collapsed>td {
	border: 0;
}
.alternate>td>div {
	padding: 8px 8px;
	max-height: 60px;
	transition: max-height 0.5s, padding 0.5s;
	-webkit-transition: max-height 0.5s, padding 0.5s;
}
.alternate.last.expanded {
	border-bottom: 2px solid orange;	
}
.mute:not(.expanded), .mute:not(.expanded) a, .mute:not(.expanded) svg{
	color: darkgray !important;
}
.primary.mute:not(.expanded) {
	background-color: #ffebc1 !important;
}
</style>