<div class="hidden-print" style="display:flex; flex:1; margin: 25px -15px 10px -15px">
	    <div class="col-lg-12 col-md-12 col-sm-12" style="display:flex; flex:1">	
            <div class="page-nav" bs-affix data-offset-top="50" style="display:flex; flex:1">
                <span class="page-nav-brand"  style="display:flex; white-space: nowrap;">
                	<span uib-tooltip="Strategic Customer" tooltip-append-to-body="true" ng-if="$ctrl.plan.isStrategic">
						<i style="height: 20px; width: 20px;"class="fas fa-chess-knight-alt"></i>
					</span>{{$ctrl.plan.customerName}}</span>

				<div style="display:flex;">
                	<div class="page-nav-divider"></div>            		            	            	            	           
		            <div class="page-nav-btn-group"  style="display:flex; align-self: center;">
		            	<div class="btn-group" style="white-space: nowrap" uib-dropdown id="scrollable-dropdown-menu">
					      	<button id="split-button" type="button" class="btn btn-default"  style="padding-right: 7px"
					      			uib-dropdown-toggle
					      			ng-disabled="$ctrl.relatedPlans.length == 0">
					      		CID <span ng-if="$ctrl.plan.corporateId && $ctrl.plan.corporateId.trim() !== ''">({{$ctrl.plan.corporateId.trim()}})&nbsp;</span>
					      		<span class="caret"></span>
					      	</button>
					      	
					      	<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button" style="width: 300px;">				      	
					        	<li role="menuitem" ng-repeat="plan in $ctrl.relatedPlans" style="padding: 0; border-bottom: 1px dashed #ccc;">
					        		<a ng-href class="cursor-pointer" ng-click="$ctrl.loadPlan(plan.planId)" style="padding: 3px 5px;" ng-class="($ctrl.plan.planId === plan.planId)? 'current-plan' : ''">
					        			<h5 style="margin-top: 0;">
					        				<span ng-if="plan.planType.planTypeId === 0 || plan.planType.planTypeId === 1">
												<i class="fa fa-globe"></i>				
												- {{plan.customerName}}
											</span>
											<span ng-if="plan.planType.planTypeId === 2">				
												<strong>NDC</strong> - {{plan.customerName}}
											</span>
											<span ng-if="plan.planType.planTypeId === 3">				
												<strong>EDC</strong> - {{plan.customerName}}
											</span>
											<span ng-if="plan.planType.planTypeId === 4">				
												<strong>ADC</strong> - {{plan.customerName}}
											</span>
											<span ng-if="plan.planType.planTypeId === 5">
												<strong>{{plan.branch}}</strong>
												- {{plan.customerName}}
											</span>
					        			</h5>
					        			<h6 style="margin-bottom: 0;">				        				  
											Owner: {{plan.acctManager | titlecase}} <br>
											Run Rate: {{plan.totalRunRate | currency:'$':0}}
					        			</h6>
					        		</a>
					        	</li>
					      	</ul>
					      	
					    </div>
					</div>
				</div>
				<div class="page-nav-divider"></div>              		            	            	            	           
	            <div class="page-nav-btn-group"  style="display:flex">       		          
	                <page-header-btn text="'Business Plan'" plan-id="$ctrl.plan.planId" button-id="'businessPlan'"></page-header-btn>
	                <page-header-btn text="'Activity'" plan-id="$ctrl.plan.planId" button-id="'activity'"></page-header-btn>
	                <page-header-btn text="'Strategies & Tactics'" plan-id="$ctrl.plan.planId" button-id="'strategies'"></page-header-btn>
	                <page-header-btn text="'OMS'" plan-id="$ctrl.plan.planId" button-id="'oms'"></page-header-btn>
	                <page-header-btn text="'Financials'" ng-if="$ctrl.plan.planType.planTypeId !== 6" plan-id="$ctrl.plan.planId" button-id="'financials'"></page-header-btn>
	                <page-header-btn text="'Contacts'" plan-id="$ctrl.plan.planId" button-id="'contacts'"></page-header-btn>
					<page-header-btn text="$ctrl.vbsText" plan-id="$ctrl.plan.planId" button-id="'vbs'"></page-header-btn>
					<page-header-btn ng-show="$ctrl.hasPermission('callReport')" text="'Call Report'" plan-id="$ctrl.plan.planId" button-id="'callReport'"></page-header-btn>
					<page-header-btn text="'OPB'" plan-id="$ctrl.plan.planId" button-id="'nuggets'"></page-header-btn>
					<page-header-btn ng-if="$ctrl.displaySalesIQ === true" text="'SalesIQ'" plan-id="$ctrl.plan.planId" button-id="'salesIQ'"></page-header-btn>
	            </div>
<!--                 <div class="page-nav-divider"></div>            		            	            	            	            -->
<!-- 	            <div class="page-nav-btn-group"> -->
<!-- 	            	<button id="page-header-btn-print" class="btn btn-default" ng-click="$ctrl.print()" uib-tooltip="Print Page"> -->
<!-- 	          			<i class="far fa-print"></i> -->
<!-- 	          		</button> -->
<!-- 	            </div> -->
				<page-header-status plan-status="$ctrl.plan.planStatus" plan-type="$ctrl.plan.planType" style="align-self: flex-end; flex:1"></page-header-status>

            </div>
	    </div>
	</div>
	
	<div>
		<purged-parent-banner ng-if="$ctrl.plan.planType.planTypeId === 8 && $ctrl.plan.planStatus.planStatusId !== 5" plan="$ctrl.plan"></purged-parent-banner>
		<plan-validation-banner ng-if="$ctrl.showValidationBanner" plan="$ctrl.plan"></plan-validation-banner>
		<customer-classification-banner ng-if="$ctrl.showClassificationBanner" plan="$ctrl.plan"></customer-classification-banner>
	</div>
	
	
	<style>
	.current-plan {
	  color: #276AB0 !important;
	  border-left: 3px solid #276AB0;
	  margin-left: 0 !important;
	}
	
	.bg-gray {
	  background-color: lightgray
	}
	.label-gray {
	  background: gray
	}
	
	</style>