<div class="modal-header bg-primary wrapper-sm text-center">
	<button class="close pull-right" type="button"
		ng-click="$ctrl.cancel()">&times;</button>
	<p class="modal-title">
		<span ng-if="!$ctrl.showComplete">Incomplete</span>
		"{{$ctrl.project.projectName}}" Action Items
	</p>
</div>



<div class="modal-body" style="padding: 0;">
	<div ng-click="$ctrl.addActionItem()" class="btn-primary cursor-pointer" style="position: absolute; bottom: 10px; right: 25px; border-radius: 50%; height: 34px; width: 34px;
	color: white; text-align: center; box-shadow: 2px 2px 2px #888888; z-index: 1" uib-tooltip="New Action Item" tooltip-append-to-body="true">
		<div style="margin-bottom: 10px; margin-top: 7px;">
			<i style="height: 20px; width: 20px" class="far fa-plus"></i>
		</div>
	</div>

	<div style="width: 100%; text-align: center; padding: 15px" ng-if="($ctrl.project.projectActions | filter:incompleteActionFilter()).length === 0">
		<span>
			No Action Items to show.
		</span>	
	</div>
	<div id="actionItemListContainer" style="max-height: 550px; overflow-y: auto; padding-bottom: 30px; border-radius: 0px 0px 5px 5px; background-color: #EBEBEB;" ng-show="actionItems.length > 0">
		<a style="padding-left: 5px; padding-right: 0px;" ng-repeat="action in $ctrl.project.projectActions | filter:incompleteActionFilter() as actionItems" class="list-group-item" ng-style="{'background-color': action.complete ? '#dfffcc' : 'white'}">
			<div class="row show-on-hover-parent" style="margin: 0px; min-width: 500px; display: flex; flex-wrap: wrap;">
				<div class="col-xs-1" style="width: 5%; padding-left: 0px; padding-right: 0px; display: inline-block;">
					<div style="position: relative;">
						<span class="show-on-hover cursor-pointer" style="position: absolute;" ng-show="!action.edit" uib-tooltip="Edit Action Item" tooltip-placement="left" tooltip-append-to-body="true" ng-click="$ctrl.editActionItem(action)">
							<i style="height: 15px; width: 15px;" class="far fa-pencil"></i>
						</span>
						<span class="text-success cursor-pointer" style="position: absolute;" ng-show="action.edit && action.actionDescription.length < 250" uib-tooltip="Save Changes" tooltip-placement="left" tooltip-append-to-body="true" ng-click="$ctrl.save(action)">
							<i style="height: 15px; width: 15px;" class="fas fa-check"></i>
						</span>
					</div>
					<div style="margin-top: 40px; position: absolute; bottom: 15px" class="text-danger">
						<span ng-show="!action.edit" class="show-on-hover cursor-pointer" style="position: absolute" uib-tooltip="Delete Action Item" tooltip-placement="left" tooltip-append-to-body="true" ng-click="$ctrl.delete(action)">
							<i style="height: 15px; width: 15px;" class="far fa-trash-alt"></i>
						</span>
						<span ng-show="action.edit" class="cursor-pointer" style="position: absolute" uib-tooltip="Undo Changes" tooltip-placement="left" tooltip-append-to-body="true" ng-click="$ctrl.cancelEdit(action, $event)">
							<i style="height: 15px; width: 15px;" class="fas fa-undo-alt"></i>
						</span>
					</div>
				</div>
				<div class="col-xs-10" style="padding: 0px; display: flex; flex-direction: column;">
					<div ng-if="!action.edit">
						<span style="display: block; word-break: break-all;">{{action.actionDescription}}
							<span ng-if="action.actionDescription === '' || action.actionDescription === null">No description.</span>
						</span>
						<span class="col-xs-5" style="display: block; padding: 0"><b>Assigned to:  </b>
							{{action.assigneeFullName}}
							<span ng-if="!action.assigneeFullName" style="color: tomato">Unassigned</span>
						</span>
						<span class="col-xs-7">
							<b>Created by: </b><span>{{action.creatorFullName}}</span>
						</span>
						<span class="col-xs-5" style="display: block; padding: 0"><b>Due:  </b>{{action.dueDate | date:'shortDate'}}</span>
						<span class="col-xs-7" style="display: block"><b>Days to Remind:  </b>{{action.daysToRemind}}</span>
					</div>
					<div ng-if="action.edit">
						<textarea char-limit-label limit="250" show-on-focus="true" class="form-control" style="display: block" ng-model="action.actionDescription"></textarea>
						
						<span style="display: block; white-space:nowrap; margin-top: 10px; width: 60%"><b>Assignee:  </b>
							<lookup-user style="width: 100%; display: inline-block;" ng-model="action.assigneeNameInput" on-change="$ctrl.assigneeNameChange(action)"
				 			min-length="2" placeholder="'Search by last name...'" on-select="$ctrl.selectAssignee(action, $item)"></lookup-user>
						</span>
						<span style="display: block; white-space:nowrap; margin-top: 5px"><b>Due:  </b>
							<p class="input-group" style="width: 100px; height: 20px; display: inline-block; white-space:nowrap">
		                        <input type="text" class="form-control" uib-datepicker-popup="MM/dd/yyyy" ng-model="action.dueDate" is-open="action.dueDateCalendarOpen"
		                            datepicker-append-to-body="true" close-text="Close" autocomplete="off" style="height: 22px; padding-top: 0; padding-bottom: 0">
		                        <span class="input-group-btn" style="display: inline-block; ">
		                            <button type="button" class="btn btn-default" ng-click="action.dueDateCalendarOpen = !action.dueDateCalendarOpen;" style="height: 22px; width: 24px; padding: 0; margin-bottom: 3px;">
		                                <i style="height: 12px; margin-bottom: 1px;" id="calendar" class="far fa-calendar-alt"></i>
		                            </button>
		                        </span>
	                    	</p>
						</span>
						<span style="display: block; white-space:nowrap; margin-top: 5px;"><b>Days to Remind:  </b>
							<input ng-model="action.daysToRemind" type="number" min="0" class="form-control" style="height: 22px; width: 60px; padding: 0px 0px 2px 4px; display: inline-block">
						</span>
					</div>
					
				</div>
				<div class="col-xs-1" style="width: 5%; text-align: right; padding-right: 0px; margin-top: 20px; position: relative; flex-direction: column;">
					<span style="position:absolute" ng-click="action.complete = false; $ctrl.save(action)" ng-show="action.complete" class="cursor-pointer" uib-tooltip="Unmark Complete" tooltip-append-to-body="true">
						<i style="width: 20px; height: 20px;" class="far fa-check-square"></i>
					</span>
					<span style="position:absolute" ng-click="action.complete = true; $ctrl.save(action)" ng-show="!action.complete" class="cursor-pointer" uib-tooltip="Mark Complete" tooltip-append-to-body="true">
						<i style="width: 20px; height: 20px;" class="far fa-square"></i>
					</span>
				</div>
			</div>
		</a>
	</div>
</div>

<style>
.tooltip-inner {
  white-space:nowrap;
  max-width:none;
}

.uib-datepicker-popup {
	width: 282px !important;
}

.dropdown-menu {
	z-index: 1070;
	max-height: 400px;
	overflow-y: auto;
}
</style>