<div class="widget-header-inverse" style="width: 100%; display: inline-block; border-bottom: 2px solid #276ab0">
	<span><a ng-click="$ctrl.goToOms()" class="cursor-pointer" style="color: whitesmoke">{{$ctrl.projectCount | number}} Active OMS Project<span ng-if="$ctrl.projectCount !== 1">s</span></a></span>
	<span style="float: right">Value:&nbsp;&nbsp;{{$ctrl.totalProjectValue | currency: '$' : 0}}</span>
</div>
<div style="width: 100%; height: calc(100% - 30px);">

	<div ng-if="$ctrl.lineItemCount > 0" style="width: 100%; height: 100%; position: relative">
		<b style="width: 100%; text-align: center; display:inline-block; padding: 6px; padding-top: 14px; color: #002E55">OMS Line Item Summary</b>
		
		<div ng-if="$ctrl.isInternetExplorer" style="width: 100%; padding-top: 10px;">
			<div ng-repeat="phase in $ctrl.funnelData" style="width: 100%; height: 45px; display: table">
				<div style="display: table-cell; width: 100px; padding-left: 4px; padding-right: 8px; vertical-align: middle; text-align: right; height: 100%"><b style="margin: auto">{{phase.label}}</b></div>
				<div style="display: inline-block; padding: 4px 12px 4px 0; width: 100%; height: 100%">
					<div style="display: inline-block; float:left; height: 100%; min-width: 20px; border-radius: 0 8px 8px 0; box-shadow: 2px 3px 4px rgba(0,0,0,0.16), 2px 3px 6px rgba(0,0,0,0.23);" ng-style="{background: phase.backgroundColor, 'width': (phase.value/$ctrl.maxValue) * 100 + '%' }">
						<b ng-if="phase.value / $ctrl.maxValue > 0.3" style="float: right; margin-right: 8px; margin-top: 10px; color: white">{{phase.formattedTotalValue}}</b>
					</div>
						<b ng-if="phase.value / $ctrl.maxValue <= 0.3" style="float:left; margin-left: 4px; margin-top: 10px; color: black">{{phase.formattedTotalValue}}</b>
				</div>
			</div>
			<div style="text-align: center; font-size: 13px; color: #002E55; padding-top: 15px;">
				<b>Using simplified chart for Internet Explorer.</b><br>
				<b>Please consider using Chrome or Firefox for a better visualization (and performance).</b>
			</div>
		</div>
		
		<div ng-if="!$ctrl.isInternetExplorer" style="position: absolute; left: 10px; top: 40px; white-space: nowrap; width: 100%">
			<div style="position: relative; width: 100%">
				<d3-funnel-chart ng-if="$ctrl.displayFunnel" funnel-data="$ctrl.funnelData" funnel-options="$ctrl.options"></d3-funnel-chart>
				<div style="position: absolute; top: 10px; right: 50px">
					<div ng-repeat="phase in $ctrl.funnelData" style="display: block; padding: 4px;">
						<div style="height: 14px; width: 14px; float: left; margin-top: 3px; margin-right: 8px" ng-style="{background: phase.backgroundColor}"></div>
						<div style="display: inline-block"><b style="white-space: pre;">{{phase.formattedValue}}</b></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div ng-if="$ctrl.lineItemCount === undefined" class="text-center text-muted" style="display: flex; justify-content: center; align-items: center; height: 100%;">
		<div>
			<i class="far fa-spinner fa-5x fa-spin" style="width: 120px; height: 120%"></i>
		</div>
	</div>
	
	<div ng-if="$ctrl.lineItemCount === 0" class="text-center text-muted" style="display: flex; justify-content: center; align-items: center; height: 100%;">
		<div>
			<i class="fas fa-funnel-dollar fa-4x"></i>
			<br>
			<b style="font-size: x-large; display: block; padding-top: 15px">
				No Line Items to Display
			</b>
		</div>
	</div>
</div>

<style>
.summary {
	overflow: hidden;
}

.summary-expanded {
	max-height: auto;
}

.summary-collapsed {
	max-height: 0;
}

.dreg-footer>td {
	padding-top: 4px !important;
}
</style>
