<div style="display: flex; flex-direction: column; flex:1; height:100%; width:100%">
	
            
<!--         <page-header active-page="'nuggets'" plan="$ctrl.plan"></page-header> -->
    

        <div class="flex-custom-full" style="flex-direction: row; margin-top:15px;">
            
            <div class="flex-custom-full" style="margin-right: 15px; flex:1">
                <nugget-list 
                    nuggets="$ctrl.nuggets" 
                    class="flex-custom-full" 
                    add-nugget-part="$ctrl.addNuggetPart({nuggetPartToAdd: nuggetPartToAdd})" 
                    update-nugget-part="$ctrl.updateNuggetPart({nuggetPartToUpdate: nuggetPartToUpdate})"
                    delete-nugget-part="$ctrl.deleteNuggetPart({nuggetPartToDelete: nuggetPartToDelete})"
                    active-nugget="$ctrl.activeNugget" 
                    active-nugget-part="$ctrl.activeNuggetPart" 
                    on-nugget-click="$ctrl.onNuggetClick({nugget: nugget})"
                    on-nugget-part-click="$ctrl.onNuggetPartClick({nuggetPart: nuggetPart})"
                    add-new-nugget="$ctrl.addNewNugget()"
                    edit-active-nugget="$ctrl.editActiveNugget()"
                    delete-active-nugget="$ctrl.deleteActiveNugget()"
                    can-create-nugget="$ctrl.canCreateNugget"
                    can-edit-active-nugget="$ctrl.canEditActiveNugget"
                />

            </div>
            
            <div class="flex-custom-container">
                <nugget-comment-list selected-nugget="$ctrl.activeNugget"></nugget-comment-list>
            </div>
               
        </div>
    
</div>


    
<style>
    .flex-custom-full {
        height: 100%;
        width: 100%;
        display: flex;
        flex:1;
        flex-direction: column;
    }
    .flex-custom-container {
        display: flex;
    }
    .tab-content {
        height: 100%;
    }
    .tab-pane {
        height: 100%;
    }
</style>

