<div class="row">
	
	<div class="col-sm-6" style="background-color: #fff; padding-top: 1%; min-height: 650px;">
	
		<h4 style="margin-top: 0; font-weight: bold;">Create New Exception:</h4>
		<ng-form name="$ctrl.exceptionForm" novalidate>
			<fieldset>			
				<div class="form-group col-sm-6">
					<label style="margin-left: .2em;">Exception:</label>
					<select class="form-control" ng-model="$ctrl.newException.type"
						ng-options="type.type for type in $ctrl.types track by type.value" required autofocus
						ng-selected="$ctrl.setDefaults($ctrl.newException.type)">						
					</select>
				</div>
				<div class="form-group col-sm-6">
					<label style="margin-left: .2em;">Action:</label>
					<select class="form-control" ng-model="$ctrl.newException.action"
						ng-options="action.action for action in $ctrl.actions track by action.value" required>		
					</select>
				</div>
				<div class="form-group col-sm-6">
					<label style="margin-left: .2em;">Field:</label>
					<select class="form-control" ng-model="$ctrl.newException.field"
						ng-options="field.field for field in $ctrl.fields track by field.value" required>		
					</select>
				</div>
				<div class="form-group col-sm-6">
					<label >Value:</label>
					<input id="exception-value" maxlength="{{$ctrl.newException.maxValueLength}}" class="form-control" type="text" 						
						ng-model="$ctrl.newException.value" required
						ng-disabled="!$ctrl.newException.type" />
				</div>
				<div class="form-group col-sm-6">
					<button style="margin-left: .2em;" class="btn btn-default" ng-click="$ctrl.add()" ng-disabled="$ctrl.validateForm()">
						Create Exception
					</button>									
				</div>
								
			</fieldset>
		</ng-form>
		<h4 style="font-weight: bold;">Existing Exceptions:</h4>
		
		<table id="exceptionsTable" class="table table-hover">
			<thead class="table-header-inverse">
				<tr>
					<th style="width: 2%;"></th>
					<th style="width: 23%;">Exception</th>
					<th style="width: 25%;">Action</th>
					<th style="width: 25%;">Field</th>
					<th style="width: 25%;">Value</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="exception in $ctrl.exceptions">
					<td>
						<span class="text-danger cursor-pointer" ng-click="$ctrl.delete(exception)">
							<i class="far fa-trash-alt"></i>
						</span>
					</td>
					<td>{{::exception.exceptionType.exceptionType}}</td>
					<td>{{::exception.exceptionAction.exceptionAction}}</td>
					<td>{{::exception.exceptionColumn.exceptionColumn}}</td>
					<td>{{::exception.exceptionValue}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-lg-6">
	
	</div>
	
</div>
