<div class="row rounded-corners" style="background-color: #fff; margin: 20px 0; padding: 20px 0;" ng-show="notFound.item">
<div class="col-sm-2">
	<img src="../kamApp/assets/img/confused.png" alt="oops" height="256">
</div>
<div class="col-sm-10">

	<h1 style="font-weight: bold;
    font-size: 52px;
    color: #D16A4C;">Hmm...</h1>
    
    <h2 style="margin-bottom: 25px;">The <span style="font-weight: bold; color: #D16A4C;">{{notFound.item}}</span> you are looking for was not found.</h2>
    
    <h4 style="font-weight: bold;">Please contact the Plan Owner if you believe this to be an error.</h4>
    <p>
        Here are a few other options:        
    </p>
    <ol>
    	<li>Click the "Strategies & Tactics" button to reload the page.        
        <li>Head back to the home page.</li>
        <li>Contact the Service Desk for further assistance.</li>
    </ol>
</div>
</div>