<div class="row rounded-corners" style="background-color: #fff; margin: 0 15px; padding: 20px 0;">
<div class="col-sm-1">
<!--     <img src="../kamApp/assets/img/oopsy.png" alt="oops" height="128"> -->
</div>
<div class="col-sm-5">
<!-- 	<img src="../kamApp/assets/img/oopsy.png" alt="oops" height="128"> -->
    <div style="padding-left: 20px;">
    <h1 style="font-weight: bold;
    font-size: 52px;
    color: #D16A4C;">Oops!</h1>
    
    <h2 >Something went wrong.</h2>
    
    <p>
        It looks like something went wrong on the page you were accessing.        
    </p>
    <p>
        Here are a few options to find what you are looking for:        
    </p>
    <ol>
        <li>Double check the information entered.</li>
        <li>Head back to the home page.</li>
        <li>Contact the Service Desk for further assistance.</li>
    </ol>
    
    </div>    
</div>
<div class="col-sm-5">
	<uib-accordion>
        <uib-accordion-group heading="Error Detail" panel-class="panel-danger" is-open="true">
            <p>
                <strong>{{clientError.message.data.response.code}}</strong> <span class="text-danger">{{clientError.message.status}} ({{clientError.message.statusText}})</span>
            </p>        
            <p>
                {{clientError.message.data.response.detail}}
            </p>
            
            <p>
                <strong>Detail:</strong>
            </p>
            <p>
                {{clientError.message.data.response.stackTrace}}
            </p>
        </uib-accordion-group>
    </uib-accordion> 
</div>
<div class="col-sm-1"></div>
</div>