<div class="row">
	    <div class="col-lg-12 col-md-12 col-sm-12">	
            <div class="page-nav" bs-affix data-offset-top="50">
                <span class="page-nav-brand">
                    {{plan.customerName}}
                </span>
                                
                <div class="page-nav-divider hidden-print"></div>
                <div class="hidden-print">	                		            	            	            	           
		            <div class="page-nav-btn-group">
		                <a id="businessPlan" ng-class="{'btn-info': page == 'business'}" class="btn btn-primary" ng-href="#/plans/{{params.planId}}">
		                    Business Plan
		                </a>
		                <a id="strategies" ng-class="{'btn-info': page == 'strategies'}"  class="btn btn-primary"  ng-href="#/plans/{{params.planId}}/strategies">
		                    Strategies & Tactics
		                </a>
		                <a id="financials" ng-class="{'btn-info': page == 'financials'}"  class="btn btn-primary" ng-href="#/plans/{{params.planId}}/financials">
		                    Financials
		                </a>
		                <a id="contacts" ng-class="{'btn-info': page == 'contacts'}"  class="btn btn-primary" ng-href="#/plans/{{params.planId}}/contacts">
		                    Contacts
		                </a>
		            </div>
                </div>
                <div class="page-nav-divider hidden-print"></div>
                <div class="hidden-print">	                		            	            	            	           
		            <div class="page-nav-btn-group">
                		<button id="archivePlan" class="btn btn-default" ng-click="archivePlan()" ng-if="isAdmin()">
                			Archive
                		</button> 
                	</div>
                </div>
                <div ng-if="plan.planStatus.planStatusId === 1" class="pull-right bg-warning" style="border-radius: 0px 13px 13px 0;">
	                <div class="page-nav-divider hidden-print"></div>
	                <div class="page-nav-btn-group hidden-print">
	                    <span class="label label-warning" uib-tooltip="Pending Approval">
	                    	<a style="text-decoration: none; color: white;" ng-href="#/plans/{{plan.planId}}/status">
	            				{{plan.planStatus.planStatus}}
	            			</a>
	            		</span>                      
	                </div>
                </div>
                <div ng-if="plan.planStatus.planStatusId === 3" class="pull-right bg-danger" style="border-radius: 0px 13px 13px 0;">
	                <div class="page-nav-divider hidden-print"></div>
	                <div class="page-nav-btn-group hidden-print">
	                    <span class="label label-danger" uib-tooltip="Approval Denied">
	                    	<a style="text-decoration: none; color: white;" ng-href="#/plans/{{plan.planId}}/status">
	            				{{plan.planStatus.planStatus}}
	            			</a>
	            		</span>                      
	                </div>
                </div>                    	            
            </div>
	    </div>
	</div>