<div class="modal-header bg-primary wrapper-sm text-center">
	<button class="close pull-right" type="button" ng-click="$ctrl.dismiss()">&times;</button>
	<p class="modal-title">Release Notes</p>
</div>
<div class="modal-body" style="padding: 0; overflow-y: auto">
	<div ng-repeat="releaseNote in $ctrl.releaseNotes track by $index">
		<div class="releaseNoteHeader" ng-click="releaseNote.isExpanded = !releaseNote.isExpanded">
			<div style="display: inline-block; width: 43%; padding: 3px 8px;">
				<strong ng-style="{'color': ($index === 0)? 'royalblue' : ''}">{{releaseNote.version}}</strong>
			</div>
			<div style="display: inline-block; width: 27%">
				{{releaseNote.releaseDate | date : 'fullDate'}}
			</div>
			<div style="float: right; padding: 3px 8px 0 0;" ng-switch="releaseNote.isExpanded">
				<span ng-switch-default="false">
					<i class="fas fa-caret-right"></i>
				</span>
				<span ng-switch-when="true">
					<i class="fas fa-caret-down"></i>
				</span>
			</div>
		</div>
		<div ng-if="releaseNote.isExpanded" class="releaseNoteContent">
			<div style="display: inline-block; width: 79%;">
				<p style="white-space: pre; padding-left: 10px">{{releaseNote.summary}}</p>
			</div>
			<div style="display: inline-block; width: 20%; text-align: right; vertical-align: top;">
				<strong>Attachments&nbsp;&nbsp;</strong>
				<div ng-if="releaseNote.documentList.length === 0">None&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
				<div ng-repeat="document in releaseNote.documentList">
					<a ng-click="$ctrl.downloadDocument(document)" class="cursor-pointer">{{document.documentName}}.{{document.documentExt}}</a>
				</div>
			</div>
		</div>
	</div>
</div>


<style>
.modal-content{
	overflow: hidden;
}

.releaseNoteHeader {
	background-color: seashell;
	border-bottom: 1px solid lightgray;
	cursor: pointer;
}

.releaseNoteContent {
	padding: 5px;
	border-bottom: 1px solid lightgray;
}
</style>