<div class="modal-header bg-primary wrapper-sm text-center">
        <button class="close pull-right" type="button" ng-click="$ctrl.cancel()">&times;</button>
        <p class="modal-title">{{$ctrl.isEditMode === true ? 'Edit' : 'Add New'}} Nugget Part</p>
        <p class="modal-title" style="margin-top:4px">Nugget: {{$ctrl.nuggetName}}{{$ctrl.isEditMode === true ? ', Part: ' + $ctrl.nuggetPartName : ''}}</p>
    </div>
    
    <div class="modal-body modal-md">
    
        <error-modal ng-model="$ctrl.clientError"></error-modal>
    
        <div ng-show="!$ctrl.clientError.message">
    
            <div ng-if="$ctrl.partExists()" style="padding-bottom: 10px; text-align: center; width:100%;">
                <b style="color:red" class="modal-title">{{$ctrl.isEditMode === true ? 'Part Name Must Differ From Existing Name To Edit' : 'Part Already Added - Please Choose Another Part Name'}}</b>
            </div>

            <form name="$ctrl.nuggetPartModal">
                
                <fieldset>
    
                        <div style="padding-top: 10px">
                                
                            <div class="form-group">
                                    
                                <label class="col-md-3 control-label" style="text-align: right;"> Part Name: </label>
                                    
                                <div class="col-md-8">
                
                                    <input
                                        spellcheck="false"
                                        ng-if="!$ctrl.isEditMode"
                                        ng-model="$ctrl.nuggetPartToAdd"
                                        placeholder="Add a part..." 
                                        type="text"
                                        style="padding:3px; width: 100%; align-self: center;  display:block; margin-bottom: 4px;"
                                        id="nuggetPartModal"
                                        char-limit-label 
                                        limit="27"
                                    >
                                    </input>

                                    <input 
                                        spellcheck="false"
                                        ng-if="$ctrl.isEditMode"
                                        ng-model="$ctrl.nuggetPartToAdd"
                                        placeholder="Edit part..." 
                                        type="text"
                                        style="padding:3px; width: 100%; align-self: center; display:block; margin-bottom: 4px;"
                                        id="nuggetPartModalEdit"
                                        char-limit-label 
                                        limit="27"
                                    >
                                    </input>
                                        
                                </div>
    
                            </div>
    
                        </div>
    
                </fieldset>
    
            </form>
    
        </div>
    
    </div>
    
    
    <div class="modal-footer" style="margin-top: 0; padding: 10px;">
        
            <button ng-if="$ctrl.isEditMode" class="btn btn-danger pull-left" ng-click="$ctrl.delete()">
                Delete
            </button>
            
            <button class="btn btn-primary" ng-disabled="!$ctrl.isValidNuggetPart() || !$ctrl.isCharacterLimitReached()" ng-click="$ctrl.addNuggetPart()">		
                {{$ctrl.isEditMode === true ? 'Edit' : 'Add'}}
            </button>
        
            <button class="btn btn-default" ng-click="$ctrl.cancel()">
                Cancel
            </button>
        
    </div>
    