<div class="flex-custom-full" style="margin-bottom:5px;">
	<div class="panel panel-info flex-custom-full">
		
		<!-- ************* Header ********** -->
		<div class="panel-heading  flex-header" style="flex:.1; padding:0;">
			
			<div style="flex-direction: row; display: flex; align-content: space-between ">
			
				<h4 class="panel-title"  style="flex: 1; margin-left:12px; padding-top:4px; padding-bottom:12px; font-weight: 600; font-size:17px;">Site</h4>

				<div style="align-self: center; justify-content: center; flex:1; flex-direction: row; display: flex;">
					<a class="cursor-pointer" ng-click="$ctrl.onCrumbClick({financialType: 'REGION'})"> 
						<h4 class="panel-title" style="font-weight: 600; font-size:17px;">{{$ctrl.entity? $ctrl.entity : 'Global'}}</h4>
					</a>
				</div>

				<div style="align-self: center; justify-content: flex-end; flex:1">
					<span
						class="pull-right cursor-pointer"
						style="margin-right: 8px;"
						ng-click="$ctrl.onFinancialExpandClick(); $ctrl.showTooltip = false"
						ng-mouseenter="$ctrl.showTooltip = true"
						tooltip-is-open="$ctrl.showTooltip"
						uib-tooltip="{{$ctrl.isExpanded? 'Contract' : 'Expand' }} Site Financials"
						tooltip-append-to-body="true"
						tooltip-placement="left">
						<span ng-if="!$ctrl.isExpanded"><i  class="far fa-expand-arrows-alt " ></i></span>
						<span ng-if="$ctrl.isExpanded"><i  class="far fa-compress-arrows-alt " ></i></span>
					</span>
				</div>
				
			</div>

			<div class="table-header flex-custom-full" style="text-align: center; flex-direction: row; padding-right:17px;">
								
				<div style="flex: 1; text-align: start; padding: 8px;">
					<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('location',!$ctrl.sort.reverse)">Account</a>
					<span class="sortorder" ng-show="$ctrl.sort.type === 'location'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
				</div>							
				<div style="flex: 1; text-align: right; padding: 8px;">
					<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('dSam',!$ctrl.sort.reverse)">DSAM</a>
					<span class="sortorder" ng-show="$ctrl.sort.type === 'dSam'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
				</div>
				<div style="flex: 1; text-align: right; padding: 8px;">
					<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('ytdBooked',!$ctrl.sort.reverse)">YTD Booked</a>
					<span class="sortorder" ng-show="$ctrl.sort.type === 'ytdBooked'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
				</div>
				<div style="flex: 1; text-align: right; padding: 8px;">
					<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('prevYearBooked',!$ctrl.sort.reverse)">LY Booked</a>
					<span class="sortorder" ng-show="$ctrl.sort.type === 'prevYearBooked'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
				</div>
				<div style="flex: 1; text-align: right; padding: 8px;">
					<span ng-if="$ctrl.plan.entity === 'GLOBAL'" uib-tooltip="Sum of Dollars & Euros, No Conversion." tooltip-placement="above">
						<i class="fas fa-info-circle cursor-pointer"></i>
					</span>
					<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('runRate',!$ctrl.sort.reverse)">Run Rate</a>
					<span class="sortorder" ng-show="$ctrl.sort.type === 'runRate'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
				</div>
				<div style="flex: 1; text-align: right; padding: 8px;">
					<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('target',!$ctrl.sort.reverse)">Target</a>
					<span class="sortorder" ng-show="$ctrl.sort.type === 'target'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
				</div>
				<div style="flex: 0.7; text-align: right; padding: 8px;">
					<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('percentToTarget',!$ctrl.sort.reverse)">% to Target</a>
					<span class="sortorder" ng-show="$ctrl.sort.type === 'percentToTarget'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
				</div>
				<div style="flex: 1; text-align: right; padding: 8px;">
					<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('ytdSales',!$ctrl.sort.reverse)">YTD Sales</a>
					<span class="sortorder" ng-show="$ctrl.sort.type === 'ytdSales'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
				</div>
				<div style="flex: 1.3; text-align: right; padding: 8px; white-space: nowrap;">
					<span uib-tooltip="Last year's cummulative sales as of {{$ctrl.currentDateLastYear | date : 'M/d/yy'}}" tooltip-placement="above">
						<i class="fas fa-info-circle cursor-pointer"></i>
					</span>
					<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('prevYearYtdSales',!$ctrl.sort.reverse)">LY YTD Sales</a>
					<span class="sortorder" ng-show="$ctrl.sort.type === 'prevYearYtdSales'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
				</div>
				<div style="flex: 1; text-align: right; padding: 8px;">
					<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('percentToPrevYearYtdSales',!$ctrl.sort.reverse)">% Year-on-Year</a>
					<span class="sortorder" ng-show="$ctrl.sort.type === 'percentToPrevYearYtdSales'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
				</div>
			</div>

		</div>

		<!-- ************* Body - Table ********** -->
		<div class="panel-body financial-panel  flex-custom-full" style="padding:0;">
			<div class="flex-custom-full" style="overflow-y: scroll">
				<table id="financial-site-table" class="table" style="margin: 0;">

					<tbody class="flex-custom-full">
						<tr ng-show="!$ctrl.locations">
							<td colspan=6>
								<div class="cssload-loader">
								<div></div>
								<div></div>
								<div></div>
								<div></div>
								<div></div>
								<div></div>
							</div>
							</td>                                
						</tr>
						<tr style="height: 49px; flex-direction: row;"
							ng-repeat="site in $ctrl.locations | orderBy: $ctrl.sort.type : $ctrl.sort.reverse track by $index" 
							class="animate-repeat-table-row cursor-pointer flex-custom-full" 
							ng-click="$ctrl.siteRow.select(site, $index)"
							ng-class="site.location === $ctrl.account? 'selected-site' : ''">
							
							<td style="flex:1;"><span style="white-space:nowrap">{{site.location}} <span ng-if="$ctrl.entity === 'GLOBAL'">({{site.entity}})</span></span></td>
							<td style="flex:1; text-align: right;">
								<span ng-show="site.entity != 'EDC'">{{site.dSam  | currency: '$' : 0}}</span>
								<span ng-show="site.entity == 'EDC'">{{site.dSam  | currency: '' : 0}} &euro;</span>
							</td>
							<td style="flex:1; text-align: right;">
								<span ng-show="site.entity != 'EDC'">{{site.ytdBooked  | currency: '$' : 0}}</span>
								<span ng-show="site.entity == 'EDC'">{{site.ytdBooked  | currency: '' : 0}} &euro;</span>
							</td>
							<td style="flex:1; text-align: right;">
								<span ng-show="site.entity != 'EDC'">{{site.prevYearBooked  | currency: '$' : 0}}</span>
								<span ng-show="site.entity == 'EDC'">{{site.prevYearBooked  | currency: '' : 0}} &euro;</span>
							</td>
							<td style="flex:1; text-align: right;">
								<span ng-show="site.entity != 'EDC'">{{site.runRate  | currency: '$' : 0}}</span>
								<span ng-show="site.entity == 'EDC'">{{site.runRate  | currency: '' : 0}} &euro;</span>
							</td>
							<td style="flex:1; text-align: right;">
								<span ng-show="site.entity != 'EDC'">{{site.target  | currency: '$' : 0}}</span>
								<span ng-show="site.entity == 'EDC'">{{site.target  | currency: '' : 0}} &euro;</span>
							</td>
							<td style="flex:0.7; text-align: right;">
								<span class={{site.percentLabel}}
								 ng-class="!site.percentToTarget? '' : site.percentToTarget >= 100 ? 'label label-success' : 'label label-danger'">
									{{site.percentToTarget? site.percentToTarget + '%' : '-'}}
								</span>
							</td>
							<td style="flex:1; text-align: right;">
								<span ng-show="site.entity != 'EDC'">{{site.ytdSales  | currency: '$' : 0}}</span>
								<span ng-show="site.entity == 'EDC'">{{site.ytdSales  | currency: '' : 0}} &euro;</span>
							</td>
							<td style="flex:1.3; text-align: right;">
								<span ng-show="site.entity != 'EDC'">{{site.prevYearYtdSales  | currency: '$' : 0}}</span>
								<span ng-show="site.entity == 'EDC'">{{site.prevYearYtdSales  | currency: '' : 0}} &euro;</span>
							</td>
							<td style="flex:1; text-align: right;">
								<span class={{site.percentLabel}}
								 ng-class="!site.percentToPrevYearYtdSales? '' : site.percentToPrevYearYtdSales >= 100 ? 'label label-success' : 'label label-danger'">
									{{site.percentToPrevYearYtdSales? site.percentToPrevYearYtdSales + '%' : '-'}}
								</span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<!-- *************Footer********** -->
	<div style="font-size: 13px; padding-top: 5px; background-color: white; width:100%; flex:.1; max-height: 40px;" class="table-footer flex-custom-full panel panel-info">
		<div style="text-align: center; flex-direction: row; padding-right:17px;" class="flex-custom-full">
		
			<div class="financial-total-row" style="flex:1; text-align: start;  padding-left: 8px; padding-right:8px;">Total</div>
				<div style="flex:1; text-align: right;  padding-left: 8px; padding-right:8px;">{{$ctrl.selectedEntityTotals.dSam | number:0}}</div>
				<div style="flex:1; text-align: right;  padding-left: 8px; padding-right:8px;">{{$ctrl.selectedEntityTotals.ytdBooked | number:0}}</div>	
				<div style="flex:1; text-align: right;  padding-left: 8px; padding-right:8px;">{{$ctrl.selectedEntityTotals.prevYearBooked | number:0}}</div>
				<div style="flex:1; text-align: right;  padding-left: 8px; padding-right:8px;">{{$ctrl.selectedEntityTotals.runRate | number:0}}</div>
				<div style="flex:1; text-align: right;  padding-left: 8px; padding-right:8px;">{{$ctrl.selectedEntityTotals.target | number:0}}</div>
				<div style="flex:0.7; text-align: right;  padding-left: 8px; padding-right:8px;">
					<span style="width: 75%;" class={{region.percentLabel}}
					 ng-class="!$ctrl.selectedEntityTotals.percentToTarget? '' : $ctrl.selectedEntityTotals.percentToTarget >= 100 ? 'label label-success' : 'label label-danger'">
						{{$ctrl.selectedEntityTotals.percentToTarget? $ctrl.selectedEntityTotals.percentToTarget + '%': '-'}}
					</span>
				</div>
				<div style="flex:1; text-align: right;  padding-left: 8px; padding-right:8px;">{{$ctrl.selectedEntityTotals.ytdSales | number:0}}</div>
				<div style="flex:1.3; text-align: right;  padding-left: 8px; padding-right:8px;">{{$ctrl.selectedEntityTotals.prevYearYtdSales | number:0}}</div>
				<div style="flex:1; text-align: right;  padding-left: 8px; padding-right:8px;">
					<span style="width: 75%;" class={{region.percentLabel}}
					 ng-class="!$ctrl.selectedEntityTotals.percentToPrevYearYtdSales? '' : $ctrl.selectedEntityTotals.percentToPrevYearYtdSales >= 100 ? 'label label-success' : 'label label-danger'">
						{{$ctrl.selectedEntityTotals.percentToPrevYearYtdSales? $ctrl.selectedEntityTotals.percentToPrevYearYtdSales + '%': '-'}}
					</span>
				</div>
		</div>
	</div>

</div>

<style>
	.flex-custom-full {
		height: 100%;
		width: 100%;
		display: flex;
		flex: 1 1 auto;
		flex-direction: column;
		overflow: auto;
	}
	.flex-header {
		flex:1;
		flex-direction: column;
		height: 100%;
		width: 100%;
		display: flex;
	}
	.selected-site span {
		font-weight: 600;
	}
	.selected-site {
		background-color: #fcd788 !important;
	}
</style>