@import url("fonts.css");
@import url("miscicons.css");

body {
    font-family: myriadPro !important;    
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
    background-color:#1d2e3e;
    overflow: hidden;
}

/* Remove 'X' from input fields in IE  */
input::-ms-clear {
	display: none;
}

/**** BOOTSTRAP CSS OVERRIDE START *****/

/* Overriding Bootstrap's Row class */
.row {
	margin-top: 2%;
}

/* Fix to Bootstrap's "blurry" text when zoomed in (IE bug) */ 
.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
	text-shadow: 0px 0px 1px rgba(0,0,0,0.3);
}

/**** BOOTSTRAP CSS OVERRIDE END *****/

.disabled {
  cursor: not-allowed;
}

.bg-white {
	background-color: #fff;
}

.page-header{
	top: 0;
	background-color: #fff;
	font-size: 21px;
    width:96%;
    left:4%;
    margin-top: 0; 
    position:absolute;
}

.page-header-brand {
	font-weight: bold;
	float: left;
	padding-left: 10px;
	line-height: 65px;
}

.page-header-brand a {
	font-weight: normal;
}

.page-header-brand img {
    height: 48px;
    padding-right:10px;
}

.page-header-brand-version {
	font-size: 14px;
	font-weight: normal;
}

.page-header-brand-env {	
    font-size: 14px;
    font-weight: normal;
}

.page-header-search {
	margin-top: 1%;
	
}

.page-header-lookup-plan {
	display: inline-block;
	padding-right: 10px;
	float: right;
}

.page-header-lookup-plan-info {
    	float: right;
    	padding-right: .3em;
    }

.page-header-profile {
	width:30%;
    height:65px;
    line-height:51px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
	float: right;
	background-color: #EBEBEB;
	-webkit-box-shadow: 1px 0 #EBEBEB;
	-moz-box-shadow: 1px 0 #EBEBEB;
	box-shadow: 1px 0 #EBEBEB;
    -webkit-border-radius: 13px 13px 0 0;
    -moz-border-radius: 13px 13px 0 0;
    border-radius: 13px 13px 0 0;
    margin-right: 5%;
}

.page-header-profile img {
	height: 32px;
	vertical-align: middle;
}

.nav-pane{
    background-color:#1d2e3e;
    width:4%;
    position:fixed;
    display: block;
}

.main-page{
    background-color:#EBEBEB;
    height: 93%;
    width:96%;
    top:68px;
    left:4%;
    position:absolute;
    display: block;
    overflow: auto;
    padding: 0 2% 50px;
}

.footer{
    background-color:#D8D8D8;
    height:68px;
    width:96%;
    left:4%;
    position:absolute;
    line-height: 68px;
    text-align: center;
    padding: 0px 15px 0px 15px;
}

.region-group-header {
	margin-left:20px;
	font-weight:bold;
}

.region-group-header span{
	font-weight:normal;  
	margin-top: -4px;
}

.region-group-header span > label{    
	font-size:smaller;    
}


.region-branch.well{
	padding:10px; 
	margin-left:20px;
}

.region-branch.well label {
	margin-left:15px;
	font-weight:light; 
	font-size:small;
}

.region-branch.well label > span{
	margin-left:4px;
}

.table-header-align-center > th {
	text-align: center;
	vertical-align: middle;
}

.table-column-align-center {
	text-align: center;
    vertical-align: middle;    
}

.cqg-flag span > a {
	color: #fff;
}
.cqg-flag span a:hover {
	text-decoration: underline;
}

.checkbox-disabled-false {
	color: #000;
}
.checkbox-disabled-true {
    color: #ccc;
}

#newsfeed-search {
	width: 75%;
}

@media (max-width: 768px) {
	
	.main-page {
		top: 17%;
	}
	.footer{
        display: none;                       
    }
		
	.page-header{
        top: 0;        
        background-color: #fff;
        font-size: 21px;
        width:100%;
        left:0;
        margin-top: 0; 
        position:absolute;
    }
	.page-header-profile {
        display: none;
    }
    
    .page-header-lookup-plan {
    	display: none;
    }
    
    .page-header-lookup-plan-info {
    	display: none;
    }
    
    .nav-pane{
        display: none;
    }
    .small-nav-pane {
        top: 68px; height: 40px; position: absolute; display: block;
        background-color:#1d2e3e;
        width: 100%;
        padding: 5px;
        z-index: 1;
    }
    .small-nav-pane ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .small-nav-pane li {
        display: inline;
        padding-left: 10px;
        color: white;  
    }
    
    .small-nav-pane-profile {
        line-height: 30px;
        padding-right: 10px;
    }
    
    .small-nav-pane a {
        color: #D9EDF7;
    }
    .small-nav-pane-item {	    
	    cursor: pointer;
	}
	
	a:hover {
	    color: #337AB7;
	}
	
    .main-page {
        left: 0;
        width: 100%;
    }
    
    #newsfeed-search {
		width: 100%;
	}
    
}
@media (min-width: 769px) AND (max-width: 992px) {
	
	.page-header-profile {
        width:15%;      
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .main-page {
        height: 93%;
    }
    
    .footer{
        background-color:#D8D8D8;
        top: 1070px;                       
    }
    
	.region-group-header {
		font-size:smaller;
	}
}

@media (min-width: 992px) AND (max-width: 1199px) {
    
    .page-header-profile {
        width:15%;      
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
    }    
    
    .page-header-brand {
		display: none;
	}    
    
    .page-header-brand-version {
		display: none;
	}

	.page-header-brand-env {	
	    display: none;
	}
    
    
    .footer{
        background-color:#D8D8D8;
        top: 1066px;                       
    }    
    
	.region-group-header {
		font-size:small;
	}
}

@media (min-width: 1200px) {
        
    .footer{
        background-color:#D8D8D8;
        top: 1040px;                       
    }    
}

.rounded-corners {
	-webkit-border-radius: 13px;
	-moz-border-radius: 13px;
	border-radius: 13px;	
}

#rounded-corners {
	-webkit-border-radius: 13px;
	-moz-border-radius: 13px;
	border-radius: 13px;		
}

.nav-pane a {
    color: #D9EDF7;
}

.nav-pane svg {
    fill: #D9EDF7;
}

.side-nav-item > svg:hover {
	fill: #337ab7;
}

.nav-brand {
	background-color: #337AB7;
	line-height:80px;
	text-align: center;
	height: 68px;
	color: #fff;
}

.side-nav-item {
	height: 48px;
	display: block;
	cursor: pointer;
	text-align: center;
	line-height: 62px;	
	margin-left: -5px;
}

.side-nav-item a > i {
	display:inline-block;
    line-height: 50px;
    width: 100%;    
    text-align: center;    
}

.side-nav-item a > i.ignore {
	display:inline-block;    
    line-height: 0;
}

.side-nav-item button {
	margin-top: 13%;
	margin-left: 15%;
	color: #fff;
	width: 50px;
}

a:hover {
	color: #337AB7;
}

.page-nav {
	background-color: #ffffff;
	height: 68px;
    line-height: 68px;
    text-align: center;
    -webkit-box-shadow: 3px 3px 3px #888888;
    -moz-box-shadow: 3px 3px 3px #888888;
    box-shadow: 3px 3px 3px #888888;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px
    ;border-radius: 13px;  
}

.page-sub-nav {
    background-color: #F8F8FF;
    height: 48px;
    line-height: 44px;
    text-align: center;    
    left: 15px;
    width: 98%;
    position: relative;
    margin-top: 1px;
    -webkit-box-shadow: 3px 3px 3px #888888;
    -moz-box-shadow: 3px 3px 3px #888888;
    box-shadow: 3px 3px 3px #888888;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;     
}

.page-nav.affix {   
    top: 0;
    left: 0;
    width: 100%;
    position:fixed;
    z-index: 999 !important;
    -webkit-border-radius: 0px;-moz-border-radius: 0px;border-radius: 0px;
    -webkit-box-shadow: 1px 0 #fff;
    -moz-box-shadow: 1px 0 #fff;
    box-shadow: 1px 0  #fff;
    border-bottom: 1px solid #EBEBEB;
    background-color: #FCF8E3;
}

.page-nav-brand {
	font-size: 17px;
	font-weight: bold;
	float: left;
    padding-left: 1.5%;
    padding-right: 1.5%;
}

.page-nav-divider {
	margin:0px;
	width:2px;
 	height:68px; 
	background-color: #EBEBEB;
	-webkit-box-shadow: 1px 0 #EBEBEB;
	-moz-box-shadow: 1px 0 #EBEBEB;
	box-shadow: 1px 0 #EBEBEB;
	float:left
}

.page-nav-btn-group {	
    float: left;
    margin-left: 15px;
    margin-right: 15px; 
}

.page-nav-btn-group a {
	margin-left: 2px;
}

.page-nav-pager {
	width: 38%;
	text-align: right;
}

.page-nav-pager .pager  {
    padding-left: 0;
    margin-top: 18px;
    text-align: center;
    list-style: none;
    float: right;
    height: 32px;
    line-height: 20px;
}

.table-header{
    font-size: 13px;
    font-weight: bold;
    color: #276ab0;
    background-color:#F5F8FD;
}

.table-header-inverse {
    font-size: 13px;
    font-weight: bold;
    color: #F5F8FD;
    background-color: #276ab0;
}

.table-header-inverse a {    
    color: #fff;
    
}

/* .table-header th { */
/* 	padding-left: 0; */
/*     padding-right: 0; */
/* } */

.table-footer {
	font-size: 13px;
    font-weight: bold;
/*     color: #F5F8FD; */
    color: #276ab0;
/*     background-color: #276ab0; */
    border-top: 2px solid #276ab0;
}

/*
Overrides the default table hover
*/
.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
  background-color: rgba(13, 164, 246, 0.19);
}

/*
Add no-hover to TR to prevent that row from being hightlighted
*/
.table-hover>tbody>tr:hover.no-hover>td, .table-hover>tbody>tr:hover>th {
  background-color: #fff;
  color: #000;  
}

.table-hover>tbody>tr:hover.no-hover-muted>td, .table-hover>tbody>tr:hover>th {
  background-color: #fff;
  color: #777;  
}

.myquote-tab
{
    font-family: "Myriad Pro";
    font-size: 13px;
    color: #276ab0;
    padding:0px 0px 0px 30px;
}


.check-box
{
    width: 17px;
    height: 17px;
    -webkit-border-radius: 3px 4px 4px 3px/4px;
    -moz-border-radius: 3px 4px 4px 3px/4px;
    border-radius: 3px 4px 4px 3px/4px;
    background-color: #fff;
    border: solid 1px #cad1d5;
}

.ui-jqgrid .ui-jqgrid-htable th div {
    height:34px;
    overflow:hidden;
    padding-right:4px;
    padding-top:10px;
    position:relative;
    vertical-align:text-top;
    white-space:normal !important;
}

.ui-jqgrid .ui-jqgrid-view {
   font-size: 13px;
}


/*below are to remove the grid borders*/
.ui-jqgrid tr.ui-row-ltr td { border-right-color: transparent; }
.ui-jqgrid tr.ui-row-ltr td { border-bottom-color: transparent; }
.ui-jqgrid-labels .ui-th-column { border-right-color: transparent }

.ui-state-default, .ui-widget-content .ui-state-default {
    font-family: "Myriad Pro";
    font-size: 11px;
    font-weight: bold;
    color: #276ab0;
}


/* textarea,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"],.uneditable-input{display:inline-block;height:20px;padding:0px 0px;margin-bottom:10px;font-size:14px;line-height:8px;color:#555555;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;vertical-align:middle;} */

.ui-jqgrid .ui-pg-input {
   height: 18px;
   font-size: 0.8em;
   margin: 0;
}

.myquote-tab1
{
    font-family: "Myriad Pro";
    font-size: 13px;
    color: #276ab0;
    padding:0px 0px 0px 0px;
}

.table-header1{
    background-color:#d2d2d2;
    font-family: "Myriad Pro";
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fffff;
    padding-left: 0;
    padding-right: 0;
}

.check-box1
{
    width: 17px;
    height: 17px;
}

.ui-jqgrid .ui-jqgrid-bdiv {
  position: relative; 
  margin: 0em; 
  padding:0; 
  /*overflow: auto;*/ 
  overflow-x:hidden; 
  overflow-y:auto; 
  text-align:left;
}

.ui-th-column, .ui-jqgrid .ui-jqgrid-htable th.ui-th-column {
   white-space: nowrap;
   text-align: left;
}

.modal-open {
  overflow: hidden;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: auto;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
     -moz-transition:    -moz-transform .3s ease-out;
       -o-transition:      -o-transform .3s ease-out;
          transition:         transform .3s ease-out;
  -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
          transform: translate(0, -25%);
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-content {
  position: relative;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  outline: none;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .5;
}
.modal-header {
  min-height: 15.42857143px;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.modal-header .close {
  margin-top: -2px;
  
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
}
.modal-footer {
  margin-top: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}

.label {
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;		
}

.label-success-inverse {
	border: 1px solid #5cb85c;
	color: #5cb85c;
}

.label-danger-inverse {
	border: 1px solid #d9534f;
	color: #d9534f;
}

.error {
    color: #ff0000;    
}

.jqplot-data-label {
	color: white;
}

/* Hack to get pointer to show in IE for Tabset */
.nav, .pagination, .carousel, .panel-title a { 
	cursor: pointer; 
}

.cursor-pointer {
	cursor: pointer;
}

.cursor-pointer.cursor-pointer-underline:hover {
    text-decoration: underline;
}

/* X-Small Device */
@media (max-width: 768px) {
    .popover {
	  position: absolute;
	  top: 0;
	  left: 0;
	  z-index: 1010;
	  display: none;
	  max-width: 276px;
	  padding: 1px;
	  text-align: left;
	  white-space: normal;
	  background-color: #fff;
	  background-clip: padding-box;
	  border: 1px solid #ccc;
	  border: 1px solid rgba(0, 0, 0, .2);
	  border-radius: 6px;
	  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
	          box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
	}
	
	.popover-content {
		width: 100%;
	}
	
	.popover.top {
	  margin-top: -10px;
	}
	.popover.right {
	  margin-left: 10px;
	}
	.popover.bottom {
	  margin-top: 10px;  
	}
	.popover.left {
	  margin-top: 30px;
	  margin-left: -10px;
	}
	.popover-title {  
	  background-color: #1DA1B6;  
	  }
	.popover-content {
	  padding: 9px 14px;
	}
	.popover > .arrow,
	.popover > .arrow:after {
	  position: absolute;
	  display: block;
	  width: 0;
	  height: 0;
	  border-color: transparent;
	  border-style: solid;
	}
	.popover > .arrow {
	  border-width: 11px;
	}
	.popover > .arrow:after {
	  content: "";
	  border-width: 10px;
	}
	.popover.top > .arrow {
	  bottom: -11px;
	  left: 50%;
	  margin-left: -11px;
	  border-top-color: #999;
	  border-top-color: rgba(0, 0, 0, .25);
	  border-bottom-width: 0;
	}
	.popover.top > .arrow:after {
	  bottom: 1px;
	  margin-left: -10px;
	  content: " ";
	  border-top-color: #fff;
	  border-bottom-width: 0;
	}
	.popover.right > .arrow {
	  top: 50%;
	  left: -11px;
	  margin-top: -11px;
	  border-right-color: #999;
	  border-right-color: rgba(0, 0, 0, .25);
	  border-left-width: 0;
	}
	.popover.right > .arrow:after {
	  bottom: -10px;
	  left: 1px;
	  content: " ";
	  border-right-color: #fff;
	  border-left-width: 0;
	}
	.popover.bottom > .arrow {
	  top: -11px;
	  left: 50%;
	  margin-left: -11px;
	  border-top-width: 0;
	  border-bottom-color: #999;
	  border-bottom-color: rgba(0, 0, 0, .25);
	}
	.popover.bottom > .arrow:after {
	  top: 1px;
	  margin-left: -10px;
	  content: " ";
	  border-top-width: 0;
	  border-bottom-color: #fff;
	}
	.popover.left > .arrow {
	  top: 20%;
	  right: -11px;
	  margin-top: -11px;
	  border-right-width: 0;
	  border-left-color: #999;
	  border-left-color: rgba(0, 0, 0, .25);
	}
	.popover.left > .arrow:after {
	  right: 1px;
	  bottom: -10px;
	  content: " ";
	  border-right-width: 0;
	  border-left-color: #fff;
	}	
}

/* Small Device */
@media (min-width: 769px) AND (max-width: 991px) {
    .popover {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1010;
      display: none;
      max-width: 276px;
      padding: 1px;
      text-align: left;
      white-space: normal;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ccc;
      border: 1px solid rgba(0, 0, 0, .2);
      border-radius: 6px;
      -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
              box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    }
    
    .popover-content {
        width: 100%;
    }
    
    .popover.top {
      margin-top: -10px;
    }
    .popover.right {
      margin-left: 10px;
    }
    .popover.bottom {
      margin-top: 10px;  
    }
    .popover.left {
      margin-top: 30px;
      margin-left: -10px;
    }
    .popover-title {  
      background-color: #1DA1B6;  
      }
    .popover-content {
      padding: 9px 14px;
    }
    .popover > .arrow,
    .popover > .arrow:after {
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
    }
    .popover > .arrow {
      border-width: 11px;
    }
    .popover > .arrow:after {
      content: "";
      border-width: 10px;
    }
    .popover.top > .arrow {
      bottom: -11px;
      left: 50%;
      margin-left: -11px;
      border-top-color: #999;
      border-top-color: rgba(0, 0, 0, .25);
      border-bottom-width: 0;
    }
    .popover.top > .arrow:after {
      bottom: 1px;
      margin-left: -10px;
      content: " ";
      border-top-color: #fff;
      border-bottom-width: 0;
    }
    .popover.right > .arrow {
      top: 50%;
      left: -11px;
      margin-top: -11px;
      border-right-color: #999;
      border-right-color: rgba(0, 0, 0, .25);
      border-left-width: 0;
    }
    .popover.right > .arrow:after {
      bottom: -10px;
      left: 1px;
      content: " ";
      border-right-color: #fff;
      border-left-width: 0;
    }
    .popover.bottom > .arrow {
      top: -11px;
      left: 50%;
      margin-left: -11px;
      border-top-width: 0;
      border-bottom-color: #999;
      border-bottom-color: rgba(0, 0, 0, .25);
    }
    .popover.bottom > .arrow:after {
      top: 1px;
      margin-left: -10px;
      content: " ";
      border-top-width: 0;
      border-bottom-color: #fff;
    }
    .popover.left > .arrow {
      top: 20%;
      right: -11px;
      margin-top: -11px;
      border-right-width: 0;
      border-left-color: #999;
      border-left-color: rgba(0, 0, 0, .25);
    }
    .popover.left > .arrow:after {
      right: 1px;
      bottom: -10px;
      content: " ";
      border-right-width: 0;
      border-left-color: #fff;
    }   
}

/* medium Device */
@media (min-width: 992px) AND (max-width: 1199px) {
    .popover {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1010;
      display: none;
      max-width: 276px;
      padding: 1px;
      text-align: left;
      white-space: normal;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ccc;
      border: 1px solid rgba(0, 0, 0, .2);
      border-radius: 6px;
      -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
              box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    }
    
    .popover-content {
        padding: 9px 14px;
        width: 100%;
    }
    
    .popover.top {
      margin-top: -10px;
    }
    .popover.right {
      margin-left: 10px;
    }
    .popover.bottom {
      margin-top: 10px;
      margin-left: -50px;
    }
    .popover.left {
      margin-top: 30px;
      margin-left: -10px;
    }
    .popover-title {  
      background-color: #1DA1B6;  
      }    
    .popover > .arrow,
    .popover > .arrow:after {
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;      
    }
    .popover > .arrow {
      border-width: 11px;      
    }
    .popover > .arrow:after {
      content: "";
      border-width: 10px;
    }
    .popover.top > .arrow {
      bottom: -11px;
      left: 50%;
      margin-left: -11px;
      border-top-color: #999;
      border-top-color: rgba(0, 0, 0, .25);
      border-bottom-width: 0;
    }
    .popover.top > .arrow:after {
      bottom: 1px;
      margin-left: -10px;
      content: " ";
      border-top-color: #fff;
      border-bottom-width: 0;
    }
    .popover.right > .arrow {
      top: 50%;
      left: -11px;
      margin-top: -11px;
      border-right-color: #999;
      border-right-color: rgba(0, 0, 0, .25);
      border-left-width: 0;
    }
    .popover.right > .arrow:after {
      bottom: -10px;
      left: 1px;
      content: " ";
      border-right-color: #fff;
      border-left-width: 0;
    }
    .popover.bottom > .arrow {
      top: -11px;
      left: 75%;
      margin-left: -11px;
      border-top-width: 0;
      border-bottom-color: #999;
      border-bottom-color: rgba(0, 0, 0, .25);        
    }
    .popover.bottom > .arrow:after {
      top: 1px;
      margin-left: -10px;
      content: " ";
      border-top-width: 0;
      border-bottom-color: #fff;      
    }
    .popover.left > .arrow {
      top: 20%;
      right: -11px;
      margin-top: -11px;
      border-right-width: 0;
      border-left-color: #999;
      border-left-color: rgba(0, 0, 0, .25);
    }
    .popover.left > .arrow:after {
      right: 1px;
      bottom: -10px;
      content: " ";
      border-right-width: 0;
      border-left-color: #fff;
    }   
}

/* This is to remove the 'X' from input boxes in IE */
.hideclose::-ms-clear {
    display: none;
}

.sortorder:after {
  content: '\25b2';
}
.sortorder.reverse:after, .sortorder.reverseDetail:after {
  content: '\25bc';
}

.sortorderDetail:after {
  content: '\25b2';
}
.sortorderDetail.reverseDetail:after  {
  content: '\25bc';
}

.label-pill {
  padding-right: .6em;
  padding-left: .6em;
  border-radius: 10rem;
}

.scrollable-menu {
    height: auto;
    max-height: 260px;
    overflow-x: hidden;
}

.shading {
	background-color: #ece8e8;
	color:#000;
    width: 50%;
}

.selected {
/*  background-color: #1D2E3E;     */
/*     color:#fff; */
/*    font-weight:bold; */
/*     width: 50%; */
  border: 2px solid #428bca;
}

.fix-to-top {
    position: fixed;
    top: 0;
    margin: 35px 35px 0 0;
}

.fix-to-main {
    position: fixed;
    top: 68px;
    margin: 35px 35px 0 0;
}

.mock {
    font-family: Play, sans-serif;
    font-size: 28px;
    font-style: italic;
	margin: 0 auto; 
	text-align: center;
	height: 68px;	
}

.mock > span {
	color: #FF0000;    
    vertical-align: middle;
    line-height: 68px;
}

/* 
    Added to local CSS to load faster. Recommendation found at: http://blog.baha.dk/2015/11/23/angularjs-ngcloak-flicker-issues/  
*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.datetime-modal-dialog .modal-dialog {
	width: 310px;
}

.animate-repeat {
  
}

.animate-repeat-tablerow.ng-move,
.animate-repeat-tablerow.ng-enter {
    -webkit-transition:all linear 0.5s;
    -moz-transition:all linear 0.5s;
    -o-transition:all linear 0.5s;
/*     transition:all linear 0.5s; (Disabled for IE since it doesn't work)*/
}

.animate-repeat-tablerow.ng-leave.ng-leave-active,
.animate-repeat-tablerow.ng-move,
.animate-repeat-tablerow.ng-enter {
    opacity:0;
}

.animate-repeat-tablerow.ng-leave,
.animate-repeat-tablerow.ng-move.ng-move-active,
.animate-repeat-tablerow.ng-enter.ng-enter-active {
    opacity:1;
}

.animate-repeat-tablerow.ng-leave,
.animate-repeat-tablerow.ng-leave.ng-leave-active {
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
  -o-transition: all 0s;
/*   transition: all 0s; (Disabled for IE since it doesn't work) */
}

 .dropdown-header { 
	font-weight: bold;
    color: #276ab0;
/*     background-color:#ebebeb;	 */
 } 
 
.constrained,
.constrained1 {
  height: 525px;  
  overflow-y: scroll;
  overflow-x: hidden;
}

.constrained thead {
  position: absolute;  
/*   top: 0; */
/*   left: 0; */
}

th {
  width: 100px;
}

td {
  width: 100px;
}

 .panel-heading h3{
    margin-top: 0;
    margin-bottom: 0;
 }
 .label.label-followup {
    background-color: #4B0082;
 }
 
 .nocontent {
    border: 2px solid red;
 }

table.dataTable,
table.dataTable th,
table.dataTable td {
  table-layout: fixed !important;
}

.preferredLineOnly {
	font-weight: bold;
	padding: 0 5px;
}

/* Loading Bar */

.cssload-loader {
    width: 67px;
    height: 13px;
    position: absolute;
    left: 50%;
    margin-top: 10px;
    transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
}
.cssload-loader > div {
    content: " ";
    width: 13px;
    height: 13px;
    background: rgb(33,150,243);
    border-radius: 100%;
    position: absolute;
    animation: cssload-shift 2.3s linear infinite;
        -o-animation: cssload-shift 2.3s linear infinite;
        -ms-animation: cssload-shift 2.3s linear infinite;
        -webkit-animation: cssload-shift 2.3s linear infinite;
        -moz-animation: cssload-shift 2.3s linear infinite;
}
.cssload-loader > div:nth-of-type(1) {
    animation-delay: -0.46s;
        -o-animation-delay: -0.46s;
        -ms-animation-delay: -0.46s;
        -webkit-animation-delay: -0.46s;
        -moz-animation-delay: -0.46s;
}
.cssload-loader > div:nth-of-type(2) {
    animation-delay: -0.92s;
        -o-animation-delay: -0.92s;
        -ms-animation-delay: -0.92s;
        -webkit-animation-delay: -0.92s;
        -moz-animation-delay: -0.92s;
}
.cssload-loader > div:nth-of-type(3) {
    animation-delay: -1.38s;
        -o-animation-delay: -1.38s;
        -ms-animation-delay: -1.38s;
        -webkit-animation-delay: -1.38s;
        -moz-animation-delay: -1.38s;
}
.cssload-loader > div:nth-of-type(4) {
    animation-delay: -1.84s;
        -o-animation-delay: -1.84s;
        -ms-animation-delay: -1.84s;
        -webkit-animation-delay: -1.84s;
        -moz-animation-delay: -1.84s;
}



@keyframes cssload-shift {
    0% {
        left: -40px;
        opacity: 0;
        background-color: rgb(255,255,0);
    }
    10% {
        left: 0;
        opacity: 1;
    }
    90% {
        left: 67px;
        opacity: 1;
    }
    100% {
        left: 108px;
        background-color: rgb(255,0,0);
        opacity: 0;
    }
}

@-o-keyframes cssload-shift {
    0% {
        left: -40px;
        opacity: 0;
        background-color: rgb(255,255,0);
    }
    10% {
        left: 0;
        opacity: 1;
    }
    90% {
        left: 67px;
        opacity: 1;
    }
    100% {
        left: 108px;
        background-color: rgb(255,0,0);
        opacity: 0;
    }
}

@-ms-keyframes cssload-shift {
    0% {
        left: -40px;
        opacity: 0;
        background-color: rgb(255,255,0);
    }
    10% {
        left: 0;
        opacity: 1;
    }
    90% {
        left: 67px;
        opacity: 1;
    }
    100% {
        left: 108px;
        background-color: rgb(255,0,0);
        opacity: 0;
    }
}

@-webkit-keyframes cssload-shift {
    0% {
        left: -40px;
        opacity: 0;
        background-color: rgb(255,255,0);
    }
    10% {
        left: 0;
        opacity: 1;
    }
    90% {
        left: 67px;
        opacity: 1;
    }
    100% {
        left: 108px;
        background-color: rgb(255,0,0);
        opacity: 0;
    }
}

@-moz-keyframes cssload-shift {
    0% {
        left: -40px;
        opacity: 0;
        background-color: rgb(255,255,0);
    }
    10% {
        left: 0;
        opacity: 1;
    }
    90% {
        left: 67px;
        opacity: 1;
    }
    100% {
        left: 108px;
        background-color: rgb(255,0,0);
        opacity: 0;
    }
}

.nav.nav-tabs {
	margin-bottom: -5px;
}

.tactic-highlight-inprogress{
    background-color:#FFEB3B !important;
}

.tactic-highlight-complete{
    background-color:#459B45 !important;
}

.badge-danger {
  background-color: #b94a48 !important;
}
.badge-danger:hover {
  background-color: #953b39 !important;
}
.badge-warning {
  background-color: #f89406 !important;
}
.badge-warning:hover {
  background-color: #c67605 !important;
}
.badge-success {
  background-color: #468847 !important;
}
.badge-success:hover {
  background-color: #356635 !important;
}
.badge-info {
  background-color: #3a87ad !important;
}
.badge-info:hover {
  background-color: #2d6987 !important;
}
.badge-inverse {
  background-color: #333333 !important;
}
.badge-inverse:hover {
  background-color: #1a1a1a !important;
}
.financial-panel {
  height: 300px;   
} 

.contact-container {
	width: 50%
	
}

.contact {
  padding: 5px;	
}

.contact-header {
	padding: 5px;
	backgroundColor: #fff;
	border: 1px #ccc solid;
	height: 52px;	
}

.contact-edit {
	display: table-cell;
	width: 2%;
	padding-right: 10px;
}
.contact-title {
	display: table-cell;
	width: 96%;	
}
.contact-title > span {
	display: block;	
}
.contact-delete {
	display: table-cell;
	width: 2%;
}
.contact-body {
	padding: 5px;
	border-left: 1px #ccc solid;
	border-right: 1px #ccc solid;
	border-bottom: 1px #ccc solid; 
}

.contact-body > li {
	list-style: none;
}

.contact-body > li ul {
	padding: 0; 
	margin: 2px;
}

.financial-total-row {
	font-weight:bold;	
}

.accordion-toggle:focus{outline: none;}

.vbs-highlight-modified{
    background-color:#FFEB3B !important;
}
.vbs-highlight-saved{
    background-color:#459B45 !important;
}

.table-header-parent {
	font-size: 13px;
	font-weight: bold;
	color: #F68A20 !important;
	background-color: #FDFBCD !important;
}

#scrollable-dropdown-menu .dropdown-menu {
    max-height: 450px;
    overflow-y: auto;
    width: 300px;
}

.nav-tabs {float:left;}
.nav-pills {
	float: left; 
	background-color: #fff;
	padding-top: 8px;
	padding-left: 8px; 
	padding-bottom: 8px;
	-webkit-border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    border-radius: 10px 0 0 10px;
}


.nav-tabs:not(.nav-stacked)>li.active>a {
	border: none !important;
	margin-right: 4px;
	box-shadow: 3px 3px 3px #888888;
	cursor: pointer !important;
}

.nav-tabs>li>a, .nav-tabs>li>a:focus {
    border: none !important;
    background-color: #276ab0;
    color: white;
}

.nav-tabs:not(.nav-stacked)>li {
    margin-top: 4px;
}

.nav-tabs:not(.nav-stacked)>li.active {
	margin-top: 0;
}

.nav:not(.nav-stacked):not(.nav-pills)>li>a:hover {
    background-color: #779dd1;
    text-decoration: underline;
}

.nav:not(.nav-stacked):not(.nav-pills)>li.active>a:hover {
    background-color: white !important;
    text-decoration: underline;
}

/* Hack to keep size of dropdown consistant */
/*.uib-datepicker-popup.dropdown-menu {
	left: 0 !important;
}*/

.uib-datepicker-popup.dropdown-menu {
	z-index: 1061 !important;
}

.table-header-center th {
	text-align: center;
}

/***************************************************/

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes rotating {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-o-keyframes rotating {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.comments {
  box-shadow: 0px 9px 0px 0px rgba(255, 255, 255, 0), 0px -9px 0px 0px rgba(255, 255, 255, 0), 10px 0px 30px 0px rgba(0, 0, 0, 0.15), -10px 0px 30px 0px rgba(0, 0, 0, 0.15);
  width: 500px;
  min-height: 150px;
  position: relative;
  margin: 15px auto;
  padding: 20px;
  font-family: "Helvetica Neue",arial,sans-serif;
  font-size: 15px;
}
.comments .loader {
  height: 45px;
  width: 45px;
  border: 4.5px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  border-left-color: #000;
  position: absolute;
  top: 70px;
  left: 245.5px;
  -webkit-animation: rotating 0.9s infinite linear;
  -moz-animation: rotating 0.9s infinite linear;
  -o-animation: rotating 0.9s infinite linear;
  animation: rotating 0.9s infinite linear;
}
.inner {
  display: none;
}
.inner .comment {
  border: 1px dashed #ccc;
  padding: 15px;
  min-height: 48px;
  margin-bottom: 10px;
  color: #ccc;
}
.inner .comment .avatar {
  width: 48px;
  height: 48px;
  float: left;
}
.inner .comment .body {
  margin-left: 55px;
}
.inner .comment .body p {
  color: black;
}
.inner .comment:hover {
  color: rgba(0, 39, 59, 0.35);
  background-color: rgba(200, 200, 200, 0.1);
  border-style: solid;
}

.add-new {
  margin-bottom: 55px;
}
.add-new .input {
  display: block;
  width: 475px;
  border: 3px solid #ccc;
  color: #888;
  padding: 8px 10px;
  outline: 0;
  font-family: "Helvetica Neue",arial,sans-serif;
  font-size: 15px;
}
.add-new .input.your-name {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.add-new .input.your-name.dived {
  margin-top: 2px;
  padding: 9px 10px 11px 10px;
}
.add-new .input.your-msg {
  margin-top: -5px;
  max-width: 475px;
  max-height: 150px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.add-new .send-msg {
  border: 3px solid #ccc;
  color: #888;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
  padding: 8px 10px;
  background-color: transparent;
  outline: 0;
  float: right;
  margin-right: -1px;
  cursor: pointer;
}
.add-new .send-msg:hover {
  color: white;
  background-color: #ccc;
}

.download-link a {
  color: #66b34e;
  text-decoration: none;
}

.newsfeed {
	border: 1px dashed #ccc; 
	margin-top: 5px; 
	padding: 15px; 
	margin-right: 5px;
}
/*
	border: 1px dashed #ffbb33; margin-left: 5%; margin-top: 5px; padding: 15px; margin-right: 5px; height: 150px;
*/
.newsfeed.newsfeed-parent blockquote {
	margin-bottom: 0; 
	font-size: 14.5px; 
	border-left: 5px solid #0099CC;	
    word-wrap:break-word;
    white-space:normal; 
    clear: both;
}

.newsfeed.newsfeed-parent.newsfeed-new {
	border: 1px dashed #ffbb33; 
	height: 185px;
}

.newsfeed.newsfeed-reply-1 {
	margin-left: 5%;
}
.newsfeed.newsfeed-reply-1 blockquote {
	margin-bottom: 0;
	font-size: 14.5px;
	border-left: 5px solid #33b5e5;
	word-wrap:break-word;
    white-space:normal; 
    clear: both;
}

.newsfeed.newsfeed-reply-1.newsfeed-new {	
	border: 1px dashed #ffbb33; 
	height: 185px;
}

.newsfeed.newsfeed-reply-2 {
	margin-left: 10%;
}

.newsfeed.newsfeed-reply-2.newsfeed-new {	
	border: 1px dashed #ffbb33; 
	height: 185px;
}

.newsfeed.newsfeed-reply-2 blockquote {
	margin-bottom: 0;
	font-size: 14.5px;	
	word-wrap:break-word;
    white-space:normal; 
    clear: both;
}

.newsfeed-searched {
	border: 1px dashed #ff4444;
}

.dropzone {	
	border: 2px dashed #ccc;
	color: #777;
	text-align: center;
	border-radius: 13px;
	height: 70px;
}

.dropzonehover {	
	background-color: beige;	
}

.select2 > .select2-choice.ui-select-match {
    /* Because of the inclusion of Bootstrap */
    height: 29px;
}

.selectize-control > .selectize-dropdown {
    top: 36px;
}
/* Some additional styling to demonstrate that append-to-body helps achieve the proper z-index layering. */
.select-box {
  background: #fff;
  position: relative;
  z-index: 1;
}
.alert-info.positioned {
  margin-top: 1em;
  position: relative;
  z-index: 10000; /* The select2 dropdown has a z-index of 9999 */
}


.influence-map-row > td {
	padding: 0 !important;
	border: 1px solid #ccc;
}

.lookup-plan-results {
	width: 100%; 
	border-bottom: 1px #ccc dashed; 
	padding: 5px; 
	color: #000;
	cursor: pointer;
}

.lookup-plan-results:hover {
	background-color: #bbdefb; 
}

#list {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#list li  {
	float: left;	
}

#list li + li:before {
	content: "|";
	padding-left: 5px;
	padding-right: 5px;
}

#list li {	
	display: block;
}


.image-upload > input
{
    display: none;
}

.image-upload img
{
    width: 80px;
    cursor: pointer;
}

.show-on-hover-parent .show-on-hover{
    visibility: hidden;
}

.show-on-hover-parent:hover .show-on-hover-parent .show-on-hover{
    visibility: hidden;
}

.show-on-hover-parent:hover .show-on-hover{
    visibility: visible;
}

.show-on-hover-parent .show-on-hover-parent:hover .show-on-hover{
    visibility: visible;
}

/***** toggle switches *****/
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #33cc33;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}


.dropdown-menu {
	min-width: 20px;
}
.dropdown-menu>li>a:focus,  .dropdown-menu>div>li>a:focus{
	background-color: transparent;
	background-image: none;
	outline: none;
	text-decoration: none;
}
.dropdown-menu>li>a:hover  {
	background-color: rgb(216, 232, 247) !important;
	background-image: none;
	cursor: pointer;
 }
 
 .dropdown-header {
 	padding: 5px;
 }

.option > .glyphicon-ok {
	visibility: hidden;
}

.multiselect-parent {
	width: 98%;
}

.dropdown-menu {
	width: min-content;
}

.dropdown-menu>div>li>a {
	display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.dropdown-menu>div>li>a:hover {
    background-color: rgb(216, 232, 247) !important;
    background-image: none;
    cursor: pointer;
    text-decoration: none;
}


.dropdown-toggle {
	text-align: left;
}

.searchField {
	max-width: match-parent;
}

.open .dropdown-toggle {
	border-color: #66afe9;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6)
}

.dropdown-multiselect > div > button > .caret {
	float:right;
	margin-top: 8px;
}

.selected-option {
	visibility: visible !important;
}

.option {
	padding-left: 5px !important;
}

.form-control.ng-invalid {
	border-color: red !important;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
  }
  
  
 #spinner {
	-webkit-animation: rotation 2s 30s linear;
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
			transform: rotate(0deg);
	}
	to {
			transform: rotate(359deg);
	}
}

@-webkit-keyframes rotation {
	from {
			-webkit-transform: rotate(0deg);
	}
	to {
			-webkit-transform: rotate(359deg);
	}
}

.complete-action > textarea {
    background-color: rgba(66, 219, 66, 0.3) !important;
}

.client-filter {
	background: #276AB0;
}

/*
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
*/