@import url(https://fonts.googleapis.com/css?family=Play);
@font-face {
    font-family: "myriadPro";
    src: local("../fonts/myriadpro/MYRIADPROREGULAR"), 
               url("../fonts/myriadpro/MYRIADPROREGULAR.woff") format("woff"), 
               url("../fonts/myriadpro/MYRIADPROREGULAR.ttf") format("truetype");
}