<div class="modal-header bg-primary wrapper-sm text-center">
	<button class="close pull-right" type="button" ng-click="$ctrl.cancel()">&times;</button>
	<p class="modal-title">Qualify Pending Customer</p>
</div>
<div class="modal-body">
	<error-modal ng-model="$ctrl.clientError"></error-modal>
	<div ng-show="!$ctrl.clientError.message" style="margin-bottom: 15px;">
		<form name="$ctrl.customerForm" novalidate>
			<fieldset>							
				<div class="form-group col-sm-9">
					<label>Customer Name:</label>
					<input autocomplete="off" type="text" id="customerNameInput" ng-model="$ctrl.pendingCustomerPlan.customerName"
					class="form-control" char-limit-label limit="50" show-on-focus="true" required />
				</div>
				
				<div class="form-group col-sm-3">
					<label>Year Founded:</label>
					<input autocomplete="off" type="number" ng-model="$ctrl.pendingCustomerPlan.yearFounded" class="form-control" max=2999/>
				</div>
				
				<div class="form-group col-sm-4">
					<label>D-U-N-S #:</label>
					<input autocomplete="off" type="number" ng-model="$ctrl.pendingCustomerPlan.dunsNumber" class="form-control" max=999999999/>
				</div>
				
				<div class="form-group col-sm-4">
					<label>Parent D-U-N-S #:</label>
					<input autocomplete="off" type="number" ng-model="$ctrl.pendingCustomerPlan.parentDunsNumber" class="form-control" max=999999999/>
				</div>
				
				<div class="form-group col-sm-4">
					<label>Ultimate D-U-N-S #:</label>
					<input autocomplete="off" type="number" ng-model="$ctrl.pendingCustomerPlan.ultimateDunsNumber" class="form-control" max=999999999/>
				</div>
				
				<div class="form-group col-sm-4">
					<label>Annual Revenue:</label>
					<input autocomplete="off" type="text" ng-model="$ctrl.pendingCustomerPlan.annualRevenue" class="form-control" maxlength="15" comma-separated-numbers-only/>
				</div>
				
				<div class="form-group col-sm-4">
					<label># Employees:</label>
					<input autocomplete="off" type="text" ng-model="$ctrl.pendingCustomerPlan.numberEmployees" class="form-control" maxlength="11" comma-separated-numbers-only/>
				</div>
				
				<div class="form-group col-sm-4">
					<label># Sq. Feet:</label>
					<input autocomplete="off" type="text" ng-model="$ctrl.pendingCustomerPlan.numberSqFt" class="form-control"  maxlength="11" comma-separated-numbers-only/>
				</div>
				
				<div class="form-group col-sm-6">
					<label>Street Address:</label>
					<input autocomplete="off" type="text" ng-model="$ctrl.pendingCustomerPlan.address" class="form-control"
					 char-limit-label limit="200" show-on-focus="true"/>
				</div>
				
				<div class="form-group col-sm-6">
					<label>City:</label>
					<input autocomplete="off" type="text" ng-model="$ctrl.pendingCustomer.city" class="form-control"
					 char-limit-label limit="50" show-on-focus="true"/>
				</div>
				
				<div class="form-group col-sm-6">
					<label>State:</label>
					<input autocomplete="off" type="text" ng-model="$ctrl.pendingCustomer.state" class="form-control"
					 char-limit-label limit="40" show-on-focus="true"/>
				</div>
				
				<div class="form-group col-sm-6">
					<label>Country:</label>
					<input autocomplete="off" type="text" ng-model="$ctrl.pendingCustomer.country" class="form-control"
					 char-limit-label limit="40" show-on-focus="true"/>
				</div>
				
				<div class="form-group col-sm-12">
					<label>Postal Code:</label>
					<input autocomplete="off" type="text" ng-model="$ctrl.pendingCustomer.postalCode" class="form-control"
					 style="width: 50%" maxlength="10" ng-pattern="/^(\d{5}(-\d{4})?|[A-Z]\d[A-Z] *\d[A-Z]\d)$/" show-on-focus="true"/>
				</div>
				
				<div class="form-group col-sm-6">
					<label>Branch:</label>
					<select name="branch" ng-model="$ctrl.pendingCustomerPlan.branch" class="form-control"
					 ng-options="' (' + branch.branch + ' | ' + branch.entity + ') ' + branch.branchName for branch in $ctrl.branches track by branch.branchID"
					 required></select>	
				</div>
				
				<div class="form-group col-sm-6">
					<label>Market Segment:</label>
					<select name="marketSegment" ng-model="$ctrl.pendingCustomerPlan.marketSegment" class="form-control"
				     ng-options="marketSegment.marketSegment + ' (' + marketSegment.marketSegmentCode + ')' for marketSegment in $ctrl.marketSegments track by marketSegment.marketSegmentID"
				     required></select>
				</div>
							
			</fieldset>
		</form>
	</div>
</div>
<div class="modal-footer" style="margin-top: 0;">
	<button class="btn btn-primary" ng-disabled="$ctrl.reason.length === 0 || $ctrl.customerForm.$invalid" ng-click="$ctrl.qualify()">		
		{{$ctrl.pendingCustomerPlan.planId? 'Save' : 'Create'}}
	</button>
	<button class="btn btn-default" ng-click="$ctrl.cancel()">
		Cancel
	</button>
</div>
