<div class="modal-header bg-primary wrapper-sm text-center">
	<button class="close pull-right" type="button" ng-click="$ctrl.cancel()">&times;</button>
	<p class="modal-title">{{$ctrl.title}}</p>
</div>
<div class="modal-body">
	<error-modal ng-model="$ctrl.clientError"></error-modal>
	<div ng-show="!$ctrl.clientError.message" style="margin-bottom: 15px;">
		<form name="$ctrl.nuggetForm" novalidate>

			<fieldset>

				<div class="form-group col-sm-12" ng-show="$ctrl.invalidNugget">
					<span class="label label-danger" style="font-size: 14px">
						An OPB (Manufacturer & Commodity combination) exists for this Plan
					</span>
				</div>


				<div class="form-group col-sm-8">
					<label>Manufacturer:</label>
					<lookup-nugget-mfr ng-model="$ctrl.nugget.selectedMfr"
					 	inputId="mfrValueInput"
						on-select="$ctrl.setSelectedMfr($item)"
						tooltip-text="'Manufacturer Name'"
						tooltip-position="'bottom'" required></lookup-nugget-mfr>
				</div>
				
				<div class="form-group col-sm-4">
					<label>Commodity:</label>
					<select name="commodity" ng-model="$ctrl.nugget.selectedCommodity" class="form-control"
				     ng-options="commodity.commodity for commodity in $ctrl.commodities track by commodity.commodityId"
				     style="width: 50%" required></select>
				</div>
				
				<div class="form-group col-sm-8">
					<label>Value</label>&nbsp;&nbsp;
					<input autocomplete="off" type="text" ng-model="$ctrl.nugget.selectedValue" id="nuggetValueInput" class="form-control" maxlength="15" comma-separated-numbers-only style="width: 35%" required/>
				</div>

				<div class="form-group col-sm-4 " ng-show="$ctrl.data.isEdit === true">
					<label>Status:</label>
					<select name="status" ng-model="$ctrl.nugget.selectedStatus" class="form-control"
				     ng-options="nuggetStatus.nuggetStatus for nuggetStatus in $ctrl.nuggetStatuses track by nuggetStatus.nuggetStatusID"
				     style="width: 75%" ng-required="$ctrl.data.isEdit === true"></select>
				</div>


				<div class="form-group col-sm-8">
					<label>Competitor:</label>
					<lookup-competitor ng-model="$ctrl.competitor"
						on-select="$ctrl.setSelectedCompetitor({competitor: competitor})"
						tooltip-text="'Add Competitor'"
						tooltip-position="'bottom'" required></lookup-competitor>
				</div>			

			</fieldset>
		</form>
	</div>

</div>
<div class="modal-footer" style="margin-top: 0;">
	<button class="btn btn-primary" ng-click="$ctrl.submit()" ng-disabled="$ctrl.nuggetForm.$invalid">
		{{$ctrl.submitBtnTxt}}
	</button>
	<button class="btn btn-default" ng-click="$ctrl.cancel()">
		Cancel
	</button>
</div>