<div class="row">
	<div class="col-lg-6" style="background-color: #fff; padding-top: 1%; min-height: 650px;">
		<div style="margin-bottom: 1%;">
			<ng-form name="$ctrl.userForm" class="form-inline">
				<fieldset>
					<div class="form-group">
						<lookup-user ng-model="$ctrl.toAdd" on-select="$ctrl.setSelectedUserToAdd($item)"></lookup-user>						
					</div>					
					<button class="btn btn-primary" ng-click="$ctrl.add()" ng-disabled="$ctrl.isUserFormNotDirty()">
						Add User
					</button>	
					<button ng-if="$ctrl.isAdmin()" class="btn btn-default" style="float: right;" ng-click="$ctrl.updateUserTable()" ng-disabled="$ctrl.updatingUserTable">
						Update User Table
					</button>						
				</fieldset>			
			</ng-form>
		</div>
		<table id="usersTable" class="table" style="margin: 0;">
			<thead>                
				<tr class="table-header-inverse" style="text-align: center;">
					<th style="width: 3%;"></th>
					<th style="width: 24%;">Name</th>
					<th style="width: 29%;">Title</th>
					<th style="width: 44%;">Branches</th>
				</tr>                                
			</thead>
		</table>
	<div style="height: 500px; width: 100%; overflow-y: auto; overflow-x: hidden; background-color:white;">
		<table class="table table-hover table-condensed">
			<tbody>
				<tr class="animate-repeat-table-row cursor-pointer" ng-repeat="user in $ctrl.users track by user.userId" ng-class="{'selected': $index == $ctrl.userRow.index}">
					<td style="width: 3%;">
						<span ng-if= "$index == $ctrl.userRow.index">
							<span id="delete-user" class="cursor-pointer text-success" ng-click="$ctrl.userRow.editSelectedRowUser(user, $index)">
								<i class="fas fa-save"></i>
							</span>
							<span id="save-user" class="cursor-pointer text-danger" ng-click="$ctrl.userRow.deleteSelectedRowUser(user, $index)" >
								<i class="fas fa-trash-alt"></i>
							</span>
						</span>
					</td>												
					<td style="width: 25%;" ng-click="$ctrl.userRow.select(user, $index)">{{::user.fullName}}</td>
					<td style="width: 30%;" ng-click="$ctrl.userRow.select(user, $index)"">
						<span ng-if="!$ctrl.userRow.isEditable($index)">{{::user.jobTitle}}</span>
						<span ng-if="$ctrl.userRow.isEditable($index)">
							<div class="btn-group" uib-dropdown>
								<button id="single-button1" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled" style="width: 100%;">
									{{user.jobTitle }} <span class="caret"></span>
								</button>
								<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
									<li role="menuitem" ng-repeat="kamTitle in $ctrl.kamTitles">
										<a target="_blank" ng-click="$ctrl.userRow.setSelectedRowKamTitle(kamTitle)">{{kamTitle}}</a>
									</li>
								</ul> 
							</div>
						</span>
					</td>
					<td style="width: 42%;" ng-click="$ctrl.userRow.select(user, $index)"">
						<span ng-if="!$ctrl.userRow.isEditable($index)">{{::$ctrl.insertSpaces(user.branches)}}</span>
						<span ng-if="$ctrl.userRow.isEditable($index)">
							<input type="text" ng-model="user.branches" class="form-control">
						</span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>		
	</div>
	<div class="col-lg-6" style="padding-top: 1%;">
	
	</div>
</div>
					
