<div>
    <div style="height: 25px; padding-top: 2px; text-align: center; background-color: #337AB7; border-radius: 5px 5px 0 0; margin: -1px; margin-bottom: 0">
        <span style="color: white; display: block;">Notifications <span ng-if="$ctrl.notificationCount > 0">({{$ctrl.notificationCount}})</span></span>
        <div ng-if="$ctrl.notifications.length > 0" style="color: white; padding-right: 8px; margin-top: 2px; font-size: 90%; padding-top: 5px; width: 100%; text-align: right; position: absolute; top: 0;">
<!--         <a class="cursor-pointer" style="color: white;" uib-popover-template="$ctrl.confirmation.templateUrl" popover-title="Clear ALL Notifications?" popover-trigger="'outsideClick'" -->
<!-- 	 popover-append-to-body="true" popover-placement="above" popover-is-open="$ctrl.confirmation.clearAllConfirmationOpen" ng-click="$ctrl.confirmation.clearAllConfirmationOpen = true; $ctrl.confirmation.clearAllReadConfirmationOpen = false"> -->
<!--             Clear All -->
<!--         </a> -->
<!--         &nbsp;|&nbsp; -->
        <a class="cursor-pointer" style="color: white;" uib-popover-template="$ctrl.confirmation.templateUrl" popover-title="Clear Read Notifications?" popover-trigger="'outsideClick'"
	 popover-append-to-body="true" popover-placement="above" popover-is-open="$ctrl.confirmation.clearAllReadConfirmationOpen" ng-click="$ctrl.confirmation.clearAllConfirmationOpen = false; $ctrl.confirmation.clearAllReadConfirmationOpen = true">
            Clear Read
        </a>
        &nbsp;|&nbsp;
        <a class="cursor-pointer" style="color: white;" ng-click="$ctrl.markAllRead()">
        	Mark all as read
        </a>
        </div>
    </div>
    <div style="width: auto; max-height: 450px; overflow-y: scroll;">
    	<div ng-if="$ctrl.notifications.length === 0" style="text-align: center; padding-top: 140px; height: 420px; width: 527px;">
    		<div style="color: darkgray; margin-bottom: 10px"><i class="fas fa-bell-slash fa-5x"></i></div>
        	<span style="color: darkgray; font-size: x-large;">You have no notifications.</span>
    	</div>
        <div>
            <div ng-repeat="notification in $ctrl.notifications | orderBy:['markedRead', '-dateTime']:false track by $index" class="notification show-on-hover-parent" ng-style="{'background-color': notification.markedRead? 'rgb(210, 210, 210)' : 'white'}" style="height: auto; background: white; margin: 5px 5px 5px 2px; box-shadow: 3px 3px 3px #888888; border-bottom: 3px solid #337ab7; overflow: hidden; width: 520px;">
                <div style="height: auto;">
                    <div style="margin-top: 2px; margin-left: 5px; width: calc(100% - 5px); display: inline-block;">
                        <div>
                            <a class="cursor-pointer" ng-if="!$ctrl.clicked" ng-click="$ctrl.linkTo(notification.state, notification.params); $ctrl.clicked = true;"><b>{{notification.context}}</b></a> | <b>{{notification.summary}}</b>
                        	<div style="display: inline-block; vertical-align: top; float:right;">
                        		<span style="height: 20px;" class="show-on-hover text-danger cursor-pointer" uib-tooltip="Dismiss" tooltip-placement="left" tooltip-append-to-body="true" ng-click="$ctrl.dismiss(notification.notificationId, $event)">
                            		<i class="far fa-times"></i>
                        		</span>
                        		<span ng-show="!notification.markedRead" style="height: 20px; margin-right: 5px; margin-left: 3px" class="cursor-pointer" uib-tooltip="Mark as read" tooltip-placement="left" tooltip-append-to-body="true" ng-click="$ctrl.readToggle(notification)">
                            		<i class="far fa-circle"></i>
                        		</span>
                        		<span ng-show="notification.markedRead" style="height: 20px; margin-right: 5px; margin-left: 3px" class="cursor-pointer" uib-tooltip="Unmark as read" tooltip-placement="left" tooltip-append-to-body="true" ng-click="$ctrl.readToggle(notification)">
                            		<i class="far fa-check-circle"></i>
                        		</span>
                    		</div>
                        </div>
                        <div style="margin-left: 10px; margin-right: 10px;">
                            <span style="white-space: pre-wrap"><i>{{notification.content}}</i></span>
                        </div>
                    </div>
                </div>
                <div style="float: right; margin-right: 5px; padding-top: 5px;">
                    {{notification.dateTime | date : 'MMM d h:mm a'}}
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="popoverConfirmation.html">
	<div>
		<button ng-click="$ctrl.confirmation.clear($event)" class="btn btn-success">Confirm</button>
		<button ng-click="$ctrl.confirmation.cancel($event)" class="btn btn-danger pull-right">Cancel</button>
	</div>
</script>

<style>
.notification:hover {
	background-color: #e5f1ff !important;
}
.notifications, .notifications>.popover-inner {
	max-width: 550px;
	width: auto;
	display: flex;
}

.notifications {
background-color: #ebebeb;
margin-left: -230px
}
.notifications> .arrow {
	margin-left: 220px !important;
}

.notifications> .arrow:after {
	border-bottom-color: #337AB7 !important;
}

.notifications>.popover-inner>h3 {
	display: none;
}

.notifications>.popover-inner>.popover-content {
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 2px;
}


</style>