<div id="scrollable-dropdown-menu" ng-class="$ctrl.hideInfo? '' : 'input-group'">  
	<input id="{{$ctrl.inputId}}" type="search" name="competitorToSearch" ng-model="$ctrl.ngModel"
		aria-describedby="lookup-info"
		autocomplete="off" spellcheck="false" 
		placeholder="{{$ctrl.lookupPlaceholder}}"
		uib-typeahead="competitor.competitor for competitor in $ctrl.findCompetitors($viewValue)"  
		typeahead-min-length="$ctrl.minLength"
		typeahead-on-select="$ctrl.onSelect({competitor: $item})"  
		typeahead-wait-ms="250"
		class="hideclose form-control">
		<span ng-if="!$ctrl.hideInfo" id="lookup-info" class="input-group-addon" style="cursor:pointer; padding-left: 8px; padding-right: 8px;"
			uib-tooltip="{{$ctrl.tooltipText}}" tooltip-append-to-body="true" tooltip-placement="{{$ctrl.tooltipPosition}}" ng-click="$ctrl.addCompetitor()">
			<i class="fas fa-plus fa-lg"></i>
		</span>
</div>