<div class="modal-header bg-primary wrapper-sm text-center">
	<button class="close pull-right" type="button" ng-click="$ctrl.buttons.cancel()">&times;</button>
	<p class="modal-title">Port Plan Data</p>
</div>
<div class="modal-body">
	<error-modal ng-model="$ctrl.clientError"></error-modal>
	<div ng-show="!$ctrl.clientError.message" style="margin-bottom: 0;">
		<table style="margin: 0 auto; width: 75%;">
			<tbody>
				<tr style="width: 100%;">
					<td style="width: 50%;">
						<dl>
							<dt>Old PlanID:</dt>
							<dd>{{::$ctrl.oldPlan.planId}}</dd>
							<dt>Customer Name:</dt>
							<dd>{{::$ctrl.oldPlan.customerName}}</dd>
							<dt>Owner:</dt>
							<dd>{{::$ctrl.oldPlan.acctManager}}</dd>
						</dl>
					</td>					
					<td style="width: 50%;">
						<dl>
							<dt>New PlanID:</dt>
							<dd>{{::$ctrl.newPlan.planId}}</dd>
							<dt>Customer Name:</dt>
							<dd>{{::$ctrl.newPlan.customerName}}</dd>
							<dt>Owner:</dt>
							<dd>{{::$ctrl.newPlan.acctManager}}</dd>
						</dl>
					</td>
				</tr>
				<tr>
					<td colspan="2" style="width: 100%;">
						<dl>
							<dt>Sections:</dt>
							<dd>{{::$ctrl.plainTextPortOptionsList}}</dd>
						</dl>						
					</td>					
				</tr>
			</tbody>
		</table>
		
	</div>	
</div>
<div class="modal-footer" style="margin-top: 0;">
	<button class="btn btn-primary" ng-click="$ctrl.buttons.continue()" ng-disabled="$ctrl.planForm.$invalid || $ctrl.clientError.message || $ctrl.creatingPlan">		
		Continue
	</button>
	<button class="btn btn-default" ng-click="$ctrl.buttons.cancel()">
		Cancel
	</button>
</div>
