<div class="row">
	
	<div class="col-xs-6" style="background-color: #fff; padding-top: 1%; min-height: 650px;">
		<h4 style="margin-top: 0; font-weight: bold;">Transfer Data</h4>
		<ng-form name="$ctrl.transferForm" class="form-inline" >
			<fieldset>			
				<legend>Plan:</legend>
				<div class="form-group"> 
					<label for="fromPlanId">Old Plan ID:</label>
					<input name="fromPlanId" type="number" class="form-control" ng-model="$ctrl.data.fromPlanId"/>
				</div>
				
				<div class="form-group" style="margin-left: .3em;"> 
					<label for="toPlanId" >New Plan ID:</label>
					<input name="toPlanId" type="number" class="form-control" ng-model="$ctrl.data.toPlanId"/>
				</div>								
			</fieldset>
			<fieldSet>
				<legend>Sections:</legend>
				<div class="form-group">
					<label id="section-name" style="display: block;" ng-repeat="section in $ctrl.sections">
						<input type="checkbox" checklist-model="$ctrl.data.selected" checklist-value="section.id">
						{{::section.value}}
					</label>  
				</div>
				<div>
					<button class="btn btn-sm btn-default" ng-click="$ctrl.checkAll()">
						Check All
					</button>
					<button class="btn btn-sm btn-default" ng-click="$ctrl.unCheckAll()">
						UnCheck All
					</button>
				</div>
			</fieldSet>
			<button type="button" style="margin-top: .5em;" class="btn btn-primary" ng-click="$ctrl.transfer()" ng-disabled="!$ctrl.validateForm()">
				Transfer
			</button>
		</ng-form>				
	</div>
	<div class="col-xs-6">
	
	</div>
	
</div>
