<div class="modal-header bg-primary wrapper-sm text-center">
	<button class="close pull-right" type="button" ng-click="$ctrl.cancel()">&times;</button>
	<p class="modal-title"><i class="fas fa-search"></i>&nbsp;&nbsp;&nbsp;Sales IQ Opportunity Search</p>
</div>
<div class="modal-body modal-md" style="display: inline-block; width: 100%">
	<error-modal ng-model="$ctrl.clientError"></error-modal>
	<div ng-show="!$ctrl.clientError.message">
		
		<div ng-if="$ctrl.branchList || $ctrl.corpIdList" style="margin-bottom: 5px; width: 100%; display: inline-block; white-space: nowrap">
			<label>&nbsp;&nbsp;Show Only Mine: &nbsp;&nbsp;</label>
			<input class="form-control" type="checkbox" style="height:20px; width: 20px; vertical-align: middle; display: inline-block; margin: 0" ng-model="$ctrl.criteria.showMine">
		</div>
		
		<div class="form-group" ng-if="$ctrl.branchList && !$ctrl.criteria.showMine">
			<div style="padding-top: 10px; border-bottom: 1px solid lightgray">
				<label>&nbsp;&nbsp;Branch & Owner&nbsp;&nbsp;<span uib-tooltip="Filter opportunities by the customer branch or an owner within the selected branch" tooltip-append-to-body="true" class="cursor-pointer"><i class="fas fa-question-circle"></i></span></label>
			</div>
			<div style="display: flex; align-items: center; justify-content: center; padding-top: 20px; padding-left: 10px;">
				<b style="display: inline-block;">Branch:&nbsp;&nbsp;</b>

				<div ng-if="$ctrl.branchList.length > 1" style="display: inline-block; width: 260px" class="btn-group" uib-dropdown>
					<tags-input 
						ng-model="$ctrl.selectedBranchList"
						placeholder="Add a branch..." 
						key-property="Id"
						type="text"
						text="$ctrl.branchSearchInput"
						display-property="display"
						allow-leftover-text="false"
						replace-spaces-with-dashes="false"
						add-from-autocomplete-only="true"
						min-length="2"
						on-tag-added="$ctrl.getOpportunityOwnerList()"
						on-tag-removed="$ctrl.getOpportunityOwnerList()">

						<auto-complete source="$ctrl.branchFilter($query)"
							min-length="0"
							max-results-to-show=100
							load-on-focus="true"
							load-on-empty="{{$ctrl.showList}}">
						</auto-complete>

					</tags-input>
				</div>
				<span ng-if="$ctrl.branchList.length < 2" style="display: inline-block; width: 100px;">{{$ctrl.criteria.branches[0]}}</span>
				
				<div style="padding-left: 20px; width: 325px; text-align: center">
					<b ng-if="!$ctrl.criteria.ownerFullName && (!$ctrl.criteria.branches || $ctrl.criteria.branches.length === 0)">Please select a branch.</b>
				
					<b ng-if="!$ctrl.criteria.ownerFullName && $ctrl.criteria.branches.length !== 0 && $ctrl.ownerList.length === 0">No Opportunities at selected branch(es).</b>
				
					<div ng-if="($ctrl.ownerList.length > 0) || $ctrl.criteria.ownerUsername">
						<b style="display: inline-block;">Owner:&nbsp;&nbsp;</b>
		
						<div style="display: inline-block" class="btn-group" uib-dropdown>
							<input type="text" placeholder="{{$ctrl.criteria.email? ($ctrl.criteria.ownerFilter | titlecase) : 'None Selected'}}" autocomplete="off" style="width: 200px"
							 ng-model="$ctrl.ownerNameInput" class="form-control" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
							 uib-dropdown-toggle ng-click="$ctrl.ownerNameInput = '';">
							<ul uib-dropdown-menu style="max-height: 300px; overflow-y: auto">
								<li ng-if="!$ctrl.ownerNameInput" ng-click="$ctrl.selectOwner()" style="text-align: center"><a>None</a></li>
								<li ng-repeat="owner in $ctrl.ownerList | filter:$ctrl.ownerNameInput:startsWith as filteredOwners" ng-if="owner.ownerEmail" ng-click="$ctrl.selectOwner(owner)"><a>{{owner.ownerName | titlecase}}</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div ng-if="$ctrl.corpIdList && !$ctrl.criteria.showMine" class="form-group">
			<div style="padding-top: 10px; border-bottom: 1px solid lightgray">
				<label>&nbsp;&nbsp;Corporate ID&nbsp;&nbsp;<span uib-tooltip="Filter opportunities by customer corporate ID" tooltip-append-to-body="true" class="cursor-pointer"><i class="fas fa-question-circle"></i></span></label>
			</div>
			<div class="col-md-7" style="padding-top: 20px" ng-if="$ctrl.corpIdList.length === 1">
				<label style="margin-right: 15px">Corporate ID:</label> {{$ctrl.criteria.corpId.corpId}} | {{$ctrl.criteria.corpId.customerName}}
			</div>
			
			<div class="col-md-5" style="padding-top: 10px" ng-if="$ctrl.corpIdList.length > 1">
				<div style="height: wrap;" class="btn-group branch-selector" uib-dropdown>
					<input id="corpIdSelector" type="text"  autocomplete="off" style="text-transform:uppercase; width: 200px;"
					 ng-model="$ctrl.inputCorpId" class="form-control" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
					 uib-dropdown-toggle placeholder="{{$ctrl.criteria.corpId.corpId}} | {{$ctrl.criteria.corpId.customerName}}" ng-click="$ctrl.inputCorpId = '';">
					<ul uib-dropdown-menu ng-show="filtered.length > 0" style="max-height: 300px; overflow-y: auto">
						<li ng-repeat="corpId in $ctrl.corpIdList | filter:$ctrl.inputCorpId as filtered" ng-click="$ctrl.selectCorpId(corpId);"><a>{{corpId.corpId}} | {{corpId.customerName}}</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer" style="margin-top: 0; padding: 10px;">
	<button class="btn btn-default pull-left" ng-click="$ctrl.reset()">
		Reset
	</button>
	<button class="btn btn-primary" ng-disabled="!$ctrl.criteria.corpId && $ctrl.criteria.branches.length === 0 && !$ctrl.criteria.ownerUsername && !$ctrl.criteria.showMine" ng-click="$ctrl.search()">		
		Search
	</button>
	<button class="btn btn-default" ng-click="$ctrl.cancel()">
		Cancel
	</button>
</div>

<style>
.tooltip-inner{
	max-width: 270px;
	white-space: pre-wrap;
}
</style>