<div class="list-group" style="margin: 0;" ng-click="$ctrl.isOpen = false">
	<a ui-sref="suggestions" class="list-group-item list-group-item-action"><span style="display: inline-block; text-align: center; width: 28px;"><i class="fal fa-lightbulb"></i></span>Suggest Improvement</a>
	<a ui-sref="bug-reports" class="list-group-item list-group-item-action"><span style="display: inline-block; text-align: center; width: 28px;"><i class="fal fa-bug"></i></span>Report a Bug</a>
	<a ng-click="$ctrl.openReleaseNotesModal()" class="list-group-item list-group-item-action"><span style="display: inline-block; text-align: center; width: 28px;"><i class="fal fa-comment-alt-lines"></i></span>Release Notes  <span ng-if="$ctrl.alertReleaseNotes" style="color:red">(NEW)</span></a>
	<a ng-if="$ctrl.isAdmin()" class="list-group-item list-group-item-action"><span style="display: inline-block; text-align: center; width: 28px;"><i class="fal fa-question-circle"></i></span>FAQ</a>
	<a class="list-group-item list-group-item-action" href="https://www.youtube.com/playlist?list=PLcUKW4imNJhozYUMVy0ycVJEnbEUf63Oa" target="_blank"><span style="display: inline-block; text-align: center; width: 28px;"><i class="fab fa-youtube"></i></span>Training Videos</a>
	<a class="list-group-item list-group-item-action" href="https://vimeo.com/382466079/cb9a5329d5" target="_blank"><span style="display: inline-block; text-align: center; width: 28px;">
		<svg ui-sref="nuggetSummary" style="fill: gray; margin-bottom: -3px;" height='18px' width='18px'  xmlns:x="http://ns.adobe.com/Extensibility/1.0/" xmlns:i="http://ns.adobe.com/AdobeIllustrator/10.0/" xmlns:graph="http://ns.adobe.com/Graphs/1.0/" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve"><g><g i:extraneous="self"><g><path d="M5273.1,2400.1v-2c0-2.8-5-4-9.7-4s-9.7,1.3-9.7,4v2c0,1.8,0.7,3.6,2,4.9l5,4.9c0.3,0.3,0.4,0.6,0.4,1v6.4     c0,0.4,0.2,0.7,0.6,0.8l2.9,0.9c0.5,0.1,1-0.2,1-0.8v-7.2c0-0.4,0.2-0.7,0.4-1l5.1-5C5272.4,2403.7,5273.1,2401.9,5273.1,2400.1z      M5263.4,2400c-4.8,0-7.4-1.3-7.5-1.8v0c0.1-0.5,2.7-1.8,7.5-1.8c4.8,0,7.3,1.3,7.5,1.8C5270.7,2398.7,5268.2,2400,5263.4,2400z"></path><path d="M5268.4,2410.3c-0.6,0-1,0.4-1,1c0,0.6,0.4,1,1,1h4.3c0.6,0,1-0.4,1-1c0-0.6-0.4-1-1-1H5268.4z"></path><path d="M5272.7,2413.7h-4.3c-0.6,0-1,0.4-1,1c0,0.6,0.4,1,1,1h4.3c0.6,0,1-0.4,1-1C5273.7,2414.1,5273.3,2413.7,5272.7,2413.7z"></path><path d="M5272.7,2417h-4.3c-0.6,0-1,0.4-1,1c0,0.6,0.4,1,1,1h4.3c0.6,0,1-0.4,1-1C5273.7,2417.5,5273.3,2417,5272.7,2417z"></path></g><g><path d="M79.1,62.4l-17.5,0.5L60,57.5c0,0,0,0.1-0.1,0.1c-1.4,1.8-5.2,6.5-7.9,10c1.8,3.6,5.4,6,9.5,6h0.3l17.6-0.5     c2.9-0.1,5.2-2.5,5.1-5.5C84.5,64.6,82,62.3,79.1,62.4z"></path><path d="M57.7,48.1c-0.8-3.1-4.9-21.4-8.5-23.7c-1.4-0.9-2.9-1.2-4.5-0.8c-1.1,0.3-3.4,0.7-5.2,1l-1.8,0.3     c-1.9,0.4-3.1,0.6-11.2,13.3c-0.2,0.3-0.5,0.4-0.8,0.4l-10.9-0.8c-2.4-0.2-4.6,1.6-4.8,4.1c-0.2,2.4,1.6,4.6,4.1,4.8l10.9,0.8     c3.6,0.3,7-1.5,8.9-4.5c0.8-1.3,1.5-2.3,2.1-3.3l6.2,16.9l-4.8,6c-3,3.8-5.3,8-6.8,12.7l-4.9,15.2c-0.9,2.8,0.7,5.8,3.5,6.7     c0.5,0.2,1.1,0.3,1.6,0.3c2.3,0,4.3-1.4,5.1-3.7l4.9-15.2c1.1-3.4,2.7-6.5,4.9-9.3c0,0,8.7-10.9,10.9-13.7     C58.6,53.2,58.4,51.2,57.7,48.1z"></path><ellipse transform="matrix(0.9723 -0.2337 0.2337 0.9723 -1.823 9.2772)" cx="38.2" cy="12.3" rx="9.8" ry="9.8"></ellipse><path d="M52.6,22.4c2.1,2.4,4.8,8,8.6,23.9l0.2,0.9c0.2,0.8,0.4,1.7,0.5,2.6c10.7,13.3,28,8.4,28-8.2     C89.9,20.6,64.9,20.9,52.6,22.4z M76,48.3l-0.2,0.1V50c0,0.3-0.3,0.6-0.6,0.6h-1.8c-0.3,0-0.6-0.3-0.6-0.6v-1.6l-0.2,0     c-1.8-0.3-3.2-1.8-3.4-3.6c0-0.2,0-0.3,0.1-0.4c0.1-0.1,0.3-0.2,0.5-0.2h1.9c0.3,0,0.5,0.2,0.6,0.4c0.1,0.5,0.5,0.8,1,0.8h1.6     c0.9,0,1.6-0.6,1.7-1.4c0-0.5-0.1-0.9-0.4-1.3c-0.3-0.3-0.7-0.5-1.2-0.5h-1.2c-2.5,0-4.6-1.8-4.8-4.2c-0.2-2.3,1.3-4.5,3.6-5     l0.2,0v-1.7c0-0.3,0.3-0.6,0.6-0.6h1.8c0.3,0,0.6,0.3,0.6,0.6v1.6l0.2,0c1.8,0.3,3.2,1.8,3.4,3.6c0,0.2,0,0.3-0.1,0.4     c-0.1,0.1-0.3,0.2-0.4,0.2h-1.9c-0.3,0-0.5-0.2-0.6-0.5c-0.1-0.5-0.5-0.8-1-0.8h-1.6c-0.9,0-1.6,0.6-1.7,1.4     c0,0.5,0.1,0.9,0.4,1.3c0.3,0.3,0.7,0.5,1.2,0.5H75c1.3,0,2.6,0.6,3.4,1.5c0.9,1,1.3,2.3,1.2,3.6C79.4,46.2,78,47.8,76,48.3z"></path></g></g></g></svg></span>OPB Training Video</a>
	<a class="list-group-item list-group-item-action" href="file://txfil002/group/Branches/All%20Branches/Key%20Account%20Management"><span style="display: inline-block; text-align: center; width: 28px;"><i class="fal fa-graduation-cap"></i></span>Training Modules</a>
</div>
<div ng-if="$ctrl.helpContactName" style="padding: 5px">
<b style="color: gray">Contact Us:</b><br>
{{ $ctrl.helpContactName }} <br>
{{ $ctrl.helpContactNumber }} <br>
<a href="mailto:{{ $ctrl.helpContactEmail }}" class="cursor-pointer" style="margin-bottom: 5px; display: inline-block;">{{ $ctrl.helpContactEmail }}</a>
</div>
<div ng-if="!$ctrl.helpContactName" style="padding: 5px">
<b style="color: gray">Contact Us:</b><br>
Please contact your<br>
Sales Operation Manager.<br>
</div>

<style>
.help-menu>.popover-inner>.popover-content {
	padding: 0;
}
.help-menu {
	margin-top: -80px;
}
.help-menu > .arrow {
	margin-top: 69px !important;
}
.list-group-item-action {
	cursor: pointer;
	border: 0 !important;
}
.list-group-item-action {
	padding-left: 5px;
}
.list-group-item-action:hover {
	text-decoration: underline !important;
}
</style>