<div id="savingMessage" ng-class="($ctrl.uploadCount > 0)? 'show' : ''"><i id="spinner" class="fas fa-spinner"></i><span style="padding-left: 15px;">Saving Call Report...</span></div>

<!-- <page-header active-page="'callReport'" plan="$ctrl.plan"></page-header> -->


<div ng-show="$ctrl.editMode !== undefined" class="row hidden-print"  style="margin-top: 12px; margin-right: 0px">
	<div class="col-xs-12">
		<div class="page-nav-btn-group" style="width: 100%; position: relative; min-height: 34px">
			<div style="display: inline-block; margin-right: 10px">
				<button class="btn btn-default" ng-click="$ctrl.toggleEditMode();" ng-if="$ctrl.callReportId && $ctrl.submitDateTime && $ctrl.hasPermission('edit')">{{$ctrl.editMode? 'Cancel' : 'Edit'}}</button>
				<button ng-if="$ctrl.callReportId && $ctrl.hasPermission('edit')"class="btn btn-success" ng-disabled="!$ctrl.editMode || !$ctrl.callReportForm.$valid || !$ctrl.callReportForm.$dirty" ng-click="$ctrl.save(false);">Save Changes</button>
				<button ng-if="!$ctrl.callReportId"class="btn btn-default" ng-disabled="!$ctrl.editMode || !$ctrl.callReportForm.$valid || !$ctrl.callReportForm.$dirty" ng-click="$ctrl.save(false);">Save Draft</button>
				<button ng-if="!$ctrl.submitDateTime && (!$ctrl.callReportId || $ctrl.hasPermission('edit'))" class="btn btn-warning" ng-click="$ctrl.confirmSubmission();" ng-disabled="!$ctrl.editMode || !$ctrl.callReportForm.$valid">Visit Completed</button>
			</div>
			<span ng-if="$ctrl.params.callReportId" style="margin-top: 8px; display: inline-block;">(Created: {{$ctrl.createDate | date}} by <b>{{$ctrl.reporter}}</b>, Last Updated: {{$ctrl.modifiedDate | date:'short'}} by <b>{{$ctrl.modifiedBy}}</b>)</span>
			<div style="right: 0; position: absolute; display: inline; padding-right: 10px;">
				<button ng-if="$ctrl.isReporter()" class="btn btn-danger" ng-click="$ctrl.discard()"><i class="far fa-trash-alt"></i>&nbsp;&nbsp;Discard</button>
				<button class="btn btn-primary" ng-click="$ctrl.newReport();"><i class="fas fa-file-plus"></i>&nbsp;New Report</button>
				<button ng-disabled="$ctrl.drafts.length === 0" class="btn btn-default" ng-click="$ctrl.viewDrafts();"><i class="fas fa-pen-nib"></i>&nbsp;&nbsp;Drafts</button>
			</div>
		</div>
	</div>
</div>

<form ng-show="$ctrl.editMode !== undefined" name="$ctrl.callReportForm" class="form-horizontal" style="white-space: nowrap" novalidate confirm-on-exit>
    <div class="col-lg-12 rounded-corners bg-white" style="margin-top: 12px; min-height: 600px; min-width: 700px; width: 58%; float: left; padding-bottom: 20px; padding-right: 25px;">
        <div style="display: inline-block; width: 100%;">
            <div class="row">
                <label class="col-sm-2 control-label">Customer: </label>
                <div class="col-sm-3 auto-populated" style="font-size: 15px; padding-left: 2px;">
                    <span ng-if="$ctrl.plan.customerName.length < 31">{{$ctrl.plan.customerName}}</span>
                    <span uib-tooltip="{{$ctrl.plan.customerName}}" ng-if="$ctrl.plan.customerName.length >= 31">{{$ctrl.plan.customerName | truncate:false:30:'...'}}</span>
                </div>
                <div class="col-sm-3">
                	<label class="control-label">Strategy: </label>
                    <div ng-if="$ctrl.editMode" style="margin-left: 20px;" class="btn-group" uib-dropdown>
                        <button class="form-control" id="strategyDropdown" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="true" uib-dropdown-toggle>
                            {{$ctrl.strategy.strategy}}
                            <span class="caret" style="float: right; margin-top: 7px; margin-left: 7px;"></span>
                        </button>
                        <ul uib-dropdown-menu>
                            <li ng-repeat="strategy in $ctrl.strategies"><a ng-click="$ctrl.strategy = strategy; $ctrl.callReportForm.$dirty = true;">{{strategy.strategy}}</a></li>
                        </ul>
                    </div>
                    <span ng-if="!$ctrl.editMode" style="margin-left: 20px;">{{$ctrl.strategy.strategy}}</span>
                </div>
                <label class="col-sm-1 control-label">Date: </label>
                <div class="col-sm-3" ng-class="$ctrl.editMode && !$ctrl.submitDateTime? '' : 'auto-populated'" style="font-size: 15px; padding-left: 2px; position: relative">
                    <p ng-if="$ctrl.editMode && !$ctrl.submitDateTime" style="position: absolute" class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="MM/dd/yyyy" ng-model="$ctrl.callDate" is-open="$ctrl.callDateCalendarOpen"
                            datepicker-options="dateOptions" close-text="Close" autocomplete="off">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="$ctrl.callDateCalendarOpen = !$ctrl.callDateCalendarOpen;">
                                <i id="calendar" class="far fa-calendar-alt"></i>
                            </button>
                        </span>
                    </p>
					<span ng-if="!$ctrl.editMode || $ctrl.submitDateTime" style="position: absolute;">{{$ctrl.callDate | date:'MMMM d, y'}}</span>
                </div>
            </div>
            <div class="row">
                <label class="col-sm-2 control-label">Topic: </label>
                <div class="col-sm-8">
                    	<input ng-model="$ctrl.topic" required char-limit-label limit="50" show-on-focus="true" type="text" class="form-control" autocomplete="off" ng-readonly="!$ctrl.editMode">
                </div>
				 
	        </div>
	        
	        <hr>
	        
	        <div class="row" style="margin-top: 10px">
            	<div class="col-sm-3">
                	<span style="font-size: 18px; margin-left: 25px;"><b>Participants</b></span>
                </div>
            </div>
            
            <div ng-if="$ctrl.contacts.length === 0" style="padding-top: 10px;" colspan="7" class="text-center text-muted">
					<span>
						<i class="fas fa-user-friends fa-4x"></i>
					</span>
					<span style="font-size: xx-large; display: block;">
						No Participants.
					</span>				
            </div>
	        
	        <div ng-repeat="contactField in $ctrl.contacts" class="row show-on-hover-parent">
	            <label class="col-sm-1 control-label"><span ng-if="($index !== ($ctrl.contacts.length - 1)) || !$ctrl.editMode"><span ng-click="$ctrl.removeContact($index)" ng-if="$ctrl.editMode" class="show-on-hover text-danger cursor-pointer" uib-tooltip="Remove" tooltip-append-to-body="true" style="float: left; margin-left: 10px;"><i class="far fa-trash-alt"></i></span>#{{$index + 1}}: </span></label>
	            <participant contact-field="contactField" contact-lists="$ctrl.contactLists" edit-mode="$ctrl.editMode" plan="$ctrl.plan" contact-select="$ctrl.contactSelect"/>
	        </div>
            
            
            <hr style="margin-bottom: 0">

            <div class="row" style="margin-top: 10px">
            	<div class="col-sm-3">
                	<span style="font-size: 18px; margin-left: 25px;"><b>Action Items</b></span>
                </div>
            </div>
            
            <div ng-if="$ctrl.actionItems.length === 0" style="padding-top: 10px;" colspan="7" class="text-center text-muted">
					<span>
						<i class="fal fa-clipboard-check fa-4x"></i>
					</span>
					<span style="font-size: xx-large; display: block;">
						No Action Items.
					</span>				
            </div>

            <div ng-repeat="actionItem in $ctrl.actionItems" class="row call-report-action-item show-on-hover-parent">
                <div class="col-sm-1 control-label">
                   <div class="show-on-hover" style="float: left; margin-left: 20px;">
	                   <div ng-click="$ctrl.removeActionItem($index)" ng-if="$ctrl.editMode" class="text-danger cursor-pointer"
	                   	style="margin-bottom: 8px" uib-tooltip="Remove" tooltip-append-to-body="true">
	                   		<i class="far fa-trash-alt"></i>
	                   </div>
	                  <div ng-click="$ctrl.completeActionItemModal(actionItem)" ng-if="$ctrl.canCompleteAction(actionItem)"
	                   class="text-success cursor-pointer" uib-tooltip="Complete" tooltip-append-to-body="true">
	               		<i class="fas fa-check-circle"></i>
	              	  </div>
              	  </div>
                   <b>#{{$index + 1}}:</b>
                   <br>
                   <span ng-if="actionItem.comment" style="display: inline-block; margin: 5px;"
	                   class="cursor-pointer" uib-tooltip="View Comment" tooltip-append-to-body="true"
	                   uib-popover-template="'popoverActionItemComment.html'" popover-append-to-body="true"
	                   popover-placement="above" popover-trigger="'outsideClick'">
	               		<i class="far fa-comment-alt-lines"></i>
              	   </span>
                </div>
                <div class="col-sm-6" ng-class="actionItem.completeDate? 'complete-action' : ''">
                    <textarea char-limit-label limit="500" show-on-focus="true" ng-model="actionItem.actionItem" rows="4" class="form-control" style="overflow-y: auto; white-space: pre-wrap; word-wrap: break-word;" ng-readonly="!$ctrl.editMode"></textarea>
                	<b ng-if="actionItem.completeDate" class="text-success">Completed: {{actionItem.completeDate |date:'short'}}</b>
                </div>
                <div class="col-sm-5">
	                <b style="width: 35px; display: inline-block; text-align: right">Who:&nbsp;</b>
				<div class="contact-selector" style="width: calc(100% - 140px); display: inline-block; vertical-align: middle" uib-dropdown>

					<input type="text" placeholder="Search by Name" ng-model="actionItem.whoName" ng-readonly="!$ctrl.editMode" ng-focus="actionItem.showOther = false" ng-blur="actionItem.showOther = true"
                    class="form-control" ng-change="$ctrl.compareWhoNametoOriginal(actionItem);" autocomplete="off" ng-disabled="!$ctrl.editMode" uib-dropdown-toggle>

					<ul uib-dropdown-menu ng-show="customers.length + suppliers.length + tti.length > 0" style="padding-top: 0px; min-width: 260px;">
						<li ng-show="customers.length > 0" ng-click="$ctrl.toggleContactGroup($event, actionItem, 'customerContacts')"
						 style="text-align: center; background-color: #e1ffd6; border-bottom: green solid 1px; padding-right: 12px" class="cursor-pointer">
							<b>Customer Contacts</b>
							<div style="width: 10px; display: inline-block; float: right;">
								<span ng-show="!actionItem.customerContacts" style="width: 10px; position: absolute">
									<i class="fas fa-caret-right"></i>
								</span>
								<span ng-show="actionItem.customerContacts" style="width: 10px; position: absolute">
									<i class="fas fa-caret-down"></i>
								</span>
							</div>
						</li>
						<li ng-show="actionItem.customerContacts" ng-repeat="contact in $ctrl.contactLists.customer | orderBy: 'delegateLastName' | filter:{delegateName: actionItem.whoName} as customers" ng-click="$ctrl.whoSelect(actionItem, contact)">
							<a>
						        <b>{{contact.delegateName}}</b> | <span>{{contact.delegateTitle}}</span>
						    </a>
						</li>
						<li ng-show="suppliers.length > 0" ng-click="$ctrl.toggleContactGroup($event, actionItem, 'supplierContacts')"
						 style="text-align: center; background-color: #fce2b3; border-bottom: orange solid 1px; padding-right: 12px; position: relative" class="cursor-pointer">
							<b>Supplier Contacts</b>
							<div style="width: 10px; display: inline-block; float: right;">
								<span ng-show="!actionItem.supplierContacts" style="width: 10px; position: absolute">
									<i class="fas fa-caret-right"></i>
								</span>
								<span ng-show="actionItem.supplierContacts" style="width: 10px; position: absolute">
									<i class="fas fa-caret-down"></i>
								</span>
							</div>
						</li>
					    <li ng-show="actionItem.supplierContacts" ng-repeat="contact in $ctrl.contactLists.suppliers | orderBy: 'delegateLastName' | filter:{delegateName: actionItem.whoName} as suppliers" ng-click="$ctrl.whoSelect(actionItem, contact)">
							<a>
						        <b>{{contact.delegateName}}</b> | <span>{{contact.delegateTitle}}</span>
						    </a>
					    </li>
					    <li ng-show="tti.length > 0" ng-click="$ctrl.toggleContactGroup($event, actionItem, 'ttiContacts')"
						 style="text-align: center; background-color: #a8caff; border-bottom: blue solid 1px; padding-right: 12px" class="cursor-pointer">
							<b>TTI Contacts</b>
							<div style="width: 10px; display: inline-block; float: right;">
								<span ng-show="!actionItem.ttiContacts" style="width: 10px; position: absolute">
									<i class="fas fa-caret-right"></i>
								</span>
								<span ng-show="actionItem.ttiContacts" style="width: 10px; position: absolute">
									<i class="fas fa-caret-down"></i>
								</span>
							</div>
						</li>
					    <li ng-show="actionItem.ttiContacts" ng-repeat="contact in $ctrl.contactLists.tti | orderBy: 'delegateLastName' | filter:{delegateName: actionItem.whoName} as tti" ng-click="$ctrl.whoSelect(actionItem, contact)">
							<a>
						        <b>{{contact.delegateName}}</b> | <span>{{contact.delegateTitle}}</span>
						    </a>
						</li>
					</ul>
	            </div>
	            
	            <div ng-switch="actionItem.whoType.toLowerCase()" style="display: inline-block; vertical-align: middle; margin-left: 10px;">
	            	<span ng-switch-when="customer" style="background-color: green; font-size: 100%" class="badge">Customer</span>
	            	<span ng-switch-when="supplier" style="background-color: orange; font-size: 100%" class="badge">Supplier</span>	
	            	<span ng-switch-when="tti" style="background-color: #276ab0; font-size: 100%" class="badge">TTI</span>
	            	<span ng-switch-when="other"><span ng-if="actionItem.showOther && actionItem.whoName" style="background-color: red; font-size: 100%" class="badge">Other</span></span>
	            </div>
                    
                <div style="margin-top: 20px;">
                	<b style="width: 35px; display: inline-block; text-align: right">Due:&nbsp;</b>
                    <p class="input-group" style="display: inline-block; vertical-align: middle;">
                        <input style="width: 150px" type="text" class="form-control" uib-datepicker-popup="MM/dd/yyyy" ng-model="actionItem.dueDate" is-open="$ctrl.actionItemDueDateOpen[$index]"
                            datepicker-options="dateOptions" close-text="Close" autocomplete="off" ng-readonly="!$ctrl.editMode">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="$ctrl.actionItemDueDateOpen[$index] = !$ctrl.actionItemDueDateOpen[$index];" ng-disabled="!$ctrl.editMode">
                                <i id="calendar" class="far fa-calendar-alt"></i>
                            </button>
                        </span>
                    </p>
                </div>
                    
                </div>
                
            </div>


            <div class="row" ng-if="$ctrl.editMode">
                <div class="col-sm-10"></div>
                <div class="col-sm-2" ng-if="$ctrl.actionItems.length < 25" style="padding-left: 0">
                    <button class="btn btn-sm btn-primary" ng-click="$ctrl.addActionItem()" style="float: right">
                        <i class="fas fa-file-check"></i>&nbsp;&nbsp;Add Item
                    </button>
                </div>
            </div>
            
        </div>
    </div>

    <div class="panel panel-info" style="margin-top: 12px; min-height: 600px; width: calc(42% - 20px); margin-left: 20px; display: inline-block">
		<div class="panel-heading">
			<h4 class="panel-title">Notes</h4>
		</div>
		<div class="panel-body" style="padding-bottom: 0; white-space: normal; position: relative" ng-switch="$ctrl.editMode">
			<div ng-switch-when="false" style="overflow-y: auto; margin-right: -10px">
				<div style="min-width: 100%; max-width: 100%; height: 515px; padding: 10px; white-space: pre-line">{{$ctrl.notes}}</div>
			</div>
			<textarea ng-switch-when="true" class="form-control" style="min-width: 100%; max-width: 100%; height: 515px;" ng-model="$ctrl.notes" char-limit-label limit="4000" show-on-focus="true"></textarea>
			<div style="display: inline-block; margin-top: 5px;">
				<span ng-show="$ctrl.editMode" class="image-upload" uib-tooltip="Attach File(s)" tooltip-placement="above">
					<label for="file-input"> 
						<i class="attach-doc fas fa-paperclip"></i>
					</label> <input id="file-input" type="file" select-ng-files ng-model="$ctrl.selectedFiles" ng-upload-change="$ctrl.addSelectedFiles()" multiple style="display: none;"/>
				</span>
				<b ng-if="!$ctrl.editMode && $ctrl.documentList.length > 0">Attachments </b>
				<div style="display: inline-block" ng-repeat="document in $ctrl.documentList">
					|&nbsp;<a ng-click="$ctrl.downloadDocument(document)" ng-class="$ctrl.hasPermission('download')? 'cursor-pointer' : 'disabled'">{{document.documentName}}.{{document.documentExt}}</a>&nbsp;
					<span ng-if="$ctrl.editMode" ng-click="$ctrl.deleteDocument(document)" uib-tooltip="Remove Attachment" tooltip-append-to-body="true" class="text-danger cursor-pointer">
						<i class="far fa-trash-alt"></i>
					</span>&nbsp;
				</div>
				<span style="display: inline-block; white-space: nowrap" ng-repeat="file in $ctrl.fileList">|&nbsp;{{file.name}}
					<span ng-click="$ctrl.removeFile(file)" uib-tooltip="Remove Selection" tooltip-append-to-body="true" class="text-danger cursor-pointer">
						<i class="far fa-times-circle"></i>
					</span>&nbsp;</span>
			</div>
		</div>
    </div>
</Form>

<div ng-show="$ctrl.deleted" class="col-lg-12 rounded-corners bg-white" style="box-shadow: 3px 3px 3px #888888; margin-top: 20px;">
	<div style="margin: 20px 0 20px 10px">
		<span style="color: orange"><i class="fas fa-exclamation-triangle"></i></span>
		<b>This call report could not be found! It may have been deleted by its creator.</b>
	</div>
</div>


<script type="text/ng-template" id="contactTemplate.html">
  <a>
      <b>{{match.model.delegateLastName}}, {{match.model.delegateFirstName}}</b> | <span>{{match.model.delegateTitle}}</span>
  </a>
</script>


<script type="text/ng-template" id="popoverActionItemComment.html">
	<div style="max-height: 200px; overflow-y: auto; padding: 5px;">
		<i style="white-space: pre-line">{{actionItem.comment}}</i>
		<br>
		<span style="float: right">-{{actionItem.commenter}}</span>
	</div>
</script>



<style>
.auto-populated {
	padding-top: 7px;
}
.call-report-action-item > div {
	padding-left: 0
}

.contact-selector>.dropdown-menu {
		max-height: 215px;
		overflow-y: auto;
}

.panel-body>.character-limit-label {
	position: absolute;
	right: 15px;
	background: white;
	border-radius: 5px;
}

#savingMessage {
	min-width: 220px;
	margin-left: -125px;
	background-color: #337AB7;
	color: white;
	font-size: 16px;
	text-align: center;
	border-radius: 10px;
	padding: 12px;
	position: fixed;
	z-index: 1000;
	left: 50%;
	bottom: -50px;
	opacity: 0;
	-webkit-transition: all 0.2s linear;
   	transition: all 0.2s linear;
}

#savingMessage.show {
	bottom: 30px;
	opacity: 1;
}

.image-upload > label {
	cursor: pointer;
}
</style>