        <div class="rounded-corners bg-white">
        	<div class="row hidden-print" style="margin: 0; min-height: 220px; padding-top: 10px;">
        		<div class="col-xs-12">
        			<table id="regionTable" class="table table-hover" style="margin-bottom: 0;">
        				<thead>
							<tr class="table-header"style="text-align: center;">
								<th style="width: 5%;">Region</th>
							<th style="width: 25%; text-align: right;">DSAM</th>
							<th style="width: 25%; text-align: right;">
								<span ng-if="$ctrl.plan.entity === 'GLOBAL'" uib-tooltip="Sum of Dollars & Euros, No Conversion." tooltip-placement="above">
									<i class="fas fa-info-circle cursor-pointer"></i>
								</span>
								Run Rate
							</th>
							<th style="width: 25%; text-align: right;">Target</th>
							<th style="width: 15%;">% to Plan</th>
							</tr>
						</thead>
        				<tbody>
        					<tr ng-show="$ctrl.loadingEntities">
	                            <td colspan=5>
	                                <div class="cssload-loader" ng-show="$ctrl.loadingEntities">
		                                <div></div>
		                                <div></div>
		                                <div></div>
		                                <div></div>
		                                <div></div>
	                            	</div>
	                            </td>                                
	                        </tr>
							<tr ng-repeat="entity in $ctrl.entities" ng-class="{'selected': $index == $ctrl.financeRow.index,'financial-total-row' : $index == $ctrl.entities.length - 1}">
								<td style="width: 5%;">
									<a class="cursor-pointer" ng-click="$ctrl.financeRow.select(entity, $index)">{{entity.entity}}</a>
								</td>
								<td style="width: 25%; text-align: right;">
									<div ng-show="$index == $ctrl.entities.length - 1" ng-switch="entity.currency">
										<span ng-switch-when="NDC|ADC" ng-switch-when-separator="|">{{::entity.dSam  | currency: '$' : 0}}</span>
										<span ng-switch-when="EDC">{{::entity.dSam  | currency: '' : 0}} &euro;</span>
										<span ng-switch-default>{{::entity.dSam  | currency: '' : 0}}</span>
									</div>
									<div ng-show="$index != $ctrl.entities.length - 1">
										<span ng-show="entity.entity != 'EDC'">{{::entity.dSam  | currency: '$' : 0}}</span>
										<span ng-show="entity.entity == 'EDC'">{{::entity.dSam  | currency: '' : 0}} &euro;</span>
									</div>
								</td>
								<td style="width: 25%; text-align: right;">
									<div ng-show="$index == $ctrl.entities.length - 1" ng-switch="entity.currency">
										<span ng-switch-when="NDC|ADC" ng-switch-when-separator="|">{{::entity.runRate  | currency: '$' : 0}}</span>
										<span ng-switch-when="EDC">{{::entity.runRate  | currency: '' : 0}} &euro;</span>
										<span ng-switch-default>{{::entity.runRate  | currency: '' : 0}}</span>
									</div>
									<div ng-show="$index != $ctrl.entities.length - 1">
										<span ng-show="entity.entity != 'EDC'">{{::entity.runRate  | currency: '$' : 0}}</span>
										<span ng-show="entity.entity == 'EDC'">{{::entity.runRate  | currency: '' : 0}} &euro;</span>
									</div>
								</td>
								<td style="width: 25%; text-align: right;">
									<div ng-show="$index == $ctrl.entities.length - 1" ng-switch="entity.currency">
										<span ng-switch-when="NDC|ADC" ng-switch-when-separator="|">{{::entity.target  | currency: '$' : 0}}</span>
										<span ng-switch-when="EDC">{{::entity.target  | currency: '' : 0}} &euro;</span>
										<span ng-switch-default>{{::entity.target  | currency: '' : 0}}</span>
									</div>
									<div ng-show="$index != $ctrl.entities.length - 1">
										<span ng-show="entity.entity != 'EDC'">{{::entity.target  | currency: '$' : 0}}</span>
										<span ng-show="entity.entity == 'EDC'">{{::entity.target  | currency: '' : 0}} &euro;</span>
									</div>									
								</td>
								<td style="width: 15%;">
									<span style="display: block; width: 100%;"
									 ng-class="!entity.percentToTarget? '' :entity.percentToTarget >= 100 ? 'label label-success' : 'label label-danger'">{{::entity.percentToTarget? entity.percentToTarget + '%' : '-'}}</span>
								</td>
							</tr>
						</tbody>						
					</table>
        		</div>
        	</div>
        	
        	<div class="row visible-print">
        		<div class="col-xs-12">
        			<table class="table table-hover" style="margin-bottom: 0;">
        				<thead>
							<tr class="table-header"style="text-align: center;">
								<th style="width: 5%;">Region</th>
							<th style="width: 25%; text-align: right;">DSAM</th>
							<th style="width: 25%; text-align: right;">Run Rate</th>
							<th style="width: 25%; text-align: right;">Target</th>
							<th style="width: 15%;">% to Plan</th>
							</tr>
						</thead>
        				<tbody>
							<tr ng-repeat="entity in $ctrl.entities">
								<td style="width: 5%;">
									{{entity.entity}}
								</td>
								<td style="width: 25%; text-align: right;">
									<div ng-show="$index == entities.length - 1">
										<span >{{entity.dSam | currency: '' : 0}}</span>
									</div>
									<div ng-show="$index != entities.length - 1">
										<span ng-show="entity.entity != 'EDC'">{{entity.dSam  | currency: '$' : 0}}</span>
										<span ng-show="entity.entity == 'EDC'">{{entity.dSam  | currency: '' : 0}} &euro;</span>
									</div>
								</td>
								<td style="width: 25%; text-align: right;">
									<div ng-show="$index == entities.length - 1">
										<span >{{entity.runRate | currency: '' : 0}}</span>
									</div>
									<div ng-show="$index != entities.length - 1">
										<span ng-show="entity.entity != 'EDC'">{{entity.runRate  | currency: '$' : 0}}</span>
										<span ng-show="entity.entity == 'EDC'">{{entity.runRate  | currency: '' : 0}} &euro;</span>
									</div>
								</td>
								<td style="width: 25%; text-align: right;">
									<div ng-show="$index == entities.length - 1">
										<span >{{entity.target | currency: '' : 0}}</span>
									</div>
									<div ng-show="$index != entities.length - 1">
										<span ng-show="entity.entity != 'EDC'">{{entity.target  | currency: '$' : 0}}</span>
										<span ng-show="entity.entity == 'EDC'">{{entity.target  | currency: '' : 0}} &euro;</span>
									</div>									
								</td>
								<td style="width: 15%;"
								ng-class="!entity.percentToTarget? '' :entity.percentToTarget >= 100 ? 'label label-success' : 'label label-danger'">>
									{{entity.percentToTarget? entity.percentToTarget + '%' : '-'}}
								</td>
							</tr>
						</tbody>						
					</table>
        		</div>
        	</div>
        	
        </div>
