<div class="modal-header bg-primary wrapper-lg text-center">
	<button class="close pull-right" type="button"
		ng-click="$ctrl.cancel()">&times;</button>
	<p class="modal-title">
		<i class="fas fa-check-circle"></i>&nbsp;&nbsp;&nbsp;Complete Action Item
	</p>
</div>
<div class="modal-body" style="padding:0px;">
	<div ng-if="$ctrl.showCommentBox" style="height: 100%; width: 100%">
		<form name="$ctrl.commentForm" style="padding: 15px;" novalidate>
			Comment:
			<textarea ng-model="$ctrl.comment" class="form-control" rows="4" char-limit-label limit="250" show-on-focus="true"></textarea>
		</form>
	</div>
	<div ng-if="!$ctrl.showCommentBox" style="height: 100%; width: 100%;">
		<span style="text-align: center; display: block; width: 100%; padding-top: 20px; padding-bottom: 10px">Mark this action item as complete?</span>
	</div>
</div>
<div class="modal-footer" style="margin-top: 10px;">
	<button class="btn btn-success" ng-click="$ctrl.complete(actionItem)" ng-disabled="$ctrl.commentForm.$invalid">
		Complete
	</button>
	<button class="btn btn-default" ng-click="$ctrl.cancel()">
		Cancel
	</button>
</div>