<div class="show-on-hover-parent" style="width: 100%; position: relative">
	<div ng-class="$ctrl.isCreator()? 'user-comment' : 'comment'" style="flex: 1; margin-bottom: 7px; border-radius: 3px; box-shadow: 2px 2px 2px #888888;">
		<div ng-if="!$ctrl.comment.editMode">
			<div ng-if="$ctrl.isCreator()" class="show-on-hover" style="position: absolute; left: 0px; top: 2px">
				<div ng-click="$ctrl.enableEditMode()" class="cursor-pointer" uib-tooltip="Edit" tooltip-placement="left" tooltip-append-to-body="true"><i class="fas fa-edit"></i></div>
				<div ng-click="$ctrl.deleteComment()" class="cursor-pointer" style="color: red; margin-top: 8px" uib-tooltip="Delete" tooltip-placement="left" tooltip-append-to-body="true"><i class="far fa-trash-alt"></i></div>
			</div>
			<span style="white-space: pre-line; padding: 5px; display: block; word-break: break-word">{{$ctrl.comment.comment}}</span>
			<div style="width: 100%; text-align: right;">
				<span style="font-size: 13px;">- <b>{{$ctrl.isCreator()? 'You' : $ctrl.comment.createdBy}}</b> on {{$ctrl.comment.createdDateTime | date:'short'}}</span>&nbsp;
			</div>
		</div>
		<div ng-if="$ctrl.comment.editMode">
			<div style="margin: 5px 5px 0 5px; position: relative;">
				<textarea id="{{$ctrl.comment.commentInputId}}" ng-model="$ctrl.comment.comment" char-limit-label limit="4000" rows="5" class="form-control" style="max-width: 100%; min-width: 100%;"></textarea>
			</div>
			<div ng-if="$ctrl.isCreator()" style="position: absolute; left: 0px; top: 2px">
				<div ng-click="$ctrl.save()" uib-tooltip="Save" tooltip-placement="left" tooltip-append-to-body="true" ng-style="{cursor: $ctrl.validComment()? 'pointer' : 'not-allowed', color:  $ctrl.validComment()? 'green' : 'gray'}"><i class="fas fa-check"></i></div>
				<div ng-click="$ctrl.cancelEdit()" uib-tooltip="Cancel" tooltip-placement="left" tooltip-append-to-body="true" style="color: red; cursor:pointer; margin-top: 8px"><i class="fas fa-times"></i></div>
			</div>
			<div style="height: 17px"></div>
		</div>
	</div>
</div>

<style>
.comment-button {
  background: #276ab0;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>