<div class="panel panel-info" style="height: 100%; flex-direction: column; width: 450px; box-shadow: 3px 3px 3px #888888; overflow-y: hidden; position: relative">
  	<div class="panel-heading">
  		<h4 ng-if="$ctrl.selectedNugget" class="panel-title">Comments for <b>{{$ctrl.selectedNugget.manufacturer.manufacturerName}} | {{$ctrl.selectedNugget.commodity.commodity}}</b></h4>
  		<h4 ng-if="!$ctrl.selectedNugget" class="panel-title">No OPB Selected</h4>
  	</div>
  	<div ng-click="$ctrl.newComment()" ng-if="$ctrl.selectedNugget.nuggetID" style="display: flex; position: absolute; right: 10px; top: 3px; background: #276ab0; height: 30px; width: 30px; border-radius: 30px;
  	 justify-content: center; align-items: center; box-shadow: 3px 3px 3px #888888; cursor: pointer" uib-tooltip="New Comment" tooltip-append-to-body="true">
  		<span style="color: white; display: block; padding-top: 3px"><i class="fas fa-comment-alt-plus"></i></span>
  	</div>
  	<div id="commentContainer" style="height: calc(100% - 38px); overflow-y: auto; overflow-x: hidden; position: relative">
		<div style="width: 100%; height: 100%; padding: 7px;">
			<div ng-show="filteredComments.length > 0 && $ctrl.selectedNugget" style="width: 100%;" ng-repeat="comment in $ctrl.comments | filter:{nuggetID: $ctrl.selectedNugget.nuggetID}: true | orderBy:'-createdDateTime':false as filteredComments">
				<nugget-comment comment="comment" comments="$ctrl.comments" selected-nugget-id="$ctrl.selectedNugget.nuggetID" user-profile="$ctrl.userProfile"></nugget-comment>
			</div>
			<div ng-if="filteredComments.length === 0" style="width: 100%; height: 100%; padding: 7px; display: flex; justify-content: center; align-items: center">
				<div class="text-muted" style="text-align: center">
					<i class="fas fa-comment-alt-lines fa-3x"></i>
					<b style="font-size: x-large; display: block; margin-top: 10px">
						No Comments
					</b>
				</div>
			</div>
			<div ng-if="!$ctrl.comments" style="width: 100%; height: 100%; padding: 7px; display: flex; justify-content: center; align-items: center">
				<div class="text-muted" style="margin-bottom: 20%">
					<i class="fas fa-spinner fa-4x fa-spin"></i>
				</div>
			</div>
		</div>
		
	</div>
</div>

<style>
.comment {
  margin-right: 20px;
  background: #276ab0;
  color: white;
}

.user-comment {
  margin-left: 20px;
  border: 2px solid #276ab0;
  color: #276ab0;
}

</style>