<div class="modal-header bg-primary lt wrapper-sm text-center" id="">
    <button class="close pull-right" type="button" ng-click="$ctrl.buttons.cancel()">&times;</button>
    <p class="modal-title">Customer Influencer Contacts</p>
</div>
<div class="modal-body">	
	<table class="table table-condensed" style="margin-bottom: 0;">
		<thead class="table-header">
			<tr>
				<th style="width: 6%;"></th>
				<th style="width: 32%;">Name</th>
				<th style="width: 19%;">Relation</th>
				<th style="width: 40%;">Contact</th>
			</tr>
		</thead>
	</table>
	<div style="max-height: 500px; overflow-y: scroll; overflow-x: none;">
		<table class="table" style="margin-bottom: 0;">
			<tbody>
				<tr ng-repeat="contact in $ctrl.modalData">
					<td style="width: 4%;">
						<span ng-if="contact.fox">
							<img src="../../../../assets/img/Fox.png" height="16"/>
						</span>
						<span ng-if="!contact.fox">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						</span>
					</td>
					<td style="width: 34%;">
						{{::contact.delegateName}}<br>
						<span style="font-weight: bold;" ng-if="contact.delegateTitle.length > 20" uib-tooltip="{{contact.delegateTitle}}">
							{{contact.delegateTitle | truncate:false:20:'...'}}
						</span>						
						<span style="font-weight: bold;" ng-if="contact.delegateTitle.length <= 20" uib-tooltip="{{contact.delegateTitle}}">
							{{::contact.delegateTitle}}
						</span>						
					</td>
					<td style="width: 20%;">
						<span ng-class="$ctrl.getLabel(contact)">{{::contact.spw.spw}}</span>
					</td>
					<td style="width: 38%;">
						{{::contact.delegatePhone}}<br>{{::contact.delegateEmail}}
					</td>
				</tr>			
			</tbody>
		</table>
	</div>
</div>
<div class="modal-footer" style="margin-top: 0;">
	<button class="btn btn-default" ng-click="$ctrl.buttons.cancel()">
		Close
	</button>
</div>
