<div class="row" style="margin: 0">
	<div class="col-lg-12" style="padding: 0;">
	<div style="height: 30px; color: #F5F8FD; background-color: #276ab0; padding-left: 10px; padding-top: 5px;">
		<b style="font-size: 110%;">Influence Map</b>
	</div>
			
		<table class="table table-border" style="margin-bottom: 10px;">
			<thead class="table-header">
				<tr class="table-header-center" style="border-top: 1px solid #BFE8F0">
					<th style="border-left: 1px solid #BFE8F0">Executive</th>
					<th>Finance</th>
					<th style="border-left: 1px solid #BFE8F0">Materials /<br>Buyers</th>
					<th>Engineering /<br>Design</th>
					<th>CM Program Mgr</th>
					<th>OEM Outsource <br>(CM) Mgr</th>
					<th>Quality</th>
					<th>Supply Chain /<br>Inventory</th>
					<th style="border-left: 1px solid #BFE8F0; border-right: 1px solid #BFE8F0;">Manufacturing /<br>Production</th>
				</tr>
			</thead>
			<tbody>
				<tr class="influence-map-row text-center">
					<td style="height: 126px">
						<influence-map-data data="imap.mapData.executive"></influence-map-data>
					</td>
					<td style="">
						<influence-map-data data="imap.mapData.finance"></influence-map-data>
					</td>										
					<td style="">
						<influence-map-data data="imap.mapData.materials"></influence-map-data>
					</td>					
					<td style="">
						<influence-map-data data="imap.mapData.engineeringDesign"></influence-map-data>
					</td>					
					<td style="">
						<influence-map-data data="imap.mapData.cmProgram"></influence-map-data>
					</td>					
					<td style="">
						<influence-map-data data="imap.mapData.oemOutsource"></influence-map-data>
					</td>					
					<td style="">
						<influence-map-data data="imap.mapData.quality"></influence-map-data>
					</td>					
					<td style="">
						<influence-map-data data="imap.mapData.supplyChain"></influence-map-data>
					</td>
					<td style="">
						<influence-map-data data="imap.mapData.manufacturingProd"></influence-map-data>
					</td>					
			</tbody>
			<tfoot>
				<tr class="table-header" style="border-bottom: 1px solid #BFE8F0">
					<td colspan="2" class="text-center" style="border-left: 1px solid #BFE8F0; border-right: 1px solid #BFE8F0;">Front</td>
					<td colspan="6" class="text-center">Middle</td>
					<td class="text-center" style="border-left: 1px solid #BFE8F0; border-right: 1px solid #BFE8F0;">Back</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>