<div style="display: inline-block;">
	<div class="name-badge" ng-class="$ctrl.invert? 'name-badge-inverted':'name-badge-default'" uib-tooltip="{{::$ctrl.name |titlecase}}"
		tooltip-append-to-body="true" class="fa-stack cursor-pointer"
		ng-click="$ctrl.filterOwner($ctrl.name)">
		<b>{{::$ctrl.name | initials}}</b>
	</div>
</div>

<style>
.name-badge {
	display: inline-flex;
	flex-direction: row;
	height: 22px;
	width: 22px;
	border-radius: 20px;
	justify-content: center;
	cursor: pointer;
}
.name-badge > b {
	font-size: 10px;
	align-self: center;
}

.name-badge-default {
	background: #276ab0;
}
.name-badge-default > b {
	color: white;
}

.name-badge-inverted {
	border: 2px solid #276ab0;
}

.name-badge-inverted > b {
	color: #276ab0;
}

</style>