<div class="modal-header bg-primary wrapper-sm text-center">
	<button class="close pull-right" type="button" ng-click="$ctrl.cancel()">&times;</button>
	<p class="modal-title">{{$ctrl.editMode? 'Edit ' : ''}}Reply to {{$ctrl.item.userName}}</p>
</div>
<div class="modal-body">
		<form name="$ctrl.replyForm">
			<textarea ng-model="$ctrl.reply.replyText" class="form-control" rows="5"></textarea>
		</form>
</div>
<div class="modal-footer" style="margin-top: 0;">
	<button class="btn btn-primary" ng-disabled="!$ctrl.reply.replyText.length > 0" ng-click="$ctrl.saveReply()">		
		{{$ctrl.editMode? 'Edit' : 'Reply'}}
	</button>
	<button class="btn btn-default" ng-click="$ctrl.cancel()">
		Cancel
	</button>
</div>
