	<div class="flex-custom-full">
		<div class="panel panel-info flex-custom-full">
			

			<!-- ************* Header ********** -->
			<div class="panel-heading flex-header" style="flex:.1; padding: 0">

				<div style="flex-direction: row; display: flex; align-content: space-between ">
			
					<h4 class="panel-title"  style="flex: 1; margin-left:12px; padding-top:4px; padding-bottom:12px; font-weight: 600; font-size:17px;">Commodity</h4>
	
					<div style="align-self: center; justify-content: center; flex:1; flex-direction: row; display: flex; white-space: nowrap">
						<a class="cursor-pointer" ng-click="$ctrl.onCrumbClick({financialType: 'REGION'})"> 
							<h4 class="panel-title" style="font-weight: 600; font-size:17px;">{{$ctrl.entity? $ctrl.entity : 'Global'}}</h4>
						</a>

						<h4 class="panel-title" style="font-weight: 600; font-size:17px;">&nbsp;&nbsp;->&nbsp;&nbsp;</h4>
						
						<a class="cursor-pointer" ng-click="$ctrl.onCrumbClick({financialType: 'SITE'})"> 
							<h4 class="panel-title" style="font-weight: 600; font-size:17px;">{{$ctrl.account? $ctrl.account : 'All Accounts'}}</h4>
						</a>

						<h4 class="panel-title" style="font-weight: 600; font-size:17px;">&nbsp;&nbsp;->&nbsp;&nbsp;</h4>

						<a class="cursor-pointer" ng-click="$ctrl.onCrumbClick({financialType: 'MFR'})"> 
							<h4 class="panel-title" style="font-weight: 600; font-size:17px;">{{$ctrl.mfr? $ctrl.mfr : 'All MFRs'}}</h4>
						</a>
					</div>

					<div style="align-self: center; justify-content: flex-end; flex:1">
						<span
							class="pull-right cursor-pointer"
							style="margin-right: 8px;"
							ng-click="$ctrl.onFinancialExpandClick(); $ctrl.showTooltip = false"
							ng-mouseenter="$ctrl.showTooltip = true"
							tooltip-is-open="$ctrl.showTooltip"
							uib-tooltip="{{$ctrl.isExpanded? 'Contract' : 'Expand' }} Commodity Financials"
							tooltip-append-to-body="true"
							tooltip-placement="left">
							<span ng-if="!$ctrl.isExpanded"><i  class="far fa-expand-arrows-alt " ></i></span>
							<span ng-if="$ctrl.isExpanded"><i  class="far fa-compress-arrows-alt " ></i></span>
						</span>
					</div>
				</div>

				<div class="table-header flex-custom-full" style="text-align: center; flex-direction: row; padding-right:17px;">
								
					<div style="flex: 1; text-align: start; padding: 8px; white-space: no-wrap">
						<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('commodity',!$ctrl.sort.reverse)">Commodity</a>
						<span class="sortorder" ng-show="$ctrl.sort.type === 'commodity'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
					</div>							
					<div style="flex: 1; text-align: right; padding: 8px;">
						<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('dSam',!$ctrl.sort.reverse)">DSAM</a>
						<span class="sortorder" ng-show="$ctrl.sort.type === 'dSam'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
					</div>
					<div style="flex: 1; text-align: right; padding: 8px;">
						<span ng-if="$ctrl.plan.entity === 'GLOBAL'" uib-tooltip="Sum of Dollars & Euros, No Conversion." tooltip-placement="above">
							<i class="fas fa-info-circle cursor-pointer"></i>
						</span>
						<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('runRate',!$ctrl.sort.reverse)">Run Rate</a>
						<span class="sortorder" ng-show="$ctrl.sort.type === 'runRate'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
					</div>
					<div style="flex: 1; text-align: right; padding: 8px;">
						<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('ytdSales',!$ctrl.sort.reverse)">YTD Sales</a>
						<span class="sortorder" ng-show="$ctrl.sort.type === 'ytdSales'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
					</div>
					<div style="flex: 1; text-align: right; padding: 8px; white-space: nowrap;">
						<span uib-tooltip="Last year's TOTAL cummulative sales" tooltip-placement="above">
							<i class="fas fa-info-circle cursor-pointer"></i>
						</span>
						<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('prevYearSales',!$ctrl.sort.reverse)">LY Sales</a>
						<span class="sortorder" ng-show="$ctrl.sort.type === 'prevYearSales'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
					</div>
					<div style="flex: 1; text-align: right; padding: 8px;">
						<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('percentToPrevYearSales',!$ctrl.sort.reverse)">% to LY Sales</a>
						<span class="sortorder" ng-show="$ctrl.sort.type === 'percentToPrevYearSales'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
					</div>
				</div>            
				
			</div>
			
			<!-- ************* Body - Table ********** -->
			<div class="panel-body financial-panel flex-custom-full"  style="padding:0">
				<div class="flex-custom-full" style="overflow-y: scroll">
					<table id="financial-commodity-table" class="table" style="margin: 0; position: relative">
						<tbody class="flex-custom-full"> 

							<tr ng-show="!$ctrl.commodities" style="flex-direction: row" class="animate-repeat-table-row cursor-pointer flex-custom-full">
								<td style="flex: 1; align-content: center">
									<div class="cssload-loader">
									<div></div>
									<div></div>
									<div></div>
									<div></div>
									<div></div>
									<div></div>                                    
								</div>
								</td>                                
							</tr>

							<tr style="height: 49px; flex-direction: row;" class="animate-repeat-table-row cursor-pointer flex-custom-full show-on-hover-parent" 
								ng-repeat="commodity in $ctrl.commodities | orderBy: $ctrl.sort.type : $ctrl.sort.reverse track by $index" 
								ng-click="$ctrl.commodityRow.select(commodity, $index)" 
								ng-hide="commodity.entity === 'TOTAL'">
								
								<td style="flex:1;">{{commodity.commodity}}</td>							
								<td style="flex:1; text-align: right;">
									<span ng-show="!commodity.editMode" style="position: relative">{{commodity.dSam | currency: '' : 0}}
										<span ng-if="$ctrl.canEdit" ng-click="$ctrl.enableDsamEdit(commodity)" style="position: absolute; right: -18px;" class="show-on-hover" uib-tooltip="Edit DSAM" tooltip-append-to-body="true">
											<i style="height: 17px; width: 17px" class="fal fa-pencil cursor-pointer"></i>
										</span>
									</span>
									<span ng-show="commodity.editMode" style="position: relative; align-items: center; display: flex;">
										<input type="number" ng-model="commodity.dSam" id="{{commodity.commodity + '-dsam'}}" ng-blur="$ctrl.cancelDsamEdit(commodity)" style="padding: 3px; height: 28px" class="form-control"/>
										<span ng-click="$ctrl.saveDsam(commodity)" ng-mousedown="$event.preventDefault();" style="position: absolute; right: -18px; color: #5cb85c;" uib-tooltip="Save DSAM" tooltip-append-to-body="true">
											<i style="height: 17px; width: 17px" class="fas fa-save cursor-pointer"></i>
										</span>
									</span>
								</td>
								<td style="flex:1; text-align: right;">{{commodity.runRate | currency: '' : 0}}</td>
								<td style="flex:1;  text-align: right;"><span style="flex:1">{{commodity.ytdSales | currency: '' : 0}}</span>
								<td style="flex:1;  text-align: right;"><span style="flex:1">{{commodity.prevYearSales | currency: '' : 0}}</span>
								<td style="flex:1;  text-align: right;"><span style="flex:1" 
									ng-class="commodity.percentToPrevYearSales? (commodity.percentToPrevYearSales >= 100 ? 'label label-success' : 'label label-danger') : ''">
									{{commodity.percentToPrevYearSales? commodity.percentToPrevYearSales + '%' : '-'}}</span>
							</tr>

						</tbody>
					</table>
				</div>
			</div>
		</div>

		<!-- *************Footer********** -->
		<div style="font-size: 13px; padding-top: 5px; background-color: white; width:100%; flex:.1; max-height: 40px;" class="table-footer flex-custom-full panel panel-info">
			<div style="text-align: center; flex-direction: row; padding-right:17px;" class="flex-custom-full">
			
				<div class="financial-total-row" style="flex:1; text-align: start;  padding-left: 8px; padding-right:8px;">Total</div>
				<div style="flex:1; text-align: right;  padding-left: 8px; padding-right:8px;">{{$ctrl.commodities[$ctrl.commodities.length - 1].dSam  | currency: '' : 0}}</div>
				<div style="flex:1; text-align: right;  padding-left: 8px; padding-right:8px;">{{$ctrl.commodities[$ctrl.commodities.length - 1].runRate  | currency: '' : 0}}</div>
				<div style="flex:1; text-align: right;  padding-left: 8px; padding-right:8px;">{{$ctrl.commodities[$ctrl.commodities.length - 1].ytdSales  | currency: '' : 0}}</div>
				<div style="flex:1; text-align: right;  padding-left: 8px; padding-right:8px;">{{$ctrl.commodities[$ctrl.commodities.length - 1].prevYearSales  | currency: '' : 0}}</div>
				<div style="flex:1; text-align: right;  padding-left: 8px; padding-right:8px;"><span style="flex:1"
					ng-class="$ctrl.commodities[$ctrl.commodities.length - 1].percentToPrevYearSales? ($ctrl.commodities[$ctrl.commodities.length - 1].percentToPrevYearSales >= 100 ? 'label label-success' : 'label label-danger') : ''"
					>{{$ctrl.commodities[$ctrl.commodities.length - 1].percentToPrevYearSales? $ctrl.commodities[$ctrl.commodities.length - 1].percentToPrevYearSales + '%' : '-'}}</span>
				</div>
			
			</div>
		</div>

	</div>

<style>
	.flex-custom-full {
		height: 100%;
		width: 100%;
		display: flex;
		flex: 1 1 auto;
		flex-direction: column;
		overflow: auto;
	}
	.flex-header {
		flex:1;
		flex-direction: column;
		height: 100%;
		width: 100%;
		display: flex;
	}
</style>