<error-page ng-model="$ctrl.clientError"></error-page>

<div ng-hide="$ctrl.clientError.message">

	<div id="newCommentRow" class="row" style="margin-top: 0; border-bottom: 1px solid #ccc; margin-bottom: 5px; padding-bottom: 5px;">
		<div class="col-lg-6">
			<button class="btn btn-default" ng-click="$ctrl.addComment()" ng-disabled="$ctrl.addingNewComment || !$ctrl.permissions.validated('add')">
				New Comment
			</button>				
		</div>
		<div class="col-lg-6">
			<div class="input-group pull-right" style="width: 40%;">
				<span class="input-group-addon">
					<i class="fas fa-search"></i>
				</span>
				<input id="comments-search" type="text" class="form-control hideclose" ng-model="$ctrl.search.$" />						
			</div>
		</div>
	</div>
	<div id="commentsDiv" style="max-height: 600px; overflow-x: none; overflow-y: auto;">
		<div ng-repeat-start="comment in $ctrl.commentList | searchContent:$ctrl.search track by $index">
			<div class="newsfeed newsfeed-parent newsfeed-new" ng-show="comment.newComment || comment.edit">
				<new-comment plan="plan" level="1" is-edit="comment.edit" ng-model="comment" on-save="$ctrl.saveNewsFeed(item, document)" on-cancel="$ctrl.cancelComment(comment)"></new-comment>
			</div>
			<div class="newsfeed newsfeed-parent" ng-class="{'newsfeed-searched': comment.highlightMe == true}" ng-show="!comment.newComment && !comment.edit">
					<ul id="list" ng-hide="$ctrl.hideControls">
						<li>
							<a ng-if="!$ctrl.addingNewComment && $ctrl.permissions.validated('download')" class="cursor-pointer" ng-click="$ctrl.replyComment(comment)">
							 	 Reply 
							 </a>
						</li>
						<li ng-if="!$ctrl.addingNewComment && $ctrl.permitEdit(comment)">
							<a class="cursor-pointer" ng-click="$ctrl.editComment(comment)">
							 	Edit
							 </a>
						</li>
						<li ng-if="!$ctrl.addingNewComment && $ctrl.permitEdit(comment)">
							<a class="cursor-pointer text-danger" ng-click="$ctrl.deleteComment(comment)">
							 	Delete
							 </a>
						</li>
					</ul>
				<blockquote>
					<span style="white-space: pre-line;">{{comment.newsFeed.trim()}}</span>
					<footer style="margin-top: 3px;">
						{{comment.author}} - {{comment.dateTime}} 
						<span style="font-style: italic;" ng-if="comment.modifiedBy">
							(edited on {{comment.modifiedDateTime}})
						</span>
					</footer>
				</blockquote>					
				<ul class="fa-ul" style="margin-bottom: 0;">
					<li style="display: inline; margin-right: 25px;" ng-repeat="document in comment.documentList">
						<span class="fa-li">
							<i ng-class="$ctrl.setIcon(document)"></i>
						</span>
						<span style="font-weight: bold;" ng-show="$ctrl.hideAttachments">
							{{document.fullName}}							
						</span>
						<span style="font-weight: bold;" ng-show="!$ctrl.hideAttachments">
							<a ng-class="$ctrl.permissions.validated('download')? 'cursor-pointer' : 'disabled'" ng-click="$ctrl.downloadDocument(document)">{{document.fullName}}</a> 
							<span ng-if="$ctrl.permitEdit(comment)" class="text-danger cursor-pointer" ng-click="$ctrl.deleteAttachment(comment, document)"><i class="far fa-trash-alt"></i></span>
						</span>
					</li>
				</ul>											
			</div>
		</div>
		<div ng-repeat-end="1">
			<div ng-repeat-start="reply in comment.replies">
				<div class="newsfeed newsfeed-reply-1 newsfeed-new" ng-show="reply.newReply1 || reply.edit">
					<new-comment plan="plan" level="2" is-edit="reply.edit" ng-model="reply" parent="comment" on-save="$ctrl.saveReply(item, document)" on-cancel="$ctrl.cancelReply(comment, reply)"></new-comment>
				</div>
				<div class="newsfeed newsfeed-reply-1" ng-class="{'newsfeed-searched': reply.highlightMe == true}" ng-show="!reply.newReply1 && !reply.edit">
						<ul id="list">
							<li>
								<a  ng-if="!$ctrl.addingNewComment" class="cursor-pointer" ng-click="$ctrl.replyReply(reply)">
								 	Reply
								</a>
							</li>
							<li ng-if="!$ctrl.addingNewComment && $ctrl.permitEdit(reply)">
								<a class="cursor-pointer" ng-click="$ctrl.editComment(reply)">
									Edit
								</a>
							</li>
							<li ng-if="!$ctrl.addingNewComment && $ctrl.permitEdit(reply)">
								<a class="cursor-pointer text-danger" ng-click="$ctrl.deleteReply(comment, reply)">
								 	Delete
								</a>
							</li>
						</ul>
					<blockquote>
						<span style="white-space: pre-line;">{{reply.newsFeed.trim()}}</span>
						<footer style="margin-top: 3px;">
							{{reply.author}} replied on {{reply.dateTime}}
							<span style="font-style: italic;" ng-if="reply.modifiedBy">
								(edited on {{reply.modifiedDateTime}})
							</span>
						</footer>
					</blockquote>
					<ul class="fa-ul" style="margin-bottom: 0;">
						<li style="display: inline; margin-right: 25px;" ng-repeat="document in reply.documentList">
							<span class="fa-li">
								<i ng-class="$ctrl.setIcon(document)"></i>
							</span>
							<span style="font-weight: bold;">
								<a class="cursor-pointer" ng-click="$ctrl.downloadDocument(document)">{{document.fullName}}</a>
								<span ng-if="$ctrl.permitEdit(reply)" class="text-danger cursor-pointer" ng-click="$ctrl.deleteAttachment(reply, document)"><i class="far fa-trash-alt"></i></span>
							</span>
						</li>
					</ul>
				</div>
			</div>
			<div ng-repeat-end="2">
				<div ng-repeat-start="replyAgain in reply.replies">
					<div class="newsfeed newsfeed-reply-2 newsfeed-new" ng-show="replyAgain.newReply2 || replyAgain.edit">
						<new-comment plan="plan" level="3" is-edit="replyAgain.edit" ng-model="replyAgain" parent="reply" on-save="$ctrl.saveReplyAgain(item, document)" on-cancel="$ctrl.cancelReplyAgain(reply, replyAgain)"></new-comment>
					</div>
					<div class="newsfeed newsfeed-reply-2" ng-class="{'newsfeed-searched': replyAgain.highlightMe == true}" ng-show="!replyAgain.newReply2 && !replyAgain.edit">
							<ul id="list">
								<li ng-if="!$ctrl.addingNewComment && $ctrl.permitEdit(replyAgain)">
									<a class="cursor-pointer" ng-click="$ctrl.editComment(replyAgain)">
								 		Edit
								 	</a>
								</li>
								<li ng-if="!$ctrl.addingNewComment && $ctrl.permitEdit(replyAgain)">
									<a class="cursor-pointer text-danger" ng-click="$ctrl.deleteReply(reply, replyAgain)">
										Delete
									</a>
								</li>
							</ul>
						<blockquote>
							<span style="white-space: pre-line;">{{replyAgain.newsFeed.trim()}}</span>
							<footer style="margin-top: 3px;">
								{{replyAgain.author}} replied on {{replyAgain.dateTime}}
								<span style="font-style: italic;" ng-if="replyAgain.modifiedBy">
									(edited on {{replyAgain.modifiedDateTime}})
								</span>
							</footer>
						</blockquote>					
						<ul class="fa-ul" style="margin-bottom: 0;">
							<li style="display: inline; margin-right: 25px;" ng-repeat="document in replyAgain.documentList">
								<span class="fa-li">
									<i ng-class="$ctrl.setIcon(document)"></i>
								</span>
								<span style="font-weight: bold;">
									<a ng-class="$ctrl.permissions.validated('download')? 'cursor-pointer' : 'disabled'" ng-click="$ctrl.downloadDocument(document)">{{document.fullName}}</a>
									<span ng-if="$ctrl.permitEdit(replyAgain)" class="text-danger cursor-pointer" ng-click="$ctrl.deleteAttachment(replyAgain, document)"><i class="far fa-trash-alt"></i></span>
								</span>
							</li>
						</ul>
					</div>
				</div>
				<div ng-repeat-end="3"></div>
			</div>
		</div>
	</div>	
</div>