<div class="row">
	<div class="col-lg-8" style="background-color: #fff; padding-top: 1%; min-height: 650px;">
		<div style="margin-bottom: 1%;">
			<ng-form name="$ctrl.accountForm" class="form-inline" novalidate >
				<div class="row" style="margin-top: 0">
					<div class="form-group">
						<label style="width: 100px; text-align: right">By Date:</label>
						<div class="input-group" style="width: 150px">
		                    <input type="text" 
		                           class="form-control" 
		                           uib-datepicker-popup="MM/dd/yyyy" 
		                           ng-model="$ctrl.form.value" 
		                           is-open="$ctrl.form.isCalendarOpen" 
		                           datepicker-options="$ctrl.dateOptions"                            
		                           close-text="Close"	
		                           ng-blur="$ctrl.selectionChanged($ctrl.form.accountDate)"		                           
		                           >
		                    <span class="input-group-btn">
			                    <button type="button" class="btn btn-default" ng-click="$ctrl.openCalendar()">
			                        <i id="calendar" class="far fa-calendar-alt"></i>
			                    </button>
		                    </span>
						</div>	
					</div>					
					<button type="button" class="btn btn-default" ng-click="$ctrl.retrieveAccounts()">
						Retrieve
					</button>
					<button style="margin-right: 15px;" type="button" class="btn btn-default pull-right" ng-disabled="$ctrl.accounts.length == 0 || $ctrl.exportDisabled" ng-click="$ctrl.exportList()">
						<i class="fas fa-download"></i> Export
					</button>
				</div>
			</ng-form>
			<div class="row" style="margin-bottom: 10px;">
				<label style="width: 100px; text-align: right">By Account#:</label>
                <input style="width: 150px; display: inline-block;" type="text" class="form-control" ng-model="$ctrl.account" placeholder="Account...">
				<div style="width: 150px; display: inline-block; vertical-align: top;" ng-dropdown-multiselect="" button-title="$ctrl.selectedEntitiesStringDisplay" ng-model="$ctrl.selectedEntities" name="accountEntityMultiselect" ng-click="$ctrl.formatSelectedEntities();"
				extra-settings="$ctrl.entitiesConfig" options="$ctrl.entities" selected-model="$ctrl.selectedEntities"></div>
				<button style="display: inline-block; vertical-align: top;" type="button" class="btn btn-default" ng-click="$ctrl.retrieveAccountsByAccountAndEntity()">
					Retrieve
				</button>
				<button style="margin-right: 15px;" type="button" class="btn btn-warning pull-right"  ng-click="$ctrl.showDeletionLog()">
					<i class="far fa-trash-alt"></i>&nbsp;&nbsp;Deletion Log
				</button>
			</div>
		</div>
		<table id="accountsTable" class="table" style="margin: 0;">
			<thead>                
				<tr class="table-header-inverse">
					<th style="width: 12%;">Account</th>
					<th style="width: 12%;">Entity</th>
					<th style="width: 12%;">Family ID</th>
					<th style="width: 12%;">Plan ID</th>
					<th style="width: 12%;">Plan Type</th>
					<th style="width: 12%;">DSAM</th>
					<th style="width: 12%;">Run Rate</th>
					<th style="width: 12%;">Target</th>
				</tr>                                
			</thead>
		</table>
		<div style="height: 500px; width: 100%; overflow-y: auto; overflow-x: hidden; background-color:white;">
			<table class="table table-hover table-condensed">
				<tbody>
					<tr ng-if="$ctrl.loadingAccounts">
						<td colspan="7">
							<div class="cssload-loader">
								<div></div>
								<div></div>
								<div></div>
								<div></div>
								<div></div>
								<div></div>
							</div>
						</td>
					</tr>
					<tr class="no-hover-muted" ng-if="$ctrl.accounts.length === 0 && $ctrl.requestSubmitted">
						<td class="text-muted text-center" style="padding-top: 70px;">
							<span>
								<i class="far fa-angry fa-6x"></i>
							</span>
							<span style="font-size: x-large; display: block; padding-top: 30px;">
								No accounts found for provided search parameters.
							</span>
						</td>
					</tr>
					<tr ng-if="$ctrl.accounts" class="animate-repeat-table-row cursor-pointer show-on-hover-parent" ng-repeat="account in $ctrl.accounts track by $index">
						<td>{{account.account}}</td>
						<td>{{account.entity}}</td>
						<td>{{account.familyId}}</td>
						<td>{{account.planId}}</td>
						<td ng-switch="account.planTypeId">
							<span ng-switch-when="1">Global</span>
							<span ng-switch-when="2">ADC</span>
							<span ng-switch-when="3">EDC</span>
							<span ng-switch-when="4">ADC</span>
							<span ng-switch-default>{{account.branch}}</span>
						</td>
						<td>{{account.dSam | currency:'$':0}}</td>
						<td>{{account.runRate | currency:'$':0}}</td>
						<td>
							{{account.target | currency:'$':0}}
							<span ng-click="$ctrl.deleteAccount(account)" style="float: right" class="text-danger show-on-hover" uib-tooltip="Delete" tooltip-append-to-body="true">
								<i class="far fa-trash-alt"></i>
							</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<table class="table">
			<tfoot>
				<tr>
					<td colspan="7" class="table-footer">
						<span >Total Rows:</span> {{$ctrl.accounts.length}}
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
	<div class="col-lg-6" style="padding-top: 1%;">
	
	</div>
</div>
					
