<div class="show-on-hover-parent" style="border: 1px solid #ccc;"
	ng-style="{'margin-top': $ctrl.index > 0 ? '15px' : 0}">
	<div ng-class="$ctrl.getHeaderClass();"
		style="padding: 8px; border-bottom: 1px solid #ccc;">
		<b>{{$ctrl.isUsers()? 'Your' : $ctrl.item.userName +'\'s'}}</b>
		{{$ctrl.item.isBug? 'Bug Report' : 'Suggestion'}}
		({{$ctrl.item.dateAddedAsString}}):

		<div ng-if="$ctrl.isAdmin()"
			uib-popover-template="'popoverFeatures.html'"
			popover-append-to-body="true" popover-placement="right"
			popover-trigger="'outsideClick'" popover-class="feature-list"
			popover-is-open="$ctrl.featureListOpen" class="badge cursor-pointer"
			ng-if="$ctrl.item.feature"
			style="margin-right: 10px; margin-left: 10px"
			ng-style="{'background-color': ($ctrl.item.isBug)? 'darkred' : ''}">
			{{$ctrl.item.feature.feature}}</div>

		<div ng-if="!$ctrl.isAdmin()" class="badge" ng-if="$ctrl.item.feature"
			style="margin-right: 10px; margin-left: 10px"
			ng-style="{'background-color': ($ctrl.item.isBug)? 'darkred' : ''}">
			{{$ctrl.item.feature.feature}}</div>

		<div style="display: inline-block; float: right">
			<div class="show-on-hover"
				style="display: inline-block; margin-top: -3px;">
				<div ng-if="$ctrl.isAdmin()"
					style="display: inline-block; margin-right: 10px; cursor: pointer"
					ng-click="$ctrl.openReplyModal()" uib-tooltip="Reply" tooltip-append-to-body="true">
					<i class="fas fa-reply"></i>
				</div>
				<div ng-if="!$ctrl.item.isBug" style="display: inline-block">
					<button ng-if="!$ctrl.item.released && !$ctrl.item.inProgress"
						class="btn btn-sm btn-default" uib-tooltip="Vote Down"
						ng-disabled="$ctrl.item.voteDisabled"
						ng-click="$ctrl.voteDown(index, $ctrl.item.feedbackId)"
						style="color: #ac2925; border-radius: 12px 0 0 12px; height: 25px; width: 25px; padding-left: 7px; padding-top: 3px">
						<i class="fas fa-thumbs-down"></i>
					</button>

					<button ng-if="!$ctrl.item.released && !$ctrl.item.inProgress"
						class="btn btn-sm btn-default text-success" uib-tooltip="Vote Up"
						ng-disabled="$ctrl.item.voteDisabled"
						ng-click="$ctrl.voteUp(index, $ctrl.item.feedbackId)"
						style="color: green; border-radius: 0 12px 12px 0; height: 25px; width: 25px; padding-left: 5px; padding-top: 3px">
						<i class="fas fa-thumbs-up"></i>
					</button>
				</div>
				<button
					ng-if="$ctrl.item.isBug && !$ctrl.item.released && !$ctrl.item.inProgress"
					class="btn btn-sm btn-default"
					uib-tooltip="Also Experienced This Issue"
					ng-disabled="$ctrl.item.voteDisabled"
					ng-click="$ctrl.voteUp(index, $ctrl.item.feedbackId)"
					style="border-radius: 15px 15px 15px 15px; height: 25px; width: 25px; padding-left: 5px; padding-top: 2px; color: darkred">
					<b>+1</b>
				</button>
			</div>

			<div ng-click="$ctrl.isAdmin() ? $ctrl.openFeedbackDetailsModal() : ''"
				ng-if="!$ctrl.item.released && !$ctrl.item.inProgress" class="badge"
				ng-class="$ctrl.isAdmin()? 'cursor-pointer' : ''"
				style="margin-right: 10px; margin-left: 10px"
				uib-tooltip="Vote Score"
				ng-style="{'background-color': $ctrl.getVoteScoreColor()}">
				{{$ctrl.getVoteScore()}}</div>

			<div ng-class="$ctrl.isAdmin()? 'cursor-pointer' : ''"
				style="display: inline-block;"
				ng-click="$ctrl.isAdmin() ? $ctrl.openFeedbackDetailsModal() : ''">
				<div ng-if="$ctrl.item.released" class="label label-success"
					style="margin-right: 10px;">Released</div>
				<div ng-if="$ctrl.item.inProgress && !$ctrl.item.released"
					class="label label-warning" style="margin-right: 10px;">In
					Progress</div>
			</div>

		</div>
	</div>
	<div style="max-height: 150px; overflow-x: hidden; overflow-y: auto;">
		<blockquote
			style="margin-bottom: 0; border-left: 0 !important; font-size: 14px">
			{{$ctrl.item.feedback}}</blockquote>
	</div>
	<div style="padding: 0 5px 0 5px">
		<feedback-reply ng-repeat="reply in $ctrl.item.replyList" reply="reply" item="$ctrl.item"></feedback-reply>
	</div>
</div>

<script type="text/ng-template" id="popoverFeatures.html">
	<feature-popover item="$ctrl.item" is-open="$ctrl.featureListOpen" features="$ctrl.features"></feature-popover>
</script>