<div class="modal-header bg-primary wrapper-sm text-center">
	<button class="close pull-right" type="button"
		ng-click="$ctrl.buttons.cancel()">&times;</button>
	<p class="modal-title">{{$ctrl.title}}</p>
</div>
<div class="modal-body">
	<dl class="dl-horizontal">
		<dt>Created By:</dt>
		<dd>{{::$ctrl.item.userName}}</dd>
		<dt>Date Created:</dt>
		<dd>{{::$ctrl.item.dateAddedAsString}}</dd>
		<dt>Votes Against:</dt>
		<dd>
			<span class="badge badge-error">{{::$ctrl.votes.down}}</span>
		</dd>
		<dt>Votes For:</dt>
		<dd>
			<span class="badge badge-success">{{::$ctrl.votes.up}}</span>
		</dd>
	</dl>

	<div ng-if="$ctrl.item.suggestionVoters.length > 0">
		<table class="table" style="width: 50%; margin: 0 auto;">
			<thead class="table-header">
				<tr>
					<th>Voter</th>
					<th>Vote</th>
				</tr>
			</thead>
		</table>
		<div style="max-height: 150px; overflow-y: auto; overflow-x: hidden;">
			<table class="table" style="width: 50%; margin: 0 auto;">
				<tbody>
					<tr ng-repeat="voter in $ctrl.item.suggestionVoters">
						<td style="width: 53%;">{{::voter.voterName}}</td>
						<td style="width: 50%;"><span ng-if="voter.voteUp"> <i
								class="fal fa-thumbs-up text-success"></i>
						</span> <span ng-if="!voter.voteUp"> <i
								class="fal fa-thumbs-down text-danger"></i>
						</span></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="modal-footer" style="margin-top: 0;">
	<div style="display: inline-block; float: left">
		<button ng-if="!$ctrl.item.inProgress && !$ctrl.item.released" class="btn btn-sm btn-warning"
			ng-click="$ctrl.markAsInProgress($ctrl.item.feedbackId)"
			tooltip-append-to-body="true"
			uib-tooltip="Mark as &quot;In Progress&quot;">
			<i class="fas fa-wrench"></i>
		</button>
		<button ng-if="!$ctrl.item.released" class="btn btn-sm btn-success"
			ng-click="$ctrl.markAsReleased($ctrl.item.feedbackId)"
			tooltip-append-to-body="true"
			uib-tooltip="Mark as &quot;Released&quot;">
			<i class="fa fa-check-circle"></i>
		</button>
		<button class="btn btn-sm btn-danger"
			ng-click="$ctrl.discard($ctrl.item.feedbackId)"
			tooltip-append-to-body="true" uib-tooltip="Discard">
			<i class="far fa-trash-alt"></i>
		</button>
	</div>
	<button class="btn btn-default" ng-click="$ctrl.buttons.cancel()">
		Cancel</button>
</div>
