<div class="modal-header bg-primary wrapper-sm text-center">
	<button class="close pull-right" type="button" ng-click="$ctrl.cancel()">&times;</button>
	<p class="modal-title"><i class="fas fa-search"></i>&nbsp;&nbsp;&nbsp;Call Report Search</p>
</div>
<div class="modal-body modal-md">
	<error-modal ng-model="$ctrl.clientError"></error-modal>
	<div ng-show="!$ctrl.clientError.message">
		<form name="$ctrl.newCallReport">
			<fieldset>
			 	<div ng-if="$ctrl.searchCriteria.availableCorpIds || $ctrl.searchCriteria.availableBranches || $ctrl.showPlanSearch" style="margin-bottom: 5px; width: 100%; display: inline-block; white-space: nowrap">
					<label>&nbsp;&nbsp;Show Only Mine: &nbsp;&nbsp;</label>
					<input class="form-control" type="checkbox" style="height:20px; width: 20px; vertical-align: middle; display: inline-block; margin: 0" ng-model="$ctrl.showMine">
				</div>
				<div ng-if="$ctrl.showPlanSearch && !$ctrl.showMine" style="display: inline-block">
					<div style="border-bottom: 1px solid lightgray">
						<label>&nbsp;&nbsp;Customer Plan&nbsp;&nbsp;<span uib-tooltip="Filter call reports by plan" tooltip-append-to-body="true" class="cursor-pointer"><i class="fas fa-question-circle"></i></span></label>
					</div>
					<div class="col-md-8" style="padding: 10px 0 10px 0">
						<lookup-plan ng-model="$ctrl.customerName" min-length="3" branches="$ctrl.searchCriteria.availableBranches" input-id="'callReportLookup'"
						lookup-placeholder="'Search by Name or Acct. #'" on-select="$ctrl.selectPlan($item)"
						tooltip-text="'Lookup customers within your assigned branch(es) by Name or Acct. #'" ></lookup-plan>
					</div>
					<div class="col-md-4"></div>
				</div>
				<div>
					<div style="margin-bottom: 10px; border-bottom: 1px solid lightgray">
					<label>&nbsp;&nbsp;Date Range&nbsp;&nbsp;<span uib-tooltip="Filter call reports by visit date" tooltip-append-to-body="true" class="cursor-pointer"><i class="fas fa-question-circle"></i></span></label>
				</div>
				</div>
				<div class="form-group">
					<div class="col-md-1">
						<label>Start:</label>
					</div>
					<div class="col-md-4" style="align-content: left">
	                    <p class="input-group">
	                        <input type="text" class="form-control" uib-datepicker-popup="MM/dd/yyyy" ng-model="$ctrl.searchCriteria.startDate" is-open="$ctrl.startDateCalendarOpen"
	                            datepicker-options="dateOptions" close-text="Close" autocomplete="off" ng-change="$ctrl.setValidSearch()">
	                        <span class="input-group-btn">
	                            <button type="button" class="btn btn-default" ng-click="$ctrl.startDateCalendarOpen = !$ctrl.startDateCalendarOpen;">
	                                <i id="calendar" class="far fa-calendar-alt"></i>
	                            </button>
	                        </span>
	                    </p>
	                </div>
  					<div class="col-md-1">
						<label>End:</label>
					</div>
					<div class="col-md-4">
	                    <p class="input-group">
	                        <input type="text" class="form-control" uib-datepicker-popup="MM/dd/yyyy" ng-model="$ctrl.searchCriteria.endDate" is-open="$ctrl.endDateCalendarOpen"
	                            datepicker-options="dateOptions" close-text="Close" autocomplete="off" ng-change="$ctrl.setValidSearch()">
	                        <span class="input-group-btn">
	                            <button type="button" class="btn btn-default" ng-click="$ctrl.endDateCalendarOpen = !$ctrl.endDateCalendarOpen;">
	                                <i id="calendar" class="far fa-calendar-alt"></i>
	                            </button>
	                        </span>
	                    </p>
	                </div>
				</div>

					
				<div ng-if="$ctrl.searchCriteria.availableBranches && !$ctrl.showMine" class="form-group">
					<div style="padding-top: 10px; border-bottom: 1px solid lightgray">
						<label>&nbsp;&nbsp;Branch & Owner&nbsp;&nbsp;<span uib-tooltip="Filter call reports by the customer branch or a reporter within the selected branch" tooltip-append-to-body="true" class="cursor-pointer"><i class="fas fa-question-circle"></i></span></label>
					</div>
					<div class="col-md-5" style="padding-top: 10px; padding-top: 15px" ng-if="$ctrl.searchCriteria.availableBranches.length == 1">
						<label style="margin-right: 10px">Branch:</label><label>{{$ctrl.searchCriteria.selectedBranches[0]}}</label>	
					</div>

					<div class="col-md-1" style="padding-top: 20px" ng-if="$ctrl.searchCriteria.availableBranches.length > 1">
						<label style="margin-right: 15px">Branch:</label>
					</div>
					<div class="col-md-4" style="padding-top: 10px" ng-if="$ctrl.searchCriteria.availableBranches.length > 1">
						<form ng-submit="$ctrl.selectBranch($ctrl.inputBranch)">
							<div style="height: wrap;" class="btn-group branch-selector" uib-dropdown>
								<input id="branchSelector" type="text" maxlength="2" autocomplete="off" style="text-transform:uppercase; width: 50px;"
								 ng-model="$ctrl.inputBranch" class="form-control" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
								 uib-dropdown-toggle placeholder="{{$ctrl.searchCriteria.selectedBranches[0]}}" ng-click="$ctrl.inputBranch = '';">
								<ul uib-dropdown-menu ng-show="filtered.length > 0" style="max-height: 300px; overflow-y: auto">
									<li ng-repeat="branch in $ctrl.searchCriteria.availableBranches | filter:$ctrl.inputBranch:startsWith as filtered" ng-click="$ctrl.selectBranch(branch);"><a>{{branch}}</a></li>
								</ul>
							</div>
						</form>
					</div>


					<div class="col-sm-6" style="padding-top: 15px" ng-if="!$ctrl.fsrList || $ctrl.fsrList.length === 1"  style="padding-top: 10px; height: wrap;">
						<label>No Call Reports found for this branch.</label>
					</div>

					<div class="col-md-1" style="padding-top: 20px" ng-if="$ctrl.fsrList.length > 1">
						<label style="margin-right: 15px">User:</label>
					</div>

					<div class="col-md-4" ng-if="$ctrl.fsrList.length > 1"  style="padding-top: 10px; height: wrap;" class="btn-group" uib-dropdown>
						<button  class="form-control" id="fsrDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" uib-dropdown-toggle>
							{{$ctrl.fullName? ($ctrl.fullName | titlecase) : 'All'}}
							<span class="caret" style="float: right; margin-top: 8px"></span>
						</button>
						<ul uib-dropdown-menu>
							<li ng-repeat="fsr in $ctrl.fsrList | orderBy:'toString()'" ng-click="$ctrl.selectReporter(fsr)" ng-if="fsr !== $ctrl.fullName"><a>{{fsr | titlecase}}</a></li>
						</ul>
					</div>
				</div>
				
				<div ng-if="$ctrl.searchCriteria.availableCorpIds && !$ctrl.showMine" class="form-group">
					<div style="padding-top: 10px; border-bottom: 1px solid lightgray">
						<label>&nbsp;&nbsp;Corporate ID&nbsp;&nbsp;<span uib-tooltip="Filter call reports by customer corporate ID" tooltip-append-to-body="true" class="cursor-pointer"><i class="fas fa-question-circle"></i></span></label>
					</div>
					<div class="col-md-7" style="padding-top: 20px" ng-if="$ctrl.searchCriteria.availableCorpIds.length === 1">
						<label style="margin-right: 15px">Corporate ID:</label> {{$ctrl.searchCriteria.selectedCorpId.corpId}} | {{$ctrl.searchCriteria.selectedCorpId.customerName}}
					</div>
					
					<div class="col-md-5" style="padding-top: 10px" ng-if="$ctrl.searchCriteria.availableCorpIds.length > 1">
						<div style="height: wrap;" class="btn-group branch-selector" uib-dropdown>
							<input id="corpIdSelector" type="text"  autocomplete="off" style="text-transform:uppercase; width: 200px;"
							 ng-model="$ctrl.inputCorpId" class="form-control" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
							 uib-dropdown-toggle placeholder="{{$ctrl.searchCriteria.selectedCorpId.corpId}} | {{$ctrl.searchCriteria.selectedCorpId.customerName}}" ng-click="$ctrl.inputCorpId = '';">
							<ul uib-dropdown-menu ng-show="filtered.length > 0" style="max-height: 300px; overflow-y: auto">
								<li ng-repeat="corpId in $ctrl.searchCriteria.availableCorpIds | filter:$ctrl.inputCorpId as filtered" ng-click="$ctrl.selectCorpId(corpId);"><a>{{corpId.corpId}} | {{corpId.customerName}}</a></li>
							</ul>
						</div>
					</div>
				</div>

			</fieldset>
		</form>
	</div>
</div>
<div class="modal-footer" style="margin-top: 0; padding: 10px;">
	<button class="btn btn-default pull-left" ng-click="$ctrl.reset()">
		Reset
	</button>
	<button class="btn btn-primary" ng-disabled="!$ctrl.searchCriteria.selectedCorpId && !$ctrl.searchCriteria.selectedBranches && !$ctrl.fullName && !$ctrl.planId" ng-click="$ctrl.search()">		
		Search
	</button>
	<button class="btn btn-default" ng-click="$ctrl.cancel()">
		Cancel
	</button>
</div>
