<div id="loadingMessage" ng-class="(!$ctrl.selectedProject && $ctrl.loadStarted && ($ctrl.projects.archive === undefined || $ctrl.projects.active === undefined))? 'show' : ''"><i id="spinner" class="fas fa-spinner"></i><span style="padding-left: 15px;">Loading All Projects...</span></div>

<!-- <page-header active-page="'oms'" plan="$ctrl.plan"></page-header> -->

<div ng-include="pageIncludes.clientErrorTemplate"></div>

<div class="row" style="margin-top: 0; height: calc(100% - 50px); min-height: 300px; display: flex; flex-direction: column;">
	<div class="col-xs-12" style="min-width: 1000px; height: 100%;">
		<uib-tabset active="$ctrl.activeTabIndex" style="height: 100%;">
			<uib-tab index="0" heading="Active" style="text-align: center" ng-click="$ctrl.selectTab('active');">
				<oms-projects selected="$ctrl.params.type === 'active'" ng-model="$ctrl.projects.active" plan="$ctrl.plan" project="$ctrl.selectedProject" projects="$ctrl.projects" selected-owner="$ctrl.selectedOwner" status="'active'"></oms-projects>
			</uib-tab>
<!-- 			<uib-tab index="2" heading="Related" style="text-align: center" ng-click="$ctrl.selectTab('related');"> -->
<!-- 				<oms-projects ng-model="$ctrl.projects.related" plan="$ctrl.plan" project="$ctrl.selectedProject" projects="$ctrl.projects" selected-owner="$ctrl.selectedOwner" status="'related'"></oms-projects>				 -->
<!-- 			</uib-tab> -->
			<uib-tab index="1" heading="Archive" style="text-align: center" ng-click="$ctrl.selectTab('archive');">
				<oms-projects selected="$ctrl.params.type === 'archive'" ng-model="$ctrl.projects.archive" plan="$ctrl.plan" project="$ctrl.selectedProject" projects="$ctrl.projects" selected-owner="$ctrl.selectedOwner" status="'archive'"></oms-projects>				
			</uib-tab>
<!-- 			<uib-tab index="2" style="text-align: center"> -->
<!-- 				<uib-tab-heading> -->
<!-- 					Search&nbsp; -->
<!-- 					<i class="fas fa-search fa-flip-horizontal"></i> -->
<!-- 				</uib-tab-heading> -->
<!-- 				TODO: Create Search Page	 -->
<!-- 			</uib-tab> -->
		</uib-tabset>
	</div>	
</div>

<style>

#loadingMessage {
	min-width: 220px;
	margin-left: -125px;
	background-color: #337AB7;
	color: white;
	font-size: 16px;
	text-align: center;
	border-radius: 10px;
	padding: 12px;
	position: fixed;
	z-index: 1000;
	left: 50%;
	bottom: 0px;
	opacity: 0;
	-webkit-transition: all 0.2s linear;
   	transition: all 0.2s linear;
}

#loadingMessage.show {
	bottom: 30px;
	opacity: 1;
}

.tab-content {
	height: 100%;
}
.tab-pane {
	height: 100%;
}
</style>