<!-- management.html -->
<error-page ng-model="$ctrl.clientError"></error-page>

<div class="flex-custom-full" style="flex:1;display:flex;">

<div class="flex-custom-full" style="flex:.1; display:flex;">
	<management-header
		text-filter="$ctrl.textFilter"
		search-plans="$ctrl.clickPreferences()"
	/>
</div>

<div class="row" style="margin: 20px 0px 0 0px; height: calc(100% - 146px); position: relative;">
	
		<!-- <div id="btn-customer-add" style="padding-top:5px; padding-right:5px; justify-content: center; align-self: flex-end; flex:1; text-align: right; height: 100%">
			<button class="btn btn-sm btn-primary" ng-click="$ctrl.pendingCustomerModal()">					
				<i class="fas fa-plus"></i> New Customer
			</button>
		</div> -->

	<div  class="flex-custom-full" style="flex: 1; display:flex; flex-direction: column">
		
<!----> <div style="display:flex; flex-direction: row">
	
			<div style="flex:1; display:flex; justify-content: flex-start">
				<uib-tabset active="$ctrl.activeTabIndex" style="display: flex; flex:1; height: 100%;">
					<uib-tab index="0" heading="Customers" style="text-align: center; display: flex; flex:1; height: 100%;"
						ng-click="$ctrl.selectCustomerList('customers');">
					</uib-tab>
					<uib-tab index="1" heading="Leads" style="text-align: center; display: flex; flex:1; height: 100%;"
						ng-click="$ctrl.selectCustomerList('leads');">
					</uib-tab>
				</uib-tabset>
			</div>

			<div id="btn-customer-add" style="display: flex; flex: 1; align-items: flex-end; justify-content: flex-end; margin-right:15px;">
				<button class="btn btn-sm btn-primary" ng-click="$ctrl.pendingCustomerModal()" style="align-self: flex-end; margin-bottom: 8px">					
					<i class="fas fa-plus"></i><span>  New Lead</span>
				</button>
			</div>
<!---->	</div>
		
<!---->	<div  class="flex-custom-full">
			<div class="flex-custom-full" style="margin-top:0%; width: 100%;" ng-hide="$ctrl.clientError.message">
				<div class="flex-custom-full col-xs-12" style="width:100%; padding-left:0; padding-right:0">
					<div class="rounded-corners bg-white flex-custom-full" style="box-shadow: 3px 3px 3px #888888; border-top-left-radius: 0%">
						<div  class="flex-custom-full" style=" padding: 10px; padding-bottom: 5px; margin-top:auto">
							
							<div id="tableHeader" style="padding-top:0px">
								<table class="table table-hover" style="margin-bottom: 0;">
									<thead>
										<tr class="table-header plans-header hidden-print" style="text-align: center;">
											<th style="width: 2%;"></th>
											<th style="width: 3%;"></th>
											<th style="width: 6%;">
												<a href ng-click="$ctrl.order('branch,planType.planTypeId', !$ctrl.sortReverse)">Type</a> 
												<span class="sortorder"
												ng-show="$ctrl.sortType == 'branch,planType.planTypeId'"
												ng-class="{reverse:$ctrl.sortReverse}"></span>
											</th>
											<th style="width: 19%;"><a href
												ng-click="$ctrl.order('customerName', !$ctrl.sortReverse)">Customer	Name</a> 
												<span class="sortorder" ng-show="$ctrl.sortType == 'customerName'"
												ng-class="{reverse:$ctrl.sortReverse}"></span></th>
											<th style="width: 18%;"><a href
												ng-click="$ctrl.order('acctManager', !$ctrl.sortReverse)">Plan Owner</a>
												<span class="sortorder" ng-show="$ctrl.sortType == 'acctManager'"
												ng-class="{reverse:$ctrl.sortReverse}"></span></th>
											<th ng-if="!$ctrl.nonTTI" style="width: 15%; text-align: right;">
												<a href
												ng-click="$ctrl.order('totalRunRate', !$ctrl.sortReverse)">Run Rate</a> <span
												class="sortorder" ng-show="$ctrl.sortType == 'totalRunRate'"
												ng-class="{reverse:$ctrl.sortReverse}"></span></th>
											<th ng-if="!$ctrl.nonTTI" style="width: 14%; text-align: right;"><a href
												ng-click="$ctrl.order('totalTarget', !$ctrl.sortReverse)">Target</a> <span
												class="sortorder" ng-show="$ctrl.sortType == 'totalTarget'"
												ng-class="{reverse:$ctrl.sortReverse}"></span></th>
											<th ng-if="!$ctrl.nonTTI" style="width: 10%;  overflow: hidden; white-space: nowrap; text-align: center"><a href
												ng-click="$ctrl.order('percentToGoal', !$ctrl.sortReverse)">% To Plan</a> <span
												class="sortorder" ng-show="$ctrl.sortType == 'percentToGoal'"
												ng-class="{reverse:$ctrl.sortReverse}"></span></th>
											<th ng-if="$ctrl.nonTTI" style="width: 20%; text-align: center;">
												<a href
												ng-click="$ctrl.order('modifyDateTime', !$ctrl.sortReverse)">Last Update</a> <span
												class="sortorder" ng-show="$ctrl.sortType == 'modifyDateTime'"
												ng-class="{reverse:$ctrl.sortReverse}"></span></th>
											<th ng-if="$ctrl.nonTTI" style="width: 19%; text-align: right; padding-right: 30px;">
												<a href
												ng-click="$ctrl.order('planStatus.planStatusId', !$ctrl.sortReverse)">Status</a> <span
												class="sortorder" ng-show="$ctrl.sortType == 'planStatus.planStatusId'"
												ng-class="{reverse:$ctrl.sortReverse}"></span></th>
										</tr>
									</thead>
								</table>
							</div>
							<div id="tableBody" class="constrained" style="flex:1">
								<table infinite-scroll="$ctrl.scrolling.loadMore()"
									infinite-scroll-container='".constrained"'
									infinite-scroll-parent="true"
									infinite-scroll-immediate-check="true"
									infinite-scroll-disabled="false"
									class="table dataTable table-hover" style="margin-bottom: 0;">
									<tbody>
										<tr class="hidden-print no-hover" ng-show="$ctrl.showLoading">
											<td colspan="7">
												<div class="cssload-loader">
													<div></div>
													<div></div>
													<div></div>
													<div></div>
													<div></div>
													<div></div>
												</div>
											</td>
										</tr>
										<tr class="hidden-print no-hover-muted" ng-if="$ctrl.noPlansToShow() && $ctrl.selectedCustomerListName == 'customers'">
											<td colspan="7" class="text-center text-muted" style="padding-top: 60px;">
												<span>
													<i class="fal fa-frown fa-4x"></i>
												</span>
												<span style="font-size: xx-large; display: block;">
													No Plans to Display
												</span>				
												<span style="font-size: x-large;">
													Possible Reasons:
												</span>
												<ul style="list-style-type: none; padding: 0;">
													<li>There are no plans assigned to you.</li>
													<li>No plans meet your filter requirements.</li>
												</ul>
												<span style="font-size: large; display: block; margin-top: 30px;">
													For assistance, contact:
												</span>
												<span ng-if="$ctrl.helpContactName" style="display: block;">
													{{ $ctrl.helpContactName }} - {{ $ctrl.helpContactNumber }}
												</span>
												<span ng-if="!$ctrl.helpContactName" style="display: block;">
													Please contact your Sales Operation Manager.
												</span>
											</td>
										</tr>
										<tr class="hidden-print no-hover-muted" ng-if="$ctrl.noPlansToShow() && $ctrl.selectedCustomerListName == 'leads'">
												<td colspan="7" class="text-center text-muted" style="padding-top: 60px;">
													<span>
														<i class="fal fa-frown fa-4x"></i>
													</span>
													<span style="font-size: xx-large; display: block;">
														No Leads to Display
													</span>				
													<span style="font-size: x-large;">
														Possible Reasons:
													</span>
													<ul style="list-style-type: none; padding: 0;">
														<li>You Have Not Created A Lead</li>
														<li>Click The, '+ New Lead', Button To Begin Creation Of A New Lead</li>
													</ul>
													<span style="font-size: large; display: block; margin-top: 30px;">
														For assistance, contact:
													</span>
													<span ng-if="$ctrl.helpContactName" style="display: block;">
														{{ $ctrl.helpContactName }} - {{ $ctrl.helpContactNumber }}
													</span>
													<span ng-if="!$ctrl.helpContactName" style="display: block;">
														Please contact your Sales Operation Manager.
													</span>
												</td>
											</tr>
										<tr ng-if="!$ctrl.noPlansToShow()" class="hidden-print animate-repeat-tablerow" 
											ng-repeat-start="plan in $ctrl.filtered = ($ctrl.getPlansBySelectedCustomerList() |  commaDelimitedFilter:$ctrl.textFilter | limitTo: $ctrl.scrolling.displayLimit) track by $index"
											ng-class="{'selected': $index == $ctrl.row.parent.selectedRow, 'table-header-parent': $ctrl.row.isPlanBranchListVisible(plan), 'purged-parent': plan.planType.planTypeId === 8}">
											<td style="width: 2%;">
												<span ng-show="plan.expanded && $ctrl.row.isPlanBranchListVisible(plan)" ng-click="plan.expanded = false" uib-tooltip="Hide Accounts" tooltip-placement="right">
													<i class="far fa-minus-square cursor-pointer"></i>
												</span>
												<span id="plan-expand" ng-show="!plan.expanded && $ctrl.row.isPlanBranchListVisible(plan)" ng-click="plan.expanded = true" uib-tooltip="Show Accounts" tooltip-placement="right">
													<i class="far fa-plus-square cursor-pointer"></i>
												</span>
											</td>
											<td style="width: 3%;">
												<span ng-show="!$ctrl.row.isPlanBranchListVisible(plan)" ng-class="$ctrl.positionLabel(plan.customerPosition.customerPosition)"
													uib-tooltip="{{plan.customerPosition.customerPosition}}">
													{{plan.customerPosition.customerPosition.substring(0,1)}}
												</span>	 								
											</td>
											<td style="width: 6%; padding-right: 0; position: relative">
												<span ng-if="plan.planType.planTypeId == 1"	uib-tooltip="Global">
													<i class="fas fa-globe"></i>
												</span>				
												<span ng-if="plan.planType.planTypeId == 2">
													NDC
												</span>
												<span ng-if="plan.planType.planTypeId == 3">
													EDC
												</span>
												<span ng-if="plan.planType.planTypeId == 4">
													ADC
												</span>
												<span ng-if="plan.planType.planTypeId == 5 || plan.planType.planTypeId == 6">
													{{plan.branch}}
												</span>
												<span ng-if="plan.planType.planTypeId == 7">
													RSE
												</span>
												<span ng-if="plan.planType.planTypeId === 8" style="color: red; cursor: pointer; position: absolute" uib-tooltip="Purged Branch Parent" tooltip-append-to-body="true">
													<i style="height: 18px; width: 18px" class="fas fa-exclamation-triangle"></i>
												</span>
												<span style="right: 0; position: absolute; color: black; font-size: 14px;" uib-tooltip="Strategic Customer" tooltip-append-to-body="true" ng-if="plan.strategicFlag">
													<i class="fas fa-chess-knight-alt"></i>
												</span>							 								
											</td>
											<td id="plan-customer-name" style="width: 19%; white-space: nowrap;">
												<span ng-if="!$ctrl.row.isPlanBranchListVisible(plan)">
													<span style="display: block; overflow: hidden; text-overflow: ellipsis;" show-tooltip-on-text-overflow tooltip-enable="false" uib-tooltip="{{plan.customerName}}">
														<a ui-sref="businessPlan({planId: plan.planId})">{{plan.customerName}}</a>
													</span>
												</span>									
												<span ng-if="$ctrl.row.isPlanBranchListVisible(plan)">
													<span style="display: block; overflow: hidden; text-overflow: ellipsis;" show-tooltip-on-text-overflow tooltip-enable="false" uib-tooltip="{{plan.customerName}}">
														{{plan.customerName}}
													</span>
												</span>
											</td>
											<td style="width: 19%;">
												<span ng-if="!$ctrl.row.isPlanBranchListVisible(plan)">
													{{plan.acctManager}} <br>
													<span ng-if="plan.isrList.length === 1"> {{plan.isrList[0]}}</span>
													<span ng-if="plan.isrList.length > 1"
														uib-popover-template="$ctrl.isrPopover[0].templateUrl" popover-trigger="'mouseenter'"
														class="cursor-pointer"> Multiple ISR</span>
												</span>									
											</td>
											<td ng-if="!$ctrl.nonTTI" style="width: 15%; text-align: right;">
												<div ng-switch="plan.currency">
													<span ng-switch-when="NDC|ADC" ng-switch-when-separator="|">{{plan.totalRunRate  | currency: '$' : 0}}</span>
													<span ng-switch-when="EDC">{{plan.totalRunRate  | currency: '' : 0}} &euro;</span>
													<span ng-switch-default>{{plan.totalRunRate  | currency: '' : 0}}</span>
												</div>
											</td>
											<td ng-if="!$ctrl.nonTTI" style="width: 15%; text-align: right;">
												<div ng-switch="plan.currency">
													<span ng-switch-when="NDC|ADC" ng-switch-when-separator="|">{{plan.totalTarget  | currency: '$' : 0}}</span>
													<span ng-switch-when="EDC">{{plan.totalTarget  | currency: '' : 0}} &euro;</span>
													<span ng-switch-default>{{plan.totalTarget  | currency: '' : 0}}</span>
												</div>
											</td>
											<td ng-if="!$ctrl.nonTTI" style="width: 8%; text-align: center"><span
												style="padding-left: 10px; padding-right: 10px;" class={{plan.percentLabel}}>{{plan.percentToGoal}}</span></td>
											<td ng-if="$ctrl.nonTTI" style="width: 20%; text-align: center;">
												{{plan.modifyDateTime | date:'MM/dd/yy'}}
											</td>
											<td ng-if="$ctrl.nonTTI" style="width: 19%; text-align: right; padding-right: 10px;">
												{{plan.planStatus.planStatus}}
											</td>
											
										</tr>
										<tr class="no-hover" ng-if="plan.expanded" ng-repeat-end="">
			<!-- 								<td colspan="8" style="padding: 0; border-bottom: 3px solid #F68A20;border-left: 5px solid #F68A20; border-right: 3px solid #F68A20;"> -->
											<td colspan="8" style="padding: 0;">
												<div style="border-left: 3px solid #F68A20; border-bottom: 3px solid #F68A20;">																	
<!-- 													<table class="table table-hover" style="margin: 0;">				 -->
<!-- 														<thead style="position: relative;"> -->
<!-- 															<tr class="table-header"> -->
<!-- 																<th style="width: 2%"></th> -->
<!-- 																<th style="width: 3%"></th> -->
<!-- 																<th style="width: 6%"></th> -->
<!-- 																<th style="width: 19%;">Customer Name</th> -->
<!-- 																<th style="width: 18%">Plan Owner</th>													 -->
<!-- 																<th style="width: 15%; text-align: right;"> -->
<!-- 																	<span ng-if="plan.currency === 'NONE'" uib-tooltip="Sum of Dollars & Euros, No Conversion." tooltip-placement="above"> -->
<!-- 																		<i class="fas fa-info-circle cursor-pointer"></i> -->
<!-- 																	</span> -->
<!-- 																	Run Rate -->
<!-- 																</th> -->
<!-- 																<th style="width: 14%; text-align: right;">Target</th>													 -->
<!-- 																<th style="width: 9%; text-align: center">% to Plan</th>													 -->
<!-- 															</tr> -->
<!-- 														</thead> -->
<!-- 													</table> -->
													<table class="table table-hover" style="margin: 0px; table-layout: fixed;">
														<tbody>
															<tr id="child-plan" ng-repeat="branch in plan.branchPlanList"
																ng-class="{'selected': $index == $ctrl.row.child.selectedRow, 'purged-parent': branch.planType.planTypeId === 8}">
																<td style="width: 2%"></td>
																<td style="width: 3%">
																	<span ng-class="$ctrl.positionLabel(branch.customerPosition.customerPosition)"
																		uib-tooltip="{{branch.customerPosition.customerPosition}}">
																		{{branch.customerPosition.customerPosition.substring(0,1)}}
																	</span>	 														
																</td>
																<td style="width: 6%; padding-right: 0; position: relative">
																	<span ng-if="branch.planType.planTypeId == 1" uib-tooltip="Global">
																		<i class="fas fa-globe"></i>
																	</span>
																	<span ng-if="branch.planType.planTypeId == 2">
																		NDC
																	</span>
																	<span ng-if="branch.planType.planTypeId == 3">
																		EDC
																	</span>
																	<span ng-if="branch.planType.planTypeId == 4">
																		ADC
																	</span>									
																	<span ng-if="branch.planType.planTypeId == 5 || branch.planType.planTypeId == 6">
																		{{branch.branch}}
																	</span>
																	<span ng-if="branch.planType.planTypeId == 7">
																		RSE
																	</span>
																	<span ng-if="branch.planType.planTypeId === 8" style="color: red; cursor: pointer; position: absolute" uib-tooltip="Purged Branch Parent" tooltip-append-to-body="true">
																		<i style="height: 18px; width: 18px" class="fas fa-exclamation-triangle"></i>
																	</span>
																	<span style="right: 0; position: absolute; color: black; font-size: 14px;" uib-tooltip="Strategic Customer" tooltip-append-to-body="true" ng-if="branch.strategicFlag">
																		<i class="fas fa-chess-knight-alt"></i>
																	</span>						 								
																</td>
																<td style="width: 19%; white-space: nowrap">
																	<a id="child-plan-customer-name" ui-sref="businessPlan({planId: branch.planId})">
																		<span style="display: block; overflow: hidden; text-overflow: ellipsis;" show-tooltip-on-text-overflow tooltip-enable="false" uib-tooltip="{{branch.customerName}}">
																			{{branch.customerName}}
																		</span>
																	</a>
																</td>
																<td style="width: 19%">
																	{{branch.acctManager}} <br>
																	<span ng-if="branch.isrList.length === 1"> {{branch.isrList[0]}}</span>
																	<span ng-if="branch.isrList.length > 1"
																		uib-popover-template="$ctrl.isrPopover[1].templateUrl" popover-trigger="'mouseenter'"
																		class="cursor-pointer">Multiple ISR</span>
																</td>
																<td style="width: 15%; text-align: right;">
			<!-- 														<span>	 -->
			<!-- 															{{branch.totalRunRate | currency: '$' : 0}} -->
			<!-- 														</span> -->
																	<div ng-switch="branch.currency">
																		<span ng-switch-when="NDC|ADC" ng-switch-when-separator="|">{{branch.totalRunRate  | currency: '$' : 0}}</span>
																		<span ng-switch-when="EDC">{{branch.totalRunRate  | currency: '' : 0}} &euro;</span>
																		<span ng-switch-default>{{branch.totalRunRate  | currency: '' : 0}}</span>
																	</div>
																</td>
																<td style="width: 15%; text-align: right;">
			<!-- 														<span>		 -->
			<!-- 															{branch.totalTarget | currency: '$' : 0}} -->
			<!-- 														</span> -->
																	<div ng-switch="branch.currency">
																		<span ng-switch-when="NDC|ADC" ng-switch-when-separator="|">{{branch.totalTarget  | currency: '$' : 0}}</span>
																		<span ng-switch-when="EDC">{{branch.totalTarget  | currency: '' : 0}} &euro;</span>
																		<span ng-switch-default>{{branch.totalTarget  | currency: '' : 0}}</span>
																	</div>
																</td>			
																<td style="width: 8%; text-align: center">
																	<span style="padding-left: 10px; padding-right: 10px" class={{branch.percentLabel}}>{{branch.percentToGoal}}</span>
																</td>
															</tr>
														</tbody>
													</table>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div id="tableFooter">
								<table class="table" style="margin-bottom: 0; ">
									<tfoot class="table-footer">
										
										<tr style="width: 100%; flex:1; display: flex; flex-direction: row">
											<td style="flex:2; display:flex;" colspan="2">Customers:
												{{$ctrl.scrolling.displayLimit + ' of ' + $ctrl.totalLength}} 
											<td ng-if="!$ctrl.nonTTI" style="flex:.33; justify-content: center; display:flex;"><span>{{$ctrl.runRateTotal | currency: ''
													: 0}}</span></td>
											<td ng-if="!$ctrl.nonTTI" style="flex:.4; justify-content: flex-end; display:flex;"><span>{{$ctrl.targetTotal | currency: '' :
													0}}</span></td>
											<td ng-if="!$ctrl.nonTTI" style="flex:.25; justify-content: center; margin-right: 17px; display:flex;">
												<span style="padding-left:10px; padding-right:10px;"
													class="{{$ctrl.totalPercentToPlansLabel}}"
													ng-bind="$ctrl.totalPercentToPlans ? $ctrl.totalPercentToPlans : 0">
												</span>
											</td>
										</tr>

										<tr style="width: 100%; flex:1; display: flex; flex-direction: row">
											<td colspan="6" style="width: 100%; display:flex;"><span class="pull-left" style="margin-right: 5px;">Filtered By:</span> <ul id="list">
													<li ng-repeat="filter in $ctrl.filterMap"><span class="badge">{{filter}}</span></li>
													<li ng-if="$ctrl.textFilter && $ctrl.textFilter !== ''">
														<span class="badge client-filter">
															"{{$ctrl.textFilter}}"&nbsp;
															<span uib-tooltip="Remove Filter" tooltip-append-to-body="true" ng-click="$ctrl.textFilter = '';  $ctrl.saveFilterText();" class="cursor-pointer">
																<i class="fas fa-times-circle"></i>
															</span>
														</span>
													</li>
												</ul>

											</td>
										</tr>

									</tfoot>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
<!---->	</div>
		<!-- <div style="flex:1">
			<div class="col-sm-5" style="width:100%; height:100%">
				<div class="row" style="margin: 0; height:100%">
					<div class="col-xs-12" style="padding: 0; height: 700px;">
						<action-items></action-items>
					</div> -->
				
				
		<!-- 			<div class="col-xs-12" -->
		<!-- 				style="padding: 0; margin-bottom: 10px;"> -->
		<!-- 				<region plan="$ctrl.plan"></region> -->
		<!-- 			</div>			 -->
		<!-- 			<div class="col-xs-12" style="padding: 0;"> -->
		<!-- 				<div class="rounded-corners hidden-print" style="background-color: #fff; min-height: 425px;"> -->
		<!-- 					<div style="padding: 10px 10px 0 10px;" > -->
		<!-- 						<button class="btn btn-sm btn-info" ui-sref="activity({planId: $ctrl.activity.planId})" ng-disabled="!$ctrl.activity.planId"> -->
		<!-- 							Go to Activity -->
		<!-- 						</button>			 -->
		<!-- 					</div> -->
							
		<!-- 					<div style="height: 400px; overflow: hidden; padding: 5px;"> -->
		<!-- 						<feed plan="$ctrl.plan"  -->
		<!-- 							  comment-list="$ctrl.comments"  -->
		<!-- 							  hide-new-comment="true"  -->
		<!-- 							  hide-controls="true"  -->
		<!-- 							  hide-attachments="true" -->
		<!-- 							  style="height: 385px;"></feed> -->
		<!-- 					</div> -->
		<!-- 				</div> -->
		<!-- 			</div> -->
				<!-- </div>
			</div>
		</div> -->
	</div> 
</div>
</div>

<style>
	.flex-custom-full {
		height: 100%;
		width: 100%;
		display: flex;
		flex:1;
		flex-direction: column;
	}
	.purged-parent {
		background-color: #ffcdd2
	}
</style>
	
<script type="text/ng-template" id="multipleIsrPlanList.html">
	<div>
	<span style="display: block" ng-repeat="isr in plan.isrList">{{isr}}</span>
	</div>
</script>
<script type="text/ng-template" id="multipleIsrChildList.html">
	<div>
	<span style="display: block" ng-repeat="isr in branch.isrList">{{isr}}</span>
	</div>
</script>
