					
<div class="flex-custom-row" style="width:100%; height:100%; flex:.15 1 auto; background:white; border-radius: 13px 13px 0px 0px; border-bottom: 1px solid grey; min-height:50px; max-height:50px; min-height:50px;">
	
	<div class="flex-container flex-center-align" style="flex:.1 1 auto; justify-content: flex-start; margin-left: 7px;">
		<button 
			class="btn btn-sm btn-primary" 
			ng-disabled="!$ctrl.canCreateNugget" 
			ng-click="$ctrl.addNewNugget()" 
			style="align-self: center; padding:5px; opacity:.9; min-width: 75px; margin-left:10px;"
		>					
			<i style="opacity:1" class="fas fa-plus"></i><span style="opacity:1">  New OPB</span>
		</button>
	</div>
	
	<div class="flex-container flex-center-align" style="justify-content: center; justify-self: center; margin-left: 7px;">
		<b style="font-size: large">Other Peoples Business (OPB)</b>
	</div>

	<div class="flex-container flex-center-align" style="flex:.1 1 auto; justify-content: flex-end; margin-right: 7px;">
		<button 
			class="btn btn-sm btn-info"  
			ng-click="$ctrl.editActiveNugget()" 
			ng-style="!$ctrl.activeNugget &&  {opacity:.5}" 
			ng-disabled="!$ctrl.activeNugget || !$ctrl.canEditActiveNugget" 
			style="align-self: center; padding:5px; opacity:.9; min-width: 75px; margin-right:10px;"
		>					
			<span style="opacity:1"> Edit </span>
		</button>
		<button 
			class="btn btn-sm btn-danger"
			ng-click="$ctrl.deleteActiveNugget()" 
			ng-style="!$ctrl.activeNugget &&  {opacity:.5}" 
			ng-disabled="!$ctrl.activeNugget || !$ctrl.canEditActiveNugget" 
			style="align-self: center; padding:5px; opacity:.9; min-width: 75px;"
		>					
			<span style="opacity:1"> Delete </span>
		</button>
	</div>

</div>

<div class="col-xs-12 flex-custom-full" style="background-color: #fff; box-shadow: 3px 3px 3px #888888; overflow-y: hidden; padding: 0; border-radius: 0px 0px 13px 13px; flex:2 1 auto;">

	<div id="tableBody" class="flex-custom-full" style="overflow-y: auto; padding: 10px;">

		<!-- <table class="flex-custom-full" style="margin-bottom: 0;"> -->
			
			<div 
				class="flex-custom-column  cursor-pointer" 
				ng-repeat="nugget in $ctrl.nuggets | orderBy:['-value'] track by nugget.nuggetID"
				ng-click="$ctrl.setActiveNugget(nugget)"
			>
				
				<div 
					style="border-top: 1px dashed #ccc; border-bottom: 1px dashed #ccc; margin-top: 5px; padding-left: 15px; margin-right: 10px; background-color: #fff; max-height:225px; min-height:225px;" 
					ng-style='{"background-color": $ctrl.activeNugget && $ctrl.activeNugget.nuggetID === nugget.nuggetID ? "rgb(235,235,235)" : "white"}'
					class="flex-custom-column"
					id="nugget-{{nugget.nuggetID}}"
				>
					<div class="flex-custom-row">

						<div class="flex-custom-column" style="flex:3 1 auto; max-height:225px;  min-height:225px;">

							<div class="flex-container">
								<div class="flex-container" style="margin-top: 10px; margin-bottom: 10px; white-space: nowrap;">
									<!-- <b style="font-size: large">OPB: </b> -->
									<b style="font-size: large">
										{{nugget.manufacturer.manufacturerName}} + {{nugget.commodity.commodity}}</b>
									</b>	
								</div>
							</div>

							<div class="flex-container">
								<div class="flex-container" style="margin-top: 10px; margin-bottom: 10px">
									<div class="flex-container" style="width: 200px; display: inline-flex">
										<b style="padding-right: 10px;">Competition:</b>{{nugget.nuggetCompetitor.competitor}}
									</div>
									<div class="flex-container" style="width: 200px; display: inline-flex">
										<label>Value:</label>&nbsp;</label>
										{{nugget.value | currency: ''}}
									</div>
								</div>
							</div>

							<div class="flex-container">
								<div class="flex-container" style="margin-top: 10px; margin-bottom: 10px">
									
									<div class="flex-container" style="width: 200px; display: inline-flex">
										<b style="padding-right: 10px;">Manufacturer:</b>
										<div class="status-filter-toggle" style="cursor: auto; align-self: flex-start; background-color: #5583b4">
											{{nugget.manufacturer.manufacturerCode}}
										</div>
									</div>

									<div class="flex-container" style="width: 200px; display: inline-flex">
										<b style="padding-right: 10px;">Commodity:</b>
										<div class="status-filter-toggle" style="cursor: auto; align-self: flex-start; background-color: #d79230">
											{{nugget.commodity.commodity}}
										</div>
									</div>

								</div>
							</div>

							<div class="flex-container">
								<div class="flex-container" style="margin-top: 10px; margin-bottom: 10px">
									<div class="flex-container"style="width: 200px; display: inline-flex">
										<b style="padding-right: 10px;">Created By:</b>{{nugget.ownerFullName}}
									</div>
									<div class="flex-container" style="width: 200px; display: inline-flex">
										<b style="padding-right: 10px;">Status:</b>
										
										<div class="status-filter-toggle" style="cursor: auto; align-self: flex-start" ng-style="{background: $ctrl.nuggetStatusColor(nugget.nuggetStatus)}">
											{{nugget.nuggetStatus.nuggetStatus}}
										</div>

									</div>
								</div>
							</div>

							<div class="flex-container">
								<div class="flex-container" style="margin-top: 10px; margin-bottom: 10px">
									<div class="flex-container" style="width: 200px; display: inline-flex">
										<b style="padding-right: 10px;">Created:</b>{{nugget.createdDateTime | date:'longDate'}}
									</div>
									<div class="flex-container" style="width: 200px; display: inline-flex">
										<b style="padding-right: 10px;">Modified:</b>{{nugget.modifiedDateTime | date:'longDate'}}
									</div>
								</div>
							</div>

						</div>

						<div class="flex-custom-column" style="align-self: flex-end; padding: 10px; max-height:225px; min-height:225px; height:100%; flex:.3 .3 auto; min-width:305px; max-width:305px;">
							
							<div class="flex-custom-row" style="flex:.1 1 auto; white-space: nowrap; margin-bottom: 7px;">

									
									<div class="flex-custom-full flex-center-align">
										<b style="font-size: initial; align-self: flex-start">Part List</b>
									</div>

									<div 
										class="flex-custom-row" 
										ng-click="$ctrl.addNewNuggetPart(nugget)" 
										style="align-self: center; flex:0 0 auto; justify-self: flex-end; align-items: flex-end; justify-items: flex-end; padding:3px;"
										ng-class="{'is-disabled': !$ctrl.canEditNuggetParts(nugget)};"
									>					
										<div class="flex-center-align flex-custom-full" style="height:22px; width:22px; background: #F68A20; border-radius: 11px;">
											<i style="opacity:1; color:white;" class="fas fa-plus"></i>
										</div>
									</div>

							</div>
							
							<div 
								class="flex-custom-column" 
								ng-style='{"background-color": $ctrl.activeNugget && $ctrl.activeNugget.nuggetID === nugget.nuggetID ? "white" : "rgb(250,250,250)", "height": $ctrl.isInternetExplorer ? "165px" : ""}'
								style="overflow-y: scroll; border:.5px solid #b3b6b9; flex:3 1 auto;"
							>
								<div 
									class="flex-custom-column flex-custom-ie" 
									ng-style='{"background-color": $ctrl.activeNugget && $ctrl.activeNugget.nuggetID === nugget.nuggetID ? "white" : "rgb(250,250,250)"}'
									style="margin:4px;"
								>
									<div 
										class="flex-custom-row"
										style="margin: 2px; padding-bottom:0px; display: flex; justify-content: center;" 
										ng-repeat="nuggetPart in nugget.nuggetParts  | orderBy:['-modifiedDateTime'] track by nuggetPart.nuggetPartsID"
									>
										<div class="flex-custom-row" style="width:100%; height:100%; justify-content: center; padding-left:4px; padding-right:4px; margin-bottom: 4px;">
											<button 
												class="btn btn-sm" 
												ng-click="$ctrl.setActiveNuggetPart(nuggetPart)" 
												style="align-self: flex-start; background: #f5ab6c; opacity:.9; display: flex; align-items: center; align-content: center; flex:1"
												ng-disabled="!$ctrl.canEditNuggetParts(nugget)"
											>					
												<span style="color:white; font-weight: 500; opacity:1; font-size:14px; align-self: center; flex:1; justify-self: center;">{{$ctrl.truncateNuggetPartName(nuggetPart.part)}}</span>
											</button>
										</div>
									</div>
								</div>

							</div>
							
						</div>

					</div>
				
				</div>
			</div>

			<div 
				ng-if="$ctrl.nuggets && $ctrl.nuggets.length == 0" 
				style="display: flex; flex-direction: column; flex:  1 1 auto; height: 100%; width: 100%; justify-content: center; align-content: center; align-items: center; text-align: center"
			>
				<span style="font-size: x-large; align-self: center; text-align: center" > No OPB's Created For This Plan</span>
				<span style="font-size: x-large; align-self: center; text-align: center" >Click The + In The Top Left To Create A New OPB</span>
			</div>

			<div 
				id="loadingMessage" 
				ng-if="$ctrl.nuggets === undefined || $ctrl.nuggets === null" 
				style="display: flex; flex-direction: column; flex: 1 1 auto; height: 100%; width: 100%; justify-content: center; align-content: center; align-items: center; text-align: center"
			>
				<i id="spinner" class="fas fa-spinner"></i><span style="padding-left: 15px;">Loading OPB's...</span></div>
			</div>

		<!-- </table> -->

	</div>

</div>


<style>

	.status-filter-toggle {
		display: inline-flex;
		padding: 0px 5px;
		border-radius: 4px;
		color: white;
		align-items: center;
		cursor: pointer;
	}

	.status-filter-toggle > span {
		padding-top: 2px;
	}

	.is-disabled {
		opacity: .5;
		cursor: not-allowed;
	}

	.flex-custom-full {
		display: flex;
		flex: 1 1 auto;
		flex-direction: column;
		height: 100%;
		width:100%;
	}
	.flex-custom-row {
		display: flex;
		flex-direction: row;
		/* height: 100%;
		width:100%; */
	}
	.flex-custom-column {
		display: flex;
		flex-direction: column;
		/* height: 100%;
		width:100%; */
	}
	.flex-container {
		display: flex;
		flex: 1 1 auto;
		width:100%;
		height:100%;
	}
	.flex-center-align {
		align-content: center;
		align-items: center;
		justify-content: center;
		justify-items: center;
		align-self: center;
		justify-self: center;
	}
	
	#loadingMessage {
		min-width: 220px;
		margin-left: -125px;
		background-color: #337AB7;
		color: white;
		font-size: 16px;
		text-align: center;
		border-radius: 10px;
		padding: 12px;
		position: fixed;
		z-index: 1000;
		left: 50%;
		bottom: 0px;
		opacity: 0;
		-webkit-transition: all 0.2s linear;
		   transition: all 0.2s linear;
	}
	
	#loadingMessage.show {
		bottom: 30px;
		opacity: 1;
	}
	
	
	</style>