<!-- financial.html -->
<!-- <page-header active-page="'financials'" plan="$ctrl.plan"></page-header> -->

<error-page ng-model="$ctrl.clientError"></error-page>

<div ng-if="$ctrl.plan" ng-hide="$ctrl.clientError.message" class="flex-custom-full" style="margin-bottom:20px;" ng-style="{'min-height': !$ctrl.expandedFinancial? '740px' : '0'}">

	<div class="flex-custom-full"  ng-hide="$ctrl.clientError.message || $ctrl.hideRegion == true" style="min-height: 0;">
		<financial-region
			class="flex-custom-full" 
			plan="$ctrl.plan"
			selected-entity-totals="$ctrl.selectedEntityTotals"
			expand-financials="$ctrl.expandFinancials({financialToExpand: financialToExpand})" 
			on-financial-row-select="$ctrl.onFinancialRowSelect({financialType: financialType, selectedValue: selectedValue})"
			entity="$ctrl.entity"
			account="$ctrl.account"
			mfr="$ctrl.mfr"
			is-expanded="$ctrl.expandedFinancial === 'REGION'"
		></financial-region>
	</div>

	<div class="flex-custom-full" style="margin-bottom:0px; min-height: 0;" ng-hide="$ctrl.clientError.message || $ctrl.hideSite == true">
		<financial-site  
			class="flex-custom-full" 
			plan-id="$ctrl.planId"
			selected-entity-totals="$ctrl.selectedEntityTotals"
			expand-financials="$ctrl.expandFinancials({financialToExpand: financialToExpand})"
			on-financial-row-select="$ctrl.onFinancialRowSelect({financialType: financialType, selectedValue: selectedValue})"
			entity="$ctrl.entity"
			account="$ctrl.account"
			account-entity="$ctrl.accountEntity"
			mfr="$ctrl.mfr"
			on-crumb-click="$ctrl.onCrumbClick({financialType: financialType})"
			is-expanded="$ctrl.expandedFinancial === 'SITE'"
		></financial-site>
	</div>
	
	<div class="flex-custom-full" style="flex-direction: row; min-height: 0;" ng-hide="$ctrl.clientError.message || ($ctrl.hideCommodity && $ctrl.hideMfr)">
		<!-- Manufacturer -->
		<financial-mfr 
			class="flex-custom-full" 
			plan-id="$ctrl.planId"
			expand-financials="$ctrl.expandFinancials({financialToExpand: financialToExpand})"
			on-financial-row-select="$ctrl.onFinancialRowSelect({financialType: financialType, selectedValue: selectedValue})"
			entity="$ctrl.entity"
			account="$ctrl.account"
			account-entity="$ctrl.accountEntity"
			mfr="$ctrl.mfr"
			on-crumb-click="$ctrl.onCrumbClick({financialType: financialType})"
			ng-hide="$ctrl.hideMfr == true"
			is-expanded="$ctrl.expandedFinancial === 'MFR'"
			can-edit="$ctrl.canEdit"
		></financial-mfr>
	 	<!-- Commodity -->
		<financial-commodity 
			class="flex-custom-full" 
			plan-id="$ctrl.planId"
			expand-financials="$ctrl.expandFinancials({financialToExpand: financialToExpand})"
			on-financial-row-select="$ctrl.onFinancialRowSelect({financialType: financialType, selectedValue: selectedValue})"
			entity="$ctrl.entity"
			account="$ctrl.account"
			account-entity="$ctrl.accountEntity"
			mfr="$ctrl.mfr"
			on-crumb-click="$ctrl.onCrumbClick({financialType: financialType})"
			ng-hide="$ctrl.hideCommodity == true"
			is-expanded="$ctrl.expandedFinancial === 'COMMODITY'"
			can-edit="$ctrl.canEdit"
		 ></financial-commodity>
	</div>

</div>

<style>
	.flex-custom-full {
		height: 100%;
		width: 100%;
		display: flex;
		flex:1;
		flex-direction: column;
		margin-top:0;
		margin-bottom:0;
		margin-left:0px;
	}
	
</style>