<div class="widget-header-inverse" style="width: 100%; display: inline-block; border-bottom: 2px solid #276ab0">
	<span><a ui-sref="actionItems" class="cursor-pointer" style="color: whitesmoke">My Action Items</a></span>
</div>
<div style="width: 100%; overflow: hidden; height: calc(100% - 35px);">
	<div ng-if="$ctrl.incomplete > 0">
		<div style="display: inline-block; width: 45%; margin-bottom: -3px; margin-left: -5px;">
			<canvas id="actionItemDoughnut"
				class="chart chart-doughnut"
				chart-data="$ctrl.data" 
				chart-labels="$ctrl.labels"
				chart-colors="$ctrl.colors"
				chart-options="$ctrl.options"
				width="100"
				height="90"
				>
			</canvas>
		</div>
		<div style="display: inline-block; float: right; font-size: 16px; padding-right: 45px;">
			<div style="padding-bottom: 10px; padding-top: 28px; text-align: right;"><b>{{$ctrl.pastDue}}&nbsp;&nbsp;</b><span class="badge" style="width: 100px; background-color: #eb2121; font-size: 15px">Past Due</span></div>
			<div style="padding-bottom: 10px; text-align: right;"><b>{{$ctrl.upcoming}}&nbsp;&nbsp;</b><span class="badge" style="width: 100px; background-color: #ed8e2f; font-size: 15px">Next 7 Days</span></div>
			<div style="text-align: right;"><b>{{$ctrl.remainder}}&nbsp;&nbsp;</b><span class="badge" style="width: 100px; background-color: #ede240; color: black; font-size: 15px">7+ Days</span></div>
		</div>
	</div>
	<div ng-if="$ctrl.incomplete === 0" class="text-center text-muted" style="display: flex; justify-content: center; align-items: center; height: 100%">
		<div>
			<i class="fas fa-clipboard-check fa-3x"></i>
			<br>
			<b style="font-size: x-large; display: block; margin-top: 10px">
				No Open Action Items
			</b>
		</div>		
	</div>
</div>
