
<!-- <page-header active-page="'businessPlan'" plan="$ctrl.plan"	prevent-nav="$ctrl.BPForm.$dirty"></page-header> -->

<error-page ng-model="$ctrl.clientError"></error-page>

<div ng-hide="$ctrl.clientError.message">
	
	<div class="row hidden-print"
		style="margin-top: 15px;"
		ng-show="$ctrl.businessPlan.actionable.editPlan || $ctrl.allowEdit">
		<div class="col-xs-12">
			<div class="page-nav-btn-group">
				<button id="btn-edit"
					class="btn btn-default" ng-click="$ctrl.editOrReset()">{{$ctrl.EditOrReset}}</button>
				<button id="btn-update" class="btn btn-success" ng-click="$ctrl.update()"
					ng-disabled="$ctrl.disableSave() || !$ctrl.BPForm.$valid">Save Changes</button>
			</div>
			<button ng-if="$ctrl.showArchiveButton" style="float: right; margin-right: 15px" class="btn btn-danger" ng-click="$ctrl.archive()">Archive Plan</button>
		</div>
	</div>
	

	<form name="$ctrl.BPForm" confirm-on-exit>
		<div class="row" style="margin-top: 15px">
			<div class="col-sm-6">
				<div id="panel-customer-data" class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title">Customer Data</h3>
					</div>
					<div class="panel-body hidden-print"
						style="padding-top: 0; padding-bottom: 0; min-height: 183px;">
						<div class="row" style="margin: 0">
							<div class="col-xs-12" style="padding: 0;">
								<div ng-if="!$ctrl.isEditable" style="margin-top: 5px; white-space: nowrap">
									<div style="width: 55%; display: inline-block">
										<div class="row customer-data">
											<label class="col-sm-4">Plan Owner:</label>
											<span class="col-sm-8">
												{{$ctrl.plan.acctManager | titlecase}}
												<span ng-if="$ctrl.insideSalesPersonList.length === 1 && $ctrl.insideSalesPersonList[0] !==''"> | {{$ctrl.insideSalesPersonList[0] | titlecase}}</span>
												<span ng-if="$ctrl.insideSalesPersonList.length > 1"
													  uib-popover-template="$ctrl.isrPopover[0].templateUrl" popover-trigger="'mouseenter'"
													  class="cursor-pointer" > | Multiple ISR</span>
											</span>
										</div>
										<div class="row customer-data" ng-if="$ctrl.plan.rseParticipant">
											<label class="col-sm-4">
												RSE:
											</label>
											<span class="col-sm-8">
												{{$ctrl.plan.rseParticipant}}
											</span>
										</div>
										<div class="row customer-data" ng-if="$ctrl.plan.faeParticipant">
											<label class="col-sm-4">
												FAE:
											</label>
											<span class="col-sm-8">
												{{$ctrl.plan.faeParticipant}}
											</span>
										</div>
										<div class="row customer-data" ng-if="$ctrl.plan.bdmParticipant">
											<label class="col-sm-4">
												BDM:
											</label>
											<span class="col-sm-8">
												{{$ctrl.plan.bdmParticipant}}
											</span>
										</div>
										<div class="row customer-data" ng-if="$ctrl.plan.pdmParticipant">
											<label class="col-sm-4">
												PDM:
											</label>
											<span class="col-sm-8">
												{{$ctrl.plan.pdmParticipant}}
											</span>
										</div>
										<div class="row customer-data" ng-if="$ctrl.plan.scmParticipant">
											<label class="col-sm-4">
												SCM:
											</label>
											<span class="col-sm-8">
												{{$ctrl.plan.scmParticipant}}
											</span>
										</div>
	<!-- 									<dt>Scorecard Y/N:</dt> -->
	<!-- 									<dd style="padding-bottom: 5px">{{$ctrl.scoreCardYN}}</dd> -->
	
	<!-- 									<dt>Scorecard Level:</dt> -->
	<!-- 									<dd style="padding-bottom: 5px">{{$ctrl.plan.scoreCardLevel}}</dd> -->
	
										<div class="row customer-data">
											<label class="col-sm-4">Plan Scope:</label>
											<span class="col-sm-8">{{$ctrl.plan.planType.planTypeId === 1 ? 'Global' :
												$ctrl.plan.planType.planType}}
												<span ng-if="$ctrl.plan.branch"> ( {{$ctrl.plan.branch}} ) </span>
												<span ng-if="$ctrl.plan.isStrategic">&nbsp;(Strategic Customer)</span>
											</span>
										</div>
										<div class="row customer-data">
											<label class="col-sm-4">Market Segment:</label>
											<span class="col-sm-8">{{$ctrl.plan.marketSegment.marketSegment}}
												({{$ctrl.plan.marketSegment.marketSegmentCode}})</span>
										</div>
										<div class="row customer-data">
											<label class="col-sm-4">D-E-R:</label>
											<span class="col-sm-8">
												<span
													ng-class="$ctrl.positionLabel($ctrl.plan.customerPosition.customerPosition)">
													{{$ctrl.plan.selectedCustomerPosition.display}} </span>
											</span>
										</div>
									</div>
									<div style="width: 45%; display: inline-block; vertical-align: top;">
										<div class="row customer-data">
											<label class="col-sm-6">Annual Revenue:</label>
											<span class="col-sm-6">
											<span ng-if="$ctrl.plan.annualRevenue">${{$ctrl.plan.annualRevenue | number}}</span>
											</span>
										</div>
										<div class="row customer-data">
											<label class="col-sm-6"># Employees:</label>
											<span class="col-sm-6"">{{$ctrl.plan.numberEmployees | number}}</span>
										</div>
										<div class="row customer-data">
											<label class="col-sm-6"># Square Feet:</label>
											<span class="col-sm-6">{{$ctrl.plan.numberSqFt | number}}</span>
										</div>
										<div class="row customer-data">
											<label class="col-sm-6">Year Founded:</label>
											<span class="col-sm-6">{{$ctrl.plan.yearFounded}}</span>
										</div>
										<div class="row customer-data">
											<label class="col-sm-6" ng-if="$ctrl.showVisits()">Quarterly Visits:</label>
											<span class="col-sm-6" ng-if="$ctrl.showVisits()">
												<span tooltip-enable="$ctrl.plan.visitsLastUpdate" uib-tooltip="As of: {{$ctrl.plan.visitsLastUpdate | date}}" tooltip-placement="above">{{$ctrl.plan.visits}}</span> of <span tooltip-enable="$ctrl.plan.targetVisitsLastUpdate" uib-tooltip="As of: {{$ctrl.plan.targetVisitsLastUpdate | date}}" tooltip-placement="above">{{$ctrl.plan.targetVisits}}</span>
											</span>
										</div>
									</div>
								</div>
								<dl class="dl-horizontal" ng-if="$ctrl.isEditable">
									<dt style="padding-bottom: 5px; padding-top: 20px"
										ng-if="$ctrl.plan.planType.planTypeId !== 5">Plan Owner:</dt>
                               		<dd style="padding-bottom: 5px; padding-top: 20px" 
                               			ng-if="$ctrl.plan.planType.planTypeId !== 5">
                               			<lookup-user ng-model="$ctrl.plan.acctManager" style="width: 305px;"></lookup-user>
                               		</dd>
<!-- 									<dt style="padding-bottom: 5px">Scorecard Y/N:</dt> -->
<!-- 									<dd style="padding-bottom: 5px"> -->
<!-- 										<input id="input-scorecard" type="checkbox" name="scoreCard" -->
<!-- 											ng-model="$ctrl.plan.scoreCard" ng-click="$ctrl.swapYN()"> -->
<!-- 										<span style="margin-left: 5px;">{{$ctrl.scoreCardYN}}</span> -->
<!-- 									</dd> -->

<!-- 									<dt style="padding-bottom: 5px">Scorecard Level:</dt> -->
<!-- 									<dd style="padding-bottom: 5px"> -->
<!-- 										<input id="input-scorecard-level" class="form-control" type="text" name="user" -->
<!-- 											ng-model="$ctrl.plan.scoreCardLevel" style="width: 305px"> -->
<!-- 									</dd> -->

									<dt style="padding-bottom: 5px">D-E-R:</dt>
									<dd style="padding-bottom: 5px">
										<select id="select-der" class="form-control"
											ng-model="$ctrl.plan.selectedCustomerPosition"
											style="width: 305px;"
											ng-options="position.display for position in $ctrl.businessPlan.customerPositions track by position.value">
										</select>
									</dd>
									<dt ng-if="$ctrl.showStrategicSwitch()" style="margin-top: 3px">Strategic Customer: </dt>
									<dd ng-if="$ctrl.showStrategicSwitch()">
										<div style="display: inline-block; min-width: 25px;">
											<b>{{$ctrl.plan.isStrategic? 'Yes' : 'No'}}</b>&nbsp;
										</div>
										<label style="margin-top: 3px" class="switch">
											<input ng-model="$ctrl.plan.isStrategic" type="checkbox">
											<span class="slider round"></span>
										</label>
									</dd>
								</dl>
							</div>
						</div>
					</div>

					<div class="panel-body visible-print">
						<div class="row">
							<div class="col-xs-12">
								<dl class="dl-horizontal">
									<dt>Name:</dt>
									<dd style="padding-bottom: 5px">{{$ctrl.plan.customerName}}</dd>
									<dt>Plan Owner:</dt>
									<dd style="padding-bottom: 5px">{{$ctrl.plan.acctManager}}</dd>
									<dt>Scorecard Y/N:</dt>
									<dd style="padding-bottom: 5px">{{$ctrl.scoreCardYN}}</dd>
									<dt>Scorecard Level:</dt>
									<dd style="padding-bottom: 5px">{{$ctrl.plan.scoreCardLevel}}</dd>
									<dt>Scope:</dt>
									<dd style="padding-bottom: 5px">{{$ctrl.plan.planType.planType}}</dd>
									<dt>Market Segment:</dt>
									<dd>{{$ctrl.plan.marketSegment.marketSegment}}
										({{$ctrl.plan.marketSegment.marketSegmentCode}})</dd>
								</dl>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<region plan="$ctrl.plan"></region>
			</div>
		</div>

		<div class="row" style="margin-top: 0;">
			<div class="col-sm-6">
				<div id="panel-customer-objectives" class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title">
							Customer Objectives
							<span id="modify-customer-objectives" class="pull-right" style="font-size: small; font-style: italic;" ng-show="$ctrl.plan.customerObjectiveAuditLog">
								Modified by {{$ctrl.plan.customerObjectiveAuditLog.modifiedBy}} on {{$ctrl.plan.customerObjectiveAuditLog.modifyDateTime}}
							</span>
						</h3>
					</div>
					<div class="panel-body hidden-print"
						style="height: 215px; overflow-y: auto; overflow-x: none; padding-bottom: 0; padding-top: 10px">
						<div ng-if="$ctrl.isEditable" class="form-group" style="margin: 5px; position: relative;">
							<textarea id="textarea-customer-objectives" class="form-control" name="customer-objectives"
								wrap="soft" ng-model="$ctrl.plan.missionCriticalObjectives" rows="8"
								char-limit-label limit="1000" show-on-focus="true">
								{{$ctrl.plan.missionCriticalObjectives}}
							</textarea>
						</div>
						<div ng-if="!$ctrl.isEditable">
							<span style="display: block; white-space: pre-line; margin-top: -1em;">
								{{$ctrl.plan.missionCriticalObjectives}}
							</span>
							
						</div>
					</div>

					<div class="panel-body visible-print"
						style="height: 215px; padding-bottom: 0">
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div  id="panel-tti-objectives" class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title">TTI Objectives
							<span id="modify-tti-objectives" class="pull-right" style="font-size: small; font-style: italic;" ng-show="$ctrl.plan.ttiObjectiveAuditLog">
								Modified by {{$ctrl.plan.ttiObjectiveAuditLog.modifiedBy}} on {{$ctrl.plan.ttiObjectiveAuditLog.modifyDateTime}}
							</span>
						</h3>

					</div>
					<div class="panel-body hidden-print"
						style="height: 215px; overflow-y: auto; overflow-x: none; padding-bottom: 0; padding-top: 10px">
						<div ng-if="$ctrl.isEditable" 
							class="form-group"
							style="margin: 5px; position: relative;">
							<textarea id="textarea-tti-objectives" class="form-control" name="gamObjectives" wrap="soft"
							ng-model="$ctrl.plan.gamObjectives" rows="8"
							char-limit-label limit="1000" show-on-focus="true">
								{{$ctrl.plan.gamObjectives}}
							</textarea>
						</div>
						<div ng-if="!$ctrl.isEditable">
							<span style="display: block; white-space: pre-line; margin-top: -1em;">
								{{$ctrl.plan.gamObjectives}}
							</span>
						</div>
					</div>

					<div class="panel-body visible-print"
						 style="height: 215px; padding-bottom: 0">
						<div>
							<span style="display: block; white-space: pre-line; margin-top: -1em;">
								{{$ctrl.plan.gamObjectives}}
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row" style="margin: 0;">

			<div class="col-xs-12" style="padding-right: 0; padding-left: 0;">
				<div id="panel-landscape" class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title">Landscape
							<span id="modify-landscape" class="pull-right" style="font-size: small; font-style: italic;" ng-show="$ctrl.plan.landscapeAuditLog">
								Modified by {{$ctrl.plan.landscapeAuditLog.modifiedBy}} on {{$ctrl.plan.landscapeAuditLog.modifyDateTime}}
							</span>
						</h3>
					</div>
					<div class="panel-body hidden-print"
						style="height: 215px; overflow-y: auto; padding-bottom: 0; padding-top: 10px">
						<div ng-if="$ctrl.isEditable" class="form-group" style="margin: 5px; position: relative;">
							<textarea id="textarea-landscape" class="form-control" name="landScape" wrap="soft"
								ng-model="$ctrl.plan.landscape" rows="8"
								char-limit-label limit="4000" show-on-focus="true">
								{{$ctrl.plan.landscape}}
							</textarea>
						</div>
						<div ng-if="!$ctrl.isEditable">
							<span style="display: block; white-space: pre-line; margin-top: -1em;">
								{{$ctrl.plan.landscape}}
							</span>
						</div>
					</div>

					<div class="panel-body visible-print">
						<span style="display: block; white-space: pre-line; margin-top: -1em;">
							{{$ctrl.plan.landscape}}
						</span>
					</div>

				</div>
			</div>
		</div>

	</form>
</div>

<style>
.customer-data {
	margin-top: 8px;
}
.customer-data > label {
	text-align: right;
}
</style>

<script type="text/ng-template" id="multipleIsrList.html">
	<div>
	<span style="display: block" ng-repeat="isr in $ctrl.insideSalesPersonList">{{isr}}</span>
	</div>
</script>