<div class="row">
	<div class="col-xs-10" style="background-color: #fff; padding-top: 1%; min-height: 590px;">
		<div class="row" style="margin: 0;">
			<div style="display:inline-block; white-space: nowrap; margin-right: 20px;">
				<b ng-click="$ctrl.filter.submitted = !$ctrl.filter.submitted" class="cursor-pointer">Submitted:&nbsp;&nbsp;</b>
				<input ng-model="$ctrl.filter.submitted" type="checkbox">&nbsp;&nbsp;
			</div>
			<div style="display:inline-block; white-space: nowrap; margin-right: 20px;">
				<b ng-click="$ctrl.filter.pending = !$ctrl.filter.pending" class="cursor-pointer">Pending:&nbsp;&nbsp;</b>
				<input ng-model="$ctrl.filter.pending" type="checkbox">&nbsp;&nbsp;
			</div>
			<div style="display:inline-block; white-space: nowrap; margin-right: 20px;">
				<b ng-click="$ctrl.filter.assigned = !$ctrl.filter.assigned" class="cursor-pointer">Assigned:&nbsp;&nbsp;</b>
				<input ng-model="$ctrl.filter.assigned" type="checkbox">&nbsp;&nbsp;
			</div>
			<div style="display:inline-block; white-space: nowrap; margin-right: 20px;">
				<b ng-click="$ctrl.filter.wrongBranch = !$ctrl.filter.wrongBranch" class="cursor-pointer">Wrong Branch:&nbsp;&nbsp;</b>
				<input ng-model="$ctrl.filter.wrongBranch" type="checkbox">&nbsp;&nbsp;
			</div>
			<div style="display:inline-block; white-space: nowrap; margin-right: 20px;">
				<b ng-click="$ctrl.filter.notSupporting = !$ctrl.filter.notSupporting" class="cursor-pointer">Not Supporting:&nbsp;&nbsp;</b>
				<input ng-model="$ctrl.filter.notSupporting" type="checkbox">&nbsp;&nbsp;
			</div>
			<div style="display:inline-block; white-space: nowrap; margin-right: 20px;">
				<b ng-click="$ctrl.filter.discarded = !$ctrl.filter.discarded" class="cursor-pointer">Discarded:&nbsp;&nbsp;</b>
				<input ng-model="$ctrl.filter.discarded" type="checkbox">&nbsp;&nbsp;
			</div>
			
			<div style="display:inline-block; white-space: nowrap; margin-right: 20px;">
				<b ng-click="$ctrl.filter.hideQualified = !$ctrl.filter.hideQualified" class="cursor-pointer">Hide Qualified:&nbsp;&nbsp;</b>
				<input ng-model="$ctrl.filter.hideQualified" type="checkbox">&nbsp;&nbsp;
			</div>
		</div>
		<div style="background-color: #276ab0; height: 36px; border-bottom: 2px solid #ddd;">
			<div style="width: calc(100% - 17px); display: inline-block;">
				<table id="accountsTable" class="table" style="margin: 0;">
					<thead>                
						<tr class="table-header-inverse" style="white-space: nowrap">
							<th style="width: 3%;"></th>
							<th style="width: 14%; padding-left: 5px;">
								<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('customerName',!$ctrl.sort.reverse)">Customer Name</a>
								<span class="sortorder" ng-show="$ctrl.sort.type === 'customerName'" ng-class="{reverse:$ctrl.sort.reverse}"></span>	
							</th>
							<th style="width: 12%;">
								<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('city',!$ctrl.sort.reverse)">City</a>
								<span class="sortorder" ng-show="$ctrl.sort.type === 'city'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
							</th>
							<th style="width: 10%;">
								<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('state',!$ctrl.sort.reverse)">State</a>
								<span class="sortorder" ng-show="$ctrl.sort.type === 'state'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
							</th>
							<th style="width: 12%;">
								<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('country',!$ctrl.sort.reverse)">Country</a>
								<span class="sortorder" ng-show="$ctrl.sort.type === 'country'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
							</th>
							<th style="width: 8%;">
								<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('postalCode',!$ctrl.sort.reverse)">Postal Code</a>
								<span class="sortorder" ng-show="$ctrl.sort.type === 'postalCode'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
							</th>
							<th style="width: 12%;">
								<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('submitterName',!$ctrl.sort.reverse)">Submitter</a>
								<span class="sortorder" ng-show="$ctrl.sort.type === 'submitterName'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
							</th>
							<th style="width: 10%; text-align: center;">
								<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('lastUpdateDate',!$ctrl.sort.reverse)">Last Update</a>
								<span class="sortorder" ng-show="$ctrl.sort.type === 'lastUpdateDate'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
							</th>
							<th style="width: 10%; min-width: 145px; text-align: center">
								<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('status',!$ctrl.sort.reverse)">Status</a>
								<span class="sortorder" ng-show="$ctrl.sort.type === 'status'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
							</th>
						</tr>                                
					</thead>
				</table>
			</div>
		</div>
		
		<div style="height: 500px; width: 100%; overflow-y: scroll; overflow-x: hidden; background-color:white;">
			<table class="table table-hover">
				<tbody>
					<tr ng-if="$ctrl.pendingCustomers === undefined">
						<td colspan="7">
							<div class="cssload-loader">
								<div></div>
								<div></div>
								<div></div>
								<div></div>
								<div></div>
								<div></div>
							</div>
						</td>
					</tr>
					<tr ng-if="$ctrl.pendingCustomers === []">
						<td class="text-muted text-center">
							<span>
								<i class="fal fa-frown fa-4x"></i>
							</span>
							<span style="font-size: large; display: block;">
								There are no pending customers.
							</span>
						</td>
					</tr>
					<tr ng-if="$ctrl.pendingCustomers.length > 0" class="show-on-hover-parent" ng-repeat="pendingCustomer in $ctrl.pendingCustomers | filter:statusFilter | orderBy: $ctrl.sort.type : $ctrl.sort.reverse track by $index">
						<td style="width: 3%;">
							<span ng-if="!pendingCustomer.qualifierUserName" ng-click="$ctrl.qualifyPendingCustomer(pendingCustomer)" class="show-on-hover cursor-pointer" uib-tooltip="Qualify" tooltip-append-to-body="true" style="padding-right: 10px;">
								<i class="far fa-search"></i>
							</span>
							<span ng-if="pendingCustomer.status === 'Wrong Branch'" ng-click="$ctrl.qualifyPendingCustomer(pendingCustomer)" class="show-on-hover cursor-pointer" uib-tooltip="Edit" tooltip-append-to-body="true" style="padding-right: 10px;">
								<i class="far fa-pencil"></i>
							</span>
						</td>
						<td style="width: 14%; padding-left: 5px;">
							<span ng-if="!pendingCustomer.planId" style="word-break: break-all;">{{pendingCustomer.customerName}}</span>
							<a ng-if="pendingCustomer.planId" class="cursor-pointer" ng-click="$ctrl.goToPlan(pendingCustomer.planId)" style="word-break: break-all;">
								{{pendingCustomer.customerName}}
							</a>
						</td>
						<td style="width: 12%; word-break: break-all;">{{pendingCustomer.city}}</td>
						<td style="width: 10%; word-break: break-all;">{{pendingCustomer.state}}</td>
						<td style="width: 12%; word-break: break-all;">{{pendingCustomer.country}}</td>
						<td style="width: 8%; word-break: break-all;">{{pendingCustomer.postalCode}}</td>
						<td style="width: 12%; word-break: break-all;">{{pendingCustomer.submitterName}}</td>
						<td style="width: 10%; text-align: center">{{pendingCustomer.updateDate | date:"MM/dd/yyyy"}}</td>
						<td style="width: 10%; min-width: 145px">
							<div style="white-space: nowrap; text-align: right">
								<span ng-if="pendingCustomer.reason || pendingCustomer.note" class="cursor-pointer" uib-popover-template="'pendingCustomerStatus.html'"
	                            popover-title="{{pendingCustomer.status}}" popover-append-to-body="true" popover-placement="left" popover-trigger="'mouseenter'">
	                            	<i class="fas fa-question-circle"></i>
	                            </span>
								{{pendingCustomer.status}}
								<div style="display: inline-flex; width: 15px;">
									<span ng-if="pendingCustomer.status === 'Submitted' ||pendingCustomer.status === 'Wrong Branch'" ng-click="$ctrl.discardPendingCustomer(pendingCustomer)" uib-tooltip="Discard" tooltip-append-to-body="true" style="float: right; padding-left: 5px" class="text-danger show-on-hover cursor-pointer"><i class="far fa-trash-alt"></i></span>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-xs-6" style="padding-top: 1%;">
	
	</div>
</div>

<script type="text/ng-template" id="pendingCustomerStatus.html">
	<div ng-switch="pendingCustomer.status">
		<div ng-switch-when="Not Supporting">
			<i>{{pendingCustomer.reason}}</i>
			<div style="width: 100%; text-align: right">-{{pendingCustomer.updaterName}}</div>
		</div>
		<div ng-switch-when="Discarded">
			<i>{{pendingCustomer.reason}}</i>
			<div style="width: 100%; text-align: right">-{{pendingCustomer.updaterName}}</div>
		</div>
		<div ng-switch-when="Wrong Branch">
			<b>{{pendingCustomer.updaterName}}</b> has indicated that this customer does not belong to the following branch(es):
			<i>{{pendingCustomer.note}}</i>
		</div>
	</div>
</script>
					
