<div class="modal-header bg-warning wrapper-md text-center"
	style="border-radius: 10px 10px 0px 0px;">
	<button class="close pull-right" type="button"
		ng-click="$ctrl.cancel()">&times;</button>
	<p class="modal-title">Submit Call Report?</p>
</div>
<div class="modal-body" style="padding: 25px;">
	<div style="display: inline-block;">
		Submitting this call report will update the TMW.<br> Please
		confirm that the indicated visit date is correct:
	</div>
	<div style="display: inline-block; width: 175px; float: right;">
		<form name="$ctrl.callReportConfirmationForm">
			<p class="input-group" style="margin: 0">
				<input name="callDate" type="text" class="form-control"
					uib-datepicker-popup="MM/dd/yyyy" ng-model="$ctrl.callDate"
					is-open="$ctrl.callDateCalendarOpen"
					datepicker-options="dateOptions" close-text="Close"
					autocomplete="off"> <span class="input-group-btn">
					<button type="button" class="btn btn-default"
						ng-click="$ctrl.callDateCalendarOpen = !$ctrl.callDateCalendarOpen;">
						<i id="calendar" class="far fa-calendar-alt"></i>
					</button>
				</span>
			</p>
			<span ng-if="!$ctrl.validateDate()" style="color: red;">Invalid Visit Date!</span>
		</form>
	</div>
</div>
<div class="modal-footer" style="margin-top: 0;">
	<button class="btn btn-primary" ng-disabled="!$ctrl.validateDate()" ng-click="$ctrl.submit()">		
		Submit
	</button>
	<button class="btn btn-default" ng-click="$ctrl.cancel()">
		Cancel
	</button>
</div>

<style>
.uib-datepicker-popup {
	left: 0 !important;
}
</style>
