<div class="widget-header-inverse" style="width: 100%; display: inline-block; border-bottom: 2px solid #276ab0">
	<span><a ui-sref="tmw" style="color: whitesmoke">{{$ctrl.totalVisits ? $ctrl.totalVisits : 0}} of {{$ctrl.targetVisits ? $ctrl.targetVisits : 0}} Target Visits - Q{{$ctrl.quarter}} | {{$ctrl.year}}</a></span>
	<span style="float: right"><a ui-sref=topLevelCallReports style="color: whitesmoke">{{$ctrl.drafts.length > 0 ? $ctrl.drafts.length : 'No'}} Draft{{$ctrl.drafts.length === 1? '' : 's'}}</a></span>
<!--
	<span style="float: center; margin-left: 45px">
		<a ng-click="$ctrl.openCallReportsPage()" class="cursor-pointer" style="float: center; color:whitesmoke">View All</a>
	</span>
-->
</div>

<div style="width: 100%; height: calc(100% - 30px); overflow: hidden; white-space: nowrap">
	<div style="display: inline-block; width: 40%; height: 100%; padding: 15px">
		<canvas id="visitsDonut"
			class="chart chart-doughnut"
			chart-data="$ctrl.data" 
			chart-colors="$ctrl.colors"
			chart-options="$ctrl.options"
			width="100"
			height="100"
			></canvas>
	</div>
	<div style="width: 60%; display: inline-block; vertical-align: top; overflow-y: auto; height: 100%;">
		<div ng-if="$ctrl.drafts.length > 0" style="height: 100%">
			<div ng-repeat="draft in $ctrl.drafts" style="border-bottom: 1px solid lightgray; padding: 4px; padding-right: 8px; overflow: hidden">
				<a ng-click="$ctrl.openDraft(draft)" style="font-weight: 600; cursor: pointer; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display: inline-block; width: 60%; vertical-align: top">{{draft.customerName}}</a>
				<b style="float: right">{{draft.callDate | date:"MM/dd/yyyy"}}</b>
				<div style="font-style: italic">
					<span style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display: block">{{draft.topic}}</span>
				</div>
			</div>
			<div style="padding: 5px 10px 5px 10px; display: flex; justify-content: center">
				<b ng-click="$ctrl.createNewCallReport()"><a class="cursor-pointer">+ New Draft</a></b>
			</div>
		</div>
		<div ng-if="$ctrl.drafts.length === 0"  class="text-center text-muted" style="display: flex; justify-content: center; align-items: center; height: 100%">
			<div style="padding-top: 2px">
				<i class="fas fa-file-alt fa-2x"></i>
				<br>
				<b style="font-size: large;">
					No Drafts to Display
				</b>
				<br>
				<a ng-click="$ctrl.createNewCallReport()" class="cursor-pointer">Click here to create one.</a>		
			</div>		
		</div>
	</div>
</div>

<style>
.summary {
	overflow: hidden;
}

.summary-expanded {
	max-height: auto;
}

.summary-collapsed {
	max-height: 0;
}

.dreg-footer>td {
	padding-top: 4px !important;
}
</style>