<div class="row">
	<div class="col-xs-12">
		<div class="page-nav"
			style="padding: 15px; line-height: 12px; text-align: left; height: auto;">
			<h1 class="text-uppercase"
				style="margin-top: 0; font: 600 1.5em/1 'Raleway', sans-serif;">{{$ctrl.headerTitle}}</h1>
			<p style="padding-left: 15px; margin: 0">{{$ctrl.headerMessage}}
			</p>
		</div>

		<div class="panel"
			ng-class="$ctrl.isBugPage? 'panel-danger' : 'panel-info'"
			style="width: 50%; margin: 0 auto; margin-top: 20px; box-shadow: 3px 3px 3px #888888;">
			<div class="panel-heading">
				<h4 class="panel-title">{{$ctrl.feedbackHeader}}</h4>
			</div>
			<div class="panel-body">
				<form name="$ctrl.feedbackForm">
					<div class="form-group">
						<textarea class="form-control" style="width: 100%;" rows="5"
							ng-model="$ctrl.newIssue"></textarea>
					</div>
					<div style="display: inline-block; padding-left: 15px;">
						<label>Feature: </label>
						<div style="height: wrap; margin-left: 15px" class="btn-group"
							uib-dropdown>
							<button class="form-control" data-toggle="dropdown"
								uib-dropdown-toggle>
								<span style="padding-right: 5px;">{{$ctrl.selectedFeature.feature}}</span><span
									class="caret"></span>
							</button>
							<ul uib-dropdown-menu>
								<li ng-repeat="feature in $ctrl.features"
									ng-click="$ctrl.selectFeature(feature)"><a>{{feature.feature}}</a>
								</li>
							</ul>
						</div>
					</div>
					<div style="display: inline-block" class="pull-right">
						<button ng-click="$ctrl.filterRelated()" class="btn btn-default"
							uib-tooltip="Show Related Suggestions">
							<i class="fas fa-search"></i>&nbsp;&nbsp;Related
						</button>
						<!-- 						<button class="btn btn-default" ng-click="$ctrl.form.reset()"> -->
						<!-- 							Reset</button> -->
						<button class="btn btn-primary" ng-click="$ctrl.form.submit()"
							ng-disabled="$ctrl.newIssue.length === 0">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<div style="margin-top: 5px; margin-left: 10px;">
	<b>Filtered By:</b>
	<div ng-if="!$ctrl.featureFilter" style="margin-left: 7px;"
		class="badge">All</div>
	<div ng-if="$ctrl.featureFilter" style="margin-left: 7px;"
		class="badge">
		{{$ctrl.featureFilter.feature}} <span uib-tooltip="Remove Filter"
			tooltip-append-to-body="true" ng-click="$ctrl.featureFilter = null"
			style="margin-left: 3px; vertical-align: middle;"
			class="cursor-pointer"> <i class="fas fa-times-circle"></i>
		</span>
	</div>
</div>

<div class="row" style="margin-bottom: 40px; margin-top: 5px;">
	<div class="col-lg-6">
		<div class="rounded-corners bg-white"
			style="padding: 15px 0px 15px 15px; overflow-y: hidden; min-width: 580px">
			<div
				style="max-height: 600px; overflow-y: scroll; overflow-x: hidden; padding-right: 8px;">
				<div
					ng-repeat="item in $ctrl.openIssues | filter:{feature:{featureId: $ctrl.featureFilter.featureId}}:true as openIssues track by item.feedbackId">
					<feedback-item ng-model="item" index="$index" features="$ctrl.features"></feedback-item>
				</div>
			</div>
			<b ng-if="openIssues.length === 0" style="color: gray">No open {{$ctrl.isBugPage?
				'bug reports' : 'suggestions'}} to display.</b>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="rounded-corners bg-white"
			style="padding: 15px 0px 15px 15px; overflow-y: hidden; min-width: 580px">
			<div
				style="max-height: 600px; overflow-y: scroll; overflow-x: hidden; padding-right: 8px;">
				<div
					ng-repeat="item in $ctrl.addressedIssues | filter:{feature:{featureId: $ctrl.featureFilter.featureId}}:true as addressedIssues track by item.feedbackId">
					<feedback-item ng-model="item" index="$index" features="$ctrl.features"></feedback-item>
				</div>
			</div>
			<b ng-if="addressedIssues.length === 0" style="color: gray">No addressed
				{{$ctrl.isBugPage? 'bug reports' : 'suggestions'}} to display.</b>
		</div>
	</div>
</div>

<style>
.button-set>button {
	margin-right: 5px;
}

.button-set>button {
	height: 25px;
	width: 25px;
}

.bg-royalblue {
	background-color: #337AB7;
	color: white;
}

.bg-brightred {
	background-color: #d34747;
	color: white;
}
</style>