<div class="modal-header bg-primary wrapper-sm text-center">
	<button class="close pull-right" type="button" ng-click="$ctrl.cancel()">&times;</button>
	<p class="modal-title">Validate Customer</p>
</div>
<div class="modal-body">
	<error-modal ng-model="$ctrl.clientError"></error-modal>
	<div ng-show="!$ctrl.clientError.message" style="margin-bottom: 15px;">
		<form class="form-horizontal">
			<fieldset>
				<div class="row">	
					<div class="col-sm-1" style="padding-right: 0px; text-align: right;  margin-top: 5px;">
						<input style="height: 17px; width: 17px"  type="radio" name="rdoSelection" ng-model="$ctrl.selection" ng-value="'assign'">	
					</div>				
					<label class="col-sm-3 cursor-pointer" style="margin-top: 7px;" ng-click="$ctrl.selection = 'assign'">Assign Owner:</label>
					<div class="col-sm-7">
						<lookup-user ng-model="$ctrl.osrName" min-length="2" osr="true" placeholder="$ctrl.placeholder" 
						on-select="$ctrl.selectOsr($item.fullName)"></lookup-user>
					</div>
					<div class="col-sm-12" style="height: 45px;"></div>
				</div>
				<div class="row">
					<div class="col-sm-1" style="padding-right: 0px; text-align: right;  margin-top: 5px;">
						<input style="height: 17px; width: 17px"  type="radio" name="rdoSelection" ng-model="$ctrl.selection" ng-value="'notSupporting'">	
					</div>
					<label class="col-sm-3 cursor-pointer" style="margin-top: 7px;" ng-click="$ctrl.selection = 'notSupporting'">Not Supporting</label>
					<label class="col-sm-8" ng-class="($ctrl.selection !== 'notSupporting')? 'mute' : ''" style="margin-top: 7px;">Reason?</label>
					<div class="col-sm-4"></div>
					<div class="col-sm-7">
						<textarea ng-model="$ctrl.rejectReason" id="notSupportingInput" style="height: 60px" class="form-control"></textarea>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-1" style="padding-right: 0px; text-align: right;  margin-top: 5px;">
						<input style="height: 17px; width: 17px"  type="radio" name="rdoSelection" ng-model="$ctrl.selection" ng-value="'wrongBranch'">	
					</div>						
					<label class="col-sm-10 cursor-pointer" style="margin-top: 7px;" ng-click="$ctrl.selection = 'wrongBranch'">Customer not in territory.</label>
<!-- 					<label class="col-sm-6" ng-class="($ctrl.selection !== 'wrongBranch')? 'mute' : ''" style="margin-top: 7px;">Do you know the correct branch?</label> -->
<!-- 					<div class="col-sm-6" style="height: 35px;"></div> -->
<!-- 					<div class="col-sm-5"> -->
<!-- 						<input ng-model="$ctrl.wrongBranchResponse" id="wrongBranchInput" class="form-control" autocomplete="off" type="text"/> -->
<!-- 					</div> -->
				</div>
			</fieldset>
		</form>
	</div>
</div>
<div class="modal-footer" style="margin-top: 0;">
	<div style="position: relative;">
		<button style="position: absolute; right: 70px;" ng-show="$ctrl.selection === 'assign'" class="btn btn-primary" ng-disabled="!$ctrl.selectedOsr" ng-click="$ctrl.assign()">		
			Assign
		</button>
		<button style="position: absolute; right: 70px;" ng-show="$ctrl.selection === 'wrongBranch'" class="btn btn-warning" ng-click="$ctrl.notifyWrongBranch()">		
			Notify
		</button>
		<button style="position: absolute; right: 70px;" ng-show="$ctrl.selection === 'notSupporting'" class="btn btn-danger" ng-disabled="!$ctrl.rejectReason" ng-click="$ctrl.reject()">		
			Reject
		</button>
	</div>
	<button class="btn btn-default" ng-click="$ctrl.cancel()">
		Cancel
	</button>
</div>

<style>
.mute{
	color: darkgray !important;
}
</style>
