<div class="modal-header bg-primary wrapper-sm text-center">
	<button class="close pull-right" type="button"
		ng-click="$ctrl.cancel()">&times;</button>
	<p class="modal-title">{{$ctrl.modalTitle}}</p>
</div>
<div class="modal-body" style="padding-top: 0">
	<div ng-show="!$ctrl.clientError.message">
		<div ng-if="$ctrl.oldProject">
			<div class="col-sm-12" style="text-align: center; color: orange; padding-bottom: 12px;">
				<b>Original Project</b>
			</div>
			<div class="row" style="padding-left: 20px;">
				<div class="col-sm-3">
					<b style="border-bottom: 1px solid lightgray;">Customer (Business Partner)</b>
				</div>
				<div class="col-sm-3">
					<b style="border-bottom: 1px solid lightgray;">Location</b>
				</div>
				<div class="col-sm-3">
					<b style="border-bottom: 1px solid lightgray;">Project Name</b>
				</div>
				<div class="col-sm-3">
					<b style="border-bottom: 1px solid lightgray;">Est. Annual Revenue</b>
				</div>
				
				<div class="col-sm-3">
					<span>{{$ctrl.oldProject.customer}}</span>
				</div>
				<div class="col-sm-3">
					<span>{{$ctrl.oldProject.locationName}}</span>
				</div>
				<div class="col-sm-3">
					<span>{{$ctrl.oldProject.projectName}}</span>
				</div>
				<div class="col-sm-3">
					<span>{{$ctrl.oldProject.estAnnualRev}}</span>
				</div>
				
				<div class="col-sm-12" style="height: 15px"></div>
				
				
				
				<div class="col-sm-3">
					<b style="border-bottom: 1px solid lightgray;">End Customer Contact</b>
				</div>
				<div class="col-sm-3">
					<b style="border-bottom: 1px solid lightgray;">CM Program Manager</b>
				</div>
				<div class="col-sm-6">
					<b style="border-bottom: 1px solid lightgray;">CM Location</b>
				</div>
				
				
				<div class="col-sm-3">
					<span>{{$ctrl.oldProject.customerContact}}</span>
				</div>
				<div class="col-sm-3">
					<span>{{$ctrl.oldProject.cmMgr}}</span>
				</div>
				<div class="col-sm-6">
					<span>{{$ctrl.oldProject.cmLocation}}</span>
				</div>
			</div>
			<hr style="margin-bottom: 10px">
			<div class="col-sm-12" style="text-align: center; color: #337ab7; padding-bottom: 12px;">
					<b>New Project</b>
				</div>
		</div>
		<form name="$ctrl.vbsProjectForm" id="vbsProjectForm" class="form-horizontal" novalidate>
			<div class="row">
				<label class="col-sm-2 control-label">Business Partner: </label>
				<div class="col-sm-4" style="position: relative">
					<lookup-plan min-length="3" ng-model="$ctrl.project.businessPartnerName" business-partners="true" on-select="$ctrl.selectPartner($item)" lookup-placeholder="'Search by Name or Account...'" hide-info="true"></lookup-plan>
					<span style="position: absolute; top: 36px; right: 16px; font-size: 13px; text-align: right">
						<a class="cursor-pointer" ng-click="$ctrl.createNewCustomer()">Submit New Customer...</a>
					</span>
				</div>
				<label class="col-sm-2 control-label"><span uib-tooltip="*Required, must be unique">*</span>Project Name: </label>
				<div class="col-sm-4">
					<div class="project-selector" uib-dropdown>
						<input required name="projectName" ng-model="$ctrl.project.projectName" class="form-control" type="text" ng-change="$ctrl.verifyUnique()" uib-dropdown-toggle>
						<ul uib-dropdown-menu class="existing-project-menu" ng-show="(customerOmsProjects.length + customerVbsProjects.length + partnerOmsProjects.length + partnerVbsProjects.length) > 0 || $ctrl.loadingCustomerProjects" style="padding-top: 0px; min-width: 260px;">
							<p class="message">Existing Projects...</p>
							<div style="max-height: 230px; overflow-y: auto">
								<li ng-show="(customerOmsProjects.length + customerVbsProjects.length) > 0 || $ctrl.loadingCustomerProjects" ng-click="$ctrl.toggleCustomerProjects($event)"
								 style="text-align: center; background-color: #e1ffd6; border-bottom: green solid 1px; padding-right: 12px" class="cursor-pointer">
									<b>{{$ctrl.plan.customerName}} Projects</b>
									<div style="width: 10px; display: inline-block; float: right; position: relative">
										<span ng-show="!$ctrl.showCustomerProjects" style="width: 10px; position: absolute">
											<i class="fas fa-caret-right"></i>
										</span>
										<span ng-show="$ctrl.showCustomerProjects" style="width: 10px; position: absolute">
											<i class="fas fa-caret-down"></i>
										</span>
									</div>
								</li>
								<li ng-show="customerOmsProjects.length > 0 && $ctrl.showCustomerProjects" style="text-align: center; background: #f7f7f7; border-width: 1px 0 1px 0; border-style: solid; border-color: #ddd;"
								ng-click="$ctrl.interceptEvent($event)">
									OMS Projects
								</li>
								<li ng-if="$ctrl.loadingCustomerProjects" style="height: 30px; padding-top: 5px; text-align: center"><span style="padding-right: 10px;"><i id="spinner" class="far fa-spinner-third"></i></span><b>Loading Customer OMS Projects...</b></li>
								<li ng-repeat="customerOmsProject in $ctrl.customerOmsProjects | orderBy: 'customerOmsProject.projectName' | filter:{projectName: $ctrl.project.projectName} as customerOmsProjects" ng-show="$ctrl.showCustomerProjects" ng-click="$ctrl.openOmsProject($ctrl.plan.planId, customerOmsProject)">
									<a>
								        <b>{{customerOmsProject.projectName}}</b> | {{customerOmsProject.ownerName}}
								    </a>
								</li>
								<li ng-show="customerVbsProjects.length > 0 && $ctrl.showCustomerProjects" style="text-align: center; background: #f7f7f7; border-width: 1px 0 1px 0; border-style: solid; border-color: #ddd"
								ng-click="$ctrl.interceptEvent($event)">
									Production Projects
								</li>
								<li ng-repeat="customerVbsProject in $ctrl.customerVbsProjects | orderBy: 'customerVbsProject.projectName' | filter:{projectName: $ctrl.project.projectName} | filter:customerVbsProjectFilter()  as customerVbsProjects" ng-show="$ctrl.showCustomerProjects" ng-click="$ctrl.openVbsProject($ctrl.plan.planId, customerVbsProject)">
									<a>
								        <b>{{customerVbsProject.projectName}}</b> | {{customerVbsProject.programManagerName}}
								    </a>
								</li>
								
								<li ng-show="partnerOmsProjects.length + partnerVbsProjects.length > 0 || $ctrl.loadingPartnerProjects" ng-click="$ctrl.togglePartnerProjects($event)"
								 style="text-align: center; background-color: #fce2b3; border-bottom: orange solid 1px; padding-right: 12px" class="cursor-pointer">
									<b>{{$ctrl.project.businessPartnerName}} Projects</b>
									<div style="width: 10px; display: inline-block; float: right; position: relative">
										<span ng-show="!$ctrl.showPartnerProjects" style="width: 10px; position: absolute">
											<i class="fas fa-caret-right"></i>
										</span>
										<span ng-show="$ctrl.showPartnerProjects" style="width: 10px; position: absolute">
											<i class="fas fa-caret-down"></i>
										</span>
									</div>
								</li>
								<li ng-if="$ctrl.loadingPartnerProjects" style="height: 30px; padding-top: 5px; text-align: center"><span style="padding-right: 10px;"><i id="spinner" class="far fa-spinner-third"></i></span><b>Loading Partner Projects...</b></li>
								<li ng-show="partnerOmsProjects.length > 0 && $ctrl.showPartnerProjects" style="text-align: center; background: #f7f7f7; border-width: 1px 0 1px 0; border-style: solid; border-color: #ddd;"
								ng-click="$ctrl.interceptEvent($event)">
									OMS Projects
								</li>
								<li ng-show="$ctrl.showPartnerProjects" ng-repeat="partnerOmsProject in $ctrl.partnerOmsProjects | orderBy: 'partnerProject.projectName' | filter:{projectName: $ctrl.project.projectName} as partnerOmsProjects" ng-click="$ctrl.openOmsProject($ctrl.project.businessPartnerPlanId, partnerOmsProject)">
									<a>
								        <b>{{partnerOmsProject.projectName}}</b> | {{partnerOmsProject.ownerName}}
								    </a>
								</li>
								<li ng-show="partnerVbsProjects.length > 0 && $ctrl.showPartnerProjects" style="text-align: center; background: #f7f7f7; border-width: 1px 0 1px 0; border-style: solid; border-color: #ddd;"
								ng-click="$ctrl.interceptEvent($event)">
									Production Projects
								</li>
								<li ng-show="$ctrl.showPartnerProjects" ng-repeat="partnerVbsProject in $ctrl.partnerVbsProjects | orderBy: 'partnerProject.projectName' | filter:{projectName: $ctrl.project.projectName} as partnerVbsProjects" ng-click="$ctrl.openVbsProject($ctrl.project.businessPartnerPlanId, partnerVbsProject)">
									<a>
								        <b>{{partnerVbsProject.projectName}}</b> | {{partnerVbsProject.programManagerName}}
								    </a>
								</li>
							</div>
						</ul>
					</div>
				</div>
			</div>
			
			<div class="row">
				<label class="col-sm-2 control-label">Partner Contact: </label>
				<div class="col-sm-4">
					<div class="contact-selector" uib-dropdown>
						<input type="text" placeholder="Search by Name..." ng-model="$ctrl.project.businessPartnerContactName"
                   		 class="form-control" autocomplete="off" ng-disabled="!$ctrl.project.businessPartnerName" uib-dropdown-toggle>
						<ul uib-dropdown-menu ng-show="contacts.length > 0 || $ctrl.loadingPartnerContacts" style="padding-top: 0px; min-width: 260px;">
							<li ng-if="project.loadingPartnerContacts" style="height: 30px; padding-top: 5px; text-align: center"><span style="padding-right: 10px;"><i id="spinner" class="far fa-spinner-third"></i></span><b>Loading Partner Contacts...</b></li>
							<li ng-repeat="contact in $ctrl.partnerContacts | orderBy: 'delegateLastName' | filter:{delegateName: $ctrl.project.businessPartnerContactName} as contacts" ng-click="$ctrl.selectContact(contact)">
								<a>
							        <b>{{contact.delegateName}}</b> | <span>{{contact.delegateTitle}}</span>
							    </a>
							</li>
						</ul>
					</div>
				</div>
				<label class="col-sm-2 control-label" style="white-space: nowrap">Est. Annual Revenue: </label>
				<div class="col-sm-4">
					<input ng-model="$ctrl.project.estAnnualRevenue" class="form-control" type="number" />
				</div>
			</div>
			
			<div class="row">
				<label class="col-sm-2 control-label">First Production: </label>
				<div class="col-sm-3">
					<p class="input-group">
	                    <input type="text" 
                           class="form-control" 
                           uib-datepicker-popup="MM/dd/yyyy" 
                           ng-model="$ctrl.project.firstProductionDate" 
                           is-open="$ctrl.calendarFirstProductionOpen" 
                           datepicker-options="dateOptions"                            
                           close-text="Close"	
                           ng-blur="$ctrl.changed(project)">
	                    <span class="input-group-btn">
		                    <button type="button" class="btn btn-default" ng-click="$ctrl.calendarFirstProductionOpen = !$ctrl.calendarFirstProductionOpen">
		                        <i id="calendar" class="far fa-calendar-alt"></i>
		                    </button>
	                    </span>
					</p>
				</div>
				<label class="col-sm-2 control-label" style="white-space: nowrap">{{$ctrl.year.current}} Qty: </label>
				<div class="col-sm-2">
					<input ng-model="$ctrl.project.unitProduction" class="form-control" type="number" />
				</div>
				<label class="col-sm-1 control-label" style="white-space: nowrap">{{$ctrl.year.next}} Qty: </label>
				<div class="col-sm-2">
					<input ng-model="$ctrl.project.unitForecast" class="form-control" type="number" />
				</div>
			</div>
			
			<div class="row" style="margin-top: 10px">
				<div class="col-sm-12">
					<label class="col-sm-6" style="text-align: center; border-bottom: 1px solid lightgray">Planned Modification</label>
				</div>
				<label class="col-sm-1 control-label" style="white-space: nowrap">Reason: </label>
				<div class="col-sm-2" style="padding: 0">
					<div style="height: wrap; width: 100%" class="btn-group" uib-dropdown>
                        <button class="form-control" style="white-space: nowrap" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
                            uib-dropdown-toggle>
                            <span style="display: inline-block; width: 80%; overflow-x: hidden">{{$ctrl.project.plannedModification.planMod}}</span>
                            <span style="float: right; margin-top: 8px;" class="caret"></span>
                        </button>
                        <ul uib-dropdown-menu>
                            <li ng-repeat="plannedModification in $ctrl.plannedModifications" ng-click="$ctrl.project.plannedModification = plannedModification;"><a>{{plannedModification.planMod}}</a></li>
                        </ul>
                    </div>
				</div>
				<label class="col-sm-1 control-label" style="white-space: nowrap">Date: </label>
				<div class="col-sm-2" style="padding: 0">
					<p class="input-group">
	                    <input type="text" 
	                           class="form-control" 
	                           uib-datepicker-popup="MM/dd/yyyy" 
	                           ng-model="$ctrl.project.plannedModificationDate" 
	                           is-open="$ctrl.calendarPlannedModicationOpen" 
	                           datepicker-options="dateOptions"                            
	                           close-text="Close"	
	                           ng-blur="$ctrl.changed(project)"		                           
	                           >
	                    <span class="input-group-btn">
		                    <button type="button" class="btn btn-default" ng-click="$ctrl.calendarPlannedModicationOpen = !$ctrl.calendarPlannedModicationOpen">
		                        <i id="calendar" class="far fa-calendar-alt"></i>
		                    </button>
	                    </span>
					</p>
				</div>
				<label class="col-sm-2 control-label" style="white-space: nowrap">Program Manager: </label>
				<div class="col-sm-4">
					<div class="contact-selector" uib-dropdown>
						<input type="text" placeholder="Search by Name..." ng-model="$ctrl.project.programManagerName"
                   		 class="form-control" autocomplete="off" uib-dropdown-toggle>
						<ul uib-dropdown-menu ng-show="customerContacts.length > 0 || $ctrl.loadingCustomerContacts" style="padding-top: 0px; min-width: 260px;">
							<li ng-if="project.loadingCustomerContacts" style="height: 30px; padding-top: 5px; text-align: center"><span style="padding-right: 10px;"><i id="spinner" class="far fa-spinner-third"></i></span><b>Loading Partner Contacts...</b></li>
							<li ng-repeat="contact in $ctrl.customerContacts | orderBy: 'delegateLastName' | filter:{delegateName: $ctrl.project.programManagerName} as customerContacts" ng-click="$ctrl.selectProgramManager(contact)">
								<a>
							        <b>{{contact.delegateName}}</b> | <span>{{contact.delegateTitle}}</span>
							    </a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			
		</form>
	</div>
</div>
<div class="modal-footer" style="margin-top: 0;">
	<button class="btn btn-primary" ng-click="$ctrl.save()" ng-disabled="!$ctrl.project.projectName || !$ctrl.vbsProjectForm.$valid || (!$ctrl.vbsProjectForm.$dirty && !$ctrl.oldProject)">
		{{$ctrl.confirmLabel}}
	</button>
	<button class="btn btn-default" ng-click="$ctrl.cancel()">
		Cancel
	</button>
</div>

<style>
#vbsProjectForm > .row {
	margin-top: 30px;
}

.message {
   padding: 5px 20px;
   margin-bottom: 0px;
   border-bottom: 1px solid #ddd;
   background-color: #f7f7f7;
   border-radius: 5px 5px 0 0;
 }
 
 .existing-project-menu {
 	overflow-y: hidden !important;
 }
.project-selector>.dropdown-menu {
		max-height: 270px;
		overflow-y: auto;
}
.contact-selector>.dropdown-menu {
		max-height: 250px;
		overflow-y: auto;
}
</style>



