<div class="bg-white" style="height: 100%">
	<div style="background-color: #276ab0; height: 36px; border-bottom: 2px solid #ddd;">
		<div style="width: calc(100% - 17px); display: inline-block;">
			<table class="table"
				style="margin-bottom: 0px; table-layout: fixed; width: 100%">
				<thead>
					<tr class="table-header-inverse plans-header hidden-print">
						<th style="width: 40%; text-align: left; padding-left: 10px"><a
							style="cursor: pointer;"
							ng-click="$ctrl.sort.order('insideSalesPerson',!$ctrl.sort.reverse)">Customer
								Name</a> <span class="sortorder"
							ng-show="$ctrl.sort.type === 'insideSalesPerson'"
							ng-class="{reverse:$ctrl.sort.reverse}"></span></th>
						<th style="width: 30%;"><a
							style="cursor: pointer;"
							ng-click="$ctrl.sort.order('insideSalesPerson',!$ctrl.sort.reverse)">City</a>
							<span class="sortorder"
							ng-show="$ctrl.sort.type === 'insideSalesPerson'"
							ng-class="{reverse:$ctrl.sort.reverse}"></span></th>
						<th style="width: 30%; text-align: right; padding-right: 20px"><a
							style="cursor: pointer;"
							ng-click="$ctrl.sort.order('insideSalesPerson',!$ctrl.sort.reverse)">Status</a>
							<span class="sortorder"
							ng-show="$ctrl.sort.type === 'insideSalesPerson'"
							ng-class="{reverse:$ctrl.sort.reverse}"></span></th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
	<div
		style="overflow-y: scroll; overflow-x: hidden; height: calc(100% - 70px);">
		<table class="table table-hover"
			style="margin: 0; table-layout: fixed; width: 100%">
			<tbody style="width: 100%">
				<tr ng-repeat="pendingCustomer in $ctrl.leads">
					<td style="width: 40%; padding-left: 10px">
						{{pendingCustomer.customerName}}
					</td>
					<td style="width: 30%;">
						{{pendingCustomer.city}}
					</td>
					<td style="width: 30%; text-align: right;">
						<div style="display: inline-flex; width: 15px;">
							<span ng-if="pendingCustomer.status === 'Submitted' ||pendingCustomer.status === 'Wrong Branch'" ng-click="$ctrl.discardPendingCustomer(pendingCustomer)" uib-tooltip="Discard" tooltip-append-to-body="true" style="float: right; padding-left: 5px" class="text-danger show-on-hover cursor-pointer"><i class="far fa-trash-alt"></i></span>
						</div>
						<span ng-if="pendingCustomer.reason || pendingCustomer.note" class="cursor-pointer" uib-popover-template="'pendingCustomerStatus.html'"
                            popover-title="{{pendingCustomer.status}}" popover-append-to-body="true" popover-placement="left" popover-trigger="'mouseenter'">
                          	<i class="fas fa-question-circle"></i>
                         </span>
						{{pendingCustomer.status}}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>


<style>
.summary {
	overflow: hidden;
}

.summary-expanded {
	max-height: auto;
}

.summary-collapsed {
	max-height: 0;
}

.dreg-footer>td {
	padding-top: 4px !important;
}
</style>
