<div class="bg-white" style="height: 100%">
	<table class="table" style="margin-bottom: 0px; table-layout: fixed; width:100%">
		<thead>
			<tr class="table-header-inverse plans-header hidden-print">
				<th style="width: 10%;">
					<a style="cursor:pointer; margin-left: 10px" ng-click="$ctrl.sort.order('insideSalesPerson',!$ctrl.sort.reverse)">Ownership</a>
					<span class="sortorder" ng-show="$ctrl.sort.type === 'insideSalesPerson'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
				</th>
				<th style="width: 10%; text-align: right">
					<a style="cursor:pointer;" ng-click="$ctrl.sort.order('insideSalesPerson',!$ctrl.sort.reverse)">{{$ctrl.prevYear}} DREGs</a>
					<span class="sortorder" ng-show="$ctrl.sort.type === 'insideSalesPerson'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
				</th>
				<th style="width: 10%; text-align: right">
					<a style="cursor:pointer;" ng-click="$ctrl.sort.order('insideSalesPerson',!$ctrl.sort.reverse)">{{$ctrl.currentYear}} Actual</a>
					<span class="sortorder" ng-show="$ctrl.sort.type === 'insideSalesPerson'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
				</th>
				<th style="width: 10%; text-align: right">
					<a style="cursor:pointer;" ng-click="$ctrl.sort.order('insideSalesPerson',!$ctrl.sort.reverse)">{{$ctrl.currentYear}} Run Rate</a>
					<span class="sortorder" ng-show="$ctrl.sort.type === 'insideSalesPerson'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
				</th>
				<th style="width: 12%; text-align: right; padding-right: 20px">
					<a style="cursor:pointer;" ng-click="$ctrl.sort.order('insideSalesPerson',!$ctrl.sort.reverse)">{{$ctrl.currentYear}} Goal</a>
					<span class="sortorder" ng-show="$ctrl.sort.type === 'insideSalesPerson'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
				</th>
			</tr>
		</thead>
	</table>
	<div style="overflow-y: scroll; overflow-x: hidden; height: calc(100% - 93px);">
		<div ng-repeat="summary in $ctrl.summaries">
			<dreg-summary summary="summary" depth="0" expanded="true"></dreg-summary>
		</div>
	</div>
	<div id="tableFooter">
		<table class="table" style="margin-bottom: 0; width: 100%; table-layout: fixed;">
			<tfoot class="table-footer">
				<tr class="dreg-footer">
					<td>Totals:</td>
					<td style="width: 8%; text-align: right">{{$ctrl.prevYearTotal}}</td>
					<td style="text-align: right">{{$ctrl.currentYearTotal}}</td>
					<td style="text-align: right; padding-right: 25px" ng-style="{'color': '{{($ctrl.currentYearRR >= $ctrl.goal)? '#5cb85c' : 'red'}}'}">{{$ctrl.currentYearRR}}</td>
					<td style="text-align: right; padding-right: 30px">{{$ctrl.goal}}</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>


<style>
.summary {
	overflow: hidden;
}
.summary-expanded{
	max-height: auto;
}
.summary-collapsed{
	max-height: 0;
}
.dreg-footer>td {
	padding-top: 4px !important;
}
</style>
