<div style="width: 100%; box-sizing: border-box" class="summary" ng-class="$ctrl.expanded? 'summary-expanded' : 'summary-collapsed'"
 ng-style="{'border-left': '{{$ctrl.depth > 0? '4px' : '0'}} solid {{$ctrl.color[$ctrl.depth]}}'}">
	<table class="table table-hover" style="margin: 0; table-layout: fixed; width:100%">
		<tbody style="width: 100%">
			<tr ng-click="$ctrl.childExpanded = !$ctrl.childExpanded" ng-class="$ctrl.summary.summaries ? 'cursor-pointer' : ''">
				<td ng-style="{'padding-left': '{{20 - (4 * $ctrl.depth)}}px'}">{{$ctrl.summary.name}}</td>
				<td style="text-align: right; width: 10%">{{$ctrl.summary.prevYearTotal}}</td>
				<td style="text-align: right">{{$ctrl.summary.currentYearTotal}}</td>
				<td style="text-align: right; padding-right: 20px" ng-style="{'color': '{{($ctrl.summary.currentYearRR >= $ctrl.summary.goal)? '#5cb85c' : 'red'}}'}">
					{{$ctrl.summary.currentYearRR}}
				</td>
				<td style="text-align: right; padding-right: 15px">{{$ctrl.summary.goal}}</td>
			</tr>
		</tbody>
	</table>
	<dreg-summary ng-if="$ctrl.summary.summaries" ng-repeat="summary in $ctrl.summary.summaries" summary="summary" depth="$ctrl.depth + 1" expanded="$ctrl.childExpanded"></dreg-summary>
</div>