<div class="nav-pane hidden-print">

	<div class="nav-brand"></div>

	<div id="btn-overview" class="side-nav-item"
		uib-tooltip="My CAM"
		tooltip-placement="right" tooltip-append-to-body="true">
		<a ui-sref="home"> <i class="fas fa-tachometer fa-2x"></i>
		</a>
	</div>

	<div id="btn-call-report" class="side-nav-item"
		uib-tooltip="Call Reports" tooltip-placement="right"
		tooltip-append-to-body="true">
		<a ng-click="$ctrl.openCallReportList()"> <i
			class="fas fa-phone fa-2x"></i>
		</a>
	</div>

	<div id="btn-actionItems" class="side-nav-item"
		ng-if="$ctrl.sidebar.actionItems.hasPermission()" uib-tooltip="Action Items"
		tooltip-placement="right" tooltip-append-to-body="true">
		<a ui-sref="actionItems"> <i class="fas fa-clipboard-list-check fa-2x"></i>
		</a>
	</div>

	<div id="btn-customers" class="side-nav-item" uib-tooltip="Customers"
		tooltip-placement="right" tooltip-append-to-body="true">
		<a ui-sref="customerList"> <i class="fas fa-users fa-2x"></i>
		</a>
	</div>

	<div id="btn-oms" class="side-nav-item"
		uib-tooltip="OMS Projects"
		tooltip-placement="right" tooltip-append-to-body="true">
		<a ui-sref="omsList"> <i class="fas fa-file-invoice-dollar fa-2x"></i>
		</a>
	</div>
	
	<div id="btn-nuggets" class="side-nav-item"
		ng-if="!$ctrl.isEDC"
		uib-tooltip="OPB"
		tooltip-placement="right" tooltip-append-to-body="true"
		style="display: flex; align-items: center; justify-content: center">
		<svg ui-sref="nuggetSummary" height='42px' width='42px'  xmlns:x="http://ns.adobe.com/Extensibility/1.0/" xmlns:i="http://ns.adobe.com/AdobeIllustrator/10.0/" xmlns:graph="http://ns.adobe.com/Graphs/1.0/" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve"><g><g i:extraneous="self"><g><path d="M5273.1,2400.1v-2c0-2.8-5-4-9.7-4s-9.7,1.3-9.7,4v2c0,1.8,0.7,3.6,2,4.9l5,4.9c0.3,0.3,0.4,0.6,0.4,1v6.4     c0,0.4,0.2,0.7,0.6,0.8l2.9,0.9c0.5,0.1,1-0.2,1-0.8v-7.2c0-0.4,0.2-0.7,0.4-1l5.1-5C5272.4,2403.7,5273.1,2401.9,5273.1,2400.1z      M5263.4,2400c-4.8,0-7.4-1.3-7.5-1.8v0c0.1-0.5,2.7-1.8,7.5-1.8c4.8,0,7.3,1.3,7.5,1.8C5270.7,2398.7,5268.2,2400,5263.4,2400z"></path><path d="M5268.4,2410.3c-0.6,0-1,0.4-1,1c0,0.6,0.4,1,1,1h4.3c0.6,0,1-0.4,1-1c0-0.6-0.4-1-1-1H5268.4z"></path><path d="M5272.7,2413.7h-4.3c-0.6,0-1,0.4-1,1c0,0.6,0.4,1,1,1h4.3c0.6,0,1-0.4,1-1C5273.7,2414.1,5273.3,2413.7,5272.7,2413.7z"></path><path d="M5272.7,2417h-4.3c-0.6,0-1,0.4-1,1c0,0.6,0.4,1,1,1h4.3c0.6,0,1-0.4,1-1C5273.7,2417.5,5273.3,2417,5272.7,2417z"></path></g><g><path d="M79.1,62.4l-17.5,0.5L60,57.5c0,0,0,0.1-0.1,0.1c-1.4,1.8-5.2,6.5-7.9,10c1.8,3.6,5.4,6,9.5,6h0.3l17.6-0.5     c2.9-0.1,5.2-2.5,5.1-5.5C84.5,64.6,82,62.3,79.1,62.4z"></path><path d="M57.7,48.1c-0.8-3.1-4.9-21.4-8.5-23.7c-1.4-0.9-2.9-1.2-4.5-0.8c-1.1,0.3-3.4,0.7-5.2,1l-1.8,0.3     c-1.9,0.4-3.1,0.6-11.2,13.3c-0.2,0.3-0.5,0.4-0.8,0.4l-10.9-0.8c-2.4-0.2-4.6,1.6-4.8,4.1c-0.2,2.4,1.6,4.6,4.1,4.8l10.9,0.8     c3.6,0.3,7-1.5,8.9-4.5c0.8-1.3,1.5-2.3,2.1-3.3l6.2,16.9l-4.8,6c-3,3.8-5.3,8-6.8,12.7l-4.9,15.2c-0.9,2.8,0.7,5.8,3.5,6.7     c0.5,0.2,1.1,0.3,1.6,0.3c2.3,0,4.3-1.4,5.1-3.7l4.9-15.2c1.1-3.4,2.7-6.5,4.9-9.3c0,0,8.7-10.9,10.9-13.7     C58.6,53.2,58.4,51.2,57.7,48.1z"></path><ellipse transform="matrix(0.9723 -0.2337 0.2337 0.9723 -1.823 9.2772)" cx="38.2" cy="12.3" rx="9.8" ry="9.8"></ellipse><path d="M52.6,22.4c2.1,2.4,4.8,8,8.6,23.9l0.2,0.9c0.2,0.8,0.4,1.7,0.5,2.6c10.7,13.3,28,8.4,28-8.2     C89.9,20.6,64.9,20.9,52.6,22.4z M76,48.3l-0.2,0.1V50c0,0.3-0.3,0.6-0.6,0.6h-1.8c-0.3,0-0.6-0.3-0.6-0.6v-1.6l-0.2,0     c-1.8-0.3-3.2-1.8-3.4-3.6c0-0.2,0-0.3,0.1-0.4c0.1-0.1,0.3-0.2,0.5-0.2h1.9c0.3,0,0.5,0.2,0.6,0.4c0.1,0.5,0.5,0.8,1,0.8h1.6     c0.9,0,1.6-0.6,1.7-1.4c0-0.5-0.1-0.9-0.4-1.3c-0.3-0.3-0.7-0.5-1.2-0.5h-1.2c-2.5,0-4.6-1.8-4.8-4.2c-0.2-2.3,1.3-4.5,3.6-5     l0.2,0v-1.7c0-0.3,0.3-0.6,0.6-0.6h1.8c0.3,0,0.6,0.3,0.6,0.6v1.6l0.2,0c1.8,0.3,3.2,1.8,3.4,3.6c0,0.2,0,0.3-0.1,0.4     c-0.1,0.1-0.3,0.2-0.4,0.2h-1.9c-0.3,0-0.5-0.2-0.6-0.5c-0.1-0.5-0.5-0.8-1-0.8h-1.6c-0.9,0-1.6,0.6-1.7,1.4     c0,0.5,0.1,0.9,0.4,1.3c0.3,0.3,0.7,0.5,1.2,0.5H75c1.3,0,2.6,0.6,3.4,1.5c0.9,1,1.3,2.3,1.2,3.6C79.4,46.2,78,47.8,76,48.3z"></path></g></g></g></svg>
<!-- 		<a ui-sref="nuggetSummary"> <img style="height: 40px" src="../kamApp/assets/img/noun_thief_badge.png"></a> -->
	</div>
	
	<div id="btn-nuggets" class="side-nav-item"
		ng-if="$ctrl.isEDC"
		uib-tooltip="OPB"
		tooltip-placement="right" tooltip-append-to-body="true"
		style="display: flex; align-items: center; justify-content: center">
		<svg ui-sref="nuggetSummary" height='42px' width='42px' xmlns:x="http://ns.adobe.com/Extensibility/1.0/" xmlns:i="http://ns.adobe.com/AdobeIllustrator/10.0/" xmlns:graph="http://ns.adobe.com/Graphs/1.0/" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve"><g><g i:extraneous="self"><g><path d="M5273.1,2400.1v-2c0-2.8-5-4-9.7-4s-9.7,1.3-9.7,4v2c0,1.8,0.7,3.6,2,4.9l5,4.9c0.3,0.3,0.4,0.6,0.4,1v6.4     c0,0.4,0.2,0.7,0.6,0.8l2.9,0.9c0.5,0.1,1-0.2,1-0.8v-7.2c0-0.4,0.2-0.7,0.4-1l5.1-5C5272.4,2403.7,5273.1,2401.9,5273.1,2400.1z      M5263.4,2400c-4.8,0-7.4-1.3-7.5-1.8v0c0.1-0.5,2.7-1.8,7.5-1.8c4.8,0,7.3,1.3,7.5,1.8C5270.7,2398.7,5268.2,2400,5263.4,2400z"></path><path d="M5268.4,2410.3c-0.6,0-1,0.4-1,1c0,0.6,0.4,1,1,1h4.3c0.6,0,1-0.4,1-1c0-0.6-0.4-1-1-1H5268.4z"></path><path d="M5272.7,2413.7h-4.3c-0.6,0-1,0.4-1,1c0,0.6,0.4,1,1,1h4.3c0.6,0,1-0.4,1-1C5273.7,2414.1,5273.3,2413.7,5272.7,2413.7z"></path><path d="M5272.7,2417h-4.3c-0.6,0-1,0.4-1,1c0,0.6,0.4,1,1,1h4.3c0.6,0,1-0.4,1-1C5273.7,2417.5,5273.3,2417,5272.7,2417z"></path></g><g><path d="M79.1,62.4l-17.5,0.5L60,57.5c0,0,0,0.1-0.1,0.1c-1.4,1.8-5.2,6.5-7.9,10c1.8,3.6,5.4,6,9.5,6h0.3l17.6-0.5     c2.9-0.1,5.2-2.5,5.1-5.5C84.5,64.6,82,62.3,79.1,62.4z"></path><path d="M57.7,48.1c-0.8-3.1-4.9-21.4-8.5-23.7c-1.4-0.9-2.9-1.2-4.5-0.8c-1.1,0.3-3.4,0.7-5.2,1l-1.8,0.3     c-1.9,0.4-3.1,0.6-11.2,13.3c-0.2,0.3-0.5,0.4-0.8,0.4l-10.9-0.8c-2.4-0.2-4.6,1.6-4.8,4.1c-0.2,2.4,1.6,4.6,4.1,4.8l10.9,0.8     c3.6,0.3,7-1.5,8.9-4.5c0.8-1.3,1.5-2.3,2.1-3.3l6.2,16.9l-4.8,6c-3,3.8-5.3,8-6.8,12.7l-4.9,15.2c-0.9,2.8,0.7,5.8,3.5,6.7     c0.5,0.2,1.1,0.3,1.6,0.3c2.3,0,4.3-1.4,5.1-3.7l4.9-15.2c1.1-3.4,2.7-6.5,4.9-9.3c0,0,8.7-10.9,10.9-13.7     C58.6,53.2,58.5,51.2,57.7,48.1z"></path><ellipse transform="matrix(0.9723 -0.2337 0.2337 0.9723 -1.8229 9.2782)" cx="38.2" cy="12.3" rx="9.8" ry="9.8"></ellipse><path d="M52.6,22.4c2.2,2.4,4.8,8,8.6,23.9l0.2,0.9c0.2,0.8,0.4,1.7,0.5,2.6c10.7,13.2,28,8.4,28-8.3     C89.9,20.6,64.9,20.9,52.6,22.4z M75.8,37.9c0.2,0,0.3,0.1,0.3,0.3v1.4c0,0.2-0.1,0.3-0.3,0.3h-4.9l0,0.1c0,0.3,0,0.6,0,0.8     c0,0.2,0,0.5,0,0.8l0,0.1h4.9c0.2,0,0.3,0.2,0.3,0.3v1.4c0,0.2-0.1,0.3-0.3,0.3h-4.3l0.1,0.2c0.9,1.6,2.4,2.6,4,2.6     c1.1,0,2.2-0.5,3.1-1.3c0.1-0.1,0.3-0.1,0.4,0l1.6,1.4c0.1,0.1,0.1,0.2,0.1,0.2c0,0.1,0,0.2-0.1,0.2c-1.4,1.4-3.2,2.2-5.1,2.2     c-3.1,0-5.9-2.2-7-5.5l0-0.1h-1.8c-0.2,0-0.3-0.1-0.3-0.3v-1.4c0-0.2,0.1-0.3,0.3-0.3h1.4v-0.1c0-0.3,0-0.5,0-0.8     c0-0.3,0-0.5,0-0.8v-0.1h-1.4c-0.2,0-0.3-0.1-0.3-0.3v-1.4c0-0.2,0.1-0.3,0.3-0.3h1.8l0-0.1c1.1-3.3,3.9-5.4,7-5.4     c1.9,0,3.7,0.8,5.1,2.2c0.1,0.1,0.1,0.2,0.1,0.2c0,0.1,0,0.2-0.1,0.2l-1.6,1.4c-0.1,0.1-0.3,0.1-0.4,0c-0.9-0.9-2-1.4-3.1-1.4     c-1.6,0-3.1,1-4,2.6l-0.1,0.2H75.8z"></path></g></g></g></svg>
<!-- 		<a ui-sref="nuggetSummary"> <img style="height: 40px" src="../kamApp/assets/img/noun_thief_badge_eu.png"></a> -->
	</div>
	
	<div id="btn-nuggets" class="side-nav-item"
		ng-if="$ctrl.sidebar.salesIQ.display === true"
		uib-tooltip="Sales IQ"
		tooltip-placement="right" tooltip-append-to-body="true"
		style="display: flex; align-items: center; justify-content: center">
		<svg ui-sref="salesIQSummary" height='30px' width='30px' fill="#000000" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid meet" viewBox="0 0 640 640" width="640" height="640"><defs><path d="M103.53 176.45C107.1 176.45 110 179.35 110 182.92C110 274.33 110 542.11 110 633.53C110 637.1 107.1 640 103.53 640C82.82 640 27.18 640 6.47 640C2.9 640 0 637.1 0 633.53C0 542.11 0 274.33 0 182.92C0 179.35 2.9 176.45 6.47 176.45C27.18 176.45 82.82 176.45 103.53 176.45Z" id="d1MkCYX1L"></path><path d="M284.16 0C287.73 0 290.63 2.9 290.63 6.47C290.63 133.18 290.63 506.82 290.63 633.53C290.63 637.1 287.73 640 284.16 640C263.45 640 207.81 640 187.1 640C183.53 640 180.63 637.1 180.63 633.53C180.63 506.82 180.63 133.18 180.63 6.47C180.63 2.9 183.53 0 187.1 0C207.81 0 263.45 0 284.16 0Z" id="c4a1nBvWXv"></path><path d="M459.19 0C462.77 0 465.66 2.9 465.66 6.47C465.66 133.18 465.66 506.82 465.66 633.53C465.66 637.1 462.77 640 459.19 640C438.49 640 382.84 640 362.13 640C358.56 640 355.66 637.1 355.66 633.53C355.66 506.82 355.66 133.18 355.66 6.47C355.66 2.9 358.56 0 362.13 0C382.84 0 438.49 0 459.19 0Z" id="b2E8KJZ7GG"></path><path d="M633.53 176.45C637.1 176.45 640 179.35 640 182.92C640 274.33 640 542.11 640 633.53C640 637.1 637.1 640 633.53 640C612.82 640 557.18 640 536.47 640C532.9 640 530 637.1 530 633.53C530 542.11 530 274.33 530 182.92C530 179.35 532.9 176.45 536.47 176.45C557.18 176.45 612.82 176.45 633.53 176.45Z" id="b2ps9sFERq"></path></defs><g><g><g><use xlink:href="#d1MkCYX1L"></use></g><g><use xlink:href="#c4a1nBvWXv"></use></g><g><use xlink:href="#b2E8KJZ7GG"></use></g><g><use xlink:href="#b2ps9sFERq"></use></g></g></g></svg>
	</div>
	
	
	<div id="btn-tmw" class="side-nav-item"
		ng-if="$ctrl.sidebar.tmwButton.hasPermission()"
		uib-tooltip="Territory Management Worksheet" tooltip-placement="right"
		tooltip-append-to-body="true">
		<a ui-sref="tmw"> <i class="fas fa-map-marked-alt fa-2x"></i>
		</a>
	</div>

<!-- 	<div id="btn-create-plan" class="side-nav-item" -->
<!-- 		uib-tooltip="New Non-TTI Customer" tooltip-placement="right" -->
<!-- 		tooltip-append-to-body="true"> -->
<!-- 		<a ng-click="$ctrl.openCreatePlan('md')"> <i -->
<!-- 			class="fas fa-plus fa-2x"></i> -->
<!-- 		</a> -->
<!-- 	</div> -->
	<div id="btn-create-plan" class="side-nav-item"
		ng-if="$ctrl.sidebar.leads.hasPermission()"
		uib-tooltip="Customer Leads" tooltip-placement="right"
		tooltip-append-to-body="true">
		<a ui-sref="leads"> <i
			class="fas fa-search-dollar fa-2x"></i>
		</a>
	</div>

	<!-- <div id="btn-show-preferences" class="side-nav-item"
		uib-tooltip="Show Plan Filters" tooltip-placement="right"
		tooltip-append-to-body="true">
		<a ng-click="$ctrl.clickPreferences()"> <i
			class="fas fa-filter fa-2x"></i>
		</a>
	</div> -->

	<div id="btn-show-help" class="side-nav-item" uib-tooltip="{{$ctrl.helpOpen? '' : 'Help'}}"
		tooltip-placement="right" tooltip-append-to-body="true"
		uib-popover-template="'popoverHelp.html'"
		popover-append-to-body="true" popover-placement="right"
		popover-trigger="'outsideClick'" popover-class="help-menu" popover-is-open="$ctrl.helpOpen">
		<a ng-switch="$ctrl.alertReleaseNotes"> 
			<span ng-switch-when="true" class="fa-stack" style="position: relative; vertical-align: baseline">
				<i class="fas fa-question-circle fa-2x"></i>
				<i class="fas fa-circle" style="color: white; top: -2px; right: -2px; position: absolute; height: 13px; width: 13px"></i>
				<i class="fas fa-exclamation-circle faa-tada animated" style="color: tomato; top: -4px; right: -4px; position: absolute; height: 17px; width: 17px"></i>
			</span>
			<span ng-switch-default>
				<i class="fas fa-question-circle fa-2x"></i>
			</span>
		</a>
	</div>
<!-- 	<div id="btn-suggestions" class="side-nav-item" -->
<!-- 		uib-tooltip="Suggest Improvements" tooltip-placement="right" -->
<!-- 		tooltip-append-to-body="true"> -->
<!-- 		<a ui-sref="suggestions"> <i class="fas fa-lightbulb fa-2x"></i> -->
<!-- 		</a> -->
<!-- 	</div> -->
	<div id="btn-admin" class="side-nav-item"
		ng-if="$ctrl.sidebar.adminConsole.hasPermission()"
		uib-tooltip="Admin Console" tooltip-placement="right"
		tooltip-append-to-body="true">
		<a ui-sref="admin"> <i
			class="fas fa-user-secret fa-2x"></i>
		</a>
	</div>

	<div class="side-nav-item"
		style="background-color: #F5F8FD; height: 100%; padding-bottom: 10px;">
		<button id="btn-reset-mock" class="btn btn-warning"
			ng-show="$ctrl.isMockSession()" ng-click="$ctrl.resetMock()"
			uib-tooltip="Reset Mock" tooltip-placement="right"
			tooltip-append-to-body="true">
			<i class="fas fa-user-times ignore"></i>
		</button>
		<button id="btn-refresh-list" class="btn btn-success"
			ng-click="$ctrl.clearCache()" uib-tooltip="Refresh List"
			tooltip-placement="right" tooltip-append-to-body="true">
			<i class="fas fa-sync ignore"></i>
		</button>
	</div>
	<!-- 	<div ng-show="$ctrl.sidebar.notifications.hasPermission()" style="position: relative;" id="btn-show-notifications" class="side-nav-item" uib-tooltip="Notifications" tooltip-placement="right" -->
	<!-- 	 tooltip-append-to-body="true" uib-popover-template="$ctrl.popover.templateUrl" popover-title="Notifications" -->
	<!-- 	 popover-append-to-body="true" popover-placement="right" popover-trigger="'outsideClick'" popover-class="notifications"> -->
	<!-- 		<a> -->
	<!-- 		    <i class="fas fa-bell fa-2x"></i> -->
	<!-- 		</a> -->
	<!-- 		<span ng-if="$ctrl.notificationCount > 0" style="background-color: red !important; pointer-events: none; position: absolute; bottom: 0; left: 50%; margin-bottom: 23px; margin-left: 3px; font-size: 12px; padding: 2px 4px;" class="badge">{{$ctrl.notificationCount}}</span> -->
	<!-- 	</div> -->
</div>


<script type="text/ng-template" id="popoverNotifications.html">
	<notifications></notifications>
</script>

<script type="text/ng-template" id="popoverHelp.html">
	<help-menu is-open="$ctrl.helpOpen" alert-release-notes="$ctrl.alertReleaseNotes"></help-menu>
</script>