
<page-header active-page="$ctrl.getState()" plan="$ctrl.plan" related-plans="$ctrl.relatedPlans"></page-header>

<div style="height: calc(100% - 80px)">
	<ui-view style="width: 100%; flex: 1; flex-direction: row;"></ui-view>
</div>

