<div ng-include="pageIncludes.clientErrorTemplate"></div>
<div 
	id="loadingMessage" ng-if="$ctrl.opportunities === undefined || $ctrl.opportunities === null" 
	style="display: flex; flex-direction: column; flex: 1 1 auto; height: 100%; width: 100%; justify-content: center; align-content: center; align-items: center; text-align: center"
>
	<i id="spinner" class="fas fa-spinner fa-6x"></i><span style="padding-left: 15px;font-size: 22px; font-weight: 600">Loading Opportunities ...</span></div>
</div>

<div class="row" ng-if="$ctrl.opportunities">
	<div class="col-xs-8">
		<div class="page-nav" bs-affix data-offset-top="50" style="text-align: left">
			<div ng-if="$ctrl.accountList.length == 0" style="text-align: left; margin-left: 20px">
				<b style="font-size: 22px; font-weight: 600">No Opportunities for this Plan.</b>
			</div>
			<div ng-if="$ctrl.accountList.length == 1" style="text-align: left; margin-left: 20px">
				Account:&nbsp;<b ng-if="$ctrl.accountList.length == 1" style="font-size: 16px; font-weight: 600">{{$ctrl.accountList[0]}}</b>
			</div>
            <div ng-if="$ctrl.accountList.length > 1" style="text-align: left; margin-left: 20px">
             	<label class="control-label">Account:&nbsp;</label>
                 <span ng-if="$ctrl.editMode" style="margin-left: 20px;" class="btn-group" uib-dropdown>
                     <button class="form-control" id="strategyDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" uib-dropdown-toggle>
                         {{$ctrl.selectedAccount}}
                         <span class="caret" style="float: right; margin-top: 7px; margin-left: 7px;"></span>
                     </button>
                     <ul uib-dropdown-menu>
                         <li ng-repeat="account in $ctrl.accountList"><a ng-click="$ctrl.setAccount(account)">{{account}}</a></li>
                     </ul>
                 </span>
             </div>
		</div>
	</div>
</div>

<div class="row" style="margin: 20px 0px 0 0px;" ng-if="$ctrl.opportunities && $ctrl.opportunities.selectedOpportunities.length > 0">
	<div class="col-xs-8" style="padding-left: 0">
		<div class="bg-white rounded-corners" style="box-shadow: 3px 3px 3px #888888; overflow: hidden; margin-bottom: 15px">
			<span style="font-size: 16px; width: 100%; display: block; padding: 7px; padding-left: 12px; background: #276AB0; color: white;">
	           	<label class="control-label">Opportunities</label>
             </span>
	
			<div style="padding:8px 8px 8px 8px">
				<div class="flex-container" style="margin-top: 10px; margin-bottom: 10px; border-bottom: 1px dashed rgb(204, 204, 204); overflow: hidden; white-space: nowrap">
	
					<div style="display: inline-flex">
						<span style="text-align: right; font-size: 16px; font-weight: 800; min-width: 10px"></span>
						<span style="text-align: right; font-size: 16px; font-weight: 800; min-width: 100px">Amount</span>
						<span style="text-align: center; font-size: 16px; font-weight: 800; min-width: 100px">Commodity</span>
						<span style="text-align: center; font-size: 16px; font-weight: 800; min-width: 80px">Status</span>
					</div>
	
				</div>
				<div style="min-height : 100px; max-height: 300px; overflow: auto;">
					<div ng-repeat="opportunity in $ctrl.opportunities.selectedOpportunities" style="margin-top: 10px; margin-bottom: 10px">
						<div class="flex-container" style="border-bottom: 1px dashed rgb(204, 204, 204); vertical-align: middle; height: 40px">
		
							<div style="display: inline-flex; padding-top: 5px">
								
								<span ng-if="opportunity.productGroupingOpportunityType === 'Cross Sell'" style="text-align: center; color: green; font-size: 16px; font-weight: 800; width: 10px; padding-left: 5px">
									<i class="fas fa-arrow-up fa"></i>
								</span>

								<span ng-if="opportunity.productGroupingOpportunityType === 'Lost Sales'"  style="text-align: center; color: red; font-size: 16px; font-weight: 800; width: 10px; padding-left: 5px">
									<i class="fas fa-arrow-down fa"></i>
								</span>

								<span ng-if="opportunity.productGroupingOpportunityType === 'Cross Sell'" style="text-align: right; color: green; font-size: 16px; font-weight: 800; min-width: 100px">
									{{opportunity.amount | currency: '$'}}
								</span>

								<span  ng-if="opportunity.productGroupingOpportunityType === 'Lost Sales'" style="text-align: right; color: red; font-size: 16px; font-weight: 800; min-width: 100px">
									{{opportunity.amount | currency: '$'}}
								</span>

								<span style="text-align: center; font-size: 16px; font-weight: 800; min-width: 100px">{{opportunity.productGroupingIdValue}}</span>
								<span style="text-align: center; font-size: 16px; font-weight: 800; min-width: 80px; text-transform: capitalize">{{opportunity.productGroupingInsightActionStateDisplay}}</span>
								<span ng-if="opportunity.msg && opportunity.msgDt" uib-tooltip="{{opportunity.msg}} {{opportunity.msgDt | date:'short'}}.">
									<i class="far fa-info-circle"></i>
								</span>
								<span ng-if="opportunity.msg && !opportunity.msgDt" uib-tooltip="{{opportunity.msg}}">
									<i class="far fa-info-circle"></i>
								</span>
							</div>
		
							<div ng-if="$ctrl.canAction(opportunity)" class="button-container" style="float: right; padding: 2px">
								<button ng-click="$ctrl.actionOpportunity('PURSUING', opportunity)" class="btn btn-primary" style="font-size: 12px; flex: 1" ng-disabled="opportunity.productGroupingInsightActionState==='PURSUING'">Pursue</button>
								<button ng-click="$ctrl.actionOpportunity('DISMISSED', opportunity)" class="btn btn-primary" style="font-size: 12px; flex: 1" ng-disabled="opportunity.productGroupingInsightActionState==='PURSUING'">Dismiss</button>
								<button ng-click="$ctrl.actionOpportunity('WON', opportunity)" class="btn btn-success" style="font-size: 12px; flex: 1">Close-Win</button>
								<button ng-click="$ctrl.actionOpportunity('LOST', opportunity)" class="btn btn-danger" style="font-size: 12px; flex: 1">Close-Loss</button>
							</div>
		
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row" style="margin: 20px 0px 0 0px;" ng-if="$ctrl.opportunities && $ctrl.opportunities.selectedOpportunities.length > 0">
	<div class="col-xs-8" style="padding-left: 0">
		<div class="bg-white rounded-corners" style="box-shadow: 3px 3px 3px #888888; overflow: hidden; margin-bottom: 15px; min-height: 200px">
			<span style="font-size: 16px; width: 100%; display: block; padding: 7px; padding-left: 12px; background: #276AB0; color: white;">
				Money Map
			</span>
			<div ng-if="!$ctrl.selectedVisualization"
				style="display: flex; flex-direction: column; flex: 1 1 auto; min-height: 200px; width: 100%; justify-content: center; align-content: center; align-items: center; text-align: center"
			>
				<i id="spinner" class="fas fa-spinner fa-6x"></i><span style="padding-left: 15px;font-size: 22px; font-weight: 600">Loading ...</span>
			</div>
			<div  ng-if="$ctrl.selectedVisualization && $ctrl.selectedVisualization.moneyMapSummary && $ctrl.selectedVisualization.moneyMapSummary.length == 0"
				style="display: flex; flex-direction: column; flex: 1 1 auto; min-height: 200px; width: 100%; justify-content: center; align-content: center; align-items: center; text-align: center"
			>
				<b style="font-size: 22px; font-weight: 600">No Money Map for this Account.</b>
			</div>
			<div style="padding:8px 16px 8px 16px">
				<div ng-if="$ctrl.selectedVisualization && $ctrl.selectedVisualization.moneyMapSummary && $ctrl.selectedVisualization.moneyMapSummary.length > 0">
					<div ng-repeat="visualization in $ctrl.selectedVisualization.moneyMapSummary" style="text-align: center">
						<img src='data:image/gif;base64,{{visualization.visualizationPng}}' />
					</div>
				</div>
	
			</div>
		</div>
	</div>
</div>
<div class="row" style="margin: 20px 0px 0 0px;" ng-if="$ctrl.opportunities && $ctrl.opportunities.selectedOpportunities.length > 0">
	<div class="col-xs-8" style="padding-left: 0">
		<div class="bg-white rounded-corners" style="box-shadow: 3px 3px 3px #888888; overflow: hidden; margin-bottom: 15px; min-height: 200px">
			<span style="font-size: 16px; width: 100%; display: block; padding: 7px; padding-left: 12px; background: #276AB0; color: white;">
				Parts To Recover
			</span>
			<div  ng-if="!$ctrl.selectedVisualization || !$ctrl.selectedVisualization.partsToRecover"
				style="display: flex; flex-direction: column; flex: 1 1 auto; min-height: 200px; width: 100%; justify-content: center; align-content: center; align-items: center; text-align: center"
			>
				<i id="spinner" class="fas fa-spinner fa-6x"></i><span style="padding-left: 15px;font-size: 22px; font-weight: 600">Loading ...</span>
			</div>
			<div  ng-if="$ctrl.selectedVisualization && $ctrl.selectedVisualization.partsToRecover && $ctrl.selectedVisualization.partsToRecover.length == 0"
				style="display: flex; flex-direction: column; flex: 1 1 auto; min-height: 200px; width: 100%; justify-content: center; align-content: center; align-items: center; text-align: center"
			>
				<b style="font-size: 22px; font-weight: 600">No Parts To Recover for this Account.</b>
			</div>
	
			<div style="padding:8px 16px 8px 16px">
				<div ng-if="$ctrl.selectedVisualization && $ctrl.selectedVisualization.partsToRecover && $ctrl.selectedVisualization.partsToRecover.length > 0">
					<div ng-repeat="visualization in $ctrl.selectedVisualization.partsToRecover" style="text-align: center">
						<img src='data:image/gif;base64,{{visualization.visualizationPng}}' />
					</div>
				</div>
	
			</div>
		</div>
	</div>
</div>
<div class="row" style="margin: 20px 0px 0 0px;" ng-if="$ctrl.opportunities && $ctrl.opportunities.selectedOpportunities.length > 0">
	<div class="col-xs-8" style="padding-left: 0">
		<div class="bg-white rounded-corners" style="box-shadow: 3px 3px 3px #888888; overflow: hidden; margin-bottom: 15px; min-height: 200px">
			<span style="font-size: 16px; width: 100%; display: block; padding: 7px; padding-left: 12px; background: #276AB0; color: white;">
				Parts To Grow
			</span>
			<div  ng-if="!$ctrl.selectedVisualization || !$ctrl.selectedVisualization.partsToGrow"
				style="display: flex; flex-direction: column; flex: 1 1 auto; min-height: 200px; width: 100%; justify-content: center; align-content: center; align-items: center; text-align: center"
			>
				<i id="spinner" class="fas fa-spinner fa-6x"></i><span style="padding-left: 15px;font-size: 22px; font-weight: 600">Loading ...</span>
			</div>
			<div  ng-if="$ctrl.selectedVisualization && $ctrl.selectedVisualization.partsToGrow && $ctrl.selectedVisualization.partsToGrow.length == 0"
				style="display: flex; flex-direction: column; flex: 1 1 auto; min-height: 200px; width: 100%; justify-content: center; align-content: center; align-items: center; text-align: center"
			>
				<b style="font-size: 22px; font-weight: 600">No Parts To Grow for this Account.</b>
			</div>
	
			<div style="padding:8px 16px 8px 16px">
				<div ng-if="$ctrl.selectedVisualization && $ctrl.selectedVisualization.partsToGrow && $ctrl.selectedVisualization.partsToGrow.length > 0">
					<div ng-repeat="visualization in $ctrl.selectedVisualization.partsToGrow" style="text-align: center">
						<img src='data:image/gif;base64,{{visualization.visualizationPng}}' />
					</div>
				</div>
	
			</div>
		</div>
	</div>
</div>

<div class="row" style="margin: 20px 0px 0 0px;" ng-if="$ctrl.opportunities && $ctrl.opportunities.selectedOpportunities.length > 0">
	<div class="col-xs-8" style="padding-left: 0">
		<div class="bg-white rounded-corners" style="box-shadow: 3px 3px 3px #888888; overflow: hidden; margin-bottom: 15px; min-height: 200px">
			<span style="font-size: 16px; width: 100%; display: block; padding: 7px; padding-left: 12px; background: #276AB0; color: white;">
				Product Spend
			</span>
			<div  ng-if="!$ctrl.selectedVisualization || !$ctrl.selectedVisualization.productSpends"
				style="display: flex; flex-direction: column; flex: 1 1 auto; min-height: 200px; width: 100%; justify-content: center; align-content: center; align-items: center; text-align: center"
			>
				<i id="spinner" class="fas fa-spinner fa-6x"></i><span style="padding-left: 15px;font-size: 22px; font-weight: 600">Loading ...</span>
			</div>
			<div  ng-if="$ctrl.selectedVisualization && $ctrl.selectedVisualization.productSpends && $ctrl.selectedVisualization.productSpends.length == 0"
				style="display: flex; flex-direction: column; flex: 1 1 auto; min-height: 200px; width: 100%; justify-content: center; align-content: center; align-items: center; text-align: center"
			>
				<b style="font-size: 22px; font-weight: 600">No Product Spend for this Account.</b>
			</div>
	
			<div style="padding:8px 16px 8px 16px">
				<div ng-if="$ctrl.selectedVisualization && $ctrl.selectedVisualization.productSpends && $ctrl.selectedVisualization.productSpends.length > 0">
					<div ng-repeat="visualization in $ctrl.selectedVisualization.productSpends" style="text-align: center">
						<img src='data:image/gif;base64,{{visualization.visualizationPng}}' />
					</div>
				</div>
	
			</div>
		</div>
	</div>
</div>
<div class="row" style="margin: 20px 0px 0 0px;" ng-if="$ctrl.opportunities && $ctrl.opportunities.selectedOpportunities.length > 0">
	<div class="col-xs-8" style="padding-left: 0">
		<div class="bg-white rounded-corners" style="box-shadow: 3px 3px 3px #888888; overflow: hidden; margin-bottom: 15pxx; min-height: 200px">
			<span style="font-size: 16px; width: 100%; display: block; padding: 7px; padding-left: 12px; background: #276AB0; color: white;">
				Total Customer Spend
			</span>
			<div  ng-if="!$ctrl.selectedVisualization || !$ctrl.selectedVisualization.totalCustomerSpends"
				style="display: flex; flex-direction: column; flex: 1 1 auto; min-height: 200px; width: 100%; justify-content: center; align-content: center; align-items: center; text-align: center"
			>
				<i id="spinner" class="fas fa-spinner fa-6x"></i><span style="padding-left: 15px;font-size: 22px; font-weight: 600">Loading ...</span>
			</div>
			<div  ng-if="$ctrl.selectedVisualization && $ctrl.selectedVisualization.totalCustomerSpends && $ctrl.selectedVisualization.totalCustomerSpends.length == 0"
				style="display: flex; flex-direction: column; flex: 1 1 auto; min-height: 200px; width: 100%; justify-content: center; align-content: center; align-items: center; text-align: center"
			>
				<b style="font-size: 22px; font-weight: 600">No Total Customer Spend for this Account.</b>
			</div>
	
			<div style="padding:8px 16px 8px 16px; ">
				<div ng-if="$ctrl.selectedVisualization && $ctrl.selectedVisualization.totalCustomerSpends && $ctrl.selectedVisualization.totalCustomerSpends.length > 0">
					<div ng-repeat="visualization in $ctrl.selectedVisualization.totalCustomerSpends" style="text-align: center">
						<img src='data:image/gif;base64,{{visualization.visualizationPng}}' />
					</div>
				</div>
	
			</div>
		</div>
	</div>
</div>

<div class="row" style="margin: 20px 0px 0 0px;" ng-if="$ctrl.opportunities && $ctrl.opportunities.selectedOpportunities.length > 0">
	<div class="col-xs-8" style="padding-left: 0">
		<div class="bg-white rounded-corners" style="box-shadow: 3px 3px 3px #888888; overflow: hidden; margin-bottom: 15px; min-height: 200px">
			<span style="font-size: 16px; width: 100%; display: block; padding: 7px; padding-left: 12px; background: #276AB0; color: white;">
				Sales IQ Money Map
			</span>
			<div ng-if="!$ctrl.selectedVisualization || !$ctrl.selectedVisualization.salesIQMoneyMap"
				style="display: flex; flex-direction: column; flex: 1 1 auto; min-height: 200px; width: 100%; justify-content: center; align-content: center; align-items: center; text-align: center"
			>
				<i id="spinner" class="fas fa-spinner fa-6x"></i><span style="padding-left: 15px;font-size: 22px; font-weight: 600">Loading ...</span>
			</div>
			<div  ng-if="$ctrl.selectedVisualization && $ctrl.selectedVisualization.salesIQMoneyMap && $ctrl.selectedVisualization.salesIQMoneyMap.length == 0"
				style="display: flex; flex-direction: column; flex: 1 1 auto;  min-height: 200px; width: 100%; justify-content: center; align-content: center; align-items: center; text-align: center"
			>
				<b style="font-size: 22px; font-weight: 600">No Sales IQ Money Map for this Account.</b>
			</div>
			<div style="padding:8px 16px 8px 16px; min-height: 200px">
				<div ng-if="$ctrl.selectedVisualization && $ctrl.selectedVisualization.salesIQMoneyMap && $ctrl.selectedVisualization.salesIQMoneyMap.length > 0">
					<div ng-repeat="visualization in $ctrl.selectedVisualization.salesIQMoneyMap" style="text-align: center">
						<img src='data:image/gif;base64,{{visualization.visualizationPng}}' />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<style>
.searchDropdown {
	max-height: 350px;
	overflow-y: auto;
	overflow-x: hidden;
}

.selectedDropdownItem {
	font-weight: bold !important;
}

.detailContainerLeft > b {
	margin-top: 10px;
	display: inline-block;
	width: 130px;
	text-align: right;
	margin-right: 15px;
}

.detailContainerRight > b {
	margin-top: 10px;
	display: inline-block;
	width: 130px;
	text-align: right;
	margin-right: 15px;
}

.button-container > button {
	margin-left: 3px;
	margin-right: 3px;
}

::-webkit-input-placeholder { /* WebKit browsers */
    text-transform: none;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    text-transform: none;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    text-transform: none;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    text-transform: none;
}
::placeholder { /* Recent browsers */
    text-transform: none;
}
</style>


