<div class="row" style="margin-top: 0;">	
	<div class="col-sm-10" style="background-color: #fff; padding-top: 0.5%; min-height: 630px;">
		<div style="width: 100%">
			<influence-group></influence-group>
		</div>
		<table class="table" style="margin: 0;">
			<caption style="padding-top: 0;">
				<button class="btn btn-sm btn-primary" ng-click="$ctrl.add('Customer')" ng-disabled="!$ctrl.permissions.validated('add')">					
					<i class="fa fa-user-plus"></i> Add New
				</button>
			</caption>
			<thead>
				<tr class="table-header-inverse">
					<th style="width: 2%;">						
					</th>
					<th style="width: 3%;"></th>
					<th style="width: 15%">
						<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('delegateFirstName',!$ctrl.sort.reverse)">First Name</a>
						<span class="sortorder" ng-show="$ctrl.sort.type === 'delegateFirstName'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
					</th>
					<th style="width: 15%">
						<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('delegateLastName',!$ctrl.sort.reverse)">Last Name</a>
						<span class="sortorder" ng-show="$ctrl.sort.type === 'delegateLastName'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
					</th>
					<th style="width: 15%">
						<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('vbsRole.vbsRole',!$ctrl.sort.reverse)">VBS Role</a>
						<span class="sortorder" ng-show="$ctrl.sort.type === 'vbsRole.vbsRole'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
					</th>
					<th style="width: 10%">
						<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('spw.spw',!$ctrl.sort.reverse)">Relation</a>
						<span class="sortorder" ng-show="$ctrl.sort.type === 'spw.spw'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
					</th>
					<th style="width: 17%">
						<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('delegateLocation',!$ctrl.sort.reverse)">Location</a>
						<span class="sortorder" ng-show="$ctrl.sort.type === 'delegateLocation'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
					</th>							
					<th style="width: 23%">
						<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('delegateEmail',!$ctrl.sort.reverse)">Contact</a>
						<span class="sortorder" ng-show="$ctrl.sort.type === 'delegateEmail'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
					</th>
				</tr>
			</thead>
		</table>
		<div style="height: 350px; overflow-y: scroll; overflow-x: hidden; margin-bottom: 15px">
			<table class="table table-hover" style="margin: 0;">
				<tbody>
					<tr ng-repeat="contact in $ctrl.ngModel | orderBy: $ctrl.sort.type : $ctrl.sort.reverse">
						<td style="width: 2%;">
							<span id="customer-edit" ng-click="$ctrl.edit(contact)" ng-if="$ctrl.permissions.validated('edit')">
								<i class="fas fa-pencil cursor-pointer"></i> <br>
							</span>
							<span id="customer-delete" ng-click="$ctrl.deleteMe(contact.delegateId)" ng-if="$ctrl.permissions.validated('delete')">
								<i class="far fa-trash-alt text-danger cursor-pointer"></i>
							</span>
						</td>
						<td style="width: 2%;">
							<span uib-tooltip="Fox" ng-if="contact.fox">
								<img src="../../../../assets/img/Fox.png" height="16" />
							</span>							
						</td>
						<td style="width: 15%; white-space: nowrap;">
							{{contact.delegateFirstName}}
							<span ng-if="!contact.delegateFirstName" style="color: orange"><i class="fas fa-exclamation-triangle"></i> No First Name</span>
							<br> 
							<span style="font-weight: bold;" ng-if="contact.delegateTitle.length <= 20">
								{{contact.delegateTitle}}
							</span>
							<span style="font-weight: bold;" ng-if="contact.delegateTitle.length > 20" uib-tooltip="{{contact.delegateTitle}}">
								{{contact.delegateTitle | truncate:false:20:'...'}}
							</span>
						</td>								
						<td style="width: 15.5%; white-space: nowrap;">
							<span style="font-weight: normal;">{{contact.delegateLastName}}</span>
							<span ng-if="!contact.delegateLastName" style="color: orange"><i class="fas fa-exclamation-triangle"></i> No Last Name</span>
						</td>
						<td style="width: 15%; white-space: nowrap;">
							<span ng-if="contact.vbsRole.vbsRoleID !== 10" style="font-weight: normal;">{{contact.vbsRole.vbsRole}}</span>
							<span ng-if="contact.vbsRole.vbsRoleID === 10" style="color: orange"><i class="fas fa-exclamation-triangle"></i> {{contact.vbsRole.vbsRole}}</span>
						</td>
						<td style="width: 10%; white-space: nowrap;">
							<span ng-if="contact.spw.spwID !== 4" ng-class="$ctrl.spwLabel(contact)">{{contact.spw.spw}}</span>
							<span ng-if="contact.spw.spwID === 4" style="color: orange" ng-class="$ctrl.spwLabel(contact)"><i class="fas fa-exclamation-triangle"></i> {{contact.spw.spw}}</span>
						</td>
						<td style="width: 17%; white-space: nowrap;">
							<span ng-if="contact.delegateLocation.length <= 25">
								<a ng-href="https://www.google.com/maps?q={{contact.delegateLocation}}" target="_blank">{{contact.delegateLocation}}</a>
							</span>
							<span ng-if="contact.delegateLocation.length > 25">
								<a ng-href="https://www.google.com/maps?q={{contact.delegateLocation}}" target="_blank" uib-tooltip="{{contact.delegateLocation}}">{{contact.delegateLocation | truncate:false:25:'...'}}</a>
							</span>
							<span ng-if="!contact.delegateLocation" style="color: orange"><i class="fas fa-exclamation-triangle"></i> No Location</span>							
						</td>
						<td style="width: 21.5%; white-space: nowrap;">
							<span><i class="fas fa-envelope"></i> </span>
							<span ng-if="!contact.delegateEmail" style="color: orange"><i class="fas fa-exclamation-triangle"></i> No Email</span>
							<span ng-if="contact.delegateEmail.length <= 30">
								<a href="mailto:{{contact.delegateEmail}}" target="_top">{{contact.delegateEmail}}</a>
							</span> 
							<span ng-if="contact.delegateEmail.length > 30">
								<a href="mailto:{{contact.delegateEmail}}" target="_top" uib-tooltip="{{contact.delegateEmail}}">{{contact.delegateEmail | truncate:false:30:'...'}}</a>
							</span>
							<br> 
							<span><i class="fas fa-phone"></i> </span>
							<span ng-if="!contact.delegatePhone" style="color: orange"><i class="fas fa-exclamation-triangle"></i> No Phone #</span>
							{{contact.delegatePhone}}
						</td>								
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-sm-2">
	
	</div>		
</div>