<div class="widget-header-inverse" style="width: 100%; display: inline-block; border-bottom: 2px solid #276ab0">
	<span><a ui-sref="salesIQSummary" style="color: whitesmoke">{{$ctrl.total | number}}&nbsp;Active Sales IQ Opportunit{{$ctrl.total === 1? 'y': 'ies'}}</a></span>
</div>
<div ng-if="$ctrl.topOpportunities.length > 0" style="width: 100%; height: calc(100% - 30px); overflow: hidden; white-space: nowrap">
	<div style="display: inline-block; width: 40%; height: 100%; padding: 15px 0;">
		<div style="flex: 1; display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100%;">
			<div style="display: inline-flex; justify-content: center; width: 75px; font-weight: 700; color: #777; font-size: 20px;">
				Pursuing
			</div>
			<div style="display: inline-flex; justify-content: center; width: 75px; font-weight: 600; font-size: 18px;">
				{{$ctrl.valuePursuing? ($ctrl.valuePursuing | currency: '$' : 0) : '-'}}
			</div>
			<div style="display: inline-flex; justify-content: center; width: 75px; font-weight: 700; color: #777; font-size: 20px;">
				of
			</div>
			<div style="display: inline-flex; justify-content: center; width: 75px; font-weight: 600; font-size: 18px;">
				{{$ctrl.valueTotal? ($ctrl.valueTotal | currency: '$' : 0) : '-'}}
			</div>
		</div>
	</div>
	<div style="width: 60%; display: inline-block; vertical-align: top; overflow-y: auto; height: 100%;">
		<div ng-repeat="opportunity in $ctrl.topOpportunities" style="border-bottom: 1px solid lightgray; padding: 4px; padding-right: 8px;">
			<div style="display: inline-block; white-space: nowrap; width: 100%">
				<a ng-click="$ctrl.goToPlan(opportunity)" class="cursor-pointer" style="font-weight: 600; overflow: hidden; text-overflow: ellipsis; display: inline-block; width: 83%; overflow-x: hidden">{{opportunity.customerName}}</a>
				<initials-badge style="float: right; cursor: default" name="::opportunity.ownerName" invert="opportunity.ownerEmail.toLowerCase() === $ctrl.userProfile.mail.toLowerCase()" ng-click="$ctrl.filterOwner(opportunity)"/>
			</div>
			<div style="white-space: nowrap; display: flex; flex-direction: row; justify-content: space-between;">
				<span style="width: fit-content;" class="status-badge" ng-style="{'backgroundColor': (opportunity.type === 'Cross Sell')? '#4c964c' : '#d74545'}">
					{{opportunity.type === 'Cross Sell'? 'Growth' : 'Recovery'}}
				</span>
				<span style="font-weight: 600"> {{::opportunity.valueActive  | currency: '$' : 0}}</span>
			</div>
		</div>
	</div>
</div>
<div ng-if="$ctrl.topOpportunities.length === 0" style="width: 100%; height: calc(100% - 30px); overflow: hidden; white-space: nowrap">
	<div style="display: inline-block; width: 100%; height: 100%; padding: 15px">
		<div style="flex: 1; display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100%;">
			<div class="text-center text-muted" style="padding: 6px;">
				<span>
					<svg ui-sref="salesIQSummary" height='50px' width='50px' fill="gray" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid meet" viewBox="0 0 640 640" width="640" height="640"><defs><path d="M103.53 176.45C107.1 176.45 110 179.35 110 182.92C110 274.33 110 542.11 110 633.53C110 637.1 107.1 640 103.53 640C82.82 640 27.18 640 6.47 640C2.9 640 0 637.1 0 633.53C0 542.11 0 274.33 0 182.92C0 179.35 2.9 176.45 6.47 176.45C27.18 176.45 82.82 176.45 103.53 176.45Z" id="d1MkCYX1L"></path><path d="M284.16 0C287.73 0 290.63 2.9 290.63 6.47C290.63 133.18 290.63 506.82 290.63 633.53C290.63 637.1 287.73 640 284.16 640C263.45 640 207.81 640 187.1 640C183.53 640 180.63 637.1 180.63 633.53C180.63 506.82 180.63 133.18 180.63 6.47C180.63 2.9 183.53 0 187.1 0C207.81 0 263.45 0 284.16 0Z" id="c4a1nBvWXv"></path><path d="M459.19 0C462.77 0 465.66 2.9 465.66 6.47C465.66 133.18 465.66 506.82 465.66 633.53C465.66 637.1 462.77 640 459.19 640C438.49 640 382.84 640 362.13 640C358.56 640 355.66 637.1 355.66 633.53C355.66 506.82 355.66 133.18 355.66 6.47C355.66 2.9 358.56 0 362.13 0C382.84 0 438.49 0 459.19 0Z" id="b2E8KJZ7GG"></path><path d="M633.53 176.45C637.1 176.45 640 179.35 640 182.92C640 274.33 640 542.11 640 633.53C640 637.1 637.1 640 633.53 640C612.82 640 557.18 640 536.47 640C532.9 640 530 637.1 530 633.53C530 542.11 530 274.33 530 182.92C530 179.35 532.9 176.45 536.47 176.45C557.18 176.45 612.82 176.45 633.53 176.45Z" id="b2ps9sFERq"></path></defs><g><g><g><use xlink:href="#d1MkCYX1L"></use></g><g><use xlink:href="#c4a1nBvWXv"></use></g><g><use xlink:href="#b2E8KJZ7GG"></use></g><g><use xlink:href="#b2ps9sFERq"></use></g></g></g></svg>
				</span>
			</div>
			<div class="text-center text-muted" style="padding: 5px 5px 5px 10px; display: flex; justify-content: center">
				<b style="font-size: large;">
					No Opportunities to Display
				</b>
			</div>
		</div>
	</div>
</div>
<div ng-if="$ctrl.topOpportunities === undefined" class="text-muted" style="height: calc(100% - 30px); width: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center">
	<i id="spinner" class="fas fa-spinner fa-6x"></i>
</div>

<style>
.table-label {
  display: inline-flex;
  padding: 0px 5px;
  border-radius: 4px;
  color: white;
  align-items: center;
}

.status-badge {
  display: inline-flex;
  padding: 0px 5px;
  border-radius: 4px;
  color: white;
  align-items: center;
}

.status-badge > span {
  padding-top: 2px;
}
</style>
