<div class="col-xs-12" style="height: 100%; background-color: #fff; box-shadow: 3px 3px 3px #888888; margin-bottom: 5px;
 padding: 10px 0 30px 0; display: block; border-radius: 0 0px 13px 13px; min-width: 550px; z-index: 999">
 
	<div id="tableBody" class="constrained" style="height: 100%; overflow-y: auto; padding: 0 10px 0 10px">
		
		<div ng-if="$ctrl.actionItems === undefined" class="cssload-loader">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	
		<div ng-if="$ctrl.actionItems.length === 0" class="text-muted" style="width: 100%; height: 100%; text-align: center; display: flex; flex-direction: column; justify-content: center">
			<span>
			<i class="far fa-clipboard-list-check fa-5x"></i>
			</span>
			<span style="font-size: x-large; display: block; margin-top: 20px">
				<span ng-if="$ctrl.type === 'received'">
					You have no assigned action items due.
				</span>
				<span ng-if="$ctrl.type === 'given'">
					You have no given action items due.
				</span>
			</span>
		</div>
		
		<div ng-if="filteredActionItems.length === 0 && $ctrl.actionItems.length > 0" class="text-muted" style="width: 100%; height: 100%; text-align: center; display: flex; flex-direction: column; justify-content: center">
			<span>
			<i class="far fa-clipboard-list-check fa-5x"></i>
			</span>
			<span style="font-size: x-large; display: block; margin-top: 20px">
				<span>
					No action items found for selected criteria.
				</span>
			</span>
		</div>
		
		<div 
			ng-repeat="actionItem in $ctrl.actionItems | commaDelimitedFilter:$ctrl.textFilter | filter:actionItemFilter() | orderBy:['-completeDate', 'dueDate']:false as filteredActionItems track by $index" 
			class="actionItem show-on-hover-parent {{actionItem.actionItemSummaryType}}" 
			style="overflow: hidden;"
		>
			
			<div style="width: 100%; white-space: nowrap;" class="action-item-header">
				
				<div class="label-warning action-item-type-label" style="display: inline-block; color: white; padding: 2px 5px; font-size: 12px; border-radius: 0 0 5px 0; margin-right: 5px; vertical-align: top;">
					<b  ng-if="actionItem.actionItemSummaryType === 'CALL_REPORT'">
						Call Report
					</b>
					<b  ng-if="actionItem.actionItemSummaryType === 'OMS'">
						OMS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					</b>
					<b  ng-if="actionItem.actionItemSummaryType === 'PLAN_TACTIC'">
						Plan Tactic
					</b>
				</div>
				
				<span style="min-width: 110px; width: 20%; display: inline-block;">
					<span ng-if="actionItem.completeDate || actionItem.isComplete" class="text-success">
						<span><b>Done</b> <span ng-if="actionItem.completeDate">{{actionItem.completeDate | date:'MM/dd/yy'}}</span></span>
						<span ng-if="actionItem.comment" class="cursor-pointer" style="margin-left: 5px;" uib-tooltip="View Comment" tooltip-append-to-body="true"
						uib-popover-template="'popoverActionItemComment.html'" popover-append-to-body="true"
						popover-placement="above" popover-trigger="'outsideClick'">
							<i class="far fa-comment-alt-lines"></i>
						</span>
					</span>
					<span ng-if="!actionItem.completeDate && !actionItem.isComplete">
						<span ng-if="actionItem.dueDate" ng-style="{color: (actionItem.dueDate >= $ctrl.currentDate)? '' : 'red'}">
							<b>Due:</b> {{actionItem.dueDate | date:'MM/dd/yy'}}
						</span>
						<span ng-if="!actionItem.dueDate">
							<b style="color: red">No Due Date</b>
						</span>
					</span>
				</span>
				
				<span  style="min-width: 110px; width: 20%; display: inline-block;">
					&nbsp;<b>Assigner:</b> {{actionItem.creator? (actionItem.creator | titlecase) : 'None'}}
				</span>
				
				<span  style="min-width: 110px; width: 20%; display: inline-block;">
					<b>Assignee:</b> 
					<span>{{actionItem.whoName | titlecase}}</span>
					<b ng-if="!actionItem.whoName" style="color: red">None</b>
				</span>
				
				<span style="position: absolute; top: 0; right: 5px;">
					<b><a class="cursor-pointer" ng-click="$ctrl.openContext(actionItem)">{{actionItem.customerName}}</a></b>
				</span>
<!-- 		 		<span style="width: 130px; display: inline-block;"> -->
<!-- 		 			<b>Created:</b> {{actionItem.dateTime | date:'MM/dd/yy'}} -->
<!-- 		 		</span> -->
			</div>
			
			<div style="max-height: 120px; overflow-y: auto;">
				
				<span style="padding: 5px; display: inline-block;">{{(actionItem.actionItem.length < 350)? actionItem.actionItem : (actionItem.actionItem | truncate:false:340)}}</span>
				
				<div class="action-item-menu show-on-hover">
					<div ng-if="actionItem.completeDate === null ? true : false" ng-click="$ctrl.completeActionItemModal(actionItem)" class="text-success cursor-pointer" style="padding: 2px 4px 0 4px; display: inline-block"
					uib-tooltip="Complete" tooltip-append-to-body="true">
							<i class="fas fa-check-circle"></i>
						</div>
						
						<div ng-if="$ctrl.type === 'given'" ng-click="$ctrl.deleteActionItem(actionItem)" class="text-danger cursor-pointer" style="padding: 2px 4px 0 4px; display: inline-block"
					uib-tooltip="Delete" tooltip-append-to-body="true">
							<i class="far fa-trash-alt"></i>
						</div>
				</div>
				
			</div>

		</div>
	</div>
	<div style="margin-bottom: 5px; font-size: 13px; padding-top: 5px" class="table-footer">
		<span class="pull-left" style="margin-right: 5px; padding-left: 15px;">{{filteredActionItems.length}} Action Items&nbsp;&nbsp;-&nbsp;&nbsp;Filtered By:</span>
		<span ng-if="$ctrl.criteria.showMine" class="badge">
			Mine Only
		</span>
		<div ng-if="!$ctrl.criteria.showMine" style="display: inline-block">
			<span ng-if="$ctrl.criteria.corpId" class="badge">
				{{$ctrl.criteria.corpId.corpId}} | {{$ctrl.criteria.corpId.customerName}}
			</span>
			<span ng-if="$ctrl.criteria.branches" class="badge">
				<span ng-repeat="branch in $ctrl.criteria.branches">
					{{branch}}
					<span ng-if="$index < $ctrl.criteria.branches.length - 1">, </span>
				</span>
			</span>
		</div>
		<span ng-if="$ctrl.criteria.startDate || $ctrl.criteria.endDate" class="badge">
			{{$ctrl.criteria.startDate? ($ctrl.criteria.startDate | date:'MM/dd/yy') : 'Dawn of Time' }} - {{$ctrl.criteria.endDate? ($ctrl.criteria.endDate | date:'MM/dd/yy') : 'Present'}}&nbsp;
		</span>
		<span ng-if="$ctrl.textFilter" class="badge client-filter">
			"{{$ctrl.textFilter}}"&nbsp;
			<span uib-tooltip="Remove Filter" tooltip-append-to-body="true" ng-click="$ctrl.textFilter = ''; $ctrl.saveFilterText()" class="cursor-pointer">
				<i class="fas fa-times-circle"></i>
			</span>
		</span>
	</div>
</div>



<script type="text/ng-template" id="popoverActionItemComment.html">
	<div style="max-height: 200px; overflow-y: auto; padding: 5px;">
		<i style="white-space: pre-line">{{actionItem.comment}}</i>
		<br>
		<span style="float: right">-{{actionItem.commenter}}</span>
	</div>
</script>


 <style>
 .actionItem {
 	width:100%;
 	border-radius: 5px;
 	margin-bottom: 7px;
 	border: 2px solid #f0ad4e;
 	position: relative;
 }
 
 .CALL_REPORT {
 	border: 2px solid #d79230;
 }
 .CALL_REPORT .action-item-type-label {
 	background-color: #d79230;
 }
 .CALL_REPORT .action-item-header {
 	background-color: #ffe6c2;
 }
 .CALL_REPORT .action-item-menu {
  	border-left: 2px solid #d79230;
	border-top: 2px solid #d79230;
}
 
 .OMS {
	border: 2px solid #00781f;
 }
 .OMS .action-item-type-label {
 	background-color: #00781f;
 }
 .OMS .action-item-header {
 	background-color: #c1e8cb;
 }
.OMS .action-item-menu {
  	border-left: 2px solid #00781f;
	border-top: 2px solid #00781f;
}
 
 .PLAN_TACTIC {
 	border: 2px solid #276ab0;
 }
 .PLAN_TACTIC .action-item-type-label {
 	background-color: #276ab0;
 }
 .PLAN_TACTIC .action-item-header {
 	background-color: #bfdfff;
 }
.PLAN_TACTIC .action-item-menu {
  	border-left: 2px solid #276ab0;
	border-top: 2px solid #276ab0;
}
 
 
 .action-item-menu{
	position: absolute;
	bottom: 0; 
	right: 0;
	background: white;
	border-radius: 5px 0 0 0;
 }
 </style>