<div class="row" style="margin-top: 0;">
	<div class="col-lg-1">
		<img src="../kamApp/assets/img/construction_icon.jpg" height="128px" />
	</div>
	<div class="col-lg-11">
		<h1 style="vertical-align: middle; line-height: 120px; margin-top: 0; margin-left: 15px;">
			Coming Soon...
		</h1>
	</div>
</div>