<!-- <page-header active-page="'vbs'" plan="$ctrl.plan"></page-header> -->

<div class="row" style="margin-top: 0px">
	<div class="col-xs-12" style="overflow-x:auto; min-width: 1000px; padding-bottom: 40px; display: table;">
		<uib-tabset active="$ctrl.activeTabIndex">
			<uib-tab index="0" heading="Active" style="text-align: center" ng-click="$ctrl.selectTab('active');">
				<vbs-projects plan="$ctrl.plan" status="'active'"></vbs-projects>
			</uib-tab>
			<uib-tab index="1" heading="Archived" style="text-align: center" ng-click="$ctrl.selectTab('archived');">
				<vbs-projects plan="$ctrl.plan" status="'archived'"></vbs-projects>
			</uib-tab>
<!-- 			<uib-tab index="2" ng-show="$ctrl.productionSummaryData.length > 0" heading="Prod. Summary (Old)" style="text-align: center" ng-click="$ctrl.selectTab('oldProdSummary');"> -->
<!-- 				<production-summary data="$ctrl.productionSummaryData" plan="$ctrl.plan"></production-summary> -->
<!-- 			</uib-tab> -->
			<uib-tab index="3" ng-show="$ctrl.cmMatrixData.length > 0" style="text-align: center" ng-click="$ctrl.selectTab('oldCmMatrix');">
				<uib-tab-heading>
					CM Matrix (Old)
					<span class="badge" style="background-color: red; color: white; margin-left: 2px; vertical-align: top;">{{$ctrl.cmMatrixData.length}}</span>
				</uib-tab-heading>
				<cm-matrix plan="$ctrl.plan" data="$ctrl.cmMatrixData"></cm-matrix>
			</uib-tab>
		</uib-tabset>
	</div>
</div>