<div class="col-xs-12 bg-white" style="padding-top: 10px; padding-bottom: 10px; margin-bottom: 20px;
border-radius: 0 13px 13px 13px; box-shadow: 3px 3px 3px #888888; position: relative">
	<ng-form name="$ctrl.productionSummaryForm">
	      <table class="table table-hover" style="margin-bottom: 0;">
			<thead class="table-header">
				<tr>						
					<th colspan="6" style="width: 37%; text-align: center; border-right: 1px solid #ccc;">
						<span class="pull-left cursor-pointer" 
							uib-popover-template="$ctrl.popovers[0].templateUrl" popover-title="{{$ctrl.popovers[0].title}}" popover-append-to-body="true" 
							popover-placement="right" popover-trigger="'mouseenter'">
							<i class="fas fa-info-circle"></i>
						</span>
						<span>Product Overview</span>							
					</th>
					<th colspan="2" style="width: 30%; text-align: center; border-right: 1px solid #ccc;">
						<span class="pull-left cursor-pointer" 
							uib-popover-template="$ctrl.popovers[1].templateUrl" popover-title="{{$ctrl.popovers[1].title}}" popover-append-to-body="true" 
							popover-placement="left" popover-trigger="'mouseenter'">
							<i class="fas fa-info-circle"></i>
						</span>
						<span>Planned Modifications</span>
					</th>
					<th colspan="1" style="width: 30%; text-align: center;">
						<span class="pull-left cursor-pointer" 
							uib-popover-template="$ctrl.popovers[2].templateUrl" popover-title="{{$ctrl.popovers[2].title}}" popover-append-to-body="true" 
							popover-placement="left" popover-trigger="'mouseenter'">
							<i class="fas fa-info-circle"></i>
						</span>
						<span>EMS Involvement</span>
					</th>
				</tr>
				<tr>
					<th style="width: 1%;"></th>						
					<th style="width: 2%;"></th>
					<th style="width: 24%;">Name</th>
					<th style="width: 10%;">First Production</th>
					<th style="width: 10%;">{{$ctrl.year.current}} <br> Production Qty</th>
					<th style="width: 10%; border-right: 1px solid #ccc;">{{$ctrl.year.next}} <br> Production Qty</th>
					
					<th style="width: 11%;">Reason</th>
					<th style="width: 10%; border-right: 1px solid #ccc;">Date</th>
					
					<th style="width: 26%;">Contract Manufacturer</th>						
				</tr>					
			</thead>
			<tbody>
				<tr ng-cloak ng-repeat="item in $ctrl.data" ng-click="$ctrl.selectRow($index)">
					<td ng-class="{'vbs-highlight-modified': item.changedValue == true, 'vbs-highlight-saved': item.saved == true}"></td>						
					<td style="padding-bottom: 0;">
<!-- 						<span ng-show="$index === $ctrl.index && $ctrl.permissions.validated('add')"> -->
<!-- 							<span ng-click="$ctrl.save(item)"> -->
<!-- 								<i class="fas fa-save text-success cursor-pointer"></i> -->
<!-- 							</span> -->
<!-- 							<span ng-click="$ctrl.removeRow(item)"> -->
<!-- 								<i class="far fa-trash-alt text-danger cursor-pointer"></i> -->
<!-- 							</span> -->
<!-- 						</span> -->
					</td>
					<td style="padding-bottom: 0;">
						<input class="form-control" type="text" ng-model="item.productName" ng-blur="$ctrl.changed(item)" disabled/>
						
					</td>
					<td style="padding-bottom: 0;">
<!-- 						<p class="input-group"> -->
		                    <input type="text" 
		                           class="form-control" 
		                           uib-datepicker-popup="MM/dd/yyyy" 
		                           ng-model="item.firstProduction" 
		                           is-open="item.calendarFirstProductionOpen" 
		                           datepicker-options="dateOptions"                            
		                           close-text="Close"	
		                           ng-blur="productionSummary.changed(item)"		                           
		                           disabled>
<!-- 		                    <span class="input-group-btn"> -->
<!-- 			                    <button type="button" class="btn btn-default" ng-click="$ctrl.calendarFirstProductionOpen($index, $event)"> -->
<!-- 			                        <i id="calendar" class="far fa-calendar-alt"></i> -->
<!-- 			                    </button> -->
<!-- 		                    </span> -->
<!-- 						</p> -->
	                  	</td>
					<td style="padding-bottom: 0;">
						<input class="form-control" type="number" ng-model="item.unitProduction" ng-blur="$ctrl.changed(item)" disabled/>
					</td>
					<td style=" border-right: 1px solid #ccc; padding-bottom: 0;">
						<input class="form-control" type="number" ng-model="item.unitForecast" ng-blur="$ctrl.changed(item)" disabled/>
					</td>						
					<td style="padding-bottom: 0;">
						<input class="form-control" ng-model="item.productionSummaryPlanModification.planMod" disabled>
<!-- 						<select class="form-control" style="width: 100%;" ng-model="item.selectedPlannedModification" ng-change="$ctrl.typeChanged(item)" -->
<!-- 							ng-options="plannedModification.display for plannedModification in $ctrl.plannedModifications track by plannedModification.value">						 -->
<!-- 						</select> -->
					</td>
					<td style=" border-right: 1px solid #ccc; padding-bottom: 8px;">
<!-- 						<p class="input-group"> -->
		                    <input type="text" 
		                           class="form-control" 
		                           uib-datepicker-popup="MM/dd/yyyy" 
		                           ng-model="item.plannedModificationDate" 
		                           is-open="item.calendarPlannedModicationOpen" 
		                           datepicker-options="dateOptions"                            
		                           close-text="Close"	
		                           ng-blur="$ctrl.changed(item)"		                           
		                           disabled>
<!-- 		                    <span class="input-group-btn"> -->
<!-- 			                    <button type="button" class="btn btn-default" ng-click="$ctrl.calendarPlannedModicationOpen($index, $event)"> -->
<!-- 			                        <i id="calendar" class="far fa-calendar-alt"></i> -->
<!-- 			                    </button> -->
<!-- 		                    </span> -->
<!-- 						</p> -->
					</td>
					<td style="padding-bottom: 0;">
						<div class="input-group">			
								<div id="scrollable-dropdown-menu">					
	              				<input type="text" name="planToSearch" ng-model="item.contractManufacturer"
											   autocomplete="off"
						                       placeholder="Find Plan..."
						                       uib-typeahead="search.customerName for search in $ctrl.searched.findPlan($viewValue)" 
						                       typeahead-min-length="2"
						                       typeahead-loading="loadingNames" 
						                       typeahead-no-results="noResults"
						                       typeahead-on-select="$ctrl.searched.setSelectedPlan($item)"
						                       typeahead-wait-ms="250"
						                       ng-keyup="evalNoResults($event)"
						                       class="hideclose form-control"
						                       typeahead-template-url="customTemplate.html"
						                       ng-blur="$ctrl.changed(item)"
						                       disabled>
								</div>
	                    	<span class="input-group-btn" >
	                    		<button ng-show="item.contractManufacturerPlanID" 
	                    				class="btn btn-default" 
	                    				ng-click="$ctrl.loadPlan(item)" uib-tooltip="View Plan" tooltip-append-to-body="true">
	                    			<i class="fa fa-eye"></i>
	                    		</button>		                    		
	                        	<button ng-show="!item.contractManufacturerPlanID"
	                        			class="btn btn-default" 
	                        			uib-tooltip="Create Plan" tooltip-append-to-body="true"
	                        			ng-disabled="true">
	                        			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	                        	</button>	                        	                       
	                    	</span>
	                	</div>
	              		</td>
				</tr>					
			</tbody>
<!-- 			<tfoot> -->
<!-- 				<tr> -->
<!-- 					<td colspan="9"> -->
<!-- 						<button class="btn btn-default btn-sm pull-right" -->
<!-- 							id="production-summary-add-row"  -->
<!-- 							ng-click="$ctrl.addRow()"  -->
<!-- 							ng-disabled="!$ctrl.permissions.validated('add')"  -->
<!-- 							uib-tooltip="Add Row"> -->
<!-- 							<i class="fa fa-plus"></i> -->
<!-- 						</button> -->
<!-- 						<button class="btn btn-default btn-sm pull-right" -->
<!-- 							id="production-summary-remove-row" 						 -->
<!-- 							ng-click="$ctrl.removeRow()"  -->
<!-- 							ng-disabled="!$ctrl.permissions.validated('delete')"  -->
<!-- 							style="margin-right: 5px;"  -->
<!-- 							uib-tooltip="Remove Row"> -->
<!-- 							<i class="fa fa-minus"></i> -->
<!-- 						</button> -->
<!-- 					</td> -->
<!-- 				</tr> -->
<!-- 			</tfoot> -->
		</table>
	</ng-form>
</div>

<script type="text/ng-template" id="popoverProductOverview.html">
	<p>
		Q:  Based on your wedsite info, am I correct in assuming that the following products drive @80% of your business, or have I missed something?
	</p>
	<p>
		Q: How are these Product Groups Trending relative to business trends?  Up/Down/Flat?
	</p>
</script>

<script type="text/ng-template" id="popoverPlanModification.html">
	<p>
		Q:  How will cost reduction and redesigns be prioritzed?  What Product Groups will be in play?
	</p>	
</script>

<script type="text/ng-template" id="popoverEmsInvolvement.html">
	<p>
		Q:  Will you be considering outsourcing for these particular Product Groups?  If so what are your expectaions?
	</p>	
</script>