<div class="modal-header bg-primary wrapper-sm text-center">
    <button class="close pull-right" type="button" ng-click="$ctrl.cancel()">&times;</button>
    <p class="modal-title" style="font-size: 20px; font-weight: 400;">Delete Nugget</p>
    <p class="modal-title" style="margin-top:4px">{{$ctrl.nuggetName}}</p>
</div>

<div class="modal-body modal-md">

    <error-modal ng-model="$ctrl.clientError"></error-modal>

    <div ng-show="!$ctrl.clientError.message">


        <div style="padding-top: 10px; flex:1; display: flex; flex-direction: column;">
                
            <p class="modal-title" style="display: flex; flex:1; align-self: center; font-size: 16px; font-weight: 500"> Are You Sure You Want To Delete This Nugget?</p>
            <p class="modal-title" style="display: flex; flex:1; align-self: center; font-size: 18px; font-weight: 600; margin-top:5px; margin-bottom:5px;"> {{$ctrl.nuggetName}}</p>
            <p class="modal-title" style="display: flex; flex:1; align-self: center; font-size: 16px; font-weight: 500"> This Action Is Permanent</p>
                    
        </div>

    </div>

</div>


<div class="modal-footer" style="margin-top: 0; padding: 10px;">
    
        <button  class="btn btn-danger pull-left" ng-click="$ctrl.delete()">
            Delete
        </button>

    
        <button class="btn btn-default" ng-click="$ctrl.cancel()">
            Cancel
        </button>
    
</div>
