<div class="row rounded-corners" style="background-color: #fff; margin-left: 5px; margin-right: 5px; padding: 20px 0;" ng-if="$ctrl.ngModel.message">
<div class="col-sm-1">

</div>
<div class="col-sm-5">

    <div style="padding-left: 20px;">
    <h1 style="font-weight: bold; font-size: 52px; color: #D16A4C;">Oops!</h1>
    
    <h2 >Something went wrong.</h2>
    
    <p>
        It looks like something went wrong on the page you were accessing.        
    </p>
    <p>
        Here are a few options to find what you are looking for:        
    </p>
    <ol>
        <li>Double check the information entered.</li>
        <li>Head back to the home page.</li>
        <li>Contact the Service Desk for further assistance.</li>
    </ol>
    
    </div>    
</div>
<div class="col-sm-5">
	<uib-accordion>
        <div uib-accordion-group heading="Error Detail" class="panel-danger" is-open="true">
            <p>
                <strong>{{$ctrl.ngModel.message.data.response.code}}</strong> <span class="text-danger">{{$ctrl.ngModel.message.status}} ({{$ctrl.ngModel.message.statusText}})</span>
            </p>        
            <p>
                {{$ctrl.ngModel.message.data.response.detail}}
            </p>
            
            <p>
                <strong>Detail:</strong>
            </p>
            <p>
                {{$ctrl.ngModel.message.data.response.stackTrace}}
            </p>
        </div>
    </uib-accordion> 
</div>
<div class="col-sm-1"></div>
</div>