<div class="modal-header bg-primary wrapper-sm text-center">
    <button class="close pull-right" type="button" ng-click="$ctrl.cancel()">&times;</button>
    <p class="modal-title">{{$ctrl.modalTitle}}</p>
</div>
<div class="modal-body">
    <div ng-show="!$ctrl.clientError.message">
        <form name="$ctrl.lineItemForm" class="form-horizontal" novalidate>
            <div class="row">
                <div class="col-md-12">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="target">
                                Type:
                            </label>
                            <div class="col-md-3">
                                <div style="height: wrap;" class="btn-group" uib-dropdown>
                                    <button class="form-control" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" uib-dropdown-toggle>
                                        {{$ctrl.lineItem.designType.designTypeName}}
                                        <span class="caret"></span>
                                    </button>
                                    <ul uib-dropdown-menu>
                                        <li ng-repeat="type in $ctrl.designTypes" ng-click="$ctrl.lineItem.designType = type; $ctrl.lineItemForm.$setDirty()"><a>{{type.designTypeName}}</a></li>
                                    </ul>
                                </div>
                            </div>
                            
                            <label class="col-md-3 control-label" style="padding-left: 0">Manufacturer:</label>
                            <div class="col-md-2">
                                <input type="text" maxlength="3" ng-model="$ctrl.lineItem.part.mfr" class="form-control" style="text-transform:uppercase">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">
                            	<span uib-tooltip="Description or Part# Required" tooltip-append-to-body=true>*</span>Part#:
                            </label>
                            <div class="col-md-4">
                                <input type="text" ng-model="$ctrl.lineItem.part.partNumber" class="form-control" style="text-transform:uppercase"
                                char-limit-label limit="30" show-on-focus="true">
                            </div>
                            
                            <label class="col-md-2 control-label" style="white-space: nowrap; padding-left: 0">
                            	<span uib-tooltip="Required" tooltip-append-to-body=true>*</span>
                            	Commodity:
                            </label>
                            <div class="col-md-4">
                            	<input type="text" ng-model="$ctrl.lineItem.part.commodity" hidden required/>
                                <div style="height: wrap;" class="btn-group" uib-dropdown >
                                    <button class="form-control" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
                                    	ng-class="$ctrl.lineItem.part.commodity? '' :'ng-invalid'" ng-disabled="$ctrl.lineItem.part.source === 'Mainframe' && $ctrl.lineItem.part.mfr === $ctrl.original.part.mfr"
                                    	uib-dropdown-toggle>
                                        <span ng-if="!$ctrl.lineItem.part.commodity">None</span>
                                        <span ng-if="$ctrl.lineItem.part.commodity">{{$ctrl.lineItem.part.commodity}}</span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul uib-dropdown-menu>
                                        <li ng-repeat="commodity in $ctrl.commodities" ng-click="$ctrl.lineItem.part.commodity = commodity;  $ctrl.lineItemForm.$setDirty()"><a>{{commodity}}</a></li>
                                    </ul>
                                </div>
                                <span ng-if="$ctrl.lineItem.part.source === 'Mainframe' && $ctrl.lineItem.part.mfr === $ctrl.original.part.mfr" style="color: red">(Mainframe)</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label" for="target">Cust. Part#:</label>
                            <div class="col-md-4">
                                <input type="text" ng-model="$ctrl.lineItem.customerPartNumber" class="form-control" style="text-transform:uppercase"
                                char-limit-label limit="30" show-on-focus="true">
                            </div>
                            <label class="col-md-2 control-label" for="target">Resale:</label>
                            <div class="col-md-3">
                                <input type="number" step="0.001" ng-model="$ctrl.lineItem.resale" class="form-control"
                                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength = "9">
                            </div>
                        </div>

                        <div class="form-group">
                            <!-- <label class="col-md-2 control-label" for="target">Phase:</label>
                            <div class="col-md-4">
                                <div style="height: wrap;" class="btn-group" uib-dropdown>
                                    <button class="form-control" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
                                        uib-dropdown-toggle>
                                        <span>{{$ctrl.lineItem.phase.phaseName}}</span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul uib-dropdown-menu>
                                        <li ng-repeat="phase in $ctrl.phases" ng-click="$ctrl.lineItem.phase = phase; $ctrl.lineItemForm.$setDirty()"><a>{{phase.phaseName}}</a></li>
                                    </ul>
                                </div>
                            </div> -->
                            <label class="col-md-2 control-label" for="target">EAU:</label>
                            <div class="col-md-4">
                                <input type="number" ng-model="$ctrl.lineItem.yr1Qty" class="form-control">
                            </div>
                            <label class="col-md-3 control-label" for="target">Sampled?:</label>
                            <div class="col-sm-1" style="height:20px;">
                                <input ng-model="$ctrl.lineItem.sampled" class="form-control" type="checkbox" style="height:20px; margin-top: 7px">
                            </div>
                        </div>

						<div class="form-group">
                            <label class="col-md-2 control-label" for="target">AVL:</label>
                            <div class="col-md-5">
                                <div style="height: wrap;" class="btn-group avl-dropdown" uib-dropdown>
                                    <button class="form-control" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="white-space: nowrap"
                                        uib-dropdown-toggle>
                                        <span>{{$ctrl.avlLabel()}}</span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul uib-dropdown-menu>
                                        <li style="text-align: center" ng-click="$ctrl.setAvl(null);"><a>None</a></li>
                                        <li ng-if="$ctrl.original.primary && $ctrl.originalAvl.length > 1 && $ctrl.avlLabel() !== 'Primary'" style="text-align: center" ng-click="$ctrl.setAvl($ctrl.originalAvl);"><a>Primary</a></li>
                                        <li ng-repeat="avl in $ctrl.avlList | orderBy : '[0].part.partNumber'" ng-if="$ctrl.lineItem.detailId !== avl[0].detailId && avl[0].part.partNumber" ng-click="$ctrl.setAvl(avl);"><a><span style="display: inline-block; width: 33px; text-align: right;">{{avl[0].part.mfr}}</span> | {{avl[0].part.partNumber}}</a></li>
                                    </ul>
                                </div>
                            </div>           
                            <label class="col-md-2 control-label" for="target"  style="padding-left: 0; white-space: nowrap">
                            	<span ng-if="$ctrl.avlLabel() !== 'None'">
	                            	<span><sup uib-tooltip="Primary AVL part must have a Part#" tooltip-append-to-body=true>&#8224</sup></span>
	                            	<span ng-style="{ color:  ($ctrl.lineItem.part.partNumber)? '' : 'lightgray' }">AVL Primary?:</span>
                            	</span>
                            </label>
                            <div class="col-sm-1" style="height:20px;">
                                <input ng-if="$ctrl.avlLabel() !== 'None'" ng-disabled="!($ctrl.lineItem.part.partNumber)" ng-model="$ctrl.lineItem.primary" class="form-control" type="checkbox" style="height:20px; margin-top: 7px">
                            </div>
                        </div>
                        <div class="form-group">
                        	<label class="col-md-2 control-label" style="padding-left: 0; white-space: nowrap">
                           	<span>Lost:</span>
                            </label>
                            <div  class="col-sm-1" style="height:20px;">
                                <input ng-model="$ctrl.lineItem.lost" class="form-control" type="checkbox" style="height:20px; margin-top: 7px">
                            </div>
                        </div>

                        <div class="form-group" style="margin-bottom: 5px">
                            <label class="col-md-3 control-label" for="target" style="padding-right: 30px"><span uib-tooltip="Description or Part# Required">*</span>Description:</label>
                        </div>

                        
                        <div class="form-group">
                            <div style="padding-left: 50px; padding-right: 50px;">
                                <textarea class="form-control" style="width: 100%; max-width: 100%; min-width: 100%; min-height:15px" rows="2"
                                    ng-model="$ctrl.lineItem.description" char-limit-label limit="250" show-on-focus="true"></textarea>
                            </div>
                        </div>
                        
                        <div class="form-group" style="margin-bottom: 5px">
                            <label class="col-md-2 control-label" for="target">Notes:</label>
                        </div>

                        <div class="form-group">
                            <div style="padding-left: 50px; padding-right: 50px;">
                                <textarea class="form-control" style="width: 100%; max-width: 100%; min-width: 100%; min-height:25px"
                                    rows="4" ng-model="$ctrl.lineItem.notes" char-limit-label limit="4000" show-on-focus="true"></textarea>
                            </div>
                        </div>
                        <div ng-if="$ctrl.lineItem.createdBy" class="form-group" style="margin-bottom: 5px">
                            <span style="margin-left: 48px; font-style: italic;" class="ng-binding">Created by {{$ctrl.lineItem.createdBy}}</span>
                        </div>

                    </fieldset>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer" style="margin-top: 0;">
	<button class="btn btn-default pull-left" ng-disabled="!$ctrl.lineItemForm.$dirty" ng-click="$ctrl.reset()">Reset</button>
    <button class="btn btn-primary" ng-disabled="!$ctrl.lineItemForm.$valid || !$ctrl.lineItemForm.$dirty || !($ctrl.lineItem.part.partNumber || $ctrl.lineItem.description)" ng-click="$ctrl.save()" ng-disabled="$ctrl.validateForm()">{{$ctrl.confirmLabel}}</button>
    <button class="btn btn-default" ng-click="$ctrl.cancel()">Cancel</button>
</div>

<style>
.avl-dropdown>.dropdown-menu{
	max-height: 270px;
	overflow-y: auto;
}
</style>