<div class="row">
	<div class="col-xs-6" style="background-color: #fff; padding-top: 1%; min-height: 650px; min-width: 900px">
		<button ng-click="$ctrl.openReleaseNoteModal(null)" class="btn btn-primary" style="margin-bottom: 5px;">
			<span style="display: inline-block; vertical-align: middle;"><i class="far fa-plus"></i></span>&nbsp;&nbsp;Release Note
		</button>
		<table class="table" style="margin: 0;">
			<thead>                
				<tr class="table-header-inverse" style="text-align: center;">
					<th>Release History</th>
				</tr>                                
			</thead>
		</table>
		<div style="height: 500px; width: 100%; overflow-y: auto; overflow-x: hidden; background-color:white;">
			<div ng-repeat="releaseNote in $ctrl.releaseNotes" class="show-on-hover-parent" style="max-height: 200px; border-bottom: 1px solid lightgray">
				<div style="display: inline-block; width: calc(100% - 30px);">
					<div style="width: 20%; display: inline-block; vertical-align: top; padding-top: 5px;">
						<b>{{releaseNote.version}}</b><br>
						<span>{{releaseNote.releaseDate | date:"MM/dd/yyyy"}}</span>
					</div>
					<div style="width: 50%; height: 100%; vertical-align: top; overflow-y: auto; display: inline-block; padding-top: 5px;">
						<span style="white-space: pre;">{{releaseNote.summary}}</span>
					</div>
					<div style="width: 28%; height: 100%; overflow-y: auto; display: inline-block;">
						<div ng-repeat="document in releaseNote.documentList" style="text-align: right;">
							<a ng-click="$ctrl.downloadDocument(document)" class="cursor-pointer">{{document.documentName}}.{{document.documentExt}}</a>
						</div>
					</div>
				</div>
				<div class="show-on-hover" style="display: inline-block; width: 25px; padding-left: 8px; vertical-align: top;">
					<span ng-click="$ctrl.openReleaseNoteModal(releaseNote)" uib-tooltip="Edit" tooltip-placement="right" tooltip-append-to-body="true">
						<i class="fas fa-pencil cursor-pointer"></i> <br>
					</span>
					<span ng-click="$ctrl.delete(releaseNote)" uib-tooltip="Delete" tooltip-placement="right" tooltip-append-to-body="true" style="padding-top: 5px; display: block;">
						<i class="far fa-trash-alt text-danger cursor-pointer"></i>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>										
