<div class="row" style="padding-left: 15px; padding-right: 15px; margin-top: 15px">
	<div class="col-sm-12 alert alert-danger" style="display:flex; align-items: center; height: 50px; border-radius: 8px; margin-bottom: 0px; padding: 5px 20px 5px 20px; overflow-x: hidden;text-overflow: ellipsis; white-space: nowrap">
		<i class="fas fa-exclamation-triangle fa-2x"></i>
		<span style="margin-left: 15px; overflow-x: hidden; text-overflow: ellipsis;">
			<b>The branch parent account ({{$ctrl.plan.branchParent.trim()}}) for this plan has been purged! You may need to re-parent any child accounts.
				<span class="cursor-pointer" uib-popover-template="'reparentAdvisoryPopover.html'"
				 popover-append-to-body="true" popover-placement="top"
				 popover-trigger="'mouseenter'">
					<i class="fas fa-question-circle"></i>
				</span> Contact an Admin to migrate the data or
				<a ng-click="$ctrl.discardPlan()" class="cursor-pointer"> click here to discard.</a>
			</b>
		</span>
	</div>
</div>

<script type="text/ng-template" id="reparentAdvisoryPopover.html">
	<span>
		If the new branch parent does not already have a plan, one will be created during the next CAM refresh.
	</span>
</script>