<div  class="row" style="padding-left: 15px; padding-right: 15px; margin-top: 15px">
	<div class="col-sm-12 alert alert-warning" style="height: 50px; border-radius: 8px; margin-bottom: 0px; padding: 5px;">
		<span style="display: inline-block; margin-top: 5px; margin-left: 15px">
			<i class="fas fa-exclamation-square fa-2x"></i>
		</span>
		<span style="vertical-align: super; padding-left: 15px">
			<b>This customer has not been classified. 
				<a ng-click="$ctrl.customerClassificationModal();" class="cursor-pointer">Click here</a>
				to classify the customer into one or multiple categories.
			</b>
		</span>
	</div>
</div>