<div class="modal-header bg-primary wrapper-sm text-center">
	<button class="close pull-right" type="button" ng-click="$ctrl.cancel()">&times;</button>
	<p class="modal-title">Classify Customer</p>
</div>
<div class="modal-body">
	<error-modal ng-model="$ctrl.clientError"></error-modal>
	<div ng-show="!$ctrl.clientError.message" style="margin-bottom: 15px;">
		<form class="form-horizontal">
			<fieldset>
				<div class="row">	
					<div class="col-sm-1"></div>
					<div class="col-sm-3" style="padding-right: 0px; text-align: center;  margin-top: 5px;">
						<input style="height: 17px; width: 17px"  type="checkbox" ng-model="$ctrl.manufacturing" ng-disabled="$ctrl.closed">	
					</div>				
					<label ng-click="$ctrl.manufacturing = !$ctrl.manufacturing" class="col-sm-3 cursor-pointer" ng-class="$ctrl.closed? 'mute' : ''" style="margin-top: 7px;">Manufacturing</label>
				</div>
				<div class="row">
					<div class="col-sm-1"></div>
					<div class="col-sm-3" style="padding-right: 0px; text-align: center;  margin-top: 5px;">
						<input style="height: 17px; width: 17px"  type="checkbox" ng-model="$ctrl.purchasing" ng-disabled="$ctrl.closed">	
					</div>				
					<label ng-click="$ctrl.purchasing = !$ctrl.purchasing" class="col-sm-3 cursor-pointer" ng-class="$ctrl.closed? 'mute' : ''" style="margin-top: 7px;">Purchasing</label>
				</div>
				<div class="row">	
					<div class="col-sm-1"></div>
					<div class="col-sm-3" style="padding-right: 0px; text-align: center;  margin-top: 5px;">
						<input style="height: 17px; width: 17px"  type="checkbox" ng-model="$ctrl.engineering" ng-disabled="$ctrl.closed">	
					</div>				
					<label ng-click="$ctrl.engineering = !$ctrl.engineering" class="col-sm-3 cursor-pointer" ng-class="$ctrl.closed? 'mute' : ''" style="margin-top: 7px;">Engineering</label>
				</div>
				<div class="row">
					<div class="col-sm-1"></div>	
					<div class="col-sm-3" style="padding-right: 0px; text-align: center;  margin-top: 5px;">
						<input style="height: 17px; width: 17px"  type="checkbox" ng-model="$ctrl.administrative" ng-disabled="$ctrl.closed">	
					</div>				
					<label ng-click="$ctrl.administrative = !$ctrl.administrative" class="col-sm-3 cursor-pointer" ng-class="$ctrl.closed? 'mute' : ''" style="margin-top: 7px;">Administrative</label>
				</div>
				<div class="row">
					<div class="col-sm-1"></div>	
					<div class="col-sm-3" style="padding-right: 0px; text-align: center;  margin-top: 5px;">
						<input style="height: 17px; width: 17px"  type="checkbox" ng-model="$ctrl.closed">	
					</div>				
					<label ng-click="$ctrl.closed = !$ctrl.closed" class="col-sm-3 cursor-pointer" style="margin-top: 7px;">Closed</label>
				</div>
			</fieldset>
		</form>
	</div>
</div>
<div class="modal-footer" style="margin-top: 0;">
	<button class="btn btn-primary" ng-click="$ctrl.classify()">		
		Submit
	</button>
	<button class="btn btn-default" ng-click="$ctrl.cancel()">
		Cancel
	</button>
</div>

<style>
.mute{
	color: darkgray !important;
}
</style>
