<div class="modal-header bg-primary wrapper-sm text-center">
	<button class="close pull-right" type="button" ng-click="$ctrl.cancel()">&times;</button>
	<p class="modal-title">Add New Customer</p>
</div>
<div class="modal-body">
	<error-modal ng-model="$ctrl.clientError"></error-modal>
	<div ng-show="!$ctrl.clientError.message" style="margin-bottom: 15px;">
		<form name="$ctrl.planForm" novalidate>
			<fieldset>							
				<div class="form-group">
					<label for="acctCorpId">Customer Name:</label>
					<input autocomplete="off" type="text" name="customerName" id="planCustomerNameInput" ng-model="$ctrl.formFields.customerName"						
						class="hideclose form-control"				
						required />
				</div>
				
				<div class="form-group">
					<div class="col-sm-6" style="padding-left: 0;">
						<label for="acctManager">Branch:</label>
						<select name="branch" ng-model="$ctrl.formFields.branch" class="form-control"
							    ng-options="' (' + branch.branch + ') ' + branch.branchName for branch in $ctrl.branches track by branch.branchID"
							    required>								
						</select>				
					</div>
					<div class="col-sm-6" style="padding-right: 0;">
						<label for="acctManager">Market Segment:</label>
						<select name="marketSegment" ng-model="$ctrl.formFields.marketSegment" class="form-control"
							    ng-options="marketSegment.marketSegment + ' (' + marketSegment.marketSegmentCode + ')' for marketSegment in $ctrl.marketSegments track by marketSegment.marketSegmentID"
							    required>
						</select>

					</div>
					
				</div>								
				
				</fieldset>
		</form>
	</div>
	
	<div style="width: 100%; overflow: hidden; margin-bottom: 0;" class="alert alert-info">
		<div class="text-center">
			Only new customers, that don't have account numbers assigned to them, should be created using this form.
		</div> 		
	</div>
</div>
<div class="modal-footer" style="margin-top: 0;">
	<button class="btn btn-primary" ng-click="$ctrl.add()" ng-disabled="$ctrl.planForm.$invalid || $ctrl.clientError.message || $ctrl.creatingPlan">		
		Create Plan
	</button>
	<button class="btn btn-default" ng-click="$ctrl.cancel()">
		Cancel
	</button>
</div>
