<!DOCTYPE html>
<html >
<head>
    <base href="/">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="application-na.me" content="Customer Account Management"/>
    <link rel=icon href="./assets/img/tti-logo.png">
    <meta name="author" content="TTI Inc." />        
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Customer Account Management</title>
    
    <link rel="shortcut icon" href="">


</head>
<body onload='onLoad()' data-spy="scroll" data-target=".page-nav" data-offset="500">         
        
    <app-root></app-root>
    <header-content user-name="' ASchrock '"></header-content>
    
    <sidebar-content></sidebar-content>
    
    <div class="container">        
        <ui-view class="main-page"></ui-view>
    </div>
    <div id="ie-warning" style="visibility: hidden; position: absolute; z-index: 99999999999999999; width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; background: rgba(255,255,255, 0.6)">
    	<div style="border-radius: 15px; background: red; padding: 20px; text-align: center; color: white; box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);">
    		<i class="fab fa-internet-explorer fa-5x"></i><br>
    		<span style="color: white; font-size: 26px; margin-top: 10px; display: inline-block">CAM no longer supports Internet Explorer!</span></br>
    		<span style="color: white; font-size: 20px"><span style="font-weight: 600">Google Chrome </span><i class="fab fa-chrome"></i> is the recommended browser for CAM and can be <a href="https://www.google.com/chrome/" style="color: cornflowerblue">downloaded here</a>.</span>
    	</div>
    </div>

    
    <script>
    	document.execCommand('ClearAuthenticationCache', 'false');
    </script>
    
    <script>
     //disable application if IE
     function onLoad() {
         if(window.document.documentMode){
              //document.getElementById("app-body").style.visibility="hidden";
              document.getElementById("ie-warning").style.visibility="visible";
         }
     }
    </script>
    
    <script type="text/ng-template" id="quoteErrorTemplate.html">
        <h3 style="margin-top: 5px;"><img src="../strategic/assets/img/oops.png" height="32px" alt="oops"> Retrieval Error<span style="color: #ccc;" class="cursor-pointer pull-right" ng-click="quoteErrorPopover.isOpen = false">&times</span></h3>
        <p>An error occurred attempting to retrieve this quote's information</p>
        <uib-accordion>
        <uib-accordion-group heading="Click here for more details" panel-class="panel-danger">
            <p>
                {{quote.errorCode}}
            </p>                        
        </uib-accordion-group>
        </uib-accordion> 
    </script>	 
	  
</body>
</html>
