<div class="list-group" style="margin: 0;" ng-click="$ctrl.isOpen = false">
	<a ng-click="$ctrl.selectFeature(feature)" ng-repeat="feature in $ctrl.features" class="list-group-item list-group-item-action">{{feature.feature}}</a>
</div>


<style>
.help-menu>.popover-inner>.popover-content {
	padding: 0;
}
.list-group-item-action {
	cursor: pointer;
}
.list-group-item-action {
	padding-left: 5px;
}
.list-group-item-action:hover {
	text-decoration: underline !important;
}
.feature-list>.popover-inner>.popover-content {
	max-height: 205px;
	overflow-y: auto;
	padding: 0px;
}
</style>