
<div class="col-sm-3 contact-selector" style="padding-left: 0"
	uib-dropdown>

	<input type="text" ng-readonly="!$ctrl.editMode"
		placeholder="Search by Name"
		ng-model="$ctrl.contactField.delegateName" class="form-control"
		ng-change="$ctrl.checkContactName($ctrl.contactField)"
		autocomplete="off" uib-dropdown-toggle>

	<ul uib-dropdown-menu
		ng-show="customers.length + suppliers.length + tti.length > 0"
		style="padding-top: 0px; min-width: 260px;">
		<li ng-show="customers.length > 0"
			ng-click="$ctrl.toggleContactGroup($event, $ctrl.contactField, 'customerContacts')"
			style="text-align: center; background-color: #e1ffd6; border-bottom: green solid 1px; padding-right: 12px"
			class="cursor-pointer"><b>Customer Contacts</b>
			<div style="width: 10px; display: inline-block; float: right;">
				<span ng-show="!$ctrl.contactField.customerContacts"
					style="width: 10px; position: absolute"> <i
					class="fas fa-caret-right"></i>
				</span> <span ng-show="$ctrl.contactField.customerContacts"
					style="width: 10px; position: absolute"> <i
					class="fas fa-caret-down"></i>
				</span>
			</div></li>
		<li ng-show="$ctrl.contactField.customerContacts"
			ng-repeat="contact in $ctrl.contactLists.customer | orderBy: 'delegateLastName' | filter:{delegateName: $ctrl.contactField.delegateName} as customers"
			ng-click="$ctrl.contactSelect($ctrl.contactField, contact)"><a>
				<b>{{contact.delegateName}}</b> | <span>{{contact.delegateTitle}}</span>
		</a></li>
		<li ng-show="suppliers.length > 0"
			ng-click="$ctrl.toggleContactGroup($event, $ctrl.contactField, 'supplierContacts')"
			style="text-align: center; background-color: #fce2b3; border-bottom: orange solid 1px; padding-right: 12px; position: relative"
			class="cursor-pointer"><b>Supplier Contacts</b>
			<div style="width: 10px; display: inline-block; float: right;">
				<span ng-show="!$ctrl.contactField.supplierContacts"
					style="width: 10px; position: absolute"> <i
					class="fas fa-caret-right"></i>
				</span> <span ng-show="$ctrl.contactField.supplierContacts"
					style="width: 10px; position: absolute"> <i
					class="fas fa-caret-down"></i>
				</span>
			</div></li>
		<li ng-show="$ctrl.contactField.supplierContacts"
			ng-repeat="contact in $ctrl.contactLists.suppliers | orderBy: 'delegateLastName' | filter:{delegateName: $ctrl.contactField.delegateName} as suppliers"
			ng-click="$ctrl.contactSelect($ctrl.contactField, contact)"><a>
				<b>{{contact.delegateName}}</b> | <span>{{contact.delegateTitle}}</span>
		</a></li>
		<li ng-show="tti.length > 0"
			ng-click="$ctrl.toggleContactGroup($event, $ctrl.contactField, 'ttiContacts')"
			style="text-align: center; background-color: #a8caff; border-bottom: blue solid 1px; padding-right: 12px"
			class="cursor-pointer"><b>TTI Contacts</b>
			<div style="width: 10px; display: inline-block; float: right;">
				<span ng-show="!$ctrl.contactField.ttiContacts"
					style="width: 10px; position: absolute"> <i
					class="fas fa-caret-right"></i>
				</span> <span ng-show="$ctrl.contactField.ttiContacts"
					style="width: 10px; position: absolute"> <i
					class="fas fa-caret-down"></i>
				</span>
			</div></li>
		<li ng-show="$ctrl.contactField.ttiContacts"
			ng-repeat="contact in $ctrl.contactLists.tti | orderBy: 'delegateLastName' | filter:{delegateName: $ctrl.contactField.delegateName} as tti"
			ng-click="$ctrl.contactSelect($ctrl.contactField, contact)"><a>
				<b>{{contact.delegateName}}</b> | <span>{{contact.delegateTitle}}</span>
		</a></li>
	</ul>

</div>
<div class="col-sm-4" style="padding-left: 0">
	<input type="text" placeholder="Title"
		ng-model="$ctrl.contactField.delegateTitle" maxlength=100
		class="form-control"
		ng-readonly="$ctrl.contactField.delegateName === '' || $ctrl.contactField.selectedContact || !$ctrl.editMode">
</div>
<div class="col-sm-3" style="padding-left: 0">
	<input type="text" placeholder="Phone #"
		ng-model="$ctrl.contactField.delegatePhone" maxlength=50
		class="form-control"
		ng-readonly="$ctrl.contactField.delegateName === '' || $ctrl.contactField.selectedContact || !$ctrl.editMode">
</div>
<div class="col-sm-1" ng-if="$ctrl.editMode"
	ng-switch="$ctrl.contactField.selectedContact.delegateName == $ctrl.contactField.delegateName && $ctrl.contactField.delegateName !== ''"
	style="padding-left: 0; position: relative">
	<button ng-switch-when="false" class="btn btn-sm btn-primary"
		uib-tooltip="Create New Contact" tooltip-append-to-body="true"
		style="height: 34px; width: calc(100% - 15px); position: absolute;"
		ng-click="$ctrl.createContact($ctrl.contactField)"
		ng-disabled="$ctrl.contactField.delegateName === ''">
		<i class="fas fa-user-plus"></i>
	</button>
	<button ng-switch-when="true" class="btn btn-sm btn-primary"
		uib-tooltip="Edit Contact" tooltip-append-to-body="true"
		style="height: 34px; width: calc(100% - 15px); position: absolute;"
		ng-click="$ctrl.editContact($ctrl.contactField)">
		<i class="fas fa-user-edit"></i>
	</button>
</div>