<!-- strategy.html -->
<!-- <page-header active-page="'strategies'" plan="plan"></page-header> -->

<div ng-include="pageIncludes.clientErrorTemplate"></div>

<div ng-include="pageIncludes.notFoundTemplate"></div>

<div class="row" ng-hide="clientError.message || notFound.item">
	<div class="col-md-4 col-sm-6">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h4 class="panel-title"><b>Strategies</b>
					<span class="pull-right cursor-pointer" ng-if="strategyRow.hasPermission('strategy-add')">
						<button style="margin-top: -6px;" class="btn btn-sm btn-primary" ng-click="updateStrategy.add()" ng-disabled="!STCButtons.enabled">
							Add Strategy
						</button>
					</span>
				</h4>
			</div>
			<div class="panel-body" style="height: 611px; overflow-y: auto; overflow-x: hidden;">				
				<form name="updateStrategyForm" confirm-on-exit>
					<table id="strategy-container" class="table table-hover">
						<tbody ng-model="strategies" as-sortable="strategyRow.dragOptions" is-disabled="!strategyRow.hasPermission('strategy-drag') || updateTactics.isAddEditMode || updateComments.isAddEditMode">
							<tr id="strategy-add-form" ng-show="updateStrategy.show">
								<td rowspan=5 colspan=6>
									
										<div class="form-group">
											<button style="margin-top: 5px;" class="btn btn-sm btn-success" ng-click="updateStrategy.update()" ng-disabled="!updateStrategy.data || !updateStrategyForm.$dirty || !updateStrategyForm.$valid">
												Save
											</button>
											<button style="margin-top: 5px" class="btn btn-sm btn-default" ng-click="updateStrategy.close()">
												Cancel
											</button>
										</div>
										<div class="form-group" style="position: relative">
											<label>Strategy:</label>
											<textarea char-limit-label limit="500" focus-if="updateStrategy.show" rows="6" style="resize: none;" class="form-control" ng-model="updateStrategy.data"></textarea>
										</div>									
									
							 		<div ng-show="updateStrategy.errorMsg">
										{{updateStrategy.errorMsg}}
									</div>
								</td>
							</tr>
							<tr as-sortable-item ng-show="!updateStrategy.show" 
								class="animate-repeat-table-row" 
								ng-repeat="strategy in strategies" ng-click="strategyRow.select(strategy, $index)" ng-class="{'selected': $index == strategyRow.index}">
								
								<td as-sortable-item-handle style="width: 2%;" ng-class="{'as-sortable-item-handle-no-drag': !strategyRow.hasPermission('strategy-drag')}">
									<span ng-if="strategyRow.hasPermission('strategy-edit')" ng-click="updateStrategy.edit(strategy, $index)"
										  uib-tooltip="Edit Strategy"
										  tooltip-append-to-body="true">
										  <span id="strategy-edit" ng-show="$index == strategyRow.index && STCTrashes.enabled" class="cursor-pointer">
											<i class="fas fa-pencil"></i>  
										  </span>										
									</span>
								</td>
								<td as-sortable-item-handle style="width: 96%;" ng-class="{'as-sortable-item-handle-no-drag': !strategyRow.hasPermission('strategy-drag')}">
									<span style="display: block; white-space: pre-line; margin-top: -1em;">
										{{strategy.planStrategy}}
									</span>
								</td>
								<td as-sortable-item-handle style="width: 2%;" ng-class="{'as-sortable-item-handle-no-drag': !strategyRow.hasPermission('strategy-drag')}">
									<span ng-if="strategyRow.hasPermission('strategy-delete')" ng-click="trashStrategy.remove(strategy)"
										  uib-tooltip="Delete Strategy"
										  tooltip-append-to-body="true">
										  <span id="strategy-delete" ng-show="$index == strategyRow.index && STCTrashes.enabled" class="text-danger cursor-pointer">
											<i class="far fa-trash-alt"></i>  
										  </span>										
									</span>
								</td>							
							</tr>						
						</tbody>
					</table>
				</form>
			</div>
		</div>
	</div>
	<div class="col-md-4 col-sm-6">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h4 class="panel-title"><b>Tactics</b>
					<span class="pull-right cursor-pointer" ng-if="tacticRow.hasPermission('tactic-add')">
						<button style="margin-top: -6px;" class="btn btn-sm btn-primary" ng-click="updateTactics.add()" ng-disabled="!STCButtons.enabled || isEmptyStrategy">
							Add Tactic
						</button>
					</span>
				</h4>
			</div>
			<div class="panel-body" style="height: 611px; overflow-y: auto; overflow-x: hidden;">
				<div ng-show="updateStrategy.isAddEditMode">
					<h2 class="text-muted text-center">No Tactics to Display</h2>
				</div>
				<div ng-show="!updateStrategy.isAddEditMode">
				<form name="updateTacticsForm" confirm-on-exit>
					<table id="tactic-container" class="table table-hover">
						<tbody ng-model="tactics" as-sortable="tacticRow.dragOptions" is-disabled="!tacticRow.hasPermission('tactic-drag') || updateComments.isAddEditMode">
							<tr id="tactic-add-form" ng-show="updateTactics.show">
								<td rowspan=5 colspan=6>											
										<div class="form-group">							
										<button style="margin-top: 5px;" class="btn btn-sm btn-success" ng-click="updateTactics.update()" ng-disabled="!updateTactics.data || !updateTacticsForm.$dirty || !updateTacticsForm.$valid">
											Save
										</button>
										<button style="margin-top: 5px;" class="btn btn-sm btn-default" ng-click="updateTactics.close()">
											Cancel
										</button>
										</div>
										<div class="form-group">
											<label>Due Date: </label>											
											<p class="input-group">
												<input type="text" 
													placeholder="Enter date here... mm/dd/yyyy" 
													class="form-control" 
													uib-datepicker-popup="{{format}}"
													alt-input-formats="altInputFormats"												
													ng-model="updateTactics.dueDate"
													is-open="updateTactics.isDatePickerOpened" 
													datepicker-options="updateTactics.dateOptions"
													ng-model-options="{timezone: '-0500'}"
													close-text="Close"
													name="tactic-due-date"
													focus-if="updateTactics.show">
												<span class="input-group-btn">
													<button type="button" class="btn btn-default" ng-click="updateTactics.openDatePicker()">
														<i class="far fa-calendar-alt"></i>
													</button>
												</span>
											</p>
										</div>
										<div class="form-group" style="position: relative">
											<textarea char-limit-label limit="500" name="tactic-description" rows="4" placeholder="Enter tactic here..." style="resize: none;" class="form-control" ng-model="updateTactics.data" ng-focus="tacticFocused = true" ng-blur="tacticFocused = false"></textarea>
										</div>
										<div class="form-group">
											<label>Add Participant:</label>
											<div >												
												<lookup-user ng-model="updateDelegates.test" on-select="updateDelegates.setSelected($item)"></lookup-user>
<!-- 												<span class="input-group-btn"> -->
<!-- 													<button class="btn btn-default" ng-click="updateDelegates.change()" ng-disabled="!updateDelegates.test"> -->
<!-- 														<i class="fas fa-user-plus"></i> -->
<!-- 													</button>		 -->
<!-- 												</span> -->
											</div>
<!-- 											<span style="font-size: 20px; vertical-align: middle;">Add/Remove Delegates: </span> -->
<!-- 											<div class="btn-group pull-right" uib-dropdown> -->
<!-- 												<button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="listDelegates.length==0"> -->
<!-- 													{{updateDelegates.dropDownText}} <span style="margin-left: 10px;" class="caret"></span> -->
<!-- 												</button> -->
<!-- 												<ul class="dropdown-menu scrollable-menu" role="menu" uib-dropdown-menu> -->
<!-- 													<li role="menuitem"> -->
<!-- 														<a href ng-click="updateDelegates.change()">All</a> -->
<!-- 													</li> -->
<!-- 													<li class="divider"></li> -->
<!-- 													<li role="menuitem" ng-repeat="title in listDelegateTitles"> -->
<!-- 														<a href ng-click="updateDelegates.changeTitle(title.delegateTitle, $index)"> {{::title.delegateTitle}}</a> -->
<!-- 													</li> -->
<!-- 													<li class="divider"></li> -->
<!-- 													<li role="menuitem" ng-repeat="delegate in listDelegates"> -->
<!-- 														<a href ng-click="updateDelegates.change(delegate.delegateName, $index)"> {{::delegate.delegateName}}</a> -->
<!-- 													</li> -->
<!-- 												</ul> -->
<!-- 											</div> -->
										</div>
																				
										<div class="form-group">
											
											<table id="tactic-participants" ng-show="showDelegatesTable()" class="table table-striped table-bordered table-hover table-condensed" style="margin: 0;">
												<thead>
													<tr class="bg-info table-header table-header-align-center">
														<th style="width: 5%">Action</th>
														<th style="width: 45%">Delegate</th>
														<th style="width: 25%">Branch</th>
														<th  style="width: 22%" class="hidden-print">Remove Delegate</th>	                
													</tr>
												</thead>
											</table>
											<div style="height: 200px; overflow-y: auto;">
												<table class="table" style="margin: 0;">
													<tbody>
														<tr class="animate-repeat-tablerow" ng-repeat="del in addRemoveDelegates">
															<td style="width: 10%; vertical-align: middle;" class="table-column-align-center">
																<span ng-show="del.action == 0" uib-tooltip="{{showActionTooltip(0)}}" tooltip-placement="right" tooltip-append-to-body>
																	<i ng-class="showClassContent(0)"></i>
																</span>
																<span ng-show="del.action == 1" uib-tooltip="{{showActionTooltip(1)}}" tooltip-placement="right" tooltip-append-to-body>
																	<i ng-class="showClassContent(1)"></i>
																</span>
															</td>
															<td style="width: 45%; vertical-align: middle;" class="table-column-align-center">
																{{del.fullName}}
															</td>
															<td style="width: 26%; vertical-align: middle;" class="table-column-align-center">
																{{del.branchLocation}}
															</td>
															<td style="width: 20%; vertical-align: middle;" class="table-column-align-center hidden-print">
																<span ng-show="addRemoveDelegates[$index].action !== assigned">
																	<button ng-model="addRemoveDelegates[$index].action" ng-click="resetRemovedDelegate($index)" class="btn btn-default btn-sm"><i class="fa fa-user-times"></i></button>
																</span>
																<span ng-show="addRemoveDelegates[$index].action === assigned">
																	<button ng-model="addRemoveDelegates[$index].action" ng-click="removeAddedDelegate($index)" class="btn btn-default btn-sm"><i class="fa fa-user-times"></i></button>
																</span>
															</td>
														</tr>                    
													</tbody>
												</table>
											</div>
										</div>								
							 		<div ng-show="updateTactics.errorMsg">
										{{updateTactics.errorMsg}}
									</div>
								</td>
							</tr>
							<tr id="tactic{{$index}}" as-sortable-item ng-show="!updateTactics.show" class="animate-repeat-table-row" 
								ng-repeat="tactic in tactics" ng-click="tacticRow.select(tactic, $index)" ng-class="{'selected': $index == tacticRow.index}">
								<td as-sortable-item-handle style="width: 2%;" ng-class="{'tactic-highlight-inprogress': tactic.planStatus == 'in progress', 'tactic-highlight-complete': tactic.planStatus == 'complete', 'as-sortable-item-handle-no-drag': !strategyRow.hasPermission('tactic-drag')}">
									<span ng-if="tacticRow.hasPermission('tactic-edit')" ng-click="updateTactics.edit(tactic, $index)"
										  uib-tooltip="Edit Tactic" tooltip-append-to-body="true">
										  <span id="tactic-edit" ng-show="$index == tacticRow.index && STCPens.enabled" class="cursor-pointer">
											<i class="fas fa-pencil"></i>  
										  </span>
									</span>
								</td>
								<td as-sortable-item-handle style="width: 96%;" ng-class="{'as-sortable-item-handle-no-drag': !strategyRow.hasPermission('tactic-drag')}">								
									<span style="display: block; font-weight: bold;">
											Due Date: {{tactic.isoDate}} 
									</span>
									<span style="display: block; white-space: pre-line; margin-top: -1em;">								
										{{tactic.planTactic}}
									</span>
								</td>
								<td as-sortable-item-handle style="width: 2%;" ng-class="{'as-sortable-item-handle-no-drag': !strategyRow.hasPermission('tactic-drag')}">
									<span ng-if="tacticRow.hasPermission('tactic-delete')" ng-click="trashTactics.remove(tactic)"
										   uib-tooltip="Delete Tactic"
										   tooltip-append-to-body="true">
										   <span id="tactic-delete" ng-show="$index == tacticRow.index && STCPens.enabled" class="text-danger cursor-pointer">
											<i class="far fa-trash-alt"></i>   
										   </span>										
									</span>
								</td>
							</tr>						
						</tbody>
					</table>
				</form>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4 col-sm-12">
	<div class="panel panel-info">
		<div class="panel-heading">
			<h4 class="panel-title"><b>Activity</b>					
				<span class="pull-right">
					<button style="margin-top: -6px;" class="btn btn-sm btn-primary" ng-click="updateComments.add()" 
							ng-disabled="!STCButtons.enabled || isEmptyTactic">
						Add Comment
					</button>
				</span>
			</h4>
		</div>			
		<div class="panel-body" style="height: 611px; overflow-y: auto; overflow-x: hidden;">
			<div ng-show="updateStrategy.isAddEditMode || updateTactics.isAddEditMode">
				<h2 class="text-muted text-center">No Activity to Display</h2>
			</div>
			<div ng-show="!updateStrategy.isAddEditMode && !updateTactics.isAddEditMode">
				<div ng-show="updateComments.show">
					<form name="updateCommentsForm">
						<fieldset>
							<div class="form-group">
								<button style="margin-top: 5px;" class="btn btn-sm btn-success" ng-click="updateComments.update()" ng-disabled="!updateCommentsForm.$dirty || !updateComments.data || !updateCommentsForm.$valid">
									Save
								</button>
								<button style="margin-top: 5px" class="btn btn-sm btn-default" ng-click="updateComments.close()">
									Cancel
								</button>
							</div>
							<div class="form-group" style="position: relative">
								<label>Comment:</label>
								<textarea char-limit-label limit="500" rows="4" placeholder="Enter comment here..." focus-if="updateComments.show" style="resize: none;" class="form-control" ng-model="updateComments.data"></textarea>
							</div>
							<div class="form-group" ng-show="updateComments.showDone()">
								<label><input style="margin-right: 5px;" class="cursor-pointer" type="checkbox" name="tacticComplete" ng-model="updateComments.planTacticComplete" uib-tooltip="Mark As Done" /> Are you done with this tactic?</label>
							</div>
							
						</fieldset>
					</form>
				</div>
				<div ng-show="!updateComments.show">
					<table id="activity-participants-table" class="table table-hover">
						<caption style="font-weight: bold; color: #31708F">Delegates</caption>
							<thead>
								<tr>
									<th style="width: 1%"></th>
									<th style="width: 40%">Delegate</th>
									<th style="width: 54%">Location</th>
									<th style="width: 4%">Done</th>
									<th style="width: 1%"></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="delegate in tactics[tacticRow.index].planTacticDelegates" ng-click="delegateRow.select(delegate, $index)" ng-class="{'selected': $index == delegateRow.index}">
									<td style="width: 1%">
									</td>
									<td style="width: 40%">{{delegate.planDelegate.delegateName}}</td>
									<td style="width: 54%">{{delegate.planDelegate.delegateLocation}}</td>
									<td style="width: 4%">
										<i class="far fa-check-square text-success" ng-show="delegate.planTacticComplete"></i>								
									</td>
									<td style="width: 1%">
										<span ng-if="delegateRow.hasPermission('delegate-delete')" ng-click="delegateRow.remove(delegate)"
											  uib-tooltip="delete">
											  <span id="activity-participant-delete" ng-show="delegateRow.index == $index" class="text-danger cursor-pointer">
												<i class="far fa-trash-alt"></i>
											  </span>
											
										</span>
									</td>
								</tr>
							</tbody>
					</table>	
					<table class="table table-hover">
						<caption style="font-weight: bold; color: #31708F">Comments</caption>
						<tbody>
							<tr style="height: 49px;" class="animate-repeat-table-row" 
								ng-repeat="comment in comments" ng-class="{'selected': $index == commentRow.index}">
								<td colspan="3" ng-if="updateComments.updating && $index ==commentRow.index">
									<div class="form-group" style="margin-bottom: 8px;">
										<label>Comment:</label>
										<textarea rows="5" class="form-control" ng-model="comment.comment"></textarea>
									</div>
									<div class="form-group" style="margin-bottom: 0;">
										<button type="button" class="btn btn-primary" ng-click="commentRow.updateComment(comment)">Save</button>
										<button type="button" class="btn btn-default" ng-click="updateComments.cancel(true)">Cancel</button>
									</div>
								</td>
								<td style="width: 1%;" ng-if="!updateComments.updating || $index != commentRow.index">
									<span id="activity-comment-edit" ng-if="commentRow.permitEdit(comment)" class="cursor-pointer" ng-click="updateComments.edit(comment, $index)">
										<i class="fas fa-pencil"></i>
									</span>									
								</td>
								<td style="width: 98%" ng-if="!updateComments.updating || $index != commentRow.index">
									<blockquote style="margin-bottom: 0; font-size: 14.5px; border-left: 5px solid #0099CC; word-wrap:break-word; white-space:normal; clear: both;">
										<span style="white-space: pre-line;">{{comment.comment.trim()}}</span>
										<footer style="margin-top: 3px;">
											{{comment.user}} - {{comment.commentDateTime}} 
											<span style="font-style: italic;" ng-if="comment.modifiedBy">
												(edited on {{comment.modifyDateTime}})
											</span>
										</footer>
									</blockquote>
<!-- 									<span style="display: block;"><span style="font-weight: bold;">{{::comment.commentDateTime}}</span> - {{::comment.user}}</span> -->
<!-- 									<span style="display: block; white-space: pre-line;">{{::comment.comment}}</span>   -->
								</td>
								<td style="width: 1%;" ng-if="!updateComments.updating || $index != commentRow.index">
									<span id="activity-comment-delete" ng-if="commentRow.permitEdit(comment)" class="cursor-pointer" ng-click="updateComments.delete(comment, $index)">
										<i class="far fa-trash-alt text-danger"></i>
									</span>
								</td>
							</tr>		
						</tbody>
					</table>
				</div>	
			</div>							
		</div>
	</div>
</div>
</div>

<style>
td.as-sortable-item-handle{
	border: 0px !important;
}
.as-sortable-item, .as-sortable-item-selected {
	overflow: hidden;
}

.table-hover>tbody>tr:hover {
    background-color: none;
}
</style>

<!-- <script type="text/ng-template" id="markAsComplete.html"> -->
<!--		<button style="width: 96px; display: block; margin-bottom: 5px;" class="btn btn-sm btn-danger"><i class="fa fa-trash-o"></i> Remove</button> --> 				
<!--        	<button style="width: 96px; display: block;" class="btn btn-sm btn-info"><i class="fa fa-envelope-o"></i> Email</button>					  -->
<!--			<button style="width: 96px; display: block;" class="btn btn-sm btn-success"><i class="fa fa-check-square-o"></i> Complete</button>   -->
<!--     </script> -->