<div class="widget-header-inverse" style="width: 100%; display: inline-block; border-bottom: 2px solid #276ab0">
	<b><a ui-sref="customerList" style="color: whitesmoke; cursor: pointer">{{$ctrl.totalPlans | number}} Customer{{$ctrl.totalPlans === 1? '' : 's'}}</a></b>
	<b><a ng-click="$ctrl.openLeads()" style="float: right; color: whitesmoke; cursor: pointer">{{$ctrl.totalLeads}} Lead{{$ctrl.totalLeads === 1? '' : 's'}}</a></b>
	<!-- <span style="float: right">Q{{$ctrl.quarter}} | {{$ctrl.year}}</span>
	<span style="float: center; margin-left: 45px">
		<a ng-click="$ctrl.openCallReportsPage()" class="cursor-pointer" style="float: center; color:whitesmoke">View All</a>
	</span> -->
</div>
<div style="height: calc(100% - 30px)">
	<div ng-if="$ctrl.totalPlans > 0" style="display: flex; flex: 1; flex-direction: row; white-space: nowrap; height: 100%; width: 100%">
		<div style="display: inline-flex; flex: 1.2; height: 100%; flex-direction: column; justify-content: center; position: relative;">
			<canvas id="doughnut"
				style="width: 80%"
				class="chart chart-doughnut"
				chart-data="$ctrl.data" 
				chart-labels="$ctrl.labels"
				chart-colors="$ctrl.colors"
				chart-options="$ctrl.options"
				width="100"
				height="70"
				>
			</canvas>
			<span style="font-size: 22px; font-weight: 600; display: block; position: absolute; justify-self: center; align-self: center" ng-style="{'color': $ctrl.totalPercentToPlan >= 100? 'green' : 'red'}">{{$ctrl.percentToPlanString}}</span>
		</div>
		<div style="display: inline-flex; flex: 1; flex-direction: column; text-align: center;">
			<span style="font-size: 20px; font-weight: 600; color: #777; white-space: pre-line; margin-top: -10px">
				<span ng-style="{'color': $ctrl.totalPercentToPlan >= 100? 'green' : 'red'}">{{$ctrl.totalRunRate}}</span><br> Run Rate <span style="color: black;"><br>{{$ctrl.totalTarget}}</span><br> Target
			</span>
		</div>
	</div>
	<div ng-if="$ctrl.totalPlans === 0" class="text-muted" style="height: 100%; width: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center">
		<i class="fas fa-industry-alt fa-5x"></i>
		<br>
		<b style="font-size: x-large;">
			You Have No Customers
		</b>
	</div>
	<div ng-if="$ctrl.totalPlans === undefined" class="text-muted" style="height: 100%; width: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center">
		<i id="spinner" class="fas fa-spinner fa-6x"></i>
	</div>
</div>
