<div class="widget-header-inverse" style="width: 100%; display: inline-block; border-bottom: 2px solid #276ab0">
	<span>No CAM Role</span>
	<span style="float: right"><a href="file://txfil002/group/Branches/All%20Branches/Key%20Account%20Management" style="color: whitesmoke">Help</a></span>
</div>

<div style="width: 100%; height: calc(100% - 30px); overflow: hidden; white-space: nowrap">
<!-- 
	<div style="display: inline-block; width: 40%; height: 100%; padding: 15px">
		<b style="font-size: large;">
			Your job title hasn't been mapped to a CAM role. Please contact your support team.
		</b>
	</div>
-->
	<div style="display: inline-block; vertical-align: top; overflow-y: auto; height: 100%;">
		<div class="text-center text-muted" style="display: flex; justify-content: center; align-items: center; height: 100%">
			<div style="padding: 10px">
				<b style="font-size: large;">
					Your job title hasn't been mapped to a CAM role.<br/>
					Please contact your RBOM.
				</b>
			</div>		
		</div>
	</div>

</div>

<style>
.summary {
	overflow: hidden;
}

.summary-expanded {
	max-height: auto;
}

.summary-collapsed {
	max-height: 0;
}

.dreg-footer>td {
	padding-top: 4px !important;
}
</style>