<div class="widget-header-inverse" style="width: 100%; display: inline-block; border-bottom: 2px solid #276ab0">
	<span><a ui-sref="nuggetSummary" style="color: whitesmoke">Other People's Business (OPB)</a></span>
</div>
<div ng-if="$ctrl.nuggets && $ctrl.nuggets.length > 0" style="width: 100%; height: calc(100% - 30px); overflow: hidden; white-space: nowrap">
	<div style="display: inline-block; width: 50%; height: 100%; padding: 15px">
		<div style="flex: 1; display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100%;">
			<div style="flex: 8">
				<img  ng-if="!$ctrl.isEU" style="height: 100px" src="../../../../../assets/img/noun_thief.png">
				<img  ng-if="$ctrl.isEU" style="height: 100px" src="../../../../../assets/img/noun_thief_eu.png">
			</div>
			<div style="flex: 1; padding-left: 10px; padding-right: 10px">
				<span class="badge" style="background-color: #5cb85c; font-size: 15px">
					<div ng-switch="$ctrl.getNuggetListEntity($ctrl.nuggets)">
						<span ng-switch-when="NDC|ADC" ng-switch-when-separator="|">{{$ctrl.totalValue  | currency: '$' : 0}}</span>
						<span ng-switch-when="EDC">{{$ctrl.totalValue  | currency: '' : 0}} &euro;</span>
						<span ng-switch-default>{{$ctrl.totalValue | currency: '' : 0}}</span>
					</div>
				</span>
			</div>
			<div style="flex: 1; padding-top: 6px">
				<span class="badge" style="background-color: #ede240; color: black; font-size: 15px; width: 100%">
					{{$ctrl.totalCount}}&nbsp;OPB<span ng-if="$ctrl.totalCount !== 1">s</span>
				</span>
			</div>
		</div>
	</div>
	<div style="width: 50%; display: inline-block; vertical-align: top; overflow-y: auto; height: 100%;">
		<div ng-repeat="nugget in $ctrl.nuggets" style="border-bottom: 1px solid lightgray; padding: 4px; padding-right: 8px; overflow: hidden">
			<span ng-click="$ctrl.goToPlan(nugget)" class="cursor-pointer badge ng-binding" style="background-color: #5583b4">{{nugget.manufacturer.manufacturerCode}}</span>
			<span ng-click="$ctrl.goToPlan(nugget)"  class="cursor-pointer badge ng-binding" style="background-color: #d79230">{{nugget.commodity.commodity}}</span>
			<div>
				<a ng-click="$ctrl.goToPlan(nugget)" style="font-weight: 600; cursor: pointer; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display: inline-block; width: 98%; vertical-align: top">{{nugget.customerName}}</a>
			</div>
			<div style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display: block; font-style: italic">
				<div ng-switch="$ctrl.getNuggetEntity(nugget)">
					<span>Value:&nbsp;</span>
					<span ng-switch-when="NDC|ADC" ng-switch-when-separator="|">{{::nugget.value  | currency: '$' : 0}}</span>
					<span ng-switch-when="EDC">{{::nugget.value  | currency: '' : 0}} &euro;</span>
					<span ng-switch-default>{{::nugget.value  | currency: '' : 0}}</span>
				</div>
			</div>
		</div>
	</div>
</div>
<div ng-if="$ctrl.nuggets.length === 0" style="width: 100%; height: calc(100% - 30px); overflow: hidden; white-space: nowrap">
	<div style="display: inline-block; width: 100%; height: 100%; padding: 15px">
		<div style="flex: 1; display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100%;">
			<div style="padding: 6px; flex: 8">
				<img  ng-if="!$ctrl.isEU" style="height: 100px" src="../../../../../assets/img/noun_thief.png">
				<img  ng-if="$ctrl.isEU" style="height: 100px" src="../../../../../assets/img/noun_thief_eu.png">
			</div>
			<div style="padding: 5px 10px 5px 10px; display: flex; justify-content: center">
<!-- 
				<b ng-click="$ctrl.createNewCallReport()"><a class="cursor-pointer" style="color: #5cb85c">+ New OPBM</a></b>
 -->
				<b style="font-size: large;">
					No OPBs to Display
				</b>
			</div>
		</div>
	</div>
</div>
<div ng-if="$ctrl.nuggets === undefined" class="text-muted" style="height: calc(100% - 30px); width: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center">
	<i id="spinner" class="fas fa-spinner fa-6x"></i>
</div>
