	<div class="flex-custom-full">
		<div class="panel panel-info flex-custom-full">

			<!-- ************* Header ********** -->
			<div class="panel-heading flex-header" style="flex:.1; padding:0">
				
				<div style="flex-direction: row; display: flex; align-content: space-between ">
			
					<h4 class="panel-title"  style="flex: 1; margin-left:12px; padding-top:4px; padding-bottom:12px; font-weight: 600; font-size:17px;">Manufacturer</h4>
	
					<div style="align-self: center; justify-content: center; flex:1; flex-direction: row; display: flex; white-space: nowrap">
						<a class="cursor-pointer" ng-click="$ctrl.onCrumbClick({financialType: 'REGION'})"> 
							<h4 class="panel-title" style="font-weight: 600; font-size:17px;">{{$ctrl.entity? $ctrl.entity : 'Global'}}</h4>
						</a>
						<h4 class="panel-title" style="font-weight: 600; font-size:17px;">&nbsp;&nbsp;->&nbsp;&nbsp;</h4>
						<a class="cursor-pointer" ng-click="$ctrl.onCrumbClick({financialType: 'SITE'})"> 
							<h4 class="panel-title" style="font-weight: 600; font-size:17px;">{{$ctrl.account? $ctrl.account : 'All Accounts'}}</h4>
						</a>
					</div>

					<div style="align-self: center; justify-content: flex-end; flex:1">
						<span
							class="pull-right cursor-pointer"
							style="margin-right: 8px;"
							ng-click="$ctrl.onFinancialExpandClick(); $ctrl.showTooltip = false"
							ng-mouseenter="$ctrl.showTooltip = true"
							tooltip-is-open="$ctrl.showTooltip"
							uib-tooltip="{{$ctrl.isExpanded? 'Contract' : 'Expand' }} MFR Financials"
							tooltip-append-to-body="true"
							tooltip-placement="left">
							<span ng-if="!$ctrl.isExpanded"><i  class="far fa-expand-arrows-alt " ></i></span>
							<span ng-if="$ctrl.isExpanded"><i  class="far fa-compress-arrows-alt " ></i></span>
						</span>
					</div>
	
				</div> 
				
				<div class="table-header flex-custom-full" style="text-align: center; flex-direction: row; padding-right:17px;">		
					<div style="flex: 0.6; text-align: start; padding: 8px;">
						<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('mfr',!$ctrl.sort.reverse)">MFR</a>
						<span class="sortorder" ng-show="$ctrl.sort.type === 'mfr'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
					</div>							
					<div style="flex: 1; text-align: right; padding: 8px;">
						<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('dSam',!$ctrl.sort.reverse)">DSAM</a>
						<span class="sortorder" ng-show="$ctrl.sort.type === 'dSam'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
					</div>
					<div style="flex: 1; text-align: right; padding: 8px;">
						<span ng-if="$ctrl.plan.entity === 'GLOBAL'" uib-tooltip="Sum of Dollars & Euros, No Conversion." tooltip-placement="above">
							<i class="fas fa-info-circle cursor-pointer"></i>
						</span>
						<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('runRate',!$ctrl.sort.reverse)">Run Rate</a>
						<span class="sortorder" ng-show="$ctrl.sort.type === 'runRate'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
					</div>
					<div style="flex: 1; text-align: right; padding: 8px;">
						<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('ytdSales',!$ctrl.sort.reverse)">YTD Sales</a>
						<span class="sortorder" ng-show="$ctrl.sort.type === 'ytdSales'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
					</div>
					<div style="flex: 1; text-align: right; padding: 8px; white-space: nowrap;">
						<span uib-tooltip="Last year's TOTAL cummulative sales" tooltip-placement="above">
							<i class="fas fa-info-circle cursor-pointer"></i>
						</span>
						<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('prevYearSales',!$ctrl.sort.reverse)">LY Sales</a>
						<span class="sortorder" ng-show="$ctrl.sort.type === 'prevYearSales'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
					</div>
					<div style="flex: 1; text-align: right; padding: 8px;">
						<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('percentToPrevYearSales',!$ctrl.sort.reverse)">% to LY Sales</a>
						<span class="sortorder" ng-show="$ctrl.sort.type === 'percentToPrevYearSales'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
					</div>
				</div>    
			</div>

			<!-- ************* Body - Table ********** -->
			<div class="panel-body financial-panel  flex-custom-full" style="padding:0">
				<div class="flex-custom-full" style="overflow-y: scroll">
					<table id="financial-mfr-table" class="table" style="margin: 0; position: relative">
						<tbody class="flex-custom-full"> 

							<tr ng-show="!$ctrl.mfrs" style="flex-direction: row" class="animate-repeat-table-row cursor-pointer flex-custom-full">
								<td style="flex: 1">
									<div class="cssload-loader">
									<div></div>
									<div></div>
									<div></div>
									<div></div>
									<div></div>
									<div></div>                                    
								</div>
								</td>                                
							</tr>

							<tr style="height: 49px; flex-direction: row" class="animate-repeat-table-row cursor-pointer flex-custom-full show-on-hover-parent" ng-click="$ctrl.mfrRow.select(mfr)" 
								ng-repeat="mfr in $ctrl.mfrs | orderBy: $ctrl.sort.type : $ctrl.sort.reverse track by $index"
								ng-hide="mfr.entity === 'TOTAL'" 
								ng-class="{'selected-mfr': mfr.mfr === $ctrl.mfr}">

								<td style="flex:0.6;"><span>{{mfr.mfr}}</span></td>							
								<td style="flex:1; text-align: right;">
									<span ng-show="!mfr.editMode" style="position: relative">{{mfr.dSam | currency: '' : 0}}
										<span ng-if="$ctrl.canEdit" ng-click="$ctrl.enableDsamEdit(mfr, $event)" style="position: absolute; right: -18px;" class="show-on-hover" uib-tooltip="Edit DSAM" tooltip-append-to-body="true">
											<i style="height: 17px; width: 17px" class="fal fa-pencil cursor-pointer"></i>
										</span>
									</span>
									<span ng-show="mfr.editMode" style="position: relative; align-items: center; display: flex;">
										<input type="number" ng-model="mfr.dSam" id="{{mfr.mfr + '-dsam'}}" ng-blur="$ctrl.cancelDsamEdit(mfr)" ng-click="$event.stopPropagation();" style="padding: 3px; height: 28px" class="form-control"/>
										<span ng-click="$ctrl.saveDsam(mfr, $event)" ng-mousedown="$event.preventDefault();" style="position: absolute; right: -18px; color: #5cb85c;" uib-tooltip="Save DSAM" tooltip-append-to-body="true">
											<i style="height: 17px; width: 17px" class="fas fa-save cursor-pointer"></i>
										</span>
									</span>
								</td>
								<td style="flex:1; text-align: right;"><span>{{mfr.runRate | currency: '' : 0}}</span></td>
								<td style="flex:1;  text-align: right;"><span style="flex:1">{{mfr.ytdSales | currency: '' : 0}}</span></td>
								<td style="flex:1;  text-align: right;"><span style="flex:1">{{mfr.prevYearSales | currency: '' : 0}}</span></td>
								<td style="flex:1;  text-align: right;"><span style="flex:1" 
									ng-class="mfr.percentToPrevYearSales? (mfr.percentToPrevYearSales >= 100 ? 'label label-success' : 'label label-danger') : ''"
									>{{mfr.percentToPrevYearSales? mfr.percentToPrevYearSales + '%': '-'}}</span></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<!-- *************Footer********** -->
		<div style="font-size: 13px; padding-top: 5px; background-color: white; width:100%; flex:.1; max-height: 40px;" class="table-footer flex-custom-full panel panel-info">
			<div style="text-align: center; flex-direction: row; padding-right:17px;" class="flex-custom-full">
			
				<div class="financial-total-row" style="flex:0.6; text-align: start;  padding-left: 8px; padding-right:8px;">Total</div>
				<div style="flex:1; text-align: right;  padding-left: 8px; padding-right:8px;">{{$ctrl.mfrs[$ctrl.mfrs.length - 1].dSam  | currency: '' : 0}}</div>
				<div style="flex:1; text-align: right;  padding-left: 8px; padding-right:8px;">{{$ctrl.mfrs[$ctrl.mfrs.length - 1].runRate  | currency: '' : 0}}</div>
				<div style="flex:1; text-align: right;  padding-left: 8px; padding-right:8px;"><span style="flex:1">{{$ctrl.mfrs[$ctrl.mfrs.length - 1].ytdSales  | currency: '' : 0}}</span></div>							
				<div style="flex:1; text-align: right;  padding-left: 8px; padding-right:8px;"><span style="flex:1">{{$ctrl.mfrs[$ctrl.mfrs.length - 1].prevYearSales  | currency: '' : 0}}</span></div>
				<div style="flex:1; text-align: right;  padding-left: 8px; padding-right:8px;">
					<span style="flex:1"
					ng-class="$ctrl.mfrs[$ctrl.mfrs.length - 1].percentToPrevYearSales? ($ctrl.mfrs[$ctrl.mfrs.length - 1].percentToPrevYearSales >= 100 ? 'label label-success' : 'label label-danger') : ''"
					>{{$ctrl.mfrs[$ctrl.mfrs.length - 1].percentToPrevYearSales? $ctrl.mfrs[$ctrl.mfrs.length - 1].percentToPrevYearSales + '%' : '-'}}</span>
				</div>
			
			</div>
		</div>
		
	</div>

	<style>
	.flex-custom-full {
		height: 100%;
		width: 100%;
		display: flex;
		flex: 1 1 auto;
		flex-direction: column;
		overflow: auto;
	}
	.flex-header {
		flex:1;
		flex-direction: column;
		height: 100%;
		width: 100%;
		display: flex;
	}
	.selected-mfr span {
		font-weight: 600;
	}
	.selected-mfr {
		background-color: #fcd788 !important;
	}
	</style>