<div class="row">
	<div class="col-xs-12">
		<div class="page-nav" style="display: flex; width: 100%; justify-content: center;" bs-affix data-offset-top="50">
			<span style="position: absolute; left: 15px;" class="page-nav-brand">
				Sales IQ
			</span>
			
			<div class="input-group" style="width: 25%; min-width: 250px; max-width: 400px; padding-top: 17px; position: relative !important">
				<input ng-model="$ctrl.filterText" ng-model-options="{debounce: 300}" ng-change="$ctrl.saveFilterText();" placeholder="Filter Opportunities..." class="form-control"/>
				<span class="input-group-addon cursor-pointer" style="padding: 6px 7px !important;"
				 uib-tooltip="This field supports comma-delimited filters.&#13;&#10; e.g. &quot;filter 1, filter 2, filter 3&quot;"
				 tooltip-append-to-body="true" tooltip-class="tooltip-350width">
					<i class="fas fa-info-circle fa-lg"></i>
				</span>
			</div>
			
			<div style="right: 30px; top: 0; position: absolute;">
	            <button ng-if="$ctrl.showSearch" ng-click="$ctrl.openSearchModal()" class="btn btn-primary" style="vertical-align: top; margin-top: 17px; margin-left: 15px">Search&nbsp;&nbsp;<i class="far fa-search"></i></button>
            </div>
		</div>
	</div>
</div>
<div class="row" style="margin: 40px 0px 0 0px; height: calc(100% - 146px); position: relative;">
	<div ng-if="$ctrl.showSearch" style="background-color: #fff; position: absolute; left: 0; top: -30px; display: flex; justify-content: space-between;
	   box-shadow: 3px 3px 3px #888888; padding: 10px 10px 1px 10px; height: 31px; width: 185px; border-radius: 13px 13px 0 0;">
	
		<div ng-click="$ctrl.criteria.growth = !$ctrl.criteria.growth; $ctrl.saveCriteria();" class="status-filter-toggle" style="background: #4c964c;">
			<span ng-if="$ctrl.criteria.growth">
				<i class="fas fa-check-square"></i>
			</span>
			<span ng-if="!$ctrl.criteria.growth">
				<i class="fas fa-square"></i>
			</span>&nbsp;&nbsp;
			<span>Growth&nbsp;</span>
		</div>
		<div ng-click="$ctrl.criteria.recovery = !$ctrl.criteria.recovery; $ctrl.saveCriteria();" class="status-filter-toggle" style="background: #d74545;">
			<span ng-if="$ctrl.criteria.recovery">
				<i class="fas fa-check-square"></i>
			</span>
			<span ng-if="!$ctrl.criteria.recovery">
				<i class="fas fa-square"></i>
			</span>&nbsp;&nbsp;
			<span>Recovery&nbsp;</span>
		</div>
	</div>
	
	<div style="background-color: #fff; position: absolute; right: 0; top: -30px; display: flex; justify-content: space-between;
	   box-shadow: 3px 3px 3px #888888; padding: 10px 10px 1px 10px; height: 31px; width: 445px; border-radius: 13px 13px 0 0;">
		<span style="font-size: 14px; font-weight: 600; color: #276ab0">Contains <span uib-tooltip="Toggling these options will show only results containing at least 1 opportunity of the corresponding status" tooltip-append-to-body="true" tooltip-class="tooltip-350width" class="cursor-pointer"><i class="fas fa-question-circle"></i></span></span>
		<div ng-click="$ctrl.criteria.hasPursuing = !$ctrl.criteria.hasPursuing; $ctrl.saveCriteria();" class="status-filter-toggle" style="background: #d79230;">
			<span ng-if="$ctrl.criteria.hasPursuing">
				<i class="fas fa-check-square"></i>
			</span>
			<span ng-if="!$ctrl.criteria.hasPursuing">
				<i class="fas fa-square"></i>
			</span>&nbsp;&nbsp;
			<span>Pursuing&nbsp;</span>
		</div>
		<div ng-click="$ctrl.criteria.hasAged = !$ctrl.criteria.hasAged; $ctrl.saveCriteria();" class="status-filter-toggle" style="background: #d74545;">
			<span ng-if="$ctrl.criteria.hasAged">
				<i class="fas fa-check-square"></i>
			</span>
			<span ng-if="!$ctrl.criteria.hasAged">
				<i class="fas fa-square"></i>
			</span>&nbsp;&nbsp;
			<span>Aged&nbsp;</span>
		</div>
		<div ng-click="$ctrl.criteria.hasOutstanding = !$ctrl.criteria.hasOutstanding; $ctrl.saveCriteria();" class="status-filter-toggle" style="background: #276ab0;">
			<span ng-if="$ctrl.criteria.hasOutstanding">
				<i class="fas fa-check-square"></i>
			</span>
			<span ng-if="!$ctrl.criteria.hasOutstanding">
				<i class="fas fa-square"></i>
			</span>&nbsp;&nbsp;
			<span>No Action&nbsp;</span>
		</div>
		<div ng-click="$ctrl.criteria.hasDismissed = !$ctrl.criteria.hasDismissed; $ctrl.saveCriteria();" class="status-filter-toggle" style="background: #696969;">
			<span ng-if="$ctrl.criteria.hasDismissed">
				<i class="fas fa-check-square"></i>
			</span>
			<span ng-if="!$ctrl.criteria.hasDismissed">
				<i class="fas fa-square"></i>
			</span>&nbsp;&nbsp;
			<span>Dismissed&nbsp;</span>
		</div>
	</div>
	
	<div class="col-xs-12" ng-class="$ctrl.showSearch? 'type-toggle' : 'no-type-toggle'"
	 style="background-color: #fff; box-shadow: 3px 3px 3px #888888; padding: 10px; padding-bottom: 0; display: flex; flex-direction: column; height: 100%; min-height: 300px;">
		
		<div style="position: relative; height: 100%">
			<div style="display: flex; overflow: hidden; white-space: nowrap; background-color: #276ab0">
				<div style="width: calc(100% - 17px); display: inline-block;">
					<table class="table" style="margin: 0; ">
						<thead>
							<tr style="display: flex; flex-direction: row" class="table-header-inverse">
								<th style="flex: 2"></th>
								<th style="flex: 10">
									<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('customerName',!$ctrl.sort.reverse)">Customer</a>
									<span class="sortorder" ng-show="$ctrl.sort.type === 'customerName'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
								</th>
								<th style="flex: 8; text-align: center;">
									<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('type',!$ctrl.sort.reverse)">Type</a>
									<span class="sortorder" ng-show="$ctrl.sort.type === 'type'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
								</th>
								<th style="display: flex; flex-direction: row; width: 120px; padding-right: 0; justify-content: flex-end">
									<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('valuePursuing',!$ctrl.sort.reverse)">Pursuing $</a>
									<span class="sortorder" ng-show="$ctrl.sort.type === 'valuePursuing'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
								</th>
								<th style="display: flex; flex-direction: row; width: 50px; padding-left: 0;">
									<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('pursuing',!$ctrl.sort.reverse)">&nbsp;|&nbsp;#</a>
									<span class="sortorder" ng-show="$ctrl.sort.type === 'pursuing'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
								</th>
								<th style="display: flex; flex-direction: row; width: 80px; justify-content: center;">
									<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('aged',!$ctrl.sort.reverse)"># Aged <span uib-tooltip="A pursued opportunity that is not resolved within 30 days is considered to have &quot;aged&quot;." tooltip-append-to-body="true" class="cursor-pointer"><i class="fas fa-question-circle"></i></span></a>
									<span class="sortorder" ng-show="$ctrl.sort.type === 'aged'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
								</th>	
								<th style="display: flex; flex-direction: row; width: 120px; padding-right: 0; justify-content: flex-end">
									<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('valueOutstanding',!$ctrl.sort.reverse)">No Action $</a>
									<span class="sortorder" ng-show="$ctrl.sort.type === 'valueOutstanding'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
								</th>
								<th style="display: flex; flex-direction: row; width: 50px; padding-left: 0;">
									<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('outstanding',!$ctrl.sort.reverse)">&nbsp;|&nbsp;#</a>
									<span class="sortorder" ng-show="$ctrl.sort.type === 'outstanding'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
								</th>
								<th style="display: flex; flex-direction: row; width: 100px; justify-content: center">
									<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('won',!$ctrl.sort.reverse)"># Won</a>
									<span class="sortorder" ng-show="$ctrl.sort.type === 'won'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
								</th>
								<th style="display: flex; flex-direction: row; width: 100px; justify-content: center">
									<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('lost',!$ctrl.sort.reverse)"># Lost</a>
									<span class="sortorder" ng-show="$ctrl.sort.type === 'lost'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
								</th>
								<th style="display: flex; flex-direction: row; width: 100px; justify-content: center">
									<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('dismissed',!$ctrl.sort.reverse)"># Dismissed</a>
									<span class="sortorder" ng-show="$ctrl.sort.type === 'dismissed'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
								</th>
								<th style="flex: 8; text-align: center;">
									<a style="cursor:pointer;"  ng-click="$ctrl.sort.order('lastModified',!$ctrl.sort.reverse)">Last Updated</a>
									<span class="sortorder" ng-show="$ctrl.sort.type === 'lastModified'" ng-class="{reverse:$ctrl.sort.reverse}"></span>
								</th>
								<th style="flex: 1;"></th>
							</tr>
						</thead>
					</table>
				</div>
				<div style="width: 13px; display: inline-block;">
					<table class="table" style="margin: 0; ">
						<thead>
							<tr style="display: flex" class="table-header-inverse">
								<th style="flex: 2;">&nbsp;</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
			<div style="overflow-y: scroll; overflow-x: hidden; height: calc(100% - 73px);">
				<table class="table table-hover" style="margin: 0; margin-bottom: 45px; height: calc(100% - 45px)">
					<tbody style="height: 100%">
						<tr class="no-hover-muted" ng-show="!$ctrl.opportunities">
							<td colspan=7>
								<div class="cssload-loader">
								<div></div>
								<div></div>
								<div></div>
								<div></div>
								<div></div>
								<div></div>
								</div>
							</td>                                
						</tr>
						<tr class="hidden-print no-hover-muted" ng-if="$ctrl.opportunities && filteredOpportunities.length === 0" style="height: 100%">
							<td style="padding-top: 30px; justify-content: center; display: flex; flex-direction: column; width: 100%; height: 100%" colspan="7" class="text-center text-muted">
								<span>
									<svg ui-sref="salesIQSummary" height='60px' width='60px' fill="gray" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid meet" viewBox="0 0 640 640" width="640" height="640"><defs><path d="M103.53 176.45C107.1 176.45 110 179.35 110 182.92C110 274.33 110 542.11 110 633.53C110 637.1 107.1 640 103.53 640C82.82 640 27.18 640 6.47 640C2.9 640 0 637.1 0 633.53C0 542.11 0 274.33 0 182.92C0 179.35 2.9 176.45 6.47 176.45C27.18 176.45 82.82 176.45 103.53 176.45Z" id="d1MkCYX1L"></path><path d="M284.16 0C287.73 0 290.63 2.9 290.63 6.47C290.63 133.18 290.63 506.82 290.63 633.53C290.63 637.1 287.73 640 284.16 640C263.45 640 207.81 640 187.1 640C183.53 640 180.63 637.1 180.63 633.53C180.63 506.82 180.63 133.18 180.63 6.47C180.63 2.9 183.53 0 187.1 0C207.81 0 263.45 0 284.16 0Z" id="c4a1nBvWXv"></path><path d="M459.19 0C462.77 0 465.66 2.9 465.66 6.47C465.66 133.18 465.66 506.82 465.66 633.53C465.66 637.1 462.77 640 459.19 640C438.49 640 382.84 640 362.13 640C358.56 640 355.66 637.1 355.66 633.53C355.66 506.82 355.66 133.18 355.66 6.47C355.66 2.9 358.56 0 362.13 0C382.84 0 438.49 0 459.19 0Z" id="b2E8KJZ7GG"></path><path d="M633.53 176.45C637.1 176.45 640 179.35 640 182.92C640 274.33 640 542.11 640 633.53C640 637.1 637.1 640 633.53 640C612.82 640 557.18 640 536.47 640C532.9 640 530 637.1 530 633.53C530 542.11 530 274.33 530 182.92C530 179.35 532.9 176.45 536.47 176.45C557.18 176.45 612.82 176.45 633.53 176.45Z" id="b2ps9sFERq"></path></defs><g><g><g><use xlink:href="#d1MkCYX1L"></use></g><g><use xlink:href="#c4a1nBvWXv"></use></g><g><use xlink:href="#b2E8KJZ7GG"></use></g><g><use xlink:href="#b2ps9sFERq"></use></g></g></g></svg>
								</span>
								<span style="font-size: xx-large; display: block;">
									No Opportunities Found.
								</span>				
							</td>
						</tr>
						<tr style="display: flex; flex-direction: row" class="show-on-hover-parent" ng-repeat="opportunity in $ctrl.opportunities | commaDelimitedFilter:$ctrl.filterText | filter:statusFilter() | filter:typeFilter() | filter:{ownerEmail: $ctrl.criteria.emailFilter} | orderBy: $ctrl.sort.type : $ctrl.sort.reverse as filteredOpportunities track by opportunity.planId+opportunity.ownerEmail+opportunity.type">
							<td style="flex: 2;">
								<initials-badge name="::opportunity.ownerName" invert="opportunity.ownerEmail.trim().toLowerCase() === $ctrl.userProfile.mail.toLowerCase()" ng-click="$ctrl.filterOwner(opportunity)"/>
							</td>
							<td style="flex: 10; white-space: nowrap; overflow: hidden; text-overflow: ellipsis">
								<a style="display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap" show-tooltip-on-text-overflow tooltip-enable="false" uib-tooltip="{{::opportunity.customerName}}" ng-click="$ctrl.openOpportunity(opportunity)" class="cursor-pointer">
										{{::opportunity.customerName}}
								</a>
							</td>
							<td style="flex: 8; white-space: nowrap; text-align: center;">
								<span style="width: fit-content; align-self: center" ng-click="$ctrl.filterType(opportunity.type)" class="cursor-pointer status-filter-toggle" ng-style="{'backgroundColor': (opportunity.type === 'Cross Sell')? '#4c964c' : '#d74545'}">
									{{opportunity.type === 'Cross Sell'? 'Growth' : 'Recovery'}}
								</span>
							</td>
							<td style="display: flex; flex-direction: row; width: 120px; padding-right: 0; justify-content: flex-end">
								<span>{{opportunity.valuePursuing? (opportunity.valuePursuing | currency: '$' : 0) : '-'}}</span>
							</td>	
							<td style="display: flex; flex-direction: row; width: 50px; padding-left: 0; font-weight: 600">&nbsp;|&nbsp;{{::opportunity.pursuing? opportunity.pursuing : '-'}}</td>
							<td style="display: flex; flex-direction: row; width: 80px; justify-content: center; font-weight: 600" ng-style="{'color': opportunity.aged > 0? 'red' : ''}">{{::opportunity.aged? opportunity.aged : '-'}}</td>
							<td style="display: flex; flex-direction: row; width: 120px; padding-right: 0; justify-content: flex-end">
								<span>{{opportunity.valueOutstanding? (opportunity.valueOutstanding  | currency: '$' : 0) : '-'}}</span>
							</td>	
							<td style="display: flex; flex-direction: row; width: 50px; padding-left: 0; font-weight: 600">&nbsp;|&nbsp;{{::opportunity.outstanding? opportunity.outstanding : '-'}}</td>
							<td style="display: flex; flex-direction: row; width: 100px; justify-content: center; font-weight: 600">{{::opportunity.won? opportunity.won : '-'}}</td>
							<td style="display: flex; flex-direction: row; width: 100px; justify-content: center; font-weight: 600">{{::opportunity.lost? opportunity.lost : '-'}}</td>
							<td style="display: flex; flex-direction: row; width: 100px; justify-content: center; font-weight: 600">{{::opportunity.dismissed? opportunity.dismissed : '-'}}</td>
							<td style="flex: 8; white-space: nowrap; text-align: center">{{::opportunity.lastModified | date:"MM/dd/yyyy"}}</td>
							<td style="flex: 1;"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div id="tableFooter" style="position: relative; padding-right: 17px; border-top: 2px solid #276AB0;">
				<div style="position: absolute; top: 50px; white-space: nowrap; right: -10px">
					<span style="font-size: 14px; font-weight: 500; vertical-align: sub">
					 Insights provided by&nbsp;&nbsp;
					</span>
					<img style="height: 20px" src="../../../assets/img/zilliant.png">
				</div>
				<table class="table" style="margin-bottom: 0;">
					<tfoot class="table-footer" style="border-top: 0">
						<tr style="display: flex; flex-direction: row; overflow-x: hidden">
							<td style="flex: 20; min-width: 339px; padding-right: 40px; white-space: nowrap">
								<span class="pull-left" style="margin-right: 5px;">{{filteredOpportunities.length | number}} Result{{filteredOpportunities.length == 1? '' : 's'}}&nbsp;&nbsp;-&nbsp;&nbsp;Filtered By:</span>
								<span ng-if="$ctrl.criteria.showMine" class="badge">
									Mine Only
								</span>
								<div ng-if="!$ctrl.criteria.showMine" style="display: inline-block;">
									<span ng-if="!$ctrl.criteria.email && $ctrl.criteria.corpId" class="badge">
										{{$ctrl.criteria.corpId.corpId}} | {{$ctrl.criteria.corpId.customerName}}
									</span>
									<span ng-if="!$ctrl.criteria.email && $ctrl.criteria.branches.length > 0" class="badge">
										<span ng-repeat="branch in $ctrl.criteria.branches">
											{{branch}}
											<span ng-if="$index < $ctrl.criteria.branches.length - 1">, </span>
										</span>
									</span>
									<span ng-if="$ctrl.criteria.email" class="badge">
										{{$ctrl.criteria.ownerFilter | titlecase}}&nbsp;
									</span>
								</div>
								<span ng-if="$ctrl.criteria.emailFilter && !$ctrl.criteria.email" class="badge client-filter">
									{{$ctrl.criteria.ownerFilter | titlecase}}&nbsp;
									<span uib-tooltip="Remove Filter" tooltip-append-to-body="true" ng-click="$ctrl.filterOwner()" class="cursor-pointer">
										<i class="fas fa-times-circle"></i>
									</span>
								</span>
								<span ng-if="$ctrl.filterText" class="badge client-filter">
									"{{$ctrl.filterText}}"&nbsp;
									<span uib-tooltip="Remove Filter" tooltip-append-to-body="true" ng-click="$ctrl.filterText = ''; $ctrl.saveFilterText();" class="cursor-pointer">
										<i class="fas fa-times-circle"></i>
									</span>
								</span>
							</td>
							<td style="display: flex; flex-direction: row; width: 120px; padding-right: 0; justify-content: flex-end">
								<span>
									{{$ctrl.pursuingValue? ($ctrl.pursuingValue | currency: '$' : 0) : '-'}}
								</span>
							</td>	
							<td style="display: flex; flex-direction: row; width: 50px; padding-left: 0; font-weight: 600">&nbsp;|&nbsp;{{$ctrl.pursuingCount? $ctrl.pursuingCount : '-'}}</td>
							<td style="display: flex; flex-direction: row; width: 80px; justify-content: center; font-weight: 600" ng-style="{'color': $ctrl.agedCount > 0? 'red' : ''}">
								{{$ctrl.agedCount? $ctrl.agedCount : '-'}}
							</td>
							<td style="display: flex; flex-direction: row; width: 120px; padding-right: 0; justify-content: flex-end">
								<span>
									{{$ctrl.outstandingValue? ($ctrl.outstandingValue | currency: '$' : 0) : '-'}}
								</span>
							</td>	
							<td style="display: flex; flex-direction: row; width: 50px; padding-left: 0; font-weight: 600">&nbsp;|&nbsp;{{$ctrl.outstandingCount? $ctrl.outstandingCount : '-'}}</td>
							<td style="display: flex; flex-direction: row; width: 100px; white-space: nowrap; justify-content: center; font-weight: 600">
								{{$ctrl.wonCount? $ctrl.wonCount : '-'}}
							</td>
							<td style="display: flex; flex-direction: row; width: 100px; white-space: nowrap; justify-content: center; font-weight: 600">
								{{$ctrl.lostCount? $ctrl.lostCount : '-'}}
							</td>
							<td style="display: flex; flex-direction: row; width: 100px; white-space: nowrap; justify-content: center; font-weight: 600">
								{{$ctrl.dismissedCount? $ctrl.dismissedCount : '-'}}
							</td>
							<td style="flex: 9; padding-left: 24px"></td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
</div>


<style>
tfoot > tr > td {
	border-top: 0px !important;
}
th {
	display: inline;
	flex-direction: column;
}
tbody > td {
	display: flex;
	flex-direction: column;
}
.status-filter-toggle {
  display: inline-flex;
  padding: 0px 5px;
  border-radius: 4px;
  color: white;
  align-items: center;
  cursor: pointer;
}

.status-filter-toggle > span {
  padding-top: 2px;
}

.client-filter {
	background: #276AB0;
}
.clear-input-button:hover {
	color: tomato !important;
}
.tooltip-350width > .tooltip-inner {
	max-width: 350px !important;
	white-space: pre-wrap;
}

.type-toggle {
	border-radius: 0 0 13px 13px;
}
.no-type-toggle {
	border-radius: 13px 0 13px 13px;
}
</style>


