<div class="row hidden-print">
        <div class="col-lg-12 col-md-12 col-sm-12">	
            <div class="page-nav" bs-affix data-offset-top="50" style="display: flex; flex-direction: row; justify-content: space-between; padding-left: 15px">
                
                <div style="flex:.5; flex-direction: row; display: flex; width:100%">
                    <span style="font-size: 17px; font-weight:bold; margin-left:1.5%">
                        Plans
                    </span>
                </div>
    
                <div style="flex:1; flex-direction: row; display: flex; width:100%; justify-content: center">
            
	            	<div class="input-group" style="width: 100%; min-width: 250px; max-width: 400px; padding-top: 17px; position: relative !important">
						<input ng-model="$ctrl.textFilter" ng-model-options="{debounce: 300}" ng-change="$ctrl.saveFilterText();" placeholder="Filter Plans..." class="form-control"/>
						<span class="input-group-addon cursor-pointer" style="padding: 6px 7px !important;"
						 uib-tooltip="This field supports comma-delimited filters.&#13;&#10; e.g. &quot;filter 1, filter 2, filter 3&quot;"
						 tooltip-append-to-body="true" tooltip-class="tooltip-350width">
							<i class="fas fa-info-circle fa-lg"></i>
						</span>
					</div>
            
            
<!--                     <div style="display: inline-block; width: 20px; height: 20px; padding-right: 20px;"> -->
<!--                           <i class="fas fa-filter fa" style="align-content: center; align-self: center;"></i> -->
<!--                     </div> -->
            
<!--                     <input ng-model="$ctrl.searchCriteria" class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Filter Plans..." aria-label="Search" style="width: 200%; align-self: center; margin-right:50px;"> -->
    
                </div>
    
                <div id="btn-plans-search" style="justify-content: center; align-self: flex-end; flex:.5; display: flex; flex-direction: 'row'; text-align: right; height: 100%; width:100%">
                    <div style="flex:1; display: flex; height: 100%; width:100%"></div>
                        
                        <div ng-click="$ctrl.searchPlans()" class="cursor-pointer" style="display:flex; flex:.5; flex-direction: column; height:100%; width:100%; justify-content: center; align-content: flex-end; align-items: flex-end; justify-items: flex-end">
                            <a  class="cursor-pointer" style="flex:1; align-self: flex-end; justify-content: center; align-items: center; justify-self:center; margin-right:15px;" uib-tooltip="Search Plans" tooltip-placement="left"> 
                                <i class="fas fa-search fa-2x" style="vertical-align: middle" ></i>
                            </a>
                        </div>

                    </div>
                </div>
    
            </div>
        </div>
    </div>